<table cellpsacing="0" cellpadding="0" style="font-family: Arial;" border="0" width="100%">
  <tr>
    <td style="padding:0 10px;" width="100%">
      <p style="font-size:18px;">Dear Sebastian,</p>   
	  <p style="color:#444444;font-size:14px;">"Kids Art School" Activity schedule has been changed by the provider. See below to know about the new schedule.</p>
	</td>
  </tr>
  <tr>
	<td style="padding:10px;display:none;" width="100%">
		<p style="font-size:18px;padding-bottom:5px;">Hi Smith Kramer,</p>  
		<p style="color:#444444;font-size:14px;">The changes in activity schedule is accepted by Sebastian.</p>
	</td>
  </tr>
  <tr>
	<td width="500" style="padding:0 0 10px 10px;">
		<table cellpsacing="0" cellpadding="0" border="0" width="500" style="border:1px solid #CED6D9;font-family: Arial;font-size:12px;padding:0 10px 0 8px;">
			<tr height="30">
				<td width="250" style="color:#999999;padding-left:8px;border-bottom:1px solid #eeeeee;"><b>Participant</b></td>
				<td width="250" style="color:#666666;border-bottom:1px solid #eeeeee;">Billy</td>
			</tr>
			<tr height="30">
				<td width="250" style="color:#999999;padding-left:8px;border-bottom:1px solid #eeeeee;"><b>Activity</b></td>
				<td width="250" style="color:#666666;border-bottom:1px solid #eeeeee;">Kids Art School</td>
			</tr>
			<tr height="30">
				<td width="250" style="color:#999999;padding-left:8px;border-bottom:1px solid #eeeeee;"><b>Old Schedule</b></td>
				<td width="250" style="color:#666666;border-bottom:1px solid #eeeeee;">Mon 8/6/2012 04:30 PM to 05:30 PM</td>
			</tr>
			<tr height="30">
				<td width="250" style="color:#999999;padding-left:8px;border-bottom:1px solid #eeeeee;"><b>New Schedule</b></td>
				<td width="250" style="color:#666666;border-bottom:1px solid #eeeeee;"">Tue 9/6/2012 03:30 PM to 04:30 PM</td>
			</tr>
			<tr height="30">
				<td width="250" style="color:#999999;padding-left:8px;border-bottom:1px solid #eeeeee;"><b>Start Date</b></td>
				<td width="250" style="color:#666666;border-bottom:1px solid #eeeeee;">Mon 8/6/2012</td>
			</tr>
			<tr height="30">
				<td width="250" style="color:#999999;padding-left:8px;"><b>End Date</b></td>
				<td width="250" style="color:#666666;">Tue 8/11/2012</td>
			</tr>
		</table>
	</td>
  </tr>
  <tr>
	<td style="padding:12px 0 0 12px;">
		<a href="/schedule_contact" style='position:relative;border:none;'><img src="/assets/activity_schedule/naccept.png" alt="" style="border:none;"/></a>
        <a href="/schedule_contact" style='position:relative;border:none;'><img src="/assets/activity_schedule/ncontact_now.png" alt="" style="border:none;"/></a>
     </td>
  </tr>
  <tr>
	<td style="padding:0 0 10px 10px;">
		<p style="color:#444444;font-size:14px;">If you have any questions, please contact us:</p>
		<p style="font-size:14px;"><a href="mailto:smith@gmail.com" title="" style="color:#4F96AC;text-decoration:none;">smith@gmail.com</a></p>
		<p style="color:#444444;font-size:14px;">Smith Kramer</p>
		<p style="color:#444444;font-size:14px;">9876543210</p>
		</br>
		<p style="color:#444444;font-size:14px;">With Kind regards,</p>
		<p style="color:#444444;font-size:14px;">Smith Kramer</p>
	</td>
	<td style="padding:10px;display:none;">		
		<p style="color:#444444;font-size:14px;">Thanks,</p>
		<p style="color:#444444;font-size:14px;">Sebastian</p>
	</td>
  </tr>
</table>


