<table id="list_table" class="table table-bordered" cellpadding="10" cellspacing="0" width="100%" border="0">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Start Time</th>
      <th>End Time </th>
    </tr>
  </thead>
  <tbody>
    <% @activity_result.each do |event|%>
      <tr>
        <td><%= event.activity_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>