<table cellpadding="0" cellpadding="0">
  <tr>
    <td style="padding:12px;">
      <table cellpadding="0" cellpadding="0">
        <tr>
          <td style="font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#444444;" height="50">Hi <%=@from_user.user_name%>,</td>
        </tr>
        <tr>
          <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;" height="40">Members of the "<%=@network.group_name%>" network have been removed. Click below to view the network.
        </tr>
        <tr>
          <td height="15"></td>
        </tr>
        <tr>
          <td align="left" valign="middle">
            <a href="<%=@url%>" alt="loading..." title="" target="_blank" ><img src="<%= $image_global_path%>/assets/contact/view_network_btn.png" width="193" height="34" alt="Accept" border="0"></a>&nbsp;&nbsp;
          </td>
        </tr>
        <tr>
          <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;" height="60">Have fun!</td>
        </tr>
        <tr>
          <td><span style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#9c9b9b;">Your Famtivity Team.</span></td>
        </tr>

      </table>


    </td>
  </tr>
</table>
