/*about us starting*/
.fntten{
	font-size:13px;
}
.pbottm{
	padding-bottom:10px;
}
.clickableclr{
	color:#5099AC;
	text-decoration:none;
	}
	.ftclr15{
		margin-top:10px; 
		color:#5099AC;
		font-size:13px;
		}
	.dvdshed{
		border-top: 1px dashed #BCC1A1;
		width: 100%;
		margin: 25px 0px 5px;
	}
	.alinkdesc{
		width:247px; 
		height:64px; 
		border:1px solid #D6D6D6; 
		padding-top:12px;
		padding-bottom:12px;
		background-color:#fff;
		display:block;
	}
  .bnamelogo{
	  width:247px;
	  height: 126px;
	  float:left;
	  text-align:center;
	  margin-bottom: 30px;
	  margin-right:58px;
	  }
.setcolor_about{
		color: #585858;
		font-size: 13px;
		line-height: 23px;
}
#header-about{
 	color: #585858;
    font-size: 22px;
    margin-bottom: 25px;
    margin-top: 10px;
}
.abtlist{
	list-style: disc outside;
	margin: 10px 0px 10px 30px;
	list-style: #000;
}
.abtlist li{
	color: #585858;
	line-height: 23px;
	font-size: 13px;
}
.abtlist li span{
	font-style: italic;	
}
.fam_press
{
	padding: 20px 0px;
	border-bottom: 1px solid #DDE1E2;
}
.press_txt
{
	width: 250px;
	text-align: center;
	color: #5099AC;
	font-size: 15px;
	line-height: 20px;
	padding-right: 20px;
}

.providerFrame{
	background: url('/assets/header/tex_box.jpg') no-repeat;
	height: 182px;
	width: 530px;
	margin: 15px 5px 20px 55px;		
}
.providermsg{
	color: #585858;
	font-size: 14px;
	text-align: center;
	line-height: 20px;
}
.providerName{
	font-size: 16px;
	padding: 0px 0px 4px 4px;
}
.activities_head{
	color: #585858;
	font-size: 16px;
}
.providerType{
	font-size: 13px;
	color: #585858;
	padding: 0px 0px 0px 4px;
}
/*about us ending*/

/*contact us start*/
	 /* Styles specific to this particular page */
	 
.txtarea{
	padding: 8px 4px 4px 4px;
	background-color: #FFFFFF;
	border: 1px solid #a9a9a9;
	width: 410px;
	height: 130px;
}
.txtv{
	background-color: #FFFFFF;
	border: 1px solid #a9a9a9;
	height: 28px;
	width: 410px;
	padding-left: 4px;
	padding-right: 4px;
}
  .setHyphen{
  font-size:14px;
  color:#999999;
  margin-top:6px;
}
  .scroll-pane
  {
    width: 100%;
    overflow: auto;
  }

  .contact-us-para{
    margin: 20px 0;
    font-size: 14px;
    line-height: 23px

  }
  .qstn{
    font-size: 16px;
    font-weight: bold;
  }
  .contact-us-title
  {
    margin-top: 10px;
    margin-bottom: 5px;
    color:#5099AC;
    font-weight:bold;
    font-size: 22px;
  }
  .contact-us span,a{
    color:#4495ae;
  }
  .image
  {
    background: url('/assets/event_index/contact_profile_bg.jpg') no-repeat scroll 0 0 transparent;
    padding: 7px;
    width: 245px;
	margin-left:35px;

  }
  .form{
    background:url('/assets/event_index/formsection_middle.jpg') repeat-y ;
    padding: 8px 5px 2px 14px;
    .padding: 8px 5px 22px 14px;
    width: 531px; 
    margin-top: -7px;

  }
  #star{color:#FF0000;!important}
  .questions{
    width:925px;
    float:left;
  }
  .contact-us-content-3{
    clear:both;}
  .contact-us{
    width:880px;
    margin: 0 auto;
  }
  .label{
    width:88px;
    font-size:13px;
    font-weight:bold;
    color:#595758;
    height:40px;
  }
  .submit{
    margin:25px 0px 15px 0px;
  }
  .answ{color:#444444;font-size:13px;}
  .error{
    display:none;
    color:#FC8989 !important;
    font-size:13px;
  }
  
  .btncolor{
	  padding:4px 10px 4px 10px;
	  height:30px;
	  background:#f82b2b;
	  outline:none;
	  border:none;
	   -webkit-appearance: none;
	  }
  
  .contact-us table tr{
    margin:10px;
  }
  .setbg_top_contact{
    background:url('/assets/event_index/formsection_top.jpg') no-repeat;
    height: 23px;
    width:548px;
  }

  .setbg_bottom_contact{
    background:url('/assets/event_index/formsection_bottom.jpg') no-repeat;
    height: 23px;
    width:548px;
  }
  .inpt{
    margin-bottom:7px;
    margin-top:-15px;
    position:relative;
  }
  .message_div{
    margin-top: 47px;
  }
  .areyoupp{
    background-color: #FFFFFF;
    border: 1px solid #a9a9a9;
    height: 28px;
    width: 420px;
    color: #999999;
    font-size: 13px;
    padding: 3px 0px;
	display:block !important;
	font-family:'open_sansregular',Sans-Serif;
  }
  .areyoupp option{
    padding: 4px 0px 4px 5px;
    background: #f6f6f6;
  }
  .txtval{
	  outline:none;color:#999999;font-family:'open_sansregular',Sans-Serif;
  }
  .phonetxt1{
	  outline:none; margin-right:10px; color:#999999; width: 40px;text-align:center;font-family:'open_sansregular',Sans-Serif;
  }
  .phonetxt2{
	  outline:none; margin:0px 10px 0px 10px; width: 40px; color:#999999;text-align:center;font-family:'open_sansregular',Sans-Serif;
  }
  .phonetxt3{
	  outline:none; margin-left:10px; color:#999999; width: 40px;text-align:center;font-family:'open_sansregular',Sans-Serif;
  }
/*contact page ending*/