.font_blue{
	color:#4495ae;
}
.grey_txt{
	color:#585858;
}
.policy_update{
	font-size:18px;
}
.fnt13{
	font-size:13px;
}
.p_head{
	margin:15px 0 15px 0;
}
.content_p
{
	margin:10px 0 16px 0;
}
.content_indent{
	margin-left:40px;
}
.pspace{
	display:block;
	padding-bottom:15px;
	font-size:14px;
}
.pbottm{
	padding-bottom:15px;
}
.list_point { 	list-style-type:disc; margin:0 0 0 30px;}
.list_point  li{ margin-top:10px;padding-bottom:5px; }
.list_info { 	list-style-type:disc; margin:0 0 0 30px;}
.list_info li {margin-top:10px; }
.blue_nav {
	color:#4495AE;
	text-decoration:none;
}
p{color:#414141; }
.line_spaceing{
	line-height:22px;
}
/********about us ***********/
.faq_head{
	font-size:16px;
}
.faq_head_sub{
	margin-top: 10px;
	font-size:14px;
}
.faq_section{
	width:100%; float:left; border-bottom:1px dashed #D6D7D9; padding-bottom:20px;}
.faq_left{
	width:600px; border-right:1px dashed #D6D7D9; margin-right:10px;
}
.faq_right{	width:600px;margin-left:9px;}
.faq_list{margin-left: 35px;
/*padding: 10px 0 0;*/
list-style: decimal outside none;}
.faq_list li{ color:#5099AC; margin-bottom:10px;}
.faq_list li a{
	color:#5099AC; text-decoration:none;
}
.faq_para{
	margin-bottom:15px;
}
.parabtm{margin-bottom:15px;}
.faq_ques{
	/*padding-left:30px;*/
	line-height:22px;
}
/***terms of service *****/
.para_indent{
	margin-left:30px;
}
.pleft{
	margin-left:-10px;
}
.para_indent_first{
	margin-left:20px;
}
.indent_inner{ margin-left:20px;}

.liststyle{
	list-style-type:disc;
	margin-left:40px;
}
.spacelft{
	padding-left:10px;
}
  .clrBlueLight{
    color: #4495AE;
  }