#add_participant .setPadd{
    padding:15px 0px 0px 15px;
}
#add_participant .headText{
	color: #5099AC;
    font-size: 15px;
    font-weight: bold;
}
#add_participant .centerArea{
	margin:5px 0 0 0;
	border:1px solid #E8ECED;
	border-bottom:none;	
}
#add_participant .centerArea .setOverflow{
	height:270px;
	overflow-y:scroll;
}
#add_participant .freeParticipant{
	padding:20px 10px 0px;
}
#add_participant .freeParticipant .theadTop{
	background:#ECF7FB;	
}
#add_participant .freeParticipant .sText{
	color: #5099AC;
    font-size:12px;
}
#add_participant .freeParticipant .bText{
	color: #5099AC;
    font-size: 15px;
	font-weight:bold;
}
#add_participant .thead{
	background:#e4f4f9;
	color: #347D91;
    font-size: 13px;
	border-bottom:1px solid #E8ECED;
}
#add_participant .thead1{
	padding:3px 10px 0px 10px;
}
#add_participant .setLeft{
	padding-left:6px;
}
#add_participant .tdata{
	background:#ffffff;
	color: #5099AC;
    font-size:12px;
	border-bottom:1px solid #E8ECED;
	margin-left:-5px;
}
#add_participant .tdata1{
	padding-left:10px;
}
#add_participant .setIEcen{
	.padding-top:17px;
}
#add_participant .browse{
    display: inline-block;
    height: 69px;
    width: 65px;
}
#add_participant .browse1{
    display: inline-block;
    height: 69px;
    width: 65px;
}
#add_participant .textbox{
    display: inline-block;
    width:146px;
    height:29px;
    *height:24px;
    border:1px solid #CDE0E6;
    padding:1px 4px 0px 4px;
    *padding:6px 4px 0px 4px;
    color: #444444;
    font-size:13px;
	box-shadow:1px 1px 1px inset #e1e1e1;
}
@media \0screen {
    #add_participant .textbox{
        padding:6px 4px 0px 7px;
        height:24px;
        width:163px;
    }
}
/******** Active Menu************/

#add_participant #menu {
	display: inline-block;
}
#add_participant #menu a {
	display: inline-block;
	color:#5099AC;
	font-size:12px;
}
#add_participant #menu ul {
	display: inline-block;
	list-style-type: none;
	padding-left:0px;
	margin-left:0px;
}
#add_participant #menu li {
	float: left;
	position: relative;
}
#add_participant #menu ul.sub-menu {
	display: none;
	position: absolute;
	z-index: 900;
    font-size:13px;
    background:#F6F8F7;
    color:#959292;
    border:1px solid #C2DDE4;
	padding-left:5px;
	.margin-top:22px;	
}
#add_participant #menu ul.sub-menu li {
	text-align: left;
	display: block;
}
#add_participant #menu ul.sub-menu li a{
	text-align: left;
	display: block;
    color:#959292;
    display:block;
    text-decoration:none;
    padding:5px 0px 5px 0px;
}
#add_participant #menu ul.sub-menu li a:hover{
	text-align: left;
	display: block;
	color:#F97C0E;
    display:block;
    text-decoration:none;
    padding:5px 0px 5px 0px;
}

#add_participant #menu li:hover ul.sub-menu {
	display: block;
	
}

#add_participant .ageDiv{	
    width:50px;
    padding: 4px 5px 3px 5px;
    border:1px solid #ffffff;
    border-bottom:none;
    background:none;
}
#add_participant .ageDiv:hover, 
#add_participant .selectedAgeDiv,
#add_participant .selectedGenderDiv{	
    width:50px;
    padding: 4px 5px 3px 5px;
    border:1px solid #A9D3E1;
    border-bottom:none;
    background:#E6F5F8;
	margin:0;
}
#add_participant #menu ul.dispAgeDiv{
    width:75px;
    height:121px;
	overflow-y:scroll;
	overflow-x:hidden;
	margin-top:0px;
	margin-left:-20px;
}
#add_participant .dispAgeDiv li a,
#add_participant .dispGenderDiv li a{	
	width:55px;
}
#add_participant .dispAgeDiv li a:hover,
#add_participant .dispGenderDiv li a:hover{
	width:55px;
}
#add_participant #menu ul.dispGenderDiv{
    width:75px;
    height:50px;
	margin-left:-20px;
	margin-top:0px;
}
#add_participant .addButtonDiv{
	float:right;
	margin:8px 50px 0 0;
}
#add_participant .addButtonDiv .addButton{
}
#add_participant .addButtonDiv .addText{
	color: #5099AC;
    font-size: 15px;
	margin:2px 0 0 2px;
}
#add_participant .buttonDiv{
	padding:35px 0 25px 0;
}
#add_participant .buttonDiv a{
	margin-right:5px;
}
#add_participant .errorDiv{
	padding: 10px 0 0 10px;
    font-size:12px;
}
.required{
    display: inline-block;
    color:red;
    position:relative;
    left:0px;
    top:0px;
    font-size:13px;
}
#add_partic_change .checkbox{
	margin:20px 5px 0 0px;
}
.setImgLeftTop{
	padding-left:22px;
}
.setImgLeftCenter{
	padding-left:12px;
}
div.setnormalFont{
	color: #7c7c7c; 
    font-size: 13px;
	margin-top:0px;
}
.guest_parent{
	width:100%;
	height:40px;
}
.parent_reg_guest{
	width:120px;
	float:left;
	margin-left:100px;
	text-align:left;
	font-weight:bold;
	padding-top:10px;
	font-size:15px;
}
.input_register{
	float:left;
}
.parentText{
color: #337E93;
font-size: 16px;
font-weight: bold;
height: 40px;
padding-top: 10px;
margin-left: 100px;
}
.sethyphen{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #999999;
	margin-top: 6px;
}