.container_innersec{
	margin:0 10px 0 10px;
}
.section_head{
	color: #838383; font-size:20px; padding-bottom:14px;
}
.headblue{
	color: #3c93ac; font-size:20px;
}
.section_line{
	border-bottom:1px solid #EBEBEB;	
}
.section_subhead{ color:#3c93ac; font-size:20px;}
.categ_inner{
	padding-top:14px;
	color:#838383; font-size:13px;
	margin:0 10px 0 10px;
}
.content_top{ margin:8px 0 8px 0;}

.categoryBox {
border: 1px #eaeaea solid;
background-color: #fff;
width: 180px;
display: inline-block;
}
.categoryBox .catImg {
padding: 15px 15px;
}
.categoryBox .catTitle {
font-size: 14px;
font-weight: bold;
color: #7db6c8;
height: 40px;
background-color: #ecf7fb;
border-top: 1px #e8f0f2 solid;
}
.categ_breadcrumb{
	color:#838383;
	font-size:20px;
	font-family: 'open_sansregular',sans-serif;
}
.categ_breadcrumb a{
	color:#3c93ac;
	text-decoration:none;
}
.featured_load{
	width:410px; margin:0 auto; margin-top:241px;display:none;
}
.nocateg-result{
	color:#838383;font-size:18px;padding-top:60px;
}
.nocateg_img{
	padding-top:60px;
}