@charset "utf-8";
/** General Styles **/
*{
    margin:0;
    padding:0;
}
img{
    border:none;padding: 0;margin: 0;
}


body{ margin:0 0; padding:0 0;  background-color:#f6f6f6;font-family:'open_sansregular',Sans-Serif;font-size:14px;}
h1{ font-size:12px; font-weight:normal; font-family:'open_sansregular';}
h2{ font-size:12px; font-weight:normal; font-family:'open_sansregular'; }
.wrapper { 
 width: 100%;
 background-color1:#f7f9f8; 
 margin:0 auto; 
 /*height:900px;*/
 font-family:'open_sansregular',Sans-Serif;
 font-size:12px;
 color:#000;
}

a:focus{
    outline:none;
}
textarea {
    resize: none;
}
a, a:hover{
    text-decoration:none;
}

a.flink{
  color:#5099AC;
  text-decoration:none;
}

/*******************Header Design***************************/
.srch_bcry{
	color:#4495AE;
	background-image: url('/assets/categories/browse_category.png');
	background-position: left 3px;
	padding:0 0 0 30px;background-repeat: no-repeat;
}
.search_bcategory{
	font-size:16px;
	font-family:'open_sansregular';
	color:#515151;
	float:right;
	margin-top:9px;
	margin-right:15px;
	}
.searchbrdr{
	outline: 0;
	outline-style:none;
	border:none;
	}
.errorDiv {
 color: #FC8989;
 font-size: 12px;
}
.page_header{ 
  width:100%; 
  margin:0 auto; 
  position:fixed;
  z-index:101;
  -webkit-backface-visibility: hidden;
}
.header_inner{
  width:100%; margin:0 auto; padding:6px 0 5px 0;
  background-color:#E5F4F9;
  height:61px;
}
.header_bottom{
  width:100%;
  display:inline-block;
  text-align:center;
}
.header_bottom_inner{
margin:-4px auto 0; color:#ffffff; font-family:'open_sansregular',Sans-Serif; font-size:27px; width:322px;
}

.login_btn{
display1:inline-block; 
cursor:pointer; 
width:160px; 
height:48px; 
padding-top:4px; 
background-color:#ef322e; 
text-align:center; 
margin:0 auto; 
-moz-box-shadow:0px 2px 4px #616161;
-webkit-box-shadow:0px 2px 4px #616161;
box-shadow:0px 2px 4px #616161;
text-decoration:none;
color:#FEFFFD;
}
.signup_btn{
display1:inline-block; 
cursor:pointer; 
width:160px; 
height:48px; 
padding-top:4px; 
background-color:#5eb0c6; 
text-align:center; 
margin:0 auto;
-moz-box-shadow:0px 2px 4px #616161;
-webkit-box-shadow:0px 2px 4px #616161;
box-shadow:0px 2px 4px #616161;
text-decoration:none;
color:#FEFFFD;
}


/*.header_bottom_inner{
  width:276px; 
  margin:0 auto;
  position:relative;
  display:inline-block;
}*/
.lt{
  float:left;
  display:inline-block;
  }
.rt{
  float:right;
  display:inline-block;
  }
.lft{
  float: left;
}
.logo{
  width:180px;
}
.logo_inner{
   margin:6px 0 0 10px;
}
.header_container{
  min-width:40%; 
  margin:10px auto;
}
.header_right{
  width:342px; float:right;
}

.msg_contact_aflogin{
  width:230px; 
  float:right;
}
.right_inner{
  width:100px; height:62px;
}
.right_outer{
  height:62px; 
  /*margin-left:10px;*/
}
.fam_signup_icon{
  float:left;
  padding-top:14px;
}
.fam_signup{
  margin:16px 0 0 8px;
  line-height:20px;
}
.link_nav{
  color:#51a0b5; font-size:13px;  font-weight:bold; text-decoration:none;font-family:'open_sansregular';
}
.fam_txt{
  color:#ef322e; font-size:13px; font-weight:bold;font-family:'open_sansregular';
}
.wrapper_contianer{
  margin:0 auto;
  padding-top:71px;
}
.wrapper_static{
  margin:0 auto;
  width:1260px;
  color: #585858;
  font-family:'open_sansregular',Sans-Serif;font-size:13px;
}
.wrapper_inner{
	margin:0 15px 50px 15px;	
}
.wrapper_contianer_inner{
  margin:0 auto;
  padding:64px 0 50px 0px;
  width:1260px;
  color: #585858;
  font-family:'open_sansregular',Sans-Serif;font-size:14px;
}
.wrapper_contianer_inner_login{
  margin:0 auto;
  padding:10px 0 50px 0px;
  width:1260px;
  color: #585858;
  font-family:'open_sansregular',Sans-Serif;font-size:14px;
}
.staic_inner{
	margin:0 20px 40px 20px;
	color: #585858;
}
.wrap_banner{
  position:relative;
}
.clear{    
clear:both;
height:0px;
overflow:hidden;
}
.how-it-img{
  padding: 0px 52px 0px 30px;
}
.head_unread_count{
  position: relative;
  top: 2px;
  left: 8px; 
  font-size: 9px;
  color: #FFFFFF;
}
.get-credit{
  font-size:18px;
  /*color:#F5F5F5;*/
  font-weight:normal;
  font-family:'open_sansregular',Sans-Serif;
  float: left; 
  padding-top: 27px; 
  padding-left: 5px;
}
.get-credit-inner{
  font-size:20px;
  font-weight:bold;
}

/**************Banner*******************/

.bx-controls-auto{
display:none;
}
.bx-viewport{
position:none;
}
/**************Banner*******************/

/***************quick links********************/
.divheading{display:inline-block;}
.middt{font-size:25px;color:#4b4b4b;}
.alink{color:#585858;font-family: open_sansregular;font-size:18px;text-decoration:none;}
.dottedone{color: #4b4b4b;font-family: open_sansregular;font-size: 18px;font-weight: bold;position: relative;top: 7px;display:inline-block;}
.quicklinks{
  text-align:center;
  margin:0 auto;
  display:inline-block;
  width:100%;
  height:35px;
  background:#fff;
  border-bottom:1px solid #DADADA;
  padding:10px 0px;
}
/***************quick liniks********************/



/*******************Header Design***************************/
  
  
/**********Fam Network**************/
.fampostImg{
  width:72px;
  height:72px;
  border:1px solid #e5e5e5;
  overflow:hidden;
}
.Fampost{
  width:182px;
  margin-left:8px;
}
.fam-container{
  float: left;
  width: 285px;
  height: 55px;
  padding-right: 18px;
  background:#f6f6f6;
  padding-left:30px;
  position:absolute
  ;right:0;
 }
.network-image{
  float: left;
  padding: 0 15px 6px 5px;
  border: 1px solid #E7E7E7;
  border-left: none;
  background: #FFFFFF;
}
.feature_head{
	margin:10px 15px 15px 15px;
}
.feature_left{width1:960px; width:914px;}
.feature_right{ width1:290px; width:281px; border:1px solid #E7E7E7; float:left; background-color:#fff; height:54px; margin-left:31px; }
.famImg_icon{
min-height:50px;  border-right: 1px solid #E7E7E7;  background : url('/assets/new_landing/icon_4.png') no-repeat center center; width:76px; padding-top:3px;
}
.famNetwork{ width1:212px; width:200px; border-bottom:1px dashed #ccc; }
.famnet_txt{ background: url('/assets/new_landing/icon_5.png') no-repeat 0 0;color: #DC1F1D;  font-family: 'open_sansregular';  font-size: 12px;  font-weight: bold; padding:7px 0 0 35px; min-height:25px; margin-left:10px; }
.famgroup{ color:#6E6E6E; font-size:10px; margin-top:36px; }
.fam_post_sec{ width:283px; float:left; background-color:#fff; height:54px;}
.fampost_head{width:290px; width:283px;background-color:#DBEEF4;}
.fampost_hinner{margin-left:10px; color:#418598;height:18px; padding:7px 0 10px 0; font-size:16px;}
.post_container{width:283px; background-color:#fff; }
@media screen and (-webkit-min-device-pixel-ratio:0){ 
  .network-image{
  float: left;
  padding: 0 15px 8px 15px;
}
}
.dashedDiv{
  width:100%; 
  border-bottom:1px dashed #ccc;
}
.redFont {
  color: #DC1F1D;
  font-family: 'open_sansregular';
  font-size: 13px;
  font-weight: bold;
  padding: 9px 0px 0px 40px;
  background: url('/assets/new_landing/icon_5.png') no-repeat 0 0;
  min-height: 26px;
  margin-top: 2px;
}
.greyFont{
  color: #6E6E6E;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
  font-weight: bold;
  margin-top: 5px;
}
.dispNone{
display: none;
}
.dp{
  display:inline-block;
}
.clear{
  clear:both;
  height:0px;
  overflow:hidden;
}
.postContainer{
  border: 1px solid #E7E7E7;
  background-color: #DBEEF4;
  width: 256px;
  height: 18px;
  padding: 10px 10px;
}
.postHeader{
  color: #418598;
  font-family: 'open_sansregular',Sans-Serif;
  font-size: 15px;
  font-weight: normal;
}
.postInnercontainer{
  border: 1px solid #E7E7E7;
  border-top: none;
  width:auto;
  height:auto;
  padding-top:10px;
  padding-left:0;
  background: #FFFFFF;
}
.postempty{
  border-bottom: 1px solid #E7E7E7;
  border-top: none;
  width:auto;
  height:auto;
  padding-top:7px;
  padding-bottom:2px;
  padding-left:0;
  background: #FFFFFF;
}
.postImg{
  border: 1px solid #E7E7E7;
  background-color: white; 
  float: left;
  padding: 16px 8px 18px 10px;
  width:62px; 
  min-height:30px;
}
.userPhotos{
  margin-left: 2px;
  float: right;
  margin-top: -67px;
  width:172px;
}
.proName{
  color: #FF3336;
  font-family: 'open_sansregular',Sans-Serif;
  font-size: 13px;
  font-weight: normal;
}
.networkName{
  font-family: 'open_sansregular',Sans-Serif;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 180px;
}
.networkDetail{
  color: #595959;
  font-size: 12px;
  font-family: 'open_sansregular',Sans-Serif;
  font-weight: normal;

}
.famReadmore{
  font-size: 12px;
  font-weight: normal;
  color:#327D92; 
  text-decoration: none;
  font-family: 'open_sansregular',Sans-Serif;
}
.despContent{
  padding: 0 0px 2px 0px;
}
.postContentInner{
  padding-left:10px;
  padding-bottom:10px;
  margin-bottom:10px;
  border-bottom: 1px solid #E7E7E7;
}
#fam_more{
  border: 1px solid #ece8e7;
  color: #f75c5a;
  font-weight: bold;
  padding: 5px 5px 5px 6px;
  display: inline-block;
  background-color: #ece8e7;
  margin-top: 5px;
  text-align: right;
}
.FamNetwork{
  margin-right: 25px;
  min-height:200px;
}
.imgResponsive{
  width:auto;height:auto;max-height:100%;max-width:100%;
}
.viewMore{
  height:34px;
  float:right;
  padding-right: 26px;
}
.messagePhotoBr{
  width:72px;
  height:72px;
  overflow:hidden;
}
/**********Fam Network**************/
/************BLOG content**************/
.maincontent{ margin:0 15px 0 15px;}
  .showtxt{background-color:#ece8e7;border: 1px solid #dadada;color: #f75c5a;font-weight: bold;padding: 5px 5px 5px 6px;text-decoration: none;display: inline-block;font-size: 14px;font-family: 'open_sansregular';}
  .dottedfeature{display:inline-block;width:100%;min-height:70px;}
  .featuredash{top:35px;border-top:1px dashed #C8C8C8;}
  .areadmore{position:absolute;right:0;bottom:0;text-decoration:none;outline:none}
  .readmoretext{font-size: 14px;background:#F43737;height:17px;padding:5px;color:#ffffff;border:1px solid red;border: 1px solid #FF0000;float: right;margin-top: 5px;text-decoration: none;}
  .imagecont{display:inline-block;width:600px;height:526px;margin1:20px 15px; margin:20px 15px 20px 0px; float:left;background:#fff;}
  .article_box{ background-color:#eaeaea; height:327px;overflow:hidden;}
  .imagecont_aflogin{display:inline-block;width:39%;height:478px;margin:20px 15px;float:left;background:#fff;}
  .imgparenttag{text-decoration:none;width:100%;display:inline-block;}
  .imgparenttag_aflogin{text-decoration:none;width:100%;height:257px;overflow:hidden;display:inline-block;}
  .desctext{word-wrap:break-word;display:inline-block;}
  .paramaindiv{margin-left:15px;margin-right:15px;width:97%;}
  .moreart{float:right;border:1px solid #F6F6F6;margin-right:1.7%;color:#787878;background:#F6F6F6;height:25px;}
  .moreart_aflogin{float:right;border:1px solid #F6F6F6;margin-right:19.45%;color:#787878;background:#F6F6F6;height:25px;}
  .mrearttxt{text-decoration:none;background:#ECE8E7;border:1px solid #ECE8E7;color:#F75C5A;padding:5px 5px 5px 6px;font-weight:bold;background-color:#ECE8E7;}
  .featureart{position:absolute;top:0;left:0;font-size:38px;color:#585858;padding:5px;background:#F6F6F6;}
  .fontval{font-family:'open_sansregular';}
  .prelate{position:relative}
  .blgtitle{padding:15px;color:#585858;font-size:22px;overflow:hidden;width:570px;height:22px;}
  .blgtxt{height:90px;color:#5b5b5b;font-size:16px;margin:0px 15px;border-top:1px dashed #C8C8C8;padding-top:15px;overflow:hidden;width:570px;}
.blog_load{width:98%; margin:0 auto;top:-30px;position:relative;display:block;}
/************BLOG content**************/
#top_menu,#top_menu_add,#top_menu_contact,#top_menu_message,#top_menu_user,#top_menu_location{
  /*padding-top:4px;*/
  font-family:'open_sansregular';
  color:#347d91;  
  float:left;
}
#top_menu ul{
  text-align: left;
  display: inline-block;
  margin: 0;
  padding:0px 4px 0px 0;
  list-style: none;
  left:0 ;
}
#top_menu ul li,#top_menu_add ul li{  
  display: inline-block;
  position: relative;
 /* padding:0px 4px;*/
  cursor: pointer;
  font-weight:bold;
/* border:1px solid #DBEEF4;*/
}
#top_menu_add ul li:hover, #top_menu_contact ul li:hover,#top_menu_message ul li:hover,#top_menu_user ul li:hover,#top_menu_location ul li:hover{
  color: #5099AC;
  /*background-color:#E6F5F8;*/
  /*border:1px solid #A9D3E1;*/
  font-weight:bold;
}
#top_menu ul li ul {
  padding: 0;
  position: absolute;
  top: 50px;
  left: 0;
  width: auto;
  box-shadow: none;
  display: block;
  opacity: 1;
  visibility:visible;
}
@media \0 screen{
  #top_menu ul li ul {
    top:55px;
  }
}
#top_menu ul li ul li { 
  display: block; 
  color:#5099AC;
  font-weight:normal;
  border: none !important;
}
/*********************add menu */
#top_menu_add ul li ul{
  padding: 0;
  position: absolute;
  top: 56px;
  .top: 48px;
  left: 0;
  width: 120px;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  background:#F6F8F7;
}
/*#top_menu_add ul li ul li{ 
    display: block; 
    color:#959292;
  padding:6px 0 6px 8px;
   border:1px solid #A9D3E1;
  font-weight:normal;
  font-size:13px;
}*/
#top_menu_add ul li ul li a{ 
  color:#959292;
  text-decoration:none;
}
#top_menu_add ul li ul li a:hover { 
  color:#F97C0E;
  text-decoration:none;
}
#top_menu_add ul li ul li:hover
 { background:none; font-family:'open_sansregular'; border:none; font-size:13px; color:#F97C0E; font-weight:normal;}
#top_menu_add ul li:hover ul, #top_menu_contact ul li:hover ul ,#top_menu_message ul li:hover ul,#top_menu_user ul li:hover ul ,#top_menu_location ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}
/******************* contact menu ***********/
#top_menu_add ul,#top_menu_contact ul,#top_menu_message ul,#top_menu_user ul,  #top_menu_location ul {
  text-align: left;
  display: inline-block;
  margin: 0;
  padding:5px 4px 0px 0;
  list-style: none;
  right:0;
}
#top_menu_add ul li ul,#top_menu_contact ul li ul,#top_menu_message ul li ul,#top_menu_user ul li ul{
  padding: 0;
  position: absolute;
  top1: 52px;
  top: 49px;
  right: 0;
  width: 184px;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  background:#F6F8F7;
  border-top:1px solid #d4d4d4; 
  border-left:1px solid #d4d4d4;
  border-right:1px solid #d4d4d4;
}
.ddmenu{
 width:20px; 
 height:30px;
 margin-top: -10px;
 left: 130px;
 position: absolute;
}

#top_menu_add ul li,#top_menu_contact ul li,#top_menu_message ul li,#top_menu_user ul li {  
  display: inline-block;
  position: relative;
 /*padding:6px 4px 6px 4px;*/
  cursor: pointer;
  font-weight:bold;
 /*border:1px solid #DBEEF4;*/
 /*border:1px solid #E5F4F9;*/
}
#top_menu_add ul li ul li,#top_menu_contact ul li ul li,#top_menu_message ul li ul li,#top_menu_user ul li ul li  { 
   display: block; 
   color:#959292;
  /*padding:6px 0 6px 8px;*/
 /* border:1px solid #F6F8F7;*/
  font-weight:normal;
  font-family:'open_sansregular';
  font-size:13px;
}
#top_menu_add ul li ul li a,#top_menu_contact ul li ul li a,#top_menu_message ul li ul li a,#top_menu_user ul li ul li a { 
  color:#959292;
  background: #ffffff;
  text-decoration:none;
  display: block; 
  padding:6px 0 6px 8px;
  /* border:1px solid #F6F8F7;*/
  font-weight:normal;
  /*font-family:Arial, Helvetica, sans-serif;*/
  font-size:13px;
  font-family:'open_sansregular';

}
#top_menu_add ul li ul li a:hover,#top_menu_contact ul li ul li a:hover,#top_menu_message ul li ul li a:hover,#top_menu_user ul li ul li a:hover  { 
  color:#ffffff;
  background: #EF322E;
  text-decoration:none;
  display: block; 
  padding:6px 0 6px 8px;
  /*border:1px solid #EF322E;*/
  font-weight:normal;
  /*font-family:Arial, Helvetica, sans-serif;*/
  font-size:13px;
  font-family:'open_sansregular';
}
#top_menu_contact ul li ul li:hover,#top_menu_message ul li ul li:hover,#top_menu_user ul li ul li:hover { 
  /*background:#F6F8F7; */
 /* border:1px solid #F6F8F7;*/
  font-family:Arial, Helvetica, sans-serif;
  font-size:13px; color:#F97C0E; font-weight:normal;
}
/*********************location menu */
#top_menu_location  ul li ul{
  padding: 0;
  position: absolute;
  top: 56px;
  .top: 48px;
  right: 0;
  width: 460px;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  background:#F6F8F7;
  border:1px solid #A9D3E1;
}
#top_menu_location ul li {  
  display: inline-block;
  position: relative;
  padding: 0px 4px;
  cursor: pointer;
  font-weight:bold;
 border:1px solid #DBEEF4;
}
#top_menu_location ul li ul li { 
    display: block; 
    color:#5099AC;
  padding:6px 8px 6px 8px;
  border:1px solid #F6F8F7;
  font-weight:normal;
  font-family:Arial, Helvetica, sans-serif;
  font-size:13px;
}
#top_menu_location ul li ul li a { 
  color:#959292;
  text-decoration:none;
}
#top_menu_location ul li ul li a:hover { 
  color:#5099AC;
  text-decoration:none;
}
#top_menu_location ul li ul li:hover { 
  background:#F6F8F7; 
  border:1px solid #F6F8F7;
  font-family:Arial, Helvetica, sans-serif;
  font-size:13px; color:#5099AC; font-weight:normal;
}
/****/
.top_menu_icon{
  margin:0;
  padding:0;
  height:29px;
}
.location_icon{
  margin-top:2px;
}
.top_menu_arrow{
  margin-top:11px; .margin-top:10px; margin-left:2px;
}
/****location submenu ****/
.location_ziptextbox{
  background: none repeat scroll 0 0 #F6F8F8;
    border: 1px solid #87B8C6;
    color: #444444;
    display: inline-block;
    font-size: 13px;
    height: 24px;
    margin-left: 15px;
    padding: 0 4px;
    width: 124px;
}

.featuterdActivity{
width:100%;
float:left;
}

/*GUEST ROLE start*/
.guest_login{
  width: 100%;
  position: relative;
  height: 40px;
}
.guest_radio{
  float: left;
  color: #000;
  text-align: left;margin-right: 30px;
}
/*#guest_radio_1{
  width: 23%;
}
#guest_radio_2{
  width: 23%;
}
#guest_radio_3{
  width: 34%;
}*/
.role_selected{
  background: url("/assets/create_new_activity/repeat/radio_on.png") no-repeat left center;
  padding-left: 30px;
}
.role_nt_selected{
  background: url("/assets/create_new_activity/repeat/radio_off.png") no-repeat left center;
  padding-left: 30px;
}

/*headers in other pages after login start*/
.TopListText{
	margin:0 auto;
	padding-top:10px; 
	padding-bottom:10px;
	width:100%; 
	margin:0 auto; 
	background:#F6F8F7;
}
.menuText {
    color: #347d91;
    font-size: 14px;
    font-weight: normal;
	white-space:nowrap;
}
.menuText:hover {
    color: #585858;
    font-size: 14px;
    /*font-weight: normal;*/
	text-decoration:none;
}
.selectedMenuText {
    color: #5AA3B6;
    font-size: 14px;
    font-weight: bold;
}
.dot {
    display: inline-block;
    position: relative;
    top: 3px;
}
.selected_text{
	font-weight:bold;
}

/*headers in other pages after login end*/

/************ Common Style start***************/
.subtitle{font-size: 20px; color: #5099AC;}
.btnwidth{width: 130px;}
.redbutton2{background: none repeat scroll 0 0 #F82A2A;border: 1px solid #DB1D1D;box-shadow: 0 1px 1px 0 #DB1D1D inset;padding: 6px 0px;text-align: center;}
.bluebutton{background: none repeat scroll 0 0 #6DC1DD;border: 1px solid #61ADC5;box-shadow: 0 1px 1px 0 #6DC1DD inset;padding: 6px 0px;text-align: center;}
.bread-path a{color:#4495ae;}

.ftwt{font-weight: bold;}.ftnl{font-weight:normal;}.ftcGray{color: #838383;}.ftcwhite{color: #FFF !important;}.ftcliteGray{color: #9E9E9E}
.fts12{
    font-size: 12px;
}
.ftcBlue3c{
    color: #3C8EA3;
}
.ftcGrayb9{color: #b9bebc;}.
.text-trunc{
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}
/*Dont Remove Fixed Width fixes*/
.featuredContainer{
  width:1260px;
  margin:0 auto;
}
.headerOuter{
  width:100%; 
  background-color:#E5F4F9;
}
.headerWrapper{
  width:1260px; 
  margin:0 auto;
}

.topContainer .addText:hover{
    color:#4495ae;
    font-family:'open_sansregular';
    font-weight:normal;
    font-size:14px;
  text-decoration:underline;
}

.topContainer .menuText{
    color:#4495ae;
    font-family:'open_sansregular';
    font-weight:normal;
    font-size:14px;
}
.flash-text{
  cursor: pointer;
  font-size: 13px;
  margin-left: 20px;
  font-family:'open_sansregular';
}

.ftcBlue{color: #347d91;font-family:'open_sansregular';}.ftcBlue1{color: #4e88a5;}.ftcBlue2{color: #307193;}.ftcBlue3{color: #307193;}

.topContainer{
    width:100%;
    height:40px;
    background:#F6F6F6;
  padding-top:15px;
  .margin-top:0px;
}

.checkboxImg{
    display:inline-block;
    position: relative;
    top: -2px;
    vertical-align: top;
    margin-right:16px;
}

.topContainer .pipeSymbol{
    display:inline-block;
    color:#A9C7CF;
    font-size:15px;
    position: relative;
    top: 5px;
    vertical-align: top;
    margin:0 5px;
}

#providerEventList .pipeSymbol{
    display:inline-block;
    color:#A9C7CF;
    font-size:15px;
    position: relative;
    top: -3px;
    vertical-align: top;
    margin:0 5px 0 5px;
}

#menu_group ul.sub-menu {
  display: none;
  position: absolute;
  z-index: 900;
}
#menu_group ul.sub-menu li {
  text-align: left;
  display: block; 
}
#menu_group li:hover ul.sub-menu {
  display: block; 
}
.menu_group{
    display:none;
    font-size:13px;
    background:#F6F8F7;
    color:#959292;
    border:1px solid #C2DDE4;
    width:150px;
    height:84px;
    *margin-top:26px;
    margin-left:-9px;
    *margin-left:-71px;
    position: absolute;
    z-index: 900;
    padding: 3px 5px 3px 5px;
}
.menu_group li a{ 
    color:#959292;
    display:block;
    text-decoration:none;
    padding: 2px 2px 3px 2px;
}
.menu_group li a:hover{
    color:#F97C0E;
    display:block;
    text-decoration:none;
    padding: 2px 2px 3px 2px;
}
#menu_group .menu_group {
    width:auto;
    height:auto;
}
.group-scroll-pane-category{
width: 100%;
height: auto;
overflow: auto;
}
.grp_checkboxoff
{
display: inline-block;
background: url('/assets/provider_event_list/pro_checkbox_normal.png') no-repeat;
width: 19px;
height: 21px;
cursor: default;
}
.grp_checkboxon
{
display: inline-block;
background: url('/assets/provider_event_list/pro_checkbox_selected.png') no-repeat;
width: 19px;
height: 21px;
cursor: default;
}
.top_menu_icon{
  margin:0;
  padding:0;
  height:29px;
}
.save-button{
/*margin-left:35px;*/
/*width:100px;*/
padding:5px 15px 0px 15px;
height:26px;
background-color:#f82b2b;
display:inline-block;
font-size:14px;
color: #FFFFFF;
cursor: pointer;
border:0;
text-align:center;
text-decoration:none;
}
.save-button:hover {
    background-color: #ee1515;
	color: #FFFFFF;
} 
.save-button-disabled{
padding:5px 15px 0px 15px;
height:26px;
background-color:#F8A1A1;
display:inline-block;
font-size:14px;
color: #FFFFFF;
cursor: pointer;
border:0;
text-align:center;
text-decoration:none;
cursor:default;
}

.cancel-button{
margin-left:5px;
/*width:100px;*/
padding:5px 15px 0px 15px;
height:26px;
background-color:#6cc1dd;
display:inline-block;
font-size:14px;
color: #FFFFFF;
cursor: pointer;
border:0;
text-align:center;
text-decoration:none;
}
.cancel-button:hover {
    background-color: #45add0;
	color: #FFFFFF;
} 

.imageall{
     background-image: url('/assets/contact/contact_all.png');
     background-repeat:no-repeat;
     background-position: 0 0;
     margin-top: 7px;
     width: 12px;
     height: 13px;
     display: inline-block;
}
.delimg{
   left: 0.2%;
   position: relative;
   background-size: 28px auto;
   background-position: -8px -25px;
}

.message_count{position:absolute;width: 17px;background-color: #DC1F1B;margin-top: -31px;margin-left: 35px; border-radius: 34px;color: #fff;height: 17px; }
.message_count_in{font-size: 11px;color: #FFFFFF;}

.boxContainer{background-color:#fff;padding:30px;border: 1px solid rgb(231, 233, 232);}


/* All Contacts option addition */
#grp_frnd_ct {
  display: inline-block;
  position: relative;
  top:-5px;
}
#grp_frnd_ct a {
  display: inline-block;
}
#grp_frnd_ct ul {
  display: inline-block;
  list-style-type: none;
}
#grp_frnd_ct li {
  display:block;
}
#grp_frnd_ct ul.sub-menu {
  display: none;
  position: absolute;
  z-index: 900;
}
#grp_frnd_ct ul.sub-menu li {
  text-align: left;
  display: block; 
}

#grp_frnd_ct li:hover ul.sub-menu {
  display: block;
}
/***** input type file style for activity page***************/
div.file_upload {
    width: 78px;
    height: 30px;
    background: url(/assets/register/browse.png);
    overflow: hidden;
    float:left; 
    margin-top:-1px;
    .margin-top:0px;
    position:relative;
    z-index:3;
    cursor: pointer;
}
div.file_upload input {
    display: block !important;
    width: 78px !important;
    height: 30px !important;
    opacity: 0 !important;
    filter:alpha(opacity=5);
    overflow: hidden !important;
    cursor: pointer;
}
.file_hidden{
	float:left;z-index:1; width:470px;
}
.file_input{
	border: 1px solid #CDE0E6;
    color: #444444;
    height: 26px;
    padding: 0 5px 0 5px;
	.padding-top:4px;
	.height:22px;
    position: relative;
    width: 460px;
    word-wrap: break-word;
    z-index: 3;
}
/*************registration page ********/
.file_hidden_reg{
	float:left;z-index:1; width:199px;
}
.file_input_reg{
	border: 1px solid #CDE0E6;
    color: #444444;
    height: 26px;
    padding: 0 5px 0 5px;
	.padding-top:4px;
	.height:22px;
    position: relative;
    width: 189px;
    word-wrap: break-word;
    z-index: 3;
}
.file_hidden_cont{
	float:left;z-index:1; width:467px;
}
.file_input_cont{
	border: 1px solid #CDE0E6;
    color: #444444;
    height: 26px;
    padding: 0 5px 0 5px;
	.padding-top:4px;
	.height:22px;
    position: relative;
    width: 457px;
    word-wrap: break-word;
    z-index: 3;
}
@media \0screen {
.setMTop1{
	margin-top:-7px;
}
.file_input_cont{
	padding-top:5px;
	height:22px;
}
}

/* footer section start*/
#footer{
	left:0;bottom:0;position:fixed;width: 100%;z-index: 1000;border-top: 1px solid #BCC1A1;color: #666666;font-family:'open_sansregular',Sans-Serif;font-size: 12px;background-color:#fff;	
}
#footer_inner{
	width:1260px;
	margin:0 auto;
  padding:10px 25px 10px 10px;
}
#footer_inner_provider{
  padding:10px 0px 10px 0px;
  width:100%;
}
.statusmenu {
  height: 24px;
  left: 24px;
  margin-top: -18px;
  position: absolute;
  top: 5px;
  width: 20px;
}
#copyright{
	float:left;width:260px;
}
.footer_icon{
	float:left;margin:0 4px 0 0;
}
#footer_menu{
	float: right;	color: #5AA3B6;margin-top:4px;	
}
#footer_menu ul{
    list-style-type: none;margin-top: 0px;padding: 0;width: 100%;
}
#footer_menu ul li {
    display: inline;
}
#footer_menu ul a {
    color: #5AA3B6;text-decoration: none;margin-left:4px;margin-right:4px;
}
#footer_menu ul a:hover {
    text-decoration:underline;
}
/* footer section end*/
.footer_how_it_works{
	position:relative;
	bottom:5px;
	float:left;
	margin-right:10px;
}
.img_menu{
  margin-top: 6px;
}
.page_head{
	height:50px; display:inline-block; width:100%;}
h2.section_head{color:#585858;font-size:20px;font-family:'open_sansregular';}	
.head_line{ border-bottom:1px dashed #C8C8C8; top:27px; position:relative; }
.search_head{width:auto; position:absolute; background-color:#F6F6F6; font-size:34px; color:#585858;}
.search_count{font-size:18px;position:relative;top:-5px;}
.content_btm{margin:10px 0 10px 0; float:left;}
/*Header windows safari issue fixes*/
.button_box{
	font-family:'open_sansregular',Sans-Serif; font-size:14px; display:inline;
	background:#f43737 ;height:20px; padding:5px; color:#fff; border:1px solid red;}
.button_grey{
	  font-family:'open_sansregular',Sans-Serif; font-size:14px; display:inline; font-weight:bold;
	background:#ece8e7 ;height:20px; padding:5px; color:#f75c5a; border:1px solid #dadada;	  
}
.guest-popup{
  padding-top: 10px;margin-left: 35px;width: 100px;height: 25px;background-color: #EF322E;display: inline-block;font-size: 16px;color: #FEFFFD;cursor: pointer;border: 0;text-align: center;border-radius: 2px;text-decoration: none;
}
.menuSelection{
  text-align:center; margin:0 auto;display:inline-block;width:100%;height:35px;background:#fff;border-bottom:1px solid #DADADA;padding:10px 0px;
}
.innerMenuSelection{
  color:#DC1F1B;
  font-family: open_sansregular;
  font-size: 18px;
}
.fntfiftn{
	font-size:16px;
}
/* for Activity list and card Todo need to change class for other */
.msg_contact_aflogin_provider{
  width: 290px;
  float: right;
}
.tableStr{
  border:1px solid #d3e8ee;border-bottom:none;border-top:none;
}
@media screen and (-webkit-min-device-pixel-ratio:0){ 
.fam-container1
{
  width:301px;
}
.right_inner {
  width:100px;
}
.header_right{
  width: 330px;
}
}
 /* Safari only override */
::i-block-chrome,.msg_contact_aflogin {
 width:260px;
}
}
::i-block-chrome,.header_right {
 width:374px;
}
}
