/*general style*/
.clear{
	clear:both;	
	height:0px;
	overflow:hidden;
}
.lt{
	display:inline-block;
	float:left;
}
.rt{
	display:inline-block;
	float:right;
}
img{
	border:none;
}
/***************************
      Ticket List Page
****************************/

.ticketContainer{
  width:141px;
  margin:10px 0;
  border:1px solid #c8c8c8;  
}
/****************************
           Ticket-1
****************************/
.ticketContainer .row1{
	width:141px; 
	height:30px;
	border-bottom:2px solid #126E9D;
}
.ticketContainer .row1 .col1{
    width: 41px;
    background: #1E95CD;
    height:30px;    
	text-align:center;
	overflow: hidden;
}
.ticketContainer .row1 .col2{
    width: 49px;
    background: #1E95CD;
    height:30px;
    border-left:1px solid #137CB5;
	text-align:center;
	overflow: hidden;
}
.ticketContainer .row1 .col3{
    width: 49px;
    background: #1E95CD;
    height:30px;
	text-align:center;
	border-left:1px solid #137CB5;
	overflow: hidden;
}

.ticketContainer .row1 .whiteText{
    font-size: 10px;
    font-family:Arial, Helvetica, sans-serif;
	color:#ffffff;  	
	margin-top:3px;
	display:block;
	font-weight:bold;
}
.ticketContainer .row1 .whiteTextSmall{
    font-size: 8px; 
	margin-top:0px;
	display:block;
	font-weight:normal;	
}
.ticketContainer .row2{
	width:141px; 
	height:65px;
	background:#158cc8;
	text-align:center;
}
.ticketContainer .row2 .actName{
	padding-top:20px;	
	font-size: 13px;
    font-family:Arial, Helvetica, sans-serif;
	color:#ffffff; 
	display:block;
	font-weight:bold;
	overflow: hidden;
	width:141px;
}
/****************************
           Ticket-2
****************************/
.view_ticketType2 .row1 .setOrgBg,
.view_ticketType2 .setOrgBg,
.detail_ticketType2 .row1 .setOrgBg,
.detail_ticketType2 .setOrgBg{
    background: #F1471D;
}
.view_ticketType2 .row1 .setleftBorder,
.detail_ticketType2 .row1 .setleftBorder{    
    border-left:1px solid #C53A1C;
}
.view_ticketType2  .setbottomBorder,
.detail_ticketType2  .setbottomBorder{    
    border-bottom:2px solid #C53A1C;
}
/****************************
           Ticket-3
****************************/
div.type3Inner{
	padding:10px 12px 0px 12px;
	background:#F5FBFB;
	border:1px solid #D0DFE4;
	height:195px;
	overflow:hidden;
}
div.type3Inner .head,
#detail .head{
	font-size: 12px;
    font-family:Arial, Helvetica, sans-serif;
	color:#4495AE; 
	padding:12px 0 2px 0;
	font-weight:bold;
	text-align:left;
}
div.type3Inner .desp,
#detail .desp{
	font-size: 9px;
    font-family:Arial, Helvetica, sans-serif;
	color:#807E7E;
	width:117px;
	text-align:left;
}

/***************************
      Ticket Detail Page
****************************/
#detail{
	background:#F6F8F7;
	border-top:1px solid #E8EEEE;
	/*border-bottom:1px solid #E8EEEE;*/
	padding:20px 0;
}
#detail .ticketContainer{
	margin:8px;
}
#detail .outerDiv{
	width:160px;
	padding:8px 20px;
	border:1px solid #E9EDEE;
	margin-left:40px;
	background:#F1F6F9;
	display:inline-block;
}
#detail .outerDiv .checkText{
	font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
	color:#4495AE; 
	vertical-align:top;
	top:3px;
	position:relative;
	left:5px;
}
/****************************
           Tickets
****************************/
#detail .row3 img{
	border-bottom:none;
}
#detail .block2 .contRow{
	padding-left:15px;	
	border-bottom:2px solid #1F9BD9;
	width:126px;
	background:#fff;
	margin-top:-4px;
	padding-bottom:10px;
}
#detail .block2 .redBottom{
	border-bottom:2px solid #E83B19;
}
#detail .liteBlueBottom{
	border-bottom:2px solid #818B8D;
}
#detail .block2 .contRow p{
	display:block;
	float:left;
    text-align:left;	
}
#detail .block2 .redText{
	display:block;
	font-size: 9px;
    font-family:Arial, Helvetica, sans-serif;
	color:#E0614E;
}
#detail .block2 .priceCodert{		
	width:66px;	
	padding-top:12px;
	float:right;
	margin-right:3px;
}
#detail .block2 .ticketText{
	font-size: 11px;
    font-family:Arial, Helvetica, sans-serif;
	color:#4495AE; 	
}
#detail .block2 .ticketCodeImg{
	margin-left:5px;
}
#detail .block3 .viewTicket{
	font-size: 12px;
    font-family:Arial, Helvetica, sans-serif;
	color:#4495AE;
	font-weight:bold;
	margin-left:5px;
}
#detail .block3 .pipeSymbol{
	margin-top:3px;
}

/*******************************
	
	Accept Ticket Page

********************************/
#accept_tickets {
	margin-bottom:10px;
}
#accept_tickets .setTop{
	padding:7px 0;	
}
#accept_tickets .code_no_row{	
	background:#F6F8F7;
	border-top:1px solid #CEE1E8;
}
#accept_tickets .code_no_row .codeText{
	font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
	color:#4495AE;	
	padding-left:13px;
}
#accept_tickets  .textbox{
    display: inline-block;
    width:500px;
    height:30px;
    *height:26px;
    border:1px solid #CDE0E6;
    padding:1px 4px 0px 4px;
    *padding:7px 4px 0px 4px;
    color: #999999;
    font-size:13px;
	margin:0 10px 0 10px;
}
@media \0screen {
    #accept_tickets  .textbox{
        padding:6px 4px 0px 7px;
        height:24px;
        width:532px;
    }	
}


/*******************************
	
	View Participant Page

********************************/
#view_participant .centerCont{
	padding:20px 0px;
	width:880px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#view_participant .imageLt{
	width:110px;
	padding-right:20px;
	display:inline-block;
	float:left;
	margin-left:75px;
}
#view_participant .contRt{
	width:600px;	
	display:inline-block;
	float:left;		
}
#view_participant .contRt .detailDiv{
	width:600px;
	text-align:left;
	border:1px solid #D6D7D9;
	margin-bottom:20px;
}
#view_participant .contRt .detailDiv .detailInner{
	width:490px;
	padding:12px 12px 12px 7px;
}
#view_participant .contRt .detailDiv .detailInner .row1{
	border-bottom:1px solid #EEEEEE;
	width:490px;
	padding-top:10px;
}
#view_participant .contRt .detailDiv .detailInner .row1 .grayText{
	display:inline-block;
	float:left;
	width:210px;
	color: #999999;    
	padding:0 0 10px 10px;
	font-weight:bold;
}
#view_participant .contRt .detailDiv .detailInner .row1 .blueText{
	display:inline-block;
	float:left;
	width:270px;
	color: #5099AC;
	padding-bottom:10px;	
}
.setPadLt{
	padding-left:20px;
}