.clear{
	clear:both;	
	height:0px;
	overflow:hidden;
}
.lt{
	display:inline-block;
	float:left;
}
.rt{
	display:inline-block;
	float:right;
}
img{
	border:none;
}

#edit_ticket .centerCont{
	padding:40px 0px 13px 0px;
	.padding-bottom:0;
	width:880px;
	font-family:Arial, Helvetica, sans-serif;	
}

/**************      Lift Side Cont ***************/
#edit_ticket .row{
	width:880px;	
	padding-top:10px;	
}
#edit_ticket .ltSide{
	width:150px;	
	font-weight:bold;
    font-size:14px;
    color:#5a5757;   
    vertical-align:top;
    margin: 8px 17px 0 48px;    
}
#edit_ticket .textbox{
    display: inline-block;
    width:535px;
    height:27px;
    *height:24px;
    border:1px solid #CDE0E6;
    padding:1px 4px 0px 4px;
    *padding:6px 4px 0px 4px;
    color: #999999;
    font-size:13px;
}
@media \0screen {
    #edit_ticket .textbox{
        padding:6px 4px 0px 7px;
        height:21px;
        width:532px;
    }	
}
#edit_ticket  .buttonDiv{
	margin-top:15px;
	width:880px;
}
#edit_ticket .errorDiv{
    margin-top:3px;
    color:#fc8989;
    font-size:12px;
}
/****************************
           Tickets
****************************/
#edit_ticket .setTotalWidth{
	width:210px;	
	margin-right:10px;
}
#edit_ticket .setTotalWidth .radioBox{
	width:22px;
	height:22px;
	margin-right:5px;
}
.ticketContainer{
	width:181px;  
	border:1px solid #c8c8c8; 
	margin-top:-26px;  
}
/****************************
           Ticket-1
****************************/
.ticketContainer .row1{
	width:181px; 
	height:35px;  
	border-bottom:2px solid #126E9D;
}
.ticketContainer .row1 .col1{
    width: 51px;
    background: #1E95CD;       
	text-align:center;
	height:35px;
	overflow: hidden;
}
.ticketContainer .row1 .col2{
    width: 67px;
    background: #1E95CD;    
    border-left:1px solid #137CB5;
	text-align:center;
	height:35px;
	overflow: hidden;
}
.ticketContainer .row1 .col3{
    width: 61px;
    background: #1E95CD;    
	text-align:center;
	border-left:1px solid #137CB5;
	height:35px;
	overflow: hidden;
}

.ticketContainer .row1 .whiteText{
    font-size: 12px;
    font-family:Arial, Helvetica, sans-serif;
	color:#ffffff;  	
	margin-top:5px;
	display:block;
	font-weight:bold;
}
.ticketContainer .row1 .whiteTextSmall{
    font-size: 9px; 
	margin-top:0px;
	display:block;
	font-weight:normal;	
}
.ticketContainer .row2{
	width:181px; 
	height:80px;
	background:#158cc8;
	text-align:center;
}
.ticketContainer .row2 .actName{
	color: #FFFFFF;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
    padding-top: 26px;
    width: 181px
}
.ticketContainer  .head{
	font-size: 13px;
    font-family:Arial, Helvetica, sans-serif;
	color:#4495AE; 
	padding:17px 0 2px 0;
	font-weight:bold;
	text-align:left;
}
.ticketContainer .desp{
	font-size: 11px;
    font-family:Arial, Helvetica, sans-serif;
	color:#807E7E;
	width:165px;
	text-align:left;
}
.ticketContainer .contRow{
	padding-left:15px;	
	border-bottom:2px solid #1F9BD9;
	width:166px;
	background:#fff;
	margin-top:-4px;
	padding-bottom:10px;
}
.ticketContainer .redText{
	display:block;
	font-size: 11px;
    font-family:Arial, Helvetica, sans-serif;
	color:#E0614E;
}
.ticketContainer .priceCodert{		
	width:92px;	
	padding-top:17px;
	float:right;
	margin-right:8px;
}
.ticketContainer .ticketText{
	font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
	color:#4495AE; 	
}
.ticketContainer .redBottom{
	border-bottom:2px solid #E83B19;
}
.ticketContainer .liteBlueBottom{
	border-bottom:2px solid #818B8D;
}
/****************************
           Ticket-2
****************************/
#editTicket2 .setOrgBg{
    background: #F1471D;
}
#editTicket2  .setleftBorder{    
    border-left:1px solid #C53A1C;
}
#editTicket2  .setbottomBorder{    
    border-bottom:2px solid #C53A1C;
}
#editTicket2  .redBottom{
	border-bottom:2px solid #E83B19;
}
/****************************
           Ticket-3
****************************/
div.type3Inner{
	padding:10px 0px 10px 12px;
	background:#F5FBFB;
	border:1px solid #D0DFE4;	
}
#editTicket3 .liteBlueBottom{
	border-bottom:2px solid #818B8D;
}
