#profile .checkoutLt{
	float:left;
	display:inline-block;
}
#profile .centerArea{
	margin:5px 15px 0 0;
	border:1px solid #E8ECED;
	border-bottom:none;
	height:100%;
}
#profile .checkout_top{
	width:500px;
	margin:0 auto;
	margin-top:15px;
	border1:1px solid red;
}
#profile .set_style_1{
	border:1px solid #E8ECED;
	width:14px;
	height:17px;
	.height:14px;
	background:#CCE9EF;
	padding:0px 0px 0px 5px;
	.padding:4px 0px 0px 5px;
	margin-top: 9px;
	/*-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
	border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
	border-radius-topright: 0;*/
}
#profile .set_style_2{
	border:1px solid #CDE0E6;
	width:14px;
	height:17px;
	.height:14px;
	padding:0px 0px 0px 5px;
	.padding:4px 0px 0px 5px;
	margin-top: 9px;
}
#profile .number_1{
	position:relative;
	top:-2px;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	color: #000000;
	width:19px;
	height:17px;
}
#profile .chkout_ftSz12{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color: #5099AC;
}
#profile  .chkout_clr_ftSz12{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color: #7F7F7F;
}
#checkout .checkout_top{
	width:383px;
}