@charset "utf-8";
/* CSS Document */
.setTopPosition{
	width:760px;
	margin:0 auto;
	padding-top:44px;
	}
.setTopPosition .lt{
	float:left;
	display:inline-block;
	}
.circleNumber{
	top:-20px;
	position:relative;
	display:inline-block;
}
#setImage{
	background:url("/assets/provider_register/horiz_line_repeat.png") repeat-x;
	width:80px;
	height:1px;
}
#setImage1{
	background:url("/assets/provider_register/horiz_line_repeat.png") repeat-x;
	width:240px;
	height:1px;

}

#setImage2{
	background:url("/assets/provider_register/horiz_line_repeat.png") repeat-x;
	width:240px;
	height:1px;
}
.setBg{
	background:url("/assets/provider_register/step_box_bg.png") no-repeat;
	width:869px;
	height:668px;
	margin-top:10px;
}
#marketDiv{
	width:286px;
	margin:45px 0 0 8px;
	text-align:center;
}
#sellDiv{
	width:254px;
	margin:45px 0 0 0px;
	text-align:center;
	margin-left:2px;
}

.setfont{
	font-family:Arial, Helvetica, sans-serif;
	color:#176174;
	font-size:30px;
}
.setfont13{
	font-family:Arial, Helvetica, sans-serif;
	color:#5aa3ba ;
	font-size:13px;
}
.setfont14{
	font-family:Arial, Helvetica, sans-serif;
	color:#4495ae ;
	font-size:14px;
	font-weight:normal;
}
.setfont12{
	font-family:Arial, Helvetica, sans-serif;
	color:#4495ae ;
	font-size:12px;
	font-weight:normal;
}


.setfont18{
	font-family:Arial, Helvetica, sans-serif;
	color:#4495ae;
	font-size:17px;
	text-align:center;
}

.marginTop62{
	margin-top:62px;
}
#register_outerContainer .checkbox a:focus{
    outline:1px dotted #6a6a6a;
}


/*************************************
  
    payment register details css

************************************/
.require_info{
	width:950px;
	margin:0 auto;
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
	color:#186171;
}

#choose_text{
	width:280px; 
	padding-left:66px;
	top:-20px;
	position:relative;

}
#plan_text{
	width:177px;
	top:-20px;
	position:relative;
}
#payment_text{
	width:123px;
	padding-left:84px;
	top:-20px;
	position:relative;
}
.RegiserDivPayment{
	width:870px;
	margin:0 auto;
	margin-top:20px;
}

#provider_info_text{
	border1:1px solid blue;
	width:235px;
	color:#186171;
	font-size:17px;
	.margin-top:0px;
}
.RtDiv{
	border1:1px solid blue;
	width:568px;
}
.setTop10{
	margin-top:10px;
}
.setTop20{
	margin:20px 0 20px 0;
}

.setTop15{
	margin:15px 0 15px 0;
}
.SetFtSz14{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#6A6A6A;
}
.setTextBox{
	border: 1px solid #BDD6DD;
    color: #999999;
    font-size: 13px;
    height: 28px;
    padding: 0 4px;
    width: 558px;
	.height: 23px;
	.width: 560px;
	.padding:5px 0 0 4px;
}

.setTextBox_street{
	border: 1px solid #BDD6DD;
    color: #999999;
    font-size: 13px;
    height: 28px;
    padding: 0 4px;
    width: 272px;
	.height: 23px;
	.width: 272px;
	.padding:5px 0 0 4px;
}
@media \0 screen {
.setTextBox{
    height: 20px;
    padding:4px;
    width: 558px;
	}
	.setTextBox_street{
    height: 20px;
    padding:4px;
    width: 272px;
}

.bidpopup_container .frm_container .textbox {
    height: 20px;
    padding:4px;
    width: 298px;
}
#choose_text{
	width:280px; 
	padding-left:66px;
	top:-22px;
	position:relative;

}
#plan_text{
	width:177px;
	top:-22px;
	position:relative;
}
#payment_text{
	width:123px;
	padding-left:84px;
	top:-22px;
	position:relative;
}


}

/************************pou up Bid***************************/

	.bidpopup_container{
		width:554px; 
		line-height:24px; 
		font-family:12px;
		margin:0 auto;	
		}
	.bidpopup_top{
		background:url('/assets/provider_register/bidbgtop.png') no-repeat;
		width:554px;
		height:12px;
	}
	.bidpopup_bottom{
		background:url('/assets/provider_register/bidbg_bottom.png') no-repeat;
		width:554px;
		height:12px;
	}
	.bidheadtab{
		border-bottom:1px solid #D7DADB;
		width:534px;
		height:34px;
		margin:0 8px 0 9px;
		padding-top:10px;
	}
	.bidpopup_head{
		width:503px;		
		float:left;
		display: inline-block;
	}
	.bidpopup_header{
		color: #5099AC;
		font-size: 20px;
		font-weight: bold;		
		padding-left: 40px;		
		
	}
	.bidpopup_close{
		display: inline-block;
		float: left;
		width: 31px;
	}
	.bidpopup_center{	 		
		background: url('/assets/provider_register/bidbg_repeat.png') repeat-y;
		width:554px;		
	}
	.bidpopup_centerinner{
		padding:10px 20px 10px 20px;
	}
	.center_content{
		background-color:#EDF7F9; 
		text-align:center;
		padding:6px 2px 6px 2px;		
		margin:10px 6px 0 6px;
		font-family:Arial, Helvetica, sans-serif;
		font-size:16px;
		font-weight:normal;
		color:#6a6a6a;
	}
	.frm_container{
		margin:16px 16px 0 16px;
	}	
	.bidpopup_container .frm_container .textbox{
		border: 1px solid #CDE0E6;
		color: #444444;
		display: inline-block;
		font-size: 13px;
		height: 27px;
		padding: 1px 4px 0;
		.padding: 4px 0px 0px 4px;
		width: 298px;
		.width: 294px;
		.height: 23px;
	}
	.bidpopup_savebtn{
		background:url('/assets/provider_register/save.png') no-repeat;
		width:111px;
		height:37px;
		border:none;
		margin-right:2px;
		cursor:pointer;
	}
	.bidpopup_cancelbtn{
		background:url('/assets/provider_register/bid_cancel.png') no-repeat;
		width:111px;
		height:37px;
		border:none;
		cursor:pointer;
	}
	.error_div_color{
	   color: #FC8989;
       font-size: 12px;
	   font-family:Arial, Helvetica, sans-serif;
	}
	
	#show_infoDiv{
		width:230px;
		border:1px solid #5099AC;
		background-color:#f6f8f7;
		position:absolute;
		text-align:left;
		padding:10px 10px 10px 10px;
		font-family:Arial, Helvetica, sans-serif;
		font-size:14px;
		color:#6a6a6a;
		margin: -56px 0 0 429px;
		.margin: -55px 0 0 200px;
	}