#new_act_container .createActivity{
    margin:0px 10px 0px 5px;
    position:relative;
    z-index:2;
    border: 1px solid #d7dadb;
}
#new_act_container .centerCont{	
    width: 880px;
    height:100%;
    margin:0 auto;
}
#new_act_container .paddingTop10{
    width: 880px;
    padding-top:10px;
}
#new_act_container .paddingTop7{
    width: 880px;
    padding-top:7px;
}
#new_act_container .paddingTop4{
    width: 880px;
    padding-top:4px;
    .padding-top:10px;
}
#new_act_container .paddingTop6{
    width: 880px;
    padding-top:6px;
    .padding-top:0px;
}
#new_act_container .paddingTop2{
    width: 880px;
    padding-top:1px;
}
#new_act_container .setHeight{
    height:30px;
    border:1px solid red;
}
#new_act_container .leftSideField{
    font-weight:bold;
    font-size:14px;
    color:#5a5757;
    width: 150px !important;
    vertical-align:top;
    margin-top: 8px;
    margin-left:60px;
}
.col2_center{
    width:250px;
}
.col2_right{
    margin-right:6px;
}
#new_act_container .cenderSideField{
    font-weight:bold;
    font-size:14px;
    color:#5a5757;
    width: 48px !important;
    vertical-align:top;
    margin-top: 8px;
}
#new_act_container .setTop{
    position: relative;
    top: 32px;
    height: 50px;
    position: relative;
    z-index: 10;
}
#new_act_container .addPhoto{
    font-weight:bold;
    font-size:14px;
    color:#5a5757;
    margin: 0 32px 0 15px;
}
#new_act_container .repeatDiv{
    display: inline-block;
    float1: left;
    padding: 7px 0 0 8px;
    .padding: 7px 0 0 15px;
}
#new_act_container .repeatCont{
    font-size:14px;
    font-weight:bold;
    color:#5099ac;
}
#new_act_container .textbox{
    display: inline-block;
    width:535px;
    height:28px;
    *height:23px;
    border:1px solid #CDE0E6;
    padding:1px 4px 0px 4px;
    *padding:6px 4px 0px 4px;
    color: #999999;
    font-size:13px;
    font-family: Arial,Helvetica,sans-serif;
}
@media \0screen {
    #new_act_container .textbox{
        padding:6px 4px 0px 7px;
        height:22px;
        width:532px;
    }
    #register_outerContainer .textbox_provider {
        border: 1px solid #BDD6DD;
        color: #999999;
        font-size: 13px;
        height: 18px;
        padding:4px;
        width: 298px;
    }
}
#new_act_container .textboxMedium{
    width:260px;
}
.required{
    display: inline-block;
    color:red;
    position:relative;
    left:0px;
    top:0px;
    font-size:13px;
}
#new_act_container .descTextbox{
    height:78px;
    *height:72px;
}
#new_act_container .textboxDiv{
    display: inline-block;
    position:relative;
    width:533px;
    height:29px;
    border:1px solid #CDE0E6;
    padding:0px 5px 0px 5px;
}
#new_act_container .toTextbox{
    display: inline-block;
    float:left;
    width:502px;
    height:19px;
    color: #999999;
    font-size:13px;
    margin-top:4px;
    outline:none;
    overflow: hidden;
    border:none;
}
@media \0screen {
    #new_act_container .toTextbox{
        margin-top:4px;

    }
    #new_act_container .descTextbox{
        padding:8px 4px 0px 4px;
        height:22px;
    }
}
#new_act_container .phone_textbox{
    border: 1px solid #CDE0E6;
    color: #999999;
    font-size: 13px;
    height:26px;
    *height:21px;
    padding:1px 4px 0px 4px;
    *padding:6px 4px 0px 4px;
    color: #999999;
    width: 45px;
}
#new_act_container .setHyphen{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#999999;
    margin-top:6px;
}
#new_act_container .addIcon{
    display: inline-block;
    float:right;
    margin-top:2px;
}
#new_act_container .col1{
    width:270px;
    margin-right: 5px;
}
#new_act_container .c1{
    width:200px;
}
#new_act_container .c2{
    width:125px;
    margin-left:20px;
}
#new_act_container .c3{
    width:200px;
}
.visible_rep{
    width:550px;
}
.visible_rep .col2{
    width:250px;
}
#new_act_container #dispContactDiv{
    position: absolute;
    z-index:7;
    width:545px;
    margin:0 auto;
    margin-left:232px;
    background: #F7F9F8;
}
#new_act_container #dispContactDiv .topBox{
    border:1px solid #C4DCE8;
    height:320px;
    width:543px;
    border-top:none;
    border-bottom:none;
}
#new_act_container #dispContactDiv .bottomBox{
    display: block;
    width: 552px;
    height:14px;
    background:url('/assets/create_new_activity/dropDown_bg_down.png') no-repeat;
    margin-left:-4px;
}
#new_act_container #dispContactDiv .searchRow{
    border-bottom:1px solid #C4DCE8;
    height:32px;
    width:533px;
    padding:6px 0px 0px 10px;
}
#new_act_container #dispContactDiv .searchRow .searchBox{
    width:255px;
    height:24px;
    .height:18px;
    border:1px solid #87B8C9;
    padding:0px 4px 0px 4px;
    *padding:6px 4px 0px 4px;
    color: #999999;
    background: #F7F9F8;
    font-size:13px;
    margin-right:5px;
}
#new_act_container #dispContactDiv .groupRow{
    border-bottom:1px solid #C4DCE8;
    height:38px;
    width:543px;
}
#new_act_container #dispContactDiv .groupRowLeft{
    width:262px;
    height:29px;
    .width1:261px;
    .height1:28px;
    padding:9px 0px 0px 9px;
    .padding1:10px 0px 0px 10px;
    border-right:1px solid #C4DCE8;
}
#new_act_container #dispContactDiv .contactNamesRow{
    border-bottom:1px solid #C4DCE8;
    height:202px;
    width:543px;
}
#new_act_container #dispContactDiv .contactRowLeft{
    width:264px;
    .width1:261px;
    height:194px;
    overflow-y:scroll;
    border-right:1px solid #C4DCE8;
    padding:8px 0px 0px 7px;
    .padding1:10px 0px 0px 10px;
}
#new_act_container #dispContactDiv .setHeight{	
    height:32px;
    .height:37px;
}
#new_act_container #dispContactDiv .contactRowRight{
    width:264px;
    .width:261px;
    height:194px;
    overflow-y:scroll;
    border-right:1px solid #C4DCE8;
    padding:8px 0px 0px 7px;
    .padding:10px 0px 0px 10px;
}
#new_act_container #dispContactDiv .buttonRow{	
    padding:10px 0px 0px 10px;
}

/* Off state for a ARC checkbox */
.altCheckboxOff {
    display: inline-block;
    background:url('/assets/create_new_activity/repeat/checkbox_normal.png') no-repeat;
    width:19px;
    height:21px;
    cursor: pointer;
}/* On state for a ARC checkbox */
.altCheckboxOn {
    display: inline-block;
    background:url('/assets/create_new_activity/repeat/checkbox_selected.png') no-repeat;
    width:19px;
    height:21px;
    cursor: pointer;
}
.addText{
    color: #176174;
    display: block;
    font-size: 12px;
    font-weight: bold;
    left: 25px;
    position: relative;
    top: -22px;
    .top: -18px;
}
.removeText{
    color: #176174;
    display: block;
    font-size: 12px;
    font-weight: bold;
    left: 17px;
    position: relative;
    top: 2px;
    .top: 2px;
}
.marginLt5{
    margin-left:5px;
}
.marginRt5{
    margin-right:5px;
}
#new_act_container .addRemovebutton{
    display:inline-block;
    float:left;
    margin:6px 0 0 0;
}
#new_act_container .addRemovebutton a{
    outline:none;
}

#new_act_container  #dispContactDiv .checkboxCont{
    color: #807e7e;
    font-size:12px;
    margin-left:3px;
    .margin-left:6px;
}
#new_act_container .dateTimeDiv_updiv{
    border: 1px solid red;
    display: block;
    height: 32px;
    left: 231px;
    position: absolute;
    top: 8px;
    width: 545px;
    z-index: 15;
}
#new_act_container .dateTimeDiv{	
    /*width:546px;*/
    /*width: 609px;*/
    width: 640px;
}
#new_act_container .dateDiv{
    display: inline-block;
    position:relative;
    width:140px;
    height:28px;
    padding: 1px 3px 0;
    border:1px solid #CDE0E6;
    background:#fff;
}
#new_act_container .dateTextbox{
    display: inline-block;
    float:left;
    width:110px;
    height:16px;
    color:#999999;
    font-size:13px;
    margin-top:5px;
    outline:none;
    overflow: hidden;
    border:1px solid #ffffff;
}
#new_act_container .dateTimeDiv .dateDiv .timeTextboxWidth{
    width:232px;
}
#new_act_container .dateTimeDiv .dateDiv a{
    display: inline-block;
}
#new_act_container .dateTimeDiv .dateDiv .timeIcon{
    margin-top:2px;
}
#new_act_container .dateTimeDiv .timeDiv{
    display: inline-block;
    width:268px;
    height:31px;
    border:1px solid #CDE0E6;
}
#new_act_container #dispTimeDiv{
    position: absolute;
    z-index:7;
    width:258px;
    margin:31px 0 0 5px;
    background: #F7F9F8;
    border:1px solid #C4DCE8;
    border-top:none;
    padding:10px 0px 10px 10px;
    color:#959292;
    font-size:13px;
}
#new_act_container #dispTimeDiv span{
    display: inline-block;
    width:115px;
    margin-bottom:10px;
}
#new_act_container #dispTimeDiv select{
    color:#999999;
    font-size:13px;
    margin-right:4px;
}
#new_act_container #dispTimeDiv option{
    color:#999999;
    font-size:13px;
}
#new_act_container #dispTimeDiv #to_m option,
#new_act_container #dispTimeDiv #from_m option
{
    padding-right:7px;
}
.timelabel{
    color: #BAB9B9;
    float: left;
    font-size: 14px;
    position: relative;
    margin-right:5px;
    /* padding: 7px 7px 0 6px;*/
}
.time_bg{
    border: 1px solid #CDE0E6;
    display: inline-block;
    height: 28px;
    width: 95px;
}
.timStart{
    width: 150px;
    float: left;
    margin-top: -1px;
    margin-bottom:18px;
}
.schedule_rows .timStart{
    margin-bottom:0px;
}
.timup{
    float: right;
    height: 15px;
}
.timdown{
    float: right;
    height: 15px;
    margin: 13px -25px 0 0;
    position: relative;
}
.addBut{
    display: inline-block;
    padding: 5px 0 0 8px
}
.recuming{
    background1: url('/assets/create_new_activity/checkbox_normal.png') no-repeat;
    width: 19px;
    height:19px;
    border:none;
}
.ftz14{
    color: #999999;
    font-size: 12px;
    padding: 2px 0 0 3px;
    .padding: 2px 0 0 0px;
}
.dayDiv{
    position:relative;
    top: -2px;
    margin-left: 1px;
    .margin-left: -3px;
}
.changeProf{
    color: #5099AC;
    font-size: 15px;
    font-weight: bold;
    margin-top: 72px;
    margin-left: 7px;
    display:block;
}
.setImgBorder{
    border: 1px solid #BBD6DF;
    height: 85px;
    position: relative;
    width: 84px;
    z-index: 99;
}
.upload_name_edit{
    color: #5AA3B6;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    margin-left: 144px;
    margin-top: 57px;
    width: 300px;
}
#new_act_container .drop_down_left{
    display: inline-block;
    color: #999999;
    font-size:13px;
    font-family: Arial,Helvetica,sans-serif;
    border: 1px solid #BDD6DD;
    height: 31px;
    padding: 5px 0 4px 2px;
}
#new_act_container .width_set1{
    width: 545px;
}
#new_act_container .width_set2{
    width: 270px;
}
#new_act_container .width_set3_4
{
    width: 45px;
    color: #444444;
}
#new_act_container .width_set3{
    width: 60px;
    color: #444444;
}
#new_act_container .width_set4{
    width: 85px;
    color: #444444;
}
#new_act_container .set_gray{
    width: 85px;
    color: #999999;
}
#new_act_container .width_set5{
    width: 123px;
    color: #444444;
    margin-right: 5px;
}
#new_act_container .width_set6{
    width: 206px;
}
#new_act_container .width_set7{
    width: 155px;
}
#new_act_container .drop_down_left option{
    padding: 2px 5px;
}
#new_act_container .setFontColor{
    color:#c5c3c3;
}
#new_act_container .sizeImgText{
    color: #999999;
    font-size:13px;
}
#new_act_container .buttonDiv{    
    padding:18px 0px 20px 0px;
}
#new_act_container .upload_name{
    color:#5aa3b6;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    margin:35px 0 0 15px;
    width:445px;
}
#new_act_container .actMrTop{
    margin-top:35px;
}
#new_act_container .textbox_zipcode {
    border: 1px solid #CDE0E6;
    color: #999999;
    display: inline-block;
    font-size: 13px;
    height: 27px;
    margin: -5px 0 0 -65px;
    padding: 1px 4px 0;
    width: 260px;
}
.createDynamicDivs .dynamicDiv .paddingTop{
    margin-bottom:3px;
    .margin-bottom:9px;

}
.createDynamicDivs{
    margin-top:-5px;
}
/***********************************
 *         display error msg 
 ***********************************/

#new_act_container .errorDiv{
    margin-top:3px;
    color:#fc8989;
    font-size:12px;
}
#new_act_container #advancedPriceDiv .errorDiv{    
    color:#fc8989;
    font-size:12px;
}
#new_act_container .anyTimeError{
    margin:-10px 0 15px 132px;
    .margin:-8px 0 15px 132px;
}
#new_act_container .dateErrorDiv{
    margin:-9px 0 9px 0;
}
#new_act_container .city_zip #city_error,#category_error{
    width:275px;
}
#new_act_container .city_zip #zip_error{
    width:250px;
}
#dropDownDiv4{
    max-height:350px;
    overflow:auto;
}

/**************************jquery timer ****************/
#new_act_container #timeArrow, 
#timeArrow1{
    border: 1px solid #CDE0E6;
    height: 29px;
    .height: 28px;
    width: 101px;
    /*margin:10px 0px 0px 0px;*/
}
#timeArea
{
    width:76px;
    height:28px;
    float:left;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    color:#CCCCCC;
}
#arrowArea
{
    width:25px;
    float:right;
    margin-top: -2px;
}

#new_act_container .setstyle{
    top:9px;
    position:relative;
}
#new_act_container .setstyle a:focus{
    border:1px dotted #444444;
}
#new_act_container #setFocus a:focus{
    border:1px dotted #444444;
}
#new_act_container .repeatTest{
    margin-top:16px;
    margin-left:5px;
}
#any_time_disp{
    /*	margin: 0 auto 0 232px;
        width: 487px;*/
}
#new_act_container .billingDiv{
    /*left: 34px;
position: relative;
top: -8px;*/
}
#new_act_container .setTopBilling{
    left: 20px;
    position: relative;
    top: -8px;
    width: 113px;
}
#new_act_container .DayText{
    color:#5A5757;
    font-size: 14px;
    float:left;
    display: inline-block;
}
#new_act_container .setWidth{
    width:100px;
}
#new_act_container .closed_txt{
    font-size:13px;
    color: #5A5757;
    font-family:Arial, Helvetica, sans-serif;
    top:-8px;
    position: relative;
    left:3px;
}
#new_act_container .setStyleDash{
    float: left;
    display:inline-block;
    margin-left: 9px;
    margin-right: 3px;
    color: #cccccc;
    margin-top:-2px;
}
#new_act_container #CampsDateDiv{
    color:#5A5757;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #CDE0E6;
    display: inline-block;
    height: 28px;
    padding: 0 5px;
    position: relative;
    width: 150px;
}
#new_act_container .StrtDte{
    float: left;
    display: inline-block;
    margin-bottom:10px;
}
#new_act_container .StrtTxt{
    float: left;
    display: inline-block;
    font-size: 13px;
    color: #959292;
    margin-top: 6px;
}
#new_act_container .ToTxt{
    font-size: 15px;
    color: #626262;
    display:inline-block;
    padding:0 15px 0 15px;
}
#new_act_container .CalenderDiv{
    width: 450px;
    float: left;
    display:inline-block;
}
@media \0 screen {
    #new_act_container #CampsDateDiv{
        width: 178px;
    }
}
#new_act_container .multipledate{
    /*margin-left: 5px;*/
    width: 465px;
}



.FileUpload {
    position:relative;
    margin-top:1px;
    width: 170px;
    height: 31px;
}
.BrowserVisible {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
    width:106px;
    height:27px;	
}
.FileField {
    width:460px;
    height:26px;
    *height:23px;
    border:1px solid #CDE0E6;
    color: #444444;
    padding:0px 5px 0px 5px;
    *padding-top:3px;
    word-wrap:break-word;
    position:relative;
    z-index:3;
}
.BrowserHidden {
    position:relative;
    z-index:2;
    *width:210px;
    height: 28px;
    -moz-opacity:0;
    filter:alpha(opacity= 0);
    opacity: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight:normal;
    color: #444444;
    left: 362px;
    margin-top: 0px;
    cursor:pointer;
}
.browse{
    color: #FD7D0C;
    cursor: pointer;
    display: inline-block;
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 14px;
    margin-left: 470px;
    position: relative;
    top: -29px;
    .margin-top:-1px;
    width: 53px;
    z-index: 1;

}
@media screen and (-webkit-min-device-pixel-ratio:0){
    .BrowserHidden {
        left: 318px;
    }
}

/*************************************
         steps image
*************************************/
.cactivity_setTopPosition{
    width:570px;
    margin:0 auto;
    padding-top:44px;
    padding-left:0px;
}
.cactivity_setTopPosition .lt{
    float:left;
    display:inline-block;
}
.cactivity_circleNumber{
    top:-20px;
    position:relative;
    display:inline-block;
}
#cactivity_setImage{
    background:url("/assets/provider_register/horiz_line_repeat.png") repeat-x;
    width:80px;
    height:1px;
}
#cactivity_setImage1{
    background:url("/assets/provider_register/horiz_line_repeat.png") repeat-x;
    width:145px;
    height:1px;

}

#cactivity_setImage2{
    background:url("/assets/provider_register/horiz_line_repeat.png") repeat-x;
    width:240px;
    height:1px;
}
.cactivity_setBg{
    background:url("/assets/provider_register/step_box_bg.png") no-repeat;
    width:869px;
    height:668px;
    margin-top:10px;
}
.setfont12{
    font-family:Arial, Helvetica, sans-serif;
    color:#4495ae ;
    font-size:12px;
}
.marginTop62{
    margin-top:62px;
}
#step2_text{
    /*margin-left: 93px;*/
    /*   padding-left: 10px;*/
    padding-left: 5px;
    position: relative;
    top: -20px;
    width: 150px;
    margin-left: 26px;

}
#step3_text{
    /*margin-left: 93px;*/
    /*   padding-left: 10px;*/
    padding-left: 5px;
    position: relative;
    top: -20px;
    width: 150px;
    margin-left: 30px;
}
#step1_text{
    padding-left: 30px;
    position: relative;
    top: -20px;
    width: 150px;
}
#new_act_container .priceText{
    margin: -1px 0 0 5px;
}
#new_act_container .ftSz13Clr{
    color: #999999;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}
.setfontWeight{
    font-weight:bold;
}
/****************************

  date, time and price div

****************************/
.setBlueBG{
    background:#F9FBFA;
    width:690px;
    height:auto;
    width: 610px;
    border:1px solid #EEF2F3;
    padding:10px 0 0 10px;
}
.new_summary .setBlueBG{
    border-top:none;
    padding:0 0 10px 10px;
    border:none;
}
.setBlueBGPrice{	
    border:1px solid #EEF2F3;
    border-top:none;
}
.part{
    padding:10px 10px 10px 60px;
}
.priceTt{
    font-size:13px;
    color:#444444;
    padding-left:10px;
    margin-right: 10px;
    position: relative;
    top: 2px;
}
#advancedPriceContainer{
    width:600px;
    margin:5px;
    padding:7px 10px 7px 7px;
    background:#EDF1F2;
}
#advancedPriceDiv,#advancedPriceDiv1,
#netPriceDiv,#netPriceDiv1
{
    padding-bottom: 5px;
    display:block;
    float:left;
    height:100%;
}
#advancedPriceDiv .add_delete_icons,#advancedPriceDiv1 .add_delete_icons,
#netPriceDiv .add_delete_icons,#netPriceDiv1 .add_delete_icons{
    padding-top:8px;
}
#advancedPriceDiv .add_del_icons,#advancedPriceDiv1 .add_del_icons,
#netPriceDiv .add_del_icons,#netPriceDiv1 .add_del_icons{
    padding:0 0 0 7px;
    width: 50px;
}
#advancedPriceDiv .add_del_icons a, 
#netPriceDiv .add_del_icons a, 
#advancedPriceDiv .add_del_icons a:hover,
#netPriceDiv .add_del_icons a:hover,
#advancedPriceDiv1 .add_del_icons a, 
#netPriceDiv1 .add_del_icons a, 
#advancedPriceDiv1 .add_del_icons a:hover,
#netPriceDiv1 .add_del_icons a:hover{
    display:inline-block;
    float:left;
}
#advancedPriceDiv .priceRow1_top, 
#advancedPriceDiv .priceRow2_top,
#advancedPriceDiv .priceRow3_top,
#netPriceDiv .priceRow1_top, 
#netPriceDiv .priceRow2_top,
#netPriceDiv .priceRow3_top,
#advancedPriceDiv1 .priceRow1_top, 
#advancedPriceDiv1 .priceRow2_top,
#advancedPriceDiv1 .priceRow3_top,
#netPriceDiv1 .priceRow1_top, 
#netPriceDiv1 .priceRow2_top,
#netPriceDiv1 .priceRow3_top{
    padding:12px 0 8px 0;
}

#advancedPriceDiv .blackText,
#netPriceDiv .blackText{
    color: #585657;
    font-size: 13px;
    font-weight:bold;
    width: 160px;
}
#advancedPriceDiv1 .blackText,
#netPriceDiv1 .blackText{
    color: #585657;
    font-size: 13px;
    font-weight:bold;
    width: 140px;
}
.setWidthSubs1{
    width: 153px !important;
}
#advancedPriceDiv .priceRow1_top .setWidthPrice,
#netPriceDiv .priceRow1_top .setWidthPrice,
#advancedPriceDiv1 .priceRow1_top .setWidthPrice,
#netPriceDiv1 .priceRow1_top .setWidthPrice{
    width:128px;
}
#advancedPriceDiv .priceRow1_top .setWidthPrice1,
#netPriceDiv .priceRow1_top .setWidthPrice1,
#advancedPriceDiv1 .priceRow1_top .setWidthPrice1,
#netPriceDiv1 .priceRow1_top .setWidthPrice1{
    width:115px;
}
#advancedPriceDiv .priceRow1_top .setWidthPrice2,
#netPriceDiv .priceRow1_top .setWidthPrice2,
#advancedPriceDiv1 .priceRow1_top .setWidthPrice2,
#netPriceDiv1 .priceRow1_top .setWidthPrice2{
    width:115px;
}
.setWidthPrice3{
    width:160px;
}
#advancedPriceDiv .priceRow2_top .setWidthDiscount,
#netPriceDiv .priceRow2_top .setWidthDiscount,
#advancedPriceDiv1 .priceRow2_top .setWidthDiscount,
#netPriceDiv1 .priceRow2_top .setWidthDiscount{
    width:230px;
}
#advancedPriceDiv .priceRow3_top .setWidthSubs,
#netPriceDiv .priceRow3_top .setWidthSubs,
#advancedPriceDiv1 .priceRow3_top .setWidthSubs,
#netPriceDiv1 .priceRow3_top .setWidthSubs{
    width:138px;
}

.setBlueBG  #netPriceDiv{
    /*margin-right:10px;*/
}
.setBlueBG  #netPriceDiv input{
    /*margin:0px 10px 10px 0px;*/
    /*width:510px;*/
}
.notesDiv .notesText{
    width:50px;
    color: #807E7F;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    margin:20px 0 0 10px;
}

#new_summary{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    font-weight:bold;
    color:#9B999A;
}
#new_summary .outSummary{
    font-weight:normal;
    color:#9A9A9A;
    /*padding-left:13px;*/
    padding-bottom:3px;
}
#new_summary .add_delete_icons{
    margin-top:5px;
}
.dynamicAdvancedPrice {
    margin-top:5px;
}
.dynamicAdvancedPrice font{
    display:inline-block;
    margin-bottom:1px;
    .margin-bottom:5px;
}
/*********** Whole Day ***************/
.daysRow{
    padding:5px 0 10px 0;
}
.setScroll{
    height:100%;
    max-height:500px;
    min-height:110px;
    overflow-y: auto;
    overflow-x:hidden;
    margin-bottom:3px;
}
/**************Schedule*******************/
#schedule_header { 
    color:#4a9eb3;
    text-transform: capitalize;
    display: inline-block;
    background-color: #ecf3f7;
    font-size: 14px;
    padding: 10px 0px 10px 10px;
    /* width:685px;*/ width:635px;
    border: 1px solid #CEE7EF;

}
#schedule_header .start_date{

    display: inline-block;
}
#schedule_header .start_time{
    width: 110px;
}
#schedule_header .end_time{
    width: 204px;
}

.schedule_header_name{
    display: inline-block;

    font-weight:normal;
    font-size:14px;
    color:#5a5757;
}

.start_leader{
    width: 121px;
}
.start_location{
    width: 115px;
}
#dateTimeDiv_1{
    /* margin:0 0 0 30px;*/
    border: none !important;
}
#dateTimeDiv_1 .locations{
    border: 1px solid #BDD6DD;
    color: #999999;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    height: 31px;
    margin-left: 10px;
    padding: 5px 0 4px 2px;
    width: 105px;
}
#new_act_container .locations option{
    padding: 2px 5px;
}
#dateTimeDiv_1 .leaders{
    border: 1px solid #CDE0E6;
    color: #999999;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    height: 28px;
    padding: 1px 4px 0;
    width:105px;
}
._summary{
    width: 100%;
    padding: 0px;
    height: 8px;

}
.start_date{

}
.end_time,.start_time,.start_leader{
    border-top: 1px solid #CEE7EF;
    border-bottom: 1px solid #CEE7EF ;
}
.start_location{
    border-bottom: 1px solid #CEE7EF ;
    border-right: 1px solid #CEE7EF;
    border-top: 1px solid #CEE7EF;
}
#start_date5
{
    width: 110px;
}

#start_date4
{
    width: 115px;
}

#start_date3
{
    width: 228px;
}

#start_date2
{
    width: 116px;
}

#start_date1{
    width: 155px;
}


.location{
    float: left;
}
.leader{
    float: left;
}
.add_schedule{
    background-image: url("/assets/create_new_activity/add_icon.png");
    width: 22px; height: 22px;
    float: left;
    margin-top: 35px;
    cursor:pointer;
}
.delete_schedule,.delete_schedule_net,.delete_schedule_adv
{
    background-image: url("/assets/create_new_activity/delete_icon.png");
    width: 22px; height: 22px;
    float: left;
    margin-top: 35px;
    cursor:pointer;
}

.schedule_rows{
    /*width: 675px;*/
    width: 625px;
    padding: 10px;
    border: 1px solid #CEE7EF;
    border-top:none;
    float: left;
    margin-right:5px;
}
._repeat{
    width: 100px; float: left;
}
.multipledate{
    width: 575px;
}
#whole_day{
    width: 640px;
    border: 1px solid red;
}
.add_whole_day{
    width: 22px;
    height: 22px;
    top: 15px;
    background-image: url("/assets/create_new_activity/add_icon.png");
    background-repeat: no-repeat;
    float: left;
    margin-top: 70px;
    cursor:pointer;
}
.delete_whole_day
{
    background-image: url("/assets/create_new_activity/delete_icon.png");
    width: 22px; height: 22px;
    float: left;
    margin-top: 70px;
    cursor:pointer;
}
#camps_date_time,#outer_whole_day{
    margin-right:10px;
}


/*****************Step 3: Choose schedule part******************************/
.priceOuterDiv{
    width:820px;
    height:auto;
}
.priceOuterDiv{
    background:#F9FBFA;
    width:690px;
    height:auto;
    border:1px solid #EEF2F3;
    margin:10px 0 0 60px;
}
.notesDiv{
    border-top: 1px dashed #DEE0DF;
    padding: 10px;
    width: 670px;
}


/*********** discount checkbox ***************/
.recurringBill{
    border-top: 1px dashed #EDF1F2;
    padding: 10px;
}
.reurEnchk{
    padding: 0px 5px 0px 0px;
}
.ddEligble{
    border: 1px solid #EEF2F3;
    margin-top: 10px;
    padding-top:10px;
}
.ddeligWrap{
    padding: 0px 0px 7px 5px;
}
.ddliTxt{
    color: #595758;
    font-size: 14px;
    padding-left: 5px;
}
.ddliChk{
    margin-left: 5px;
}
.ddeligPriceinput{
    background: #EDF1F2;
    margin: 5px 0;
    padding: 7px;
    width: 91%;
    display: none;
}
.ddPricInput{
    height: 30px;
    margin: 0px 10px 0px 0px;
}
.ddPricInput input{
    border: 1px solid #CDE0E6;
    width: 90px;
    height: 29px;
    color: #999999;
    font-size: 13px;
    padding: 0px 5px;
}
.ddPriceSelect{
    width: 70px;
}
.ddPriceSelect select{
    border: 1px solid #CDE0E6;
    color: #999999;
    font-size: 13px;
    height: 30px;
    padding: 3px 0;
    width: 60px;
}
.new_summary{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    font-weight:bold;
    color:#9B999A;
    margin-top:5px;
}
.new_summary .outSummary{
    font-weight:normal;
    color:#9A9A9A;
    /*padding-left:13px;*/
    padding-bottom:3px;
    width:430px;
    display:block;
}
#camps_date_time .new_summary .outSummary{
    width:600px;
}
.schedule_rows_outer{
    margin-top:-2px;
}
/******************* Create new Location ****************/
.locationContainer{
    border:1px solid #EEF2F3;
    background:#F9FBFA;
    width:540px;
    padding:10px;
    margin:5px 40px  10px 40px;
}
.locationButtonDiv{
    width:540px;
    margin:15px 40px  10px 40px;
}
.tagArea{
    border:none;
}

/*****************Step 3: Choose schedule part******************************/
.priceOuterDiv{
    width:820px;
    height:auto;
}
.priceOuterDiv{
    background:#F9FBFA;
    width:690px;
    height:auto;
    border:1px solid #EEF2F3;
    margin:10px 0 0 60px;
}
.notesDiv{
    border-top: 1px dashed #DEE0DF;
    padding: 10px;
    width: 670px;
}


/*********** discount checkbox ***************/
.recurringBill{
    border-top: 1px dashed #EDF1F2;
    padding: 10px;
}
.reurEnchk{
    padding: 0px 5px 0px 0px;
}
.ddEligble{
    border: 1px solid #EEF2F3;
    margin-top: 10px;
    padding-top:10px;
    margin-left: 60px;
    background:none repeat scroll 0 0 #F9FBFA;
    width:690px;
}
.ddeligWrap{
    padding: 0px 0px 7px 5px;
    height: 22px;
}
.ddliTxt{
    color: #595758;
    font-size: 14px;
    padding-left: 5px;
}
.ddliChk{
    margin-left: 5px;
}
.ddeligPriceinput{
    background: #EDF1F2;
    margin: 5px 0;
    padding: 7px;
    width: 91%;
    display: none;
}
.ddPricInput{
    height: 30px;
    margin: 0px 10px 0px 0px;
}
.ddPricInput input{
    border: 1px solid #CDE0E6;
    width: 90px;
    height: 29px;
    color: #999999;
    font-size: 13px;
    padding: 0px 5px;
}
.ddPriceSelect{
    width: 70px;
}
.ddPriceSelect select{
    border: 1px solid #CDE0E6;
    color: #999999;
    font-size: 13px;
    height: 30px;
    padding: 3px 0;
    width: 60px;
}
.new_summary{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    font-weight:bold;
    color:#9B999A;
    margin-top:5px;
}
.new_summary .outSummary{
    font-weight:normal;
    color:#9A9A9A;
    /*padding-left:13px;*/
    padding-bottom:3px;
    width:430px;
    display:block;
}
.schedule_rows_outer{
    margin-top:-2px;
}

.select_billing_img_show{
    background: url("/assets/provider_event_list/pro_checkbox_selected.png") no-repeat scroll 0 0 transparent;
    cursor: default;
    display: inline-block;
    height: 25px;
    width: 19px;
    display: none;
}

.select_billing_img_hide{
    background: url("/assets/provider_event_list/pro_checkbox_normal.png") no-repeat scroll 0 0 transparent;
    cursor: default;
    display: inline-block;
    height: 25px;
    width: 19px;
    display: block;
}
.select_billing{
    float: left;
    width: 28%;

}
.select_billing1{
    float: left;
    width: 72%;

}
.left_billing_img{
    float: left;
    width: 13%;
}
.select_billing_content{
    float: left;
    width: 87%;
    color: #585657;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: bold;
    padding-top:5px;

}
.inner{
    padding: 5px;
    border: 1px solid #4495AE;
    background-color: #ffffff;
}

.Recuring_billing{  display: none;}
.recurring_slide_dwon{
    background-color: #fff;
    width: 600px;
    display: none;

}
.recurring_slide_dwon td{
    padding: 7px;
}
.terms{
    color: #29879c;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 14px;
}
.no_of{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 14px;
    float: left;
    width: 110px;
}
.cou_nts{
    color: #ff0000;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 14px;
    float: left;
    width: 50px;
}
#by_wholeday{
    width:600px;
}


/***********************************************/



.setBlueBG{
    background:#F9FBFA;
    width:690px;
    height:auto;
    width: 610px;
    border:1px solid #EEF2F3;
    padding:10px 0 0 10px;
}
.new_summary .setBlueBG{
    border-top:none;
    padding:0 0 10px 10px;
    border:none;
}
.setBlueBGPrice{	
    border:1px solid #EEF2F3;
    border-top:none;
}
.part{
    padding:10px 10px 10px 60px;
}
.priceTt{
    font-size:13px;
    color:#444444;
    padding-left:10px;
    margin-right: 10px;
    position: relative;
    top: 2px;
}
.advancedPriceContainer, .Recuring_billing{
    width:600px;
    margin:5px;
    padding:7px 10px 7px 7px;
    background:#EDF1F2;
}
#advancedPriceDiv,
#netPriceDiv{
    padding-bottom: 5px;
    display:block;
    float:left;
    height:100%;
}
#advancedPriceDiv .add_delete_icons,
#netPriceDiv .add_delete_icons{
    padding-top:8px;
}
#advancedPriceDiv .add_del_icons,
#netPriceDiv .add_del_icons{
    padding:0 0 0 7px;
    width: 50px;
}
#advancedPriceDiv .add_del_icons a, 
#netPriceDiv .add_del_icons a, 
#advancedPriceDiv .add_del_icons a:hover,
#netPriceDiv .add_del_icons a:hover{
    display:inline-block;
    float:left;
}
#advancedPriceDiv .priceRow1_top, 
#advancedPriceDiv .priceRow2_top,
#advancedPriceDiv .priceRow3_top,
#netPriceDiv .priceRow1_top, 
#netPriceDiv .priceRow2_top,
#netPriceDiv .priceRow3_top{
    padding:12px 0 8px 0;
}

#advancedPriceDiv .blackText,
#netPriceDiv .blackText{
    color: #585657;
    font-size: 13px;
    font-weight:bold;
}
#advancedPriceDiv .priceRow1_top .setWidthPrice,
#netPriceDiv .priceRow1_top .setWidthPrice{
    width:128px;
}
#netPriceDiv .priceRow1_top .setWidthPrice{
    width:170px;	
}
#advancedPriceDiv .priceRow1_top .setWidthPrice1,
#netPriceDiv .priceRow1_top .setWidthPrice1{
    width:123px;
}
#advancedPriceDiv .priceRow1_top .setWidthPrice2,
#netPriceDiv .priceRow1_top .setWidthPrice2{
    width:115px;
}
.setWidthPrice3,{
    width:163px;
}
#advancedPriceDiv .priceRow2_top .setWidthDiscount,
#netPriceDiv .priceRow2_top .setWidthDiscount{
    width:230px;
}
#advancedPriceDiv .priceRow3_top .setWidthSubs,
#netPriceDiv .priceRow3_top .setWidthSubs{
    width:138px;
}

.setBlueBG  #netPriceDiv{
    /*margin-right:10px;*/
}
.setBlueBG  #netPriceDiv input{
    /*margin:0px 10px 10px 0px;*/
    /*width:510px;*/
}
.notesDiv .notesText{
    width:50px;
    color: #807E7F;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    margin:20px 0 0 10px;
}

#new_summary{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    font-weight:bold;
    color:#9B999A;
}
#new_summary .outSummary{
    font-weight:normal;
    color:#9A9A9A;
    /*padding-left:13px;*/
    padding-bottom:3px;
}
#new_summary .add_delete_icons{
    margin-top:5px;
}
.dynamicAdvancedPrice {
    margin-top:5px;
}
.dynamicAdvancedPrice font{
    display:inline-block;
    margin-bottom:1px;
    .margin-bottom:5px;
}


/**********************************/


.add_schedule,.add_ad_schedule,.add_ad_in_schedule,.add_schedules,.out_add_schedule{
    background-image: url("/assets/create_new_activity/add_icon.png");
    width: 22px; height: 22px;
    float: left;
    margin-top: 35px;
    cursor:pointer;
}
.delete_schedule,.delete_single_schedule
{
    background-image: url("/assets/create_new_activity/delete_icon.png");
    width: 22px; height: 22px;
    float: left;
    margin-top: 35px;
    cursor:pointer;
}

/*****************Step 3: Choose schedule part******************************/
.priceOuterDiv{
    width:820px;
    height:auto;
}
.priceOuterDiv{
    background:#F9FBFA;
    width:690px;
    height:auto;
    border:1px solid #EEF2F3;
    margin:10px 0 0 60px;
}
.notesDiv{
    border-top: 1px dashed #DEE0DF;
    padding: 10px;
    width: 670px;
}
#new_act_container .textbox1{
    border: 1px solid #CDE0E6;
    color: #999999;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    height: 28px;
    padding: 1px 4px 0;
    width: 258px;
    margin-left: 5px;
}
.choosen_head,.schedule_heading_1{
    font-size: 16px;
    color: #000000;
    font-weight: bold;
    padding-bottom: 5px;
}
.chosen_op,.selected_schedule_ad_1{
    font-size: 14px;
    color: #4192af;
    font-weight: bold;
    padding-bottom: 5px;
}
#advancedPriceDiv .setWidthPrice3{
    width: 160px !important;
}
.b-modal{
    border:none !important;
}
/*************** **********************Represented Details Page*********************** *****************/
.setfeedbackDiv {
    background: none repeat scroll 0 0 #EDF1F2;
    margin: 15px auto 0;
    padding: 15px;
    width: 600px;
}
.shareDiv{
    width: 545px;
    border:1px solid #CDE0E6;
}
.shareDiv p{
    color:#5A5757;
    padding:0px 0px 10px 0px;
}
.setfeedbackDiv1{
    margin:0;
    padding: 10px;
    width: 525px;
    border-bottom:1px solid #CDE0E6;
}
.shareInnerDiv{
    padding: 10px 0 10px 15px;
    width: 140px;
}
.percenText{
    margin:6px 0 0 4px;
}
.setMarRt{
    margin-right:50px;
}
.checboxText{
    margin:-2px 20px 0 6px;
}
#new_act_container .setMarTop1{
    margin-top:18px !important;
}
#new_act_container .setMarTop2{
    margin-top:1px !important;
}
#new_act_container .setMarTop3{
    margin-top:15px !important;
}
#new_act_container .paddingTop15{
    padding-top:15px;
}
/*--------------------------------------------*/
#providerurl{
    border: 1px solid #7ac4d2; height: 25px;width: 525px; float: left; padding: 10px 10px 10px 10px; background: #f7f8fb;
}

#deparate_dot{
    width: 98%;
    margin: 0 auto;
    height: 2px;
    border-top: dashed #dcdcdc 1px;
}
#other_fee_options,#discount_options{
    width: 570px;
    min-height: 100px;
    max-height: 150px;
    /* overflow-x: hidden;
     overflow-y: scroll;*/
    border: 1px solid #bdd9df;
    float: left;
    margin: 10px;
    background: #fff;
    display: none;
}

#inputbox{

    clear: both;
    width: 80%;
    height: 22px;

}
#fee_text1{
    padding: 20px;
    text-align: center;
}
#fee_text2{
    text-align: center;
    color: #198ca6;
    cursor: pointer;
}
.create_pop_ups
{
    width: 880px;
    height: 400px;
    background: #fff;
    border: 2px solid #D7DADB;
    top: 100px;
    position: absolute;
    z-index: 9999;

}
.create_head{
    width: 96.6%;

    text-align: center;
    font-size: 20px;
    color: #28889a;
    border-bottom: 1px solid #cbd1d2;
    padding: 15px;
    text-transform: capitalize;

}
.inner_body_popup{
    width: 80%;
    margin: 0 auto;
    height: 350px;
}
.inner_header_contents{

    width: 98%;
    text-align: center;
    margin: 0 auto;
    font: 14px;
    background: #e7edee;
    padding: 10px;
    color: #575656;
    font-size: 13px;
    margin-top: 10px;
}
.inner_body_contents{

    width: 100%;
    text-align: center;
    margin: 0 auto;
    font: 14px;
    background: #f7f9f8;
    padding: 1px;
    color: #575656;
    font-size: 13px;
    margin-top: 10px;
    border: 1px solid #cbd1d2;
}
.inner_body_contents table {
    padding: 10px;
}

.inner_body_contents table tr td{
    padding: 3px;
    text-align: left;
}
#error_feee,#error_disc{
    color: #ff0000;
}
#close_fee_pop{
    float: right;
}
#other_fee_options table{
    padding: 2px;
    width: 570px;
}
#other_fee_options table td{
    padding: 5px;
    color: #15859a;
}
#discount_options table{
    padding: 2px;
    width: 570px;
}
#discount_options table td{
    padding: 5px;
    color: #15859a;
}
#header_fee{
    padding: 10px;
    color: #15859a;
    border-bottom: 1px solid #bcdee4;
    font-size: 13px;
}
#discount_error,#create_fee_success,#create_discountfee_success,#edit_fee_success,#edit_discountfee_success{
    color: #ff0000;
}
.inner_body_contents a ,#header_fee a{
    cursor: pointer;
}

#other_fee_options table tr td a:hover{
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}

#discount_options table tr td a:hover{
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}

#delete_other_pop,#delete_disc_pop{
    width: 400px;
    height: 140px;
    margin: 0 auto;
    left:25%;

}
.delete_popup{
    text-align: center;
    width: 370px;
    margin: 0 auto;

    padding: 10px;

}
.head_delete{
    font-size: 18px;

    padding: 8px;
}
#scrolling_fees,#scrolling_discs{
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.discount_choose{
    width: 585px;
    height: 85px;

}
.dropdwon1{               
    padding: 5px 5px 5px 15px;
    clear: both;
    height: 30px;
}
.dropdwon2{               
    padding: 5px 5px 5px 0;
    clear: both;
    height: 10px;
}
.dropdwon3{               
    padding: 5px 5px 5px 0;
    clear: both;
    height: 30px;
}
.discont_head{
    width: 28%;
    float: left;
    margin-right:  8px;
    display: inline-table;

}
.discont_head1{
    width: 30%;
    float: left;
    margin-right:  8px;
    display: inline-table;
}
.dropdwon_choose{
    border: 1px solid #BDD6DD;
    color: #999999;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    height: 27px;
    padding: 5px 0 4px 2px;
    width: 250px;
}
.textbox{
    border: 1px solid #CDE0E6;
    color: #999999;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    height: 28px;
    padding: 1px 4px 0;
    width: 142px;
}
.create_new{
    float:left;
    width:150px;
    padding:6px;
    color: #4192AF;

}
.create_new:hover{
    text-decoration: underline;
    cursor: pointer;
}