img{
    border:none;/*behavior:url("js/iw_iepngfix.htc");*/ 
    color:#5aa3b6;
    font-family:Arial, Helvetica, sans-serif;
    font-size:10px;
    overflow:hidden;
}
.marBottom{
	padding-bottom:20px;
}
/********************************************
									
			Contact Main Page	
								
********************************************/

.contactlist .topContactText{
    background:#f0f6f8;
    border:1px solid #E9EDEE;
    border-left:none;
    border-right:none;
    height:33px;
}
.contactlist .topContact{
	/*padding:0 0 0 20px;*/
	width:20px;
}
.contactlist .contactTxt{
	display:inline-block;
	position:relative;
	top:-1px;
	/*left:4px;*/
	left:0px;
    color:#5aa3b6;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
}
.contactlist .contactListContainer{
	background:#F6F8F8;
	height:820px;
}
.contactlist .contactListContainer .list{
	/*width:315px;*/
	/*width:455px;*/
	width:22%;
	padding: 25px 0 0 20px;
	display:inline-block;
	float:left;
}
/* Off state for a ARC checkbox */
.contactlist .altCheckboxOff {
    display: inline-block;
    background: url('/assets/provider_event_list/pro_checkbox_normal.png') no-repeat;
    width:19px;
    height:21px;
    cursor: pointer;
}
/* On state for a ARC checkbox */
.contactlist  .altCheckboxOn {
    display: inline-block;
    background: url('/assets/provider_event_list/pro_checkbox_selected.png')  no-repeat;
    width:19px;
    height:21px;
    cursor: pointer;
}
.contactlist .nameText{
	display:inline-block;
  	color:#807e7e;
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
}
.contactlist .contactImg{
	padding:5px 5px 0px 5px;
	border:1px solid red;
	display:block;
	margin:5px 25px 0 5px;
	background: none repeat scroll 0 0 #FBFDFE;
	border: 1px solid #CDE0E6;
	width:62px;
	height:57px;
	position: relative;
}
.contactlist .contactImg span{
  	color:#5AA3B6;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
	background:#F2F5F6;
	display:block;
	text-align:center;
	width:62px;
	height:35px;
	padding-top:17px;
}
.contactlist .famNorHov{
    position: absolute;
    bottom: 0px;
}

/*******************************************
									
        Add new Contact Page	
								
********************************************/

.contactNew .FileUpload {
    position:relative;
    margin-top:1px;
    width: 170px;
    height: 31px;
	
}
.contactNew .BrowserVisible {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
    width:106px;
    height:27px;	
}
.contactNew .FileField {
    border: 1px solid #CDE0E6;
    color: #444444;
    height: 26px;
    *height:23px;
    padding: 0 5px;
    *padding-top:3px;
    position: relative;
    width: 457px;
    word-wrap: break-word;
    z-index: 3;
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
}
.contactNew .BrowserHidden {
    position:relative;
    z-index:2;
	*width:210px;
    height: 28px;

    -moz-opacity:0;
    filter:alpha(opacity= 0);
    opacity: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight:normal;
    color: #999999;
    left: 317px;
    margin-top: 0px;
	cursor:pointer;
	
}
.contactNew .browse{
	color: #FD7D0C;
    cursor: pointer;
    display: inline-block;
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 14px;
    margin-left: 467px;
    position: relative;
    top: -29px;
	.margin-top:-1px;
    width: 53px;
    z-index: 1;
	
}
#contact_container .centerCont{	
    width: 880px;
    height:100%;
    margin:0 auto;
}
#contact_container .paddingTop10{
    width: 880px;
    padding-top:10px;
}
#contact_container .leftSideField{
    font-weight:bold;
    font-size:14px;
    color:#5a5757;
    width: 162px;
    vertical-align:top;
    margin-top: 8px;
    margin-left:70px;
    font-family: 'open_sansregular',Sans-Serif;
}
#contact_container .setMarginTop{
	 height: 40px;
    margin-top: 36px;
    position: relative;
    z-index: 7;
}
#contact_container .textbox{
    display: inline-block;
    width:535px;
    height:27px;
    *height:24px;
    border:1px solid #CDE0E6;
    padding:1px 4px 0px 4px;
    *padding:6px 4px 0px 4px;
    color: #444444;
    font-size:13px;
	font-family: 'open_sansregular',Sans-Serif;
}
#contact_container .selectBoxCity{
    display:inline-block;
    background:url('/assets/create_new_activity/select_box_bg.png') no-repeat;
    width:545px;
    height:31px;
    top:0px;
    position:relative;
}
#contact_container .selectBoxCity .selectDiv{
    display:inline-block;
    cursor:default;
    font-size:13px;
    color:#959292;
    position:relative;
    top:4px;
    left:7px;
    width:508px;
    height:23px;
    overflow:hidden;
    padding-left: 0px;
}
#contact_container .dropDownDivCity{
    display:inline-block;
    font-size:13px;
    background:#ffffff;
    color:#959292;
    border:1px solid #CDE0E6;
    width:543px;
    margin-top:-1px;
    margin-left:0px;
    position:absolute;
    z-index:500;
    /* options are overflow set height and scroll 
    height:110px;
    overflow-y:scroll;*/
}
#contact_container .dropDownDivCity a{	
    color:#959292;
    display:block;
    text-decoration:none;
    padding:3px 0px 3px 3px;
}
#contact_container .dropDownDivCity a:hover{
    background:#73C3DD;
    color:#ffffff;
}
#contact_container .buttonDiv{
    width:880px;
    padding:18px 0px 10px 0px;
}
#contact_container .upload_name{
	color:#5aa3b6;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
	margin:35px 0 0 15px;
}
/* Off state for a ARC checkbox */
#contact_container .altCheckboxOff {
    display: inline-block;
    background: url('/assets/provider_event_list/pro_checkbox_normal.png') no-repeat;
    width:19px;
    height:21px;
    cursor: pointer;
}
/* On state for a ARC checkbox */
#contact_container .altCheckboxOn {
    display: inline-block;
    background: url('/assets/provider_event_list/pro_checkbox_selected.png')  no-repeat;
    width:19px;
    height:21px;
    cursor: pointer;
}

.load-new {
	display:none;
	margin-left:20px;
	margin-top:12px;
	float:right;
}

.create_join{
    font-family: 'open_sansregular',Sans-Serif;
    font-size:14px; 
    color:#999999; 
    left:5px; 
    position:relative; 
    vertical-align:top;
}

.new_font
{
    font-family: 'open_sansregular',Sans-Serif;
}
.contact_all{
     background-image: url('/assets/contact/contact_all.png');
     background-repeat:no-repeat;
     background-position: 0 0;
     margin-top: -8px;
     width: 25px;
     height: 30px;
     display: inline-block;
}
.delplus{
    top: 16px;
    left: 0.2%;
    position: relative;
    background-size: 31px auto;
    background-position: -8px -27px;
}
/*******************************************
									
        Detail view Contact Page	
								
********************************************/
#contact_container .viewContact{
	padding:20px 0 0 304px;
}
#contact_container .ltText{
	color:#595758;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
	font-weight:bold;
	padding-right:15px;
}
#contact_container .rtText{
	color:#595758;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
	padding-left:50px;
}
#contact_container .editImage{
	margin-right:5px;
}
#contact_container .errorDiv{
	margin-top:3px;
    color:#fc8989;
    font-size:12px;
}
/*******************************************
									
        Edit Contact Page	
								
********************************************/
#contact_container .imgBg{
	background:#FBFDFE;
	border:1px solid #CDE0E6;
	width:85px;
	height:87px;
}
#contact_container .imgBg img{
	 margin: 7px 0 0 6px;
}
#contact_container .changeImgText{
	color: #5099AC;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
	font-weight:bold;
	padding-left:10px;
	margin-top:75px;
}
  /*******edit activity*********/
.setImgBorder{
    position: relative;
    z-index: 4;
	/*width:74px;
	height:73px;
	overflow:hidden;*/
}
.upload_name_edit{
	color: #5AA3B6;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    margin-left: 144px;
    margin-top: 57px;
    width: 300px;
}
.editContact .FileUpload {
    position:relative;
    margin-top:2px;
    width: 170px;
    height: 31px;
  }
.editContact .BrowserVisible {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
    width:106px;
    height:27px;	
  }
.editContact .FileField {
    color: #999999;
    display: block;
    height: 26px;
    margin: 51px 0 0 142px;
    padding: 0 5px;
    position: relative;
    width: 315px;
    word-wrap: break-word;
    z-index: 3;
	background:#ffffff;
	border:none;
}
.editContact .BrowserHidden {
    position:relative;
    z-index:2;
    height:19px;
    -moz-opacity:0;
    filter:alpha(opacity= 0);
    opacity: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight:normal;
    color: #999999;
    margin-top: 57px;
    left: 10px;
    width:115px;
	cursor: pointer;
	
	margin-top:53px\9;
	width:120px\9;
	font-size: 23px\9;
	left: 5px\9;
	.margin-left: 249px\9;
	
	.font-size: 21px;
	.margin-left: -10px;
	.margin-top: 50px;
	.height:21px;
	
  }
.editContact .browse{
    color: #5099AC;
    cursor: pointer;
    display: inline-block;
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 14px;
    margin-left: 6px;
    position: relative;
    top: -31px;
    .top:-20px;
    width: 124px;
    z-index: 1;

	    top:  -22px\9;
  }
  	


/*******************************************
									
        Delete Contact Page	
								
********************************************/
.deletePopupContainer{
	display:inline-block;
    /*background:url('/assets/global/pop_up_delete/delete_message_popup.png') no-repeat;*/
	background-color:#ffffff;
	border:2px solid #D7DADB;
    width:436px;
    height:244px;
}
.deletePopupContainer .p1{
	color:#010101;
    font-family: 'open_sansregular',Sans-Serif;
    font-size:18px;
	padding-top:50px;
	line-height:22px;
	margin:0 10px 0 10px;
}
.deletePopupContainer .buttons{
	padding-top:66px;
}
/*******************************************
									
        Support Form Page	
								
********************************************/

.support_form .dot {
    display: inline-block;
    position: relative;
    top: 3px;
}
.support_form .selectedMenuText {
    color: #5AA3B6;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.support_form .menuText {
    color: #5AA3B6;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: normal;
	white-space:nowrap;
}
.menuText {
    color: #5AA3B6;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: normal;
    white-space:nowrap;
}
.required{
    display: inline-block;
    color:red;
    position:relative;
    left:0px;
    top:0px;
    font-size:13px;
}
.support_form .FileUpload {
    height: 31px;
    margin-top: 14px;
    position: relative;
    width: 170px;
}

.support_form .BrowserHidden {
    color: #999999;
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 0px;
    font-weight: normal;
    height: 16px;
    left: 10px;
    top: -22px;
    -moz-opacity:0;
    filter:alpha(opacity=0);
    opacity:0;
    position: relative;
    width: 108px;
    z-index: 3;
	.font-size: 13px;
	.left: -9px;
	left: 8px\0/IE9;
	width: 95px\0/IE9;
}
.support_form .BrowserVisible {
    height: 27px;
    left: -179px;
    position: absolute;
    top: -15px;
    width: 191px;
    z-index: 3;
}
.support_form .FileField {
    border: 1px solid #FFFFFF;
    color: #999999;
    display: block;
    height: 26px;
    margin: -2px 0 0 281px;
    padding: 0 5px;
    position: relative;
    width: 306px;
    word-wrap: break-word;
    z-index: 3;
}
.support_form .browse {
    color: #5099AC;
    cursor: pointer;
    display: inline-block;
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 14px;
    margin-left: 0px;
    position: relative;
    top: -41px;
    width: 124px;
    z-index: 1;
	.top: -39px;
}
.support_form .setfeedbackDiv{
	width:500px;
	margin:0 auto;
	margin-top:15px;
	background:#edf1f2;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#444444;
	padding:15px;
}
.support_form .screenshot_txt{
    color: #999999;
    display: inline-block;
    font-family: arial;
    font-size: 14px;
    left: 234px;
	top:-20px;
    position: relative;
    width: 400px;
	top:-10px\0/IE9;
}
.support_form #file_path{
	margin: -3px 0 0 307px; 
	padding: 0 5px;
	position: relative;
	width:400px;
	color:#999999;
}
@media \0screen {
    #contact_container .textbox{
        padding:6px 4px 0px 7px;
        height:21px;
        width:532px;
    }
	.support_form .BrowserHidden {
    color: #999999;
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: normal;
    height: 16px;
    left:-8px;
    top: -22px;
    -moz-opacity:0;
    filter:alpha(opacity=0);
    opacity:0;
    position: relative;
    width: 107px;
    z-index: 2;
}

}

  @media screen and (-webkit-min-device-pixel-ratio:0){
.editContact .BrowserHidden {
      left: 8px;
      height:10px;
      font-size:16px;
      width:115px;
      position:relative;
      cursor:pointer;
      -moz-opacity:0;
      filter:alpha(opacity= 0);
      opacity: 0;
      display: inline-block;
      z-index: 3;
    }
.editContact  .browse{
      top:-16px;
      cursor: pointer;
      display: inline-block;
      position:relative;
      z-index: 2;
    }
	.support_form .BrowserHidden {
	 	left: 12px;
		top:-19px;
		position:relative;
		border:1px solid red;
		height:11px;
       font-size: 0px;
	}
.support_form .browse {
    color: #5099AC;
    cursor: pointer;
    display: inline-block;
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 14px;
    margin-left: 0px;
    position: relative;
    top: -36px;
    width: 124px;
    z-index: 2;
}
.support_form #file_path{
	margin: 3px 0 0 307px; 
	padding: 0 5px;
	position: relative;
	width:400px;
	color:#999999;
}
.load-new{
	margin-top:-32px;
}
	
  }



