/** General Styles **/
	blockquote{
	 margin:1em 40px;
	}

/** Structural Styles **/
#provider_policies .radio_Con_lt{
	margin-left:20px;
	width:239px;
	margin-bottom:20px;
	margin-top:27px;
} 
#provider_policies  .update_text{
    color: #7f7979;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
	margin: 10px 0 15px 49px;
}
#provider_policies  .date_text{
    color: #949696;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
}
#provider_policies .terms_text{
    color: #5AA3B6;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
	width:200px;
	font-weight:bold;
}
#provider_policies .editor_rt{
 /*   border-left: 1px solid #c7e5ef;
    height: 674px;
	overflow-y:scroll;
*/    padding-left: 36px;
      width: 800px;
	
}
#provider_policies .buttonDiv{
	margin-top:20px;
}
#provider_policies .set_inline_block_a{
	width:113px;
	height:41px;
	display:inline-block;
}
#provider_policies .terms_innerDiv{
	margin-left:21px;
}
#provider_policies .PaddTop{
	padding:13px;
}
#provider_policies .PaddLeft{
	padding-left:4px;
	position: relative;
    top: -1px;
    vertical-align: top;
}
#provider_policies .add_textbox{
   border: 1px solid #BDD6DD;
    color: #444444;
    font-size: 13px;
    height: 28px;
    padding: 0 4px;
    width: 174px;
	.height: 18px;
    .padding: 4px 4px;
	margin-bottom:20px;

}
#provider_policies .setStyleFont{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#4444444;
}

@media \0 screen{
#provider_policies .add_textbox{
    height: 18px;
    padding: 4px 4px;
    width: 174px;
}
}
.noteText{
    background: #EDF1F2;
    padding:10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    width: 800px;
    color:#555555;
    line-height: 26px;
}
/***
help text over
****/
.frm_helpText {
    background: none repeat scroll 0 0 #F9F9F9;
    color: #959292;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    padding: 10px;
	font-weight:normal;
	border:1px solid #C2DDE4;
}

/**********Download setup ****************/
.ppdownloadwrap{
    border-top: 1px dotted #BCC1A1;
    margin:17px 0px 0px 0px;
   
}
.ppdownloadwrap_inner{
	 padding: 20px 8px 0px 12px;
}
.uploadTxt{
    background: #E7EDEE;
    padding: 10px;
    font-size: 12px;
    color: #434142;
    text-align: center;
}
.browseFun{
    padding: 20px 0px 15px 0px;
    text-align: right;
    display: inline-block;
    width: 100%;
}
.upload_link{
	color:#258A99;
	font-size: 16px;
}
.pdfupload{
    color: #5AA3B6;
    font-size: 15px;
}
.showdownloadfile{
    text-align: left;
}
.ppuploadfile{
    background-color: #FFFFFF;
    border: 2px solid #D7DADB;
    display: block;
    margin: 0 auto;
    width: 540px;
}
.ppdeletefile{
    background-color: #FFFFFF;
    border: 2px solid #D7DADB;
    display: block;
    margin: 0 auto;
    width: 440px;
}
.pdfuploadpop{
    background-color: #FFFFFF;
    border: 2px solid #D7DADB;
    display: block;
    margin: 0 auto;
    width: 405px;
}
.choPdfWrap{
    width: 430px;
    margin: 0 auto;
    padding: 20px 0px 20px 0px;
}
.filechotxt{
    padding: 10px;
    font-size: 12px;
    color: #434142;
    text-align: left;
}
.uploadpdf{
    font-size: 16px;
    margin-bottom1: 20px;
    width: 431px;
}
#activity_photo_error{
    height: 20px;
    font-size: 14px;
    color: Red;
}
/***************pop css**********/
.headTab {
    border-bottom: 1px solid #D7DADB;
    height: 34px;
    width: 100%;
}
.closeButton {
    display: inline-block;
    float: right;
    width: 31px;
}
.headCont {
    color: #5099AC;
    font-size: 20px;
    font-weight: bold;    
}
