
#checkout_provider{
	width:714px;
	/*margin:0 auto;*/
}

#checkout_provider .textbox_name{
  border: 1px solid #BDD6DD;
    color: #585858;
    font-size: 13px;
    height: 28px;
    padding: 0 4px;
    width: 261px;
}

 
#checkout_provider .paddingTop10{
    width: 718px;
	padding-top:10px;
}

#checkout_provider  .col1 {
    margin-right: 5px;
    width: 81px;
}

#checkout_provider .selectBoxCity .selectDivSmall{
    width:165px;
}

#checkout_provider  .dropDownDiv_small{
     width: 78px;
}

#checkout_provider .dropDownDivSmall{
    width:198px;
}
#checkout_provider .dropDownDivSCountry a{	
    color:#959292;
    display:block;
    text-decoration:none;
    padding:3px 0px 3px 3px;
	font-weight:normal;
}
#checkout_provider .dropDownDivSCountry a:hover{
    background:#73C3DD;
    color:#ffffff;
}

#checkout_provider #dropDownDiv{
    height:88px;
    overflow-y:scroll;
}
#checkout_provider #dropDownDiv2{
    height:88px;
    overflow:hidden;
}
 #dropDownDiv3,  #dropDownDiv4, #dropDownDiv6 {
    height:111px;
    overflow-y:scroll;
}
#checkout_provider #dropDownDiv7,
#checkout_provider#dropDownDiv8,
#checkout_provider #dropDownDiv9,
#checkout_provider #dropDownDiv10,
#checkout_provider #dropDownDiv11{
    height:22px;
    overflow:hidden;
}
#checkout .setFontColor{
    color:#c5c3c3;
}
#checkout .sizeImgText{
    color: #999999;
    font-size:13px;
}
#checkout .buttonDiv_form{
    width:880px;
    padding:18px 0px 10px 0px;
}

.creditcardDrop{
	width:270px;
	height:31px;
	font-size: 14px;	
	padding: 4px 0 5px;	
	border: 1px solid #d4d4d4;
	color: #585858;
}


.paymentDropDown option,.creditcardDrop option,.chkExpDrop option{
	padding: 2px 0px 2px 5px;
}
.cvvBox{
	color:#585858;
	width:50px;
	margin:5px 0 0 5px;
	height: 19px;
}

.lt_checkout{
	width:164px;
	font-size:14px;
	color:#585858;
	margin-top:9px;
}
.required {
    color: #fe3c3c;
    display: inline-block;
    font-size: 13px;
    left: 0;
    position: relative;
    top: 0;
}
 .textbox{
  border: 1px solid #d4d4d4;
    color: #585858;
    font-size: 14px;
    height: 21px;
    padding: 0 4px;
	padding: 4px;
    width: 538px;
}
.paymentDropDown{
	width:270px;
	height:31px;
	font-size: 14px;	
	padding: 4px 0 5px;	
	border: 1px solid #d4d4d4;
	color: #585858;
}

.textbox_card{
  border: 1px solid #d4d4d4;
    color: #585858;
    font-size: 14px;
    height: 21px;
    padding: 0 4px;
	padding: 4px;
    width: 60px;
}
.chkExpDrop{
	width:65px;
	height:31px;
	font-size: 14px;	
	padding: 4px 0 5px;	
	border: 1px solid #d4d4d4;
	color: #585858;
}
.rt_checkout{
	width:546px;
}
.checkboxCont{
    display: inline-block;
    color:#585858;
    font-size:13px;
    position:relative;
    top:10px;
    left:8px;
	font-weight:normal;
}
.checkboxCont a:focus{
    outline:1px dotted #6a6a6a;
}
.checkboxCont a,.checkboxCont a:hover{
    color:#347d91;
}
.chkout_ftSz12{
	font-size:12px;
	color: #347d91;
}
.chkout_clr_ftSz12{
	font-size:12px;
	color: #585858;
}
.leftchk{
	margin-left:-6px;
}
.imageall{
     background-image: url('/assets/contact/contact_all.png');
     background-repeat:no-repeat;
     background-position: 0 0;
     margin-top: 5px;
     width: 12px;
     height: 13px;
     display: inline-block;
}
.delimg{
   left: 0.2%;
   position: relative;
   background-size: 28px auto;
   background-position: -8px -25px;
}

.blueclr{
	color:#347d91;
}