.paddingTop10_settings {
    padding-top: 10px;
    width: 797px;
}
.leftSideField {
    color: #585858;
    font-size: 14px;
    font-weight: bold;
    margin-top: 8px;
    vertical-align: top;
    width: 200px;
}
.setLockBg {
	background:#f6f6f6;
    display: inline-block;
    width:725px;
	padding:10px;
}
.lock_text{
	font-family:'open_sansregular',Sans-Serif;
	font-size:14px;
	color:#585858;
}
.textbox{
    display: inline-block;
    width:535px;
    height:27px;
    border:1px solid #d4d4d4;
    padding:1px 4px 0px 4px;
    color: #999999;
    font-size:14px;
	margin-bottom:5px;
}
.buttonDiv{
    width:797px;
    padding:18px 0px 0px 0px;
}
.errorDiv {
    color: #FC8989;
    font-size: 12px;
	/*width:797px;*/
}
.err_div{
	margin-left:6px;
}
.required {
    color: red;
    display: inline-block;
    font-size: 13px;
    left: 0;
    position: relative;
    top: 0;
}
/* settings page start*/
.ActivityTopSetting{
	margin:10px 0px 0px 14px;
}
.SettingsRow1{
	width:920px;
	margin:10px 0 20px;
	height:35px;
}
.leftSettingDiv{
	width:400px;
	float:left;
	display:inline-block;
	font-family:'open_sansregular',Sans-Serif;
	font-size:14px;
	color:#616161;
	vertical-align:top;
	margin-top:8px;
}
.centerDropdown{
	width:165px;
	float:left;
}
.lastSettingDiv{
	width:285px;
	float:left;
	display:inline-block;
	vertical-align:top;
	margin-top:3px;
	margin-left:10px;
}
.settingsDropdown{
	background:url('/assets/settings/dropdown.png') no-repeat;
	width:160px;
	height:31px;
	display:inline-block;
}
.settingsDropdown .selectDiv {
    color: #999999;
    cursor: default;
    display: inline-block;
    font-size: 13px;
    height: 23px;
    overflow: hidden;
    padding-left: 7px;
    position: relative;
    top: 4px;
    width: 127px;
}
.dropDownDivSettingVisible {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CDE0E6;
    color: #959292;
    display: inline-block;
    font-size: 13px;
    height: 74px;
    margin-left: 0;
    margin-top: 0px;
    overflow-y: scroll;
    position: absolute;
    width: 157px;
    z-index: 100;
}
.dropDownDivSettingVisible a{
    color: #999999;
    display: block;
    padding: 3px 0 3px 3px;
    text-decoration: none;
}
.dropDownDivSettingVisible a:hover{
    /*background:#73C3DD;*/
    color:#fe7c0a;
}
/************************************

Contact menu design in settings page

*************************************/

#dispContactDiv{
	position: relative;
	z-index:100;
	width:196px;
	margin-left: 1px;
    margin-top: 46px;
	background: #F7F9F8;
	border-top:1px solid #C4DCE8;
	.margin-left:0px;
	.margin-top:48px;

}
#dispContactDiv .topBox{
	border:1px solid #C4DCE8;
	height:287px;
	width:194px;
	border-top:none;
	border-bottom:none;
}
#dispContactDiv .bottomBox{
	display: block;
	width: 204px;
	height:16px;
	background:url('/assets/settings/dropdown_bottom.png') no-repeat;
	margin-left:-4px;
	margin-top:-5px;
	.margin-left:-4px;
}
#dispContactDiv .searchRow{
	border-bottom:1px solid #C4DCE8;
	height:32px;
	width:533px;
	padding:6px 0px 0px 10px;
}
#dispContactDiv .searchRow .searchBox{
	width:255px;
	height:24px;
	.height:18px;	
	border:1px solid #87B8C9;	
	padding:0px 4px 0px 4px;
	*padding:6px 4px 0px 4px;	
	color: #999999;
	background: #F7F9F8;
	font-size:14px;
	margin-right:5px;
}
#dispContactDiv .groupRow{
	border-bottom:1px solid #C4DCE8;
	height:38px;
	width:192px;	
}
#dispContactDiv .groupRowLeft{
	width:185px;
	height:29px;
	padding:9px 0px 0px 9px;
	.padding1:10px 0px 0px 10px;
	border-right:1px solid #C4DCE8;
}
#dispContactDiv .contactNamesRow{
	border-bottom:1px solid #C4DCE8;
	height:202px;	
	width:192px;		
}
#dispContactDiv .contactRowLeft{
	width:187px;
	height:194px;
	overflow-y:scroll;
	border-right:1px solid #C4DCE8;
	padding:8px 0px 0px 7px;
	.padding1:10px 0px 0px 10px;
}
#dispContactDiv .setHeight{	
	height:32px;
	.height:37px;
}
#dispContactDiv .contactRowRight{
	width:184px;
	.width:191px;
	height:194px;
	overflow-y:scroll;
	border-right:1px solid #C4DCE8;
	padding:8px 0px 0px 7px;
	.padding:10px 0px 0px 10px;
}
#dispContactDiv .buttonRow{	
	padding:10px 0px 0px 10px;
}

/* mobile no: settings start*/
/*------------------------------Settings Phone no:-----------------------------------------*/
.add_number_txt{
width: 510px;
border: 1px solid #e1e1e1;
background: #f6f6f6;
padding: 15px;
margin-bottom:10px;
font-size:13px;
}
#add_number_button table{
	padding:0;
	margin:0;
	border-spacing:0;
}
#add_number_button{
/*background: url("/assets/provider_event_list/add_num_plus.png")left center no-repeat;*/
background-color:#EF322E;
display:inline-block;
font-size:16px;
color: #FEFFFD;
cursor: pointer;
border:0;
height: 30px;
text-align:center;
text-decoration:none;
}
#remove_number_button{
background: url("/assets/provider_event_list/remove_number.png")left center no-repeat;
width: 150px;
height: 40px;
float:left;
}
#input_boxes{
width: 435px;
float: left;
clear:both;
}
#confirm_boxes{
width: 435px;
float: left;
clear:both;

	}
#confirm_boxes input,#input_boxes input {
border:1px solid #e1e1e1;
width: 400px;
height: 28px;
padding:0px 10px;
}
/*#verify_verify{
background: url("/assets/provider_event_list/verify_button.png")left center no-repeat;
float: left;
width: 65px;
height: 28px;
}
#con_verify{
	background: url("/assets/provider_event_list/confirm-code.png")left center no-repeat;
float: left;
width: 115px;
height: 28px;
}*/
#edit_mobile{
background: url("/assets/provider_event_list/edit_send_code.png")left center no-repeat;
display:block;
padding-left:20px;
/*width:100px;*/
height:16px;
color:#3D8EA3;
float:left;
cursor:pointer;
}
#res_code{
	color:#3D8EA3;
	cursor:pointer;
}
.setfont{
    color: #4597ad;
}
#number_display{
	color:#ff0000;
	display:block;
	float:left;
	padding: 0px 3px;
	}
.sent_code{
padding-bottom:25px;
margin-top:8px;
font-size:13px;
}
.SettingNum{
	margin: 15px 0px;
    /*width: 920px;*/
}
#number_display_txt{
float:left;
}
.notify_set{
	margin-bottom:-10px;
	position:relative;
}
.padbtm{
	padding-bottom:10px;
}
.cancel-add{
	width: 50px; 
	margin-top: 12px; 
	font-weight: bold; 
	float: left; 
	margin-left: 5px;
}
#confirmed_num{
	float:left;
	padding: 15px 0px 0px 0px;
	color:#FF0000;
}
.common-blue-button{
padding-top:4px;
/*margin-left:35px;*/
width:65px;
height:25px;
background-color:#6FC2DE;
display:inline-block;
font-size:14px;
font-weight:bold;
color: #FFFFFF;
cursor: pointer;
border:0;
text-align:center;
text-decoration:none;
float: left;
}
/* mobile no: settings end*/

/* Notification settings start*/
.parent_notification{
	width:715px;
}
.parent_notification .Parent_leftDiv{
	float:left;
	display:inline-block;
	width:800px;
	margin: 10px 0 20px;
}
.del_div{
	float:left;
	display:inline-block;
	width:800px;
	margin: 5px 0px 0px 0px;
}
.parent_notification .left_Con{
	width:400px;
	float:left;
	display:inline-block;
	border:1px solid #000;
	font-family:'open_sansregular',Sans-Serif;
	font-size:14px;
	color:#616161;
}
.parent_notification .parent_Content{
	font-family:'open_sansregular',Sans-Serif;
	font-size:13px;
	color:#616161;
	vertical-align:top;
	margin-top:5px;
	height:28px;
}

.by-txt{
	margin:2px 0px 0px 15px;
	font-size:13px;
}

/* Notification settings end*/

/*checkbox start*/
.checkboxCont{
	color: #807e7e;	
	font-size:12px;
	margin-left:5px;
	.margin-left:6px;
}

/*checkbox end*/
.form-sub{
	float:left;
	/*margin-left:20px;
	margin-top:25px;*/
}

/* settings page end*/
