/** General Styles **/
	blockquote{
	 margin:1em 40px;
	}

/** Structural Styles **/
#provider_policies .radio_Con_lt{
	width:239px;
	margin-bottom:20px;
	margin-top:27px;
} 
#provider_policies  .update_text{
    color: #7f7979;
    font-size: 18px;
	margin: 10px 0 15px 49px;
}
#provider_policies  .date_text{
    color: #949696;
    font-size: 13px;
}

#provider_policies .set_inline_block_a{
	width:113px;
	height:41px;
	display:inline-block;
}
#provider_policies .terms_innerDiv{
	margin-left:21px;
}
#provider_policies .PaddTop{
	padding:13px;
}
#provider_policies .PaddLeft{
	padding-left:4px;
	position: relative;
    top: -1px;
    vertical-align: top;
}
#provider_policies .add_textbox{
   border: 1px solid #BDD6DD;
    color: #444444;
    font-size: 13px;
    height: 28px;
    padding: 0 4px;
    width: 174px;
	.height: 18px;
    .padding: 4px 4px;
	margin-bottom:20px;
}

@media \0 screen{
#provider_policies .add_textbox{
    height: 18px;
    padding: 4px 4px;
    width: 174px;
}
}



/**********Download setup ****************/

.noteText{
    background: #f6f6f6;
    padding:20px 0 20px 20px;
    font-size:13px;
    width: 765px;
    color:#585858;
    line-height: 26px;
}
.ppdownloadwrap{
    border-top: 1px dotted #BCC1A1;
    margin:0px 0px 0px 0px;
   
}
.ppdownloadwrap_inner{
	 padding: 20px 8px 0px 12px;
}
.uploadTxt{
    background: #f6f6f6;
    padding: 10px;
    font-size: 13px;
    color: #585858;
    text-align: center;
}
.browseFun{
    padding: 20px 0px 15px 0px;
    text-align: right;
    display: inline-block;
    width: 100%;
}

.showdownloadfile{
    text-align: left;
}
.ppuploadfile{
    background-color: #FFFFFF;
    border: 2px solid #D7DADB;
    display: block;
    margin: 0 auto;
    width: 540px;
}
.ppdeletefile{
    background-color: #FFFFFF;
    border: 2px solid #D7DADB;
    display: block;
    margin: 0 auto;
    width: 440px;
}
.choPdfWrap{
    width: 430px;
    margin: 0 auto;
    padding: 20px 0px 20px 0px;
}
.filechotxt{
    padding: 10px;
    font-size: 13px;
    color: #585858;
    text-align: left;
}
.uploadpdf{
    font-size: 13px;
    margin-bottom1: 20px;
    width: 431px;
	font-family:'open_sansregular',Sans-Serif;
	color:#585858
}
#activity_photo_error{
    height: 20px;
    font-size: 14px;
    color: Red;
}
/***************pop css**********/
.headTab {
    border-bottom: 1px solid #D7DADB;
    height: 34px;
    width: 100%;
}
.closeButton {
    display: inline-block;
    float: right;
    width: 31px;
}
.headCont {
    color: #5099AC;
    font-size: 20px;
    font-weight: bold;    
}


/************provider policies***************/
#how_it_worksDiv{
	width:100%;
	height:100%;
	min-width:1006px;
	min-width:1000px\0/IE9;
}

.setTopBprder{
	width:100%;
	/*border-top:1px solid #cee1e8;*/
	padding-top:30px;
	
}
 .terms_text{
    color: #347d91;
    font-size: 16px;
	width:200px;
}
.pdfupload{
    color: #347d91;
    font-size: 14px;
	margin-left:3px;
}
.upload_link{
	color:#585858;
	font-size: 16px;
}

/***
help text over
****/
.frm_helpText {
    background: none repeat scroll 0 0 #FFF;
    color: #585858;
    font-size: 13px;
    padding: 10px;
	font-weight:normal;
	border:1px solid #d4d4d4;
}
.pdfuploadpop{
    background-color: #FFFFFF;
    border: 2px solid #D7DADB;
    display: block;
    margin: 0 auto;
    width: 405px;
}
.setStyleFont{
	font-size:13px;
	color:#585858;
	font-family:'open_sansregular',Sans-Serif !important;
}
.buttonDiv{
	margin-top:20px;
}
 .editor_rt{
	padding-left: 30px;
	width: 800px;
}
.plcycancel{
margin-left:6px;
background:#6cc1dd;
}
.plcysve{
	margin-top:-10px;}
.plybtm{
	margin:0 0 20px 0px;
}
.txtmgn{
	margin:0px 0 10px 0px;
}
 .save-button_up{
	background-color:#f82b2b;
	display:inline-block;
	padding:0 10px;
	font-size:14px;
	color: #FFFFFF;
	cursor: pointer;
	border:0;
	text-align:center;
	text-decoration:none;
	height:30px;
	vertical-align:middle;
}
.save-button_up:hover {
    background-color: #ee1515;
} 
/************provider policies***************/
