/*******************************
plan new cahnges - one plan start
*******************************/
  .setfeedbackDiv {
    background: none repeat scroll 0 0 #EDF1F2;
    color: #444444;
   font-family:'open_sansregular',Sans-Serif;
    font-size: 13px;
    margin: 15px auto 0;
    padding: 15px;
    width: 746px;
    font-weight:normal;
  }
  .setColor{
    color: #fe0003;
    font-family:'open_sansregular',Sans-Serif;
    font-size: 18px;
    margin-top:20px;

  }
.plan_headbg{
	background-color:#e4f1f8;
}
.plan_sub_head
{
	background-color:#eff8fd;
}
.plan_tdbg
{
	background-color:#FFF;
}
.tbl_brd{
	border:1px solid #eaebed;
}	
.tbl_brdbtm{
	border-bottom:1px solid #eaebed;
}
.tbl_brdright{
	border-right:1px solid #eaebed;
}
.plan_price{
	color:#fe3c3c;
	font-size:18px;
	font-weight:bold;
}
.plan_price_head{
	color:#347d91;
	font-weight:bold;
	font-size:20px;
}
.market_plan_desc
{
	color:#347D91;
	font-size:18px;
}
.feature_clr{
	color:#fe3c3c;
	font-size:18px;
	font-weight:bold;
}
.plan_content_txt{
	color:#307193;
	font-size:13px;
	font-family:'open_sansregular',Sans-Serif;
}
.plan_require{
	color:#fe3c3c;
}
.plan_link{
	color:#fe3c3c;
	text-decoration:none;
	font-size:12px;
}
.plan_desc_line{
	line-height:20px;
}
.plan_bluedot{
margin-right: 7px;
background: url('/assets/register/blue_dot.png') no-repeat;
width: 9px;
height: 9px;
}
.plan_margin{margin:4px 0px 4px 0px;}

.plan_btmbrd{
	border-bottom : 1px solid #f1f1f0;
}
 .videoOuter{
	border: 2px solid #E5E5E5;
	margin:30px 13px 30px 13px;
}
 .providerTourHead{
	padding:6px 0;
	border-bottom: 1px solid #E5E5E5;
}
 .providerTourHead img{
	padding-left:10px;
}
 .providerTourHead .providerTourText{
	position:relative;
	top:-3px;
}
.tbl_brdright{
	border-right:1px solid #eaebed;
}
 .providerTourImg{
	margin:12px 0 10px 0;
}

.choosePlanOuter{
	border: 1px solid #eaeaea;
	font-weight: normal;
}

.plan_popup{
	display:none;
	background:#ffffff;
	border:1px solid #aaa;
	padding: 35px; 	
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 36%;
	left: 48%;
	z-index: 99999;
	width: 317px;
	font-family:'open_sansregular',Sans-Serif;
}

 .closeButton{
	display:inline-block;
	float:right;
	width: 31px;	
	position: absolute;
	right: 0;
	top: 10px;
}
.closeButton a{
	display:inline-block;
	float:left;	
}
.closeButton img{
	display:inline-block;
	margin-top:5px;
}

#mask {
	display: block;
	background: #ffffff;
	position: absolute;
	 left: 0; top: 0; 
	width: 100%;
	z-index: 999;
	-moz-opacity:0.7;
	opacity:0.7;
	filter: alpha(opacity=0.7);
}


.cancel-button{
	margin-left:5px;
	padding:5px 15px 0px 15px;
	height:26px;
	background-color:#6cc1dd;
	display:inline-block;
	font-size:14px;
	color: #FFFFFF;
	cursor: pointer;
	border:0;
	text-align:center;
	text-decoration:none;
}
.cancel-button:hover {
    background-color: #45add0;
}

.save-button{
	padding-top:4px;
	padding:5px 15px 0px 15px;
	height:26px;
	background-color:#f82b2b;
	display:inline-block;
	font-size:14px;
	color: #FFFFFF;
	cursor: pointer;
	border:0;
	text-align:center;
	text-decoration:none;
}
.save-button:hover {
    background-color: #ee1515;
} 
.yourplantext{
	display:inline-block;
	padding:6px 0 6px 0;
}

.txtfamily{
font-family:'open_sansregular',Sans-Serif; font-size:18px; color:#585858;
}
.mtop{
margin-top:40px;
}
.imageall{
     background-image: url('/assets/contact/contact_all.png');
     background-repeat:no-repeat;
     background-position: 0 0;
     margin-top: 7px;
     width: 12px;
     height: 13px;
     display: inline-block;
}
.delimg{
   left: 0.2%;
   position: relative;
   background-size: 28px auto;
   background-position: -8px -25px;
}
/*******************************
plan new cahnges - one plan end
*******************************/