/*#basic_Search{
    width: auto;
    /*height: 40px;
	border: 2px solid #ffffff;*/
    /*background-color: #F7F9F8;*/
   /* position: relative;
    display: none;
}*/
#bS_outer{
    
    width: 45%;
    position: relative;
    background: #fff;
    padding: 8px 0;
}
.bS_menus_age{
    text-transform: capitalize;
   /* padding: 5px 12px 5px 2px!important;*/

    color: #5AA3B6;
    font-size: 14px;
       background-image: url("/assets/landing/age_search_arrow.png") !important;
    background-position: 100% center !important;
    background-repeat: no-repeat;
    /*border: 1px solid #F7F9F8;*/
    display: inline-block;
    width: auto;
}
.bS_menus_age:hover #saerch_drp a{
   
   color: #3D8EA3 !important;
  
    
}
#saerch_drp{
  
    text-align: left;
}

.bS_menus{
    /*	float: left;*/
    text-transform: capitalize;
    padding: 6px 9px;
    color: #5AA3B6;
    font-size: 14px;
    background-image: url("/assets/event_index/dropdown_arrow.png") ;
    background-position: 100% center;
    background-repeat: no-repeat;
    display: inline-block;
    width: auto;
	border: 1px solid #FFFFFF;
    /*border: 1px solid #F7F9F8;*/    
	/*background-image: url("/assets/event_index/dropdown_arrow.png");
    background-position: 95% center;
    background-repeat: no-repeat;
    border: 1px solid #FFFFFF;
    color: #5AA3B6;
    display: inline-block;
    font-size: 14px;
    margin-left: 6px;
    padding: 3px 15px 3px 0;
    text-transform: capitalize;
    width: auto;*/
}
.bS_menus:hover{
	color:#f97c0e;
}
.city_highlight{
	color:#f97c0e;
}
/*#search_button{
    border: none;
    background-color: none;
    background-image:url(" /assets/landing/search_button.png");
    width: 43px;
    height: 30px;
    text-indent: -130px;
    background-repeat: no-repeat;
    cursor: pointer;
}*/
.bS_menu{
    /*float: left;*/
    text-transform: capitalize;
    padding: 6px 2px;
    color: #5AA3B6;
    font-size: 14px;
    /*border: 1px solid #F7F9F8;*/

    display: inline-block;
}
/*#range_age{
    margin-left: 0px;
}*/
.bS_special{
    /*float: left;*/
    text-transform: capitalize;
    padding: 6px 12px;
    color: #5AA3B6;
    font-size: 14px;
    display: inline-block;
}

.bS_menus:hover{
    /*float: left;*/
    /*text-transform: capitalize;
    padding: 6px 12px;
    color: #5AA3B6;
    font-size: 14px;
    background-image: url("/assets/event_index/dropdown_arrow.png") ;
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #b3d8df;
    background-color:#E5F4F9;
    cursor: pointer;
    display: inline-block;
*/
 text-transform: capitalize;
    padding: 6px 9px;
    color: #5AA3B6;
    font-size: 14px;
   background-image: url("/assets/event_index/dropdown_arrow.png") ;
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #b3d8df;
    background-color:#E5F4F9;
	cursor: pointer;
    display: inline-block;
    width: auto;	
}
#saerch_drp{
    width: 100px ;
    height: 20px;
    padding: 7px 0px;
    
}
.bS_menus_age:hover{
    /*float: left;*/
    text-transform: capitalize;
   /* padding: 4px 12px 5px 0px!important;*/
     color: #3D8EA3;
    !important;
    font-size: 14px;
    background-image: url("/assets/landing/age_search_arrow.png") !important;
    background-position: 97% center !important;
    background-repeat: no-repeat;
   /* border: 1px solid #b3d8df;*/
    background-color:#F6F8F7 !important;
    cursor: pointer;
   /* display: inline-block;*/
     
  /*  opacity:.6 !important;*/

}
.drop_dwon{

    z-index: 99999;
    position: absolute;
    border: 1px solid #b3d8df;
    margin-left: -10px;
    margin-top: 6px;
    background: #F6F8F7;
    display: none;
    text-align:left;

}
.bS_menus_age table tr, .bS_menus table tr{
    height: 30px;

}
.bS_menus_age table tr td,.bS_menus table tr td{
    padding: 8px;
}
.bS_menus_age inner_text,.bS_menus .inner_text{
    margin-left: 5px;
}
.categorytext{margin: 0 !important; position: relative;top: -1px;}.categorycheckbox{padding: 1px 5px 0 0 !important;}
.Adv_categoryText{padding: 10px !important;}.Adv_sub_category{padding: 10px 0 0 2px !important;width: 230px;}
#activity_typ{
    width: 155px;
    height: 165px;
    display: none;
}
#adv_category_detail{
    display:none;
    height:290px;
    overflow:hidden;

}
#gender{
    width: 155px;
    height: 100px;
    display: none;
}
#d_week{
    width: 155px;
    height: 230px;
    display: none;
}
#range_age{
    width: 155px;
    height: 130px;
    display: none;
}
#city_choose{
    padding-left:3px;
}
#zip_code{
    padding-right:0px;

}
#chose_city{
    display:none;
    height:250px;
    overflow:hidden;
	overflow-y:scroll;
    /*right: 18.55%;*/
    padding: 10px;
    margin-left: -432px;

}
#chose_city .cities : hover{
    color: #ff0000;
}
.ui-datepicker-calendar tr td{
    padding: 1px !important;
}

#price_values{
    border: 1px solid #CDE0E6;
    height: 30px;
    width: 100px;
}

#price_enter{
    cursor: pointer;
}
#zip_enter{
    cursor: pointer;
}
#zip_values{
    border: 1px solid #CDE0E6;
    height: 30px;
    width: 94px;
    background: url("/assets/landing/locationsearch.png") repeat-x;
}
#close_search{
    float: right;

    /*position: absolute;
	 *right: 0;
	margin-top: -38px;*/
    cursor: pointer;
    width: 1.1%;

}
#close_search img {
    margin-top:0;
}
#search_outer{
    width: 100%;
    display: inline-block;

}
#search_advance img{
     cursor: pointer;
   /*  margin-top: 7px;*/
}
#search_advance{

    text-transform: capitalize;
    color: #17849e;
    width: 487px;
    text-align: right;
    background-image: url("/assets/event_index/dropdown_arrow.png") ;
    background-position: right center;
    background-repeat: no-repeat;
   
    padding-right: 10px;
    font-size: 11px;
}
.cityText{
    width:140px;
    padding:6px 0px 6px 20px;
    display:inline-block;
    float:left;
}

.autocomplete-suggestion  table{
    width: 100%;}


   

.autocomplete-suggestion .suggest_activity{
    width: 170px;
    text-align: left;
}
.autocomplete-suggestion .sugest_provider{
    width: 160px;
    text-align: left;
}
.autocomplete-suggestion .sugest_city{
    width: 120px;
    text-align: left;
}

.autocomplete-suggestion  table{
	width: 100%;}
.autocomplete-suggestion  table td{
	width: 33%;
	text-align: left;
}
  .searchIcon{
    position: relative;
    top: 3px;
  }
  .topBr{
	  margin-bottom:25px;
	  }
#zip_values{
	padding:0px 5px 0 5px;
	height:23px;
	
}
@media \0 screen {
	#zip_values{
		padding:3px 5px 0 5px;
		height:20px;
	}
}
.show_search{
	display:block !important;
}
#searchboxtxtbox .topContainer span a{
	color: #3C93AC;
	font-size: 17px;
	font-weight: 700;
	
}
#searchboxtxtbox .topContainer {
	padding: 15px;
}
.searchList{ margin-top: 20px;}

#near_saerch{
    float: left;text-align:left;
    width: 40px;
}
.dynamic_cities{
    float: left; text-align:left;
    width: 110px;
}
#spacer_sear{
    width: 114px;
    float: left;
    height: 25px;
}
#image_div{
    float:left; margin-top: 25px;
}

/* saf3+, chrome1+ */
@media screen and (-webkit-min-device-pixel-ratio:0) {
 #image_div{
    float:left; /*margin-top: -7px;*/
}
}

#image_div{
	width:14px;
	height:20px;
}