	.search_wrapper{
		width:650px; height:39px; margin:0 auto;
	}
	.search_container{
		width:591px;
		 height:39px; 
		 margin:0 auto;
		 border:1px solid #abc7cc;  
		 -moz-box-shadow:    inset 0 0 10px #000000;
		-webkit-box-shadow: inset 0 0 10px #000000;
		box-shadow:         inset 0 0 6px #cacaca; 
		background-color:#fff; 
		border-radius: 5px;
	}
	/* before login search box is larger */
	.search_wrapper_lrg{
		width:650px; height:59px; margin:0 auto;
	}
	.search_container_lrg{
		width:591px;
		 height:59px; 
		 margin:0 auto;
		 border:1px solid #abc7cc;  
		 -moz-box-shadow:    inset 0 0 10px #000000;
		-webkit-box-shadow: inset 0 0 10px #000000;
		box-shadow:         inset 0 0 6px #cacaca; 
		background-color:#fff; 
		border-radius: 5px;
	}
	.search_keyword_txt_lrg{
		width:365px; border: 1px solid #fff; height:46px; color:#7d7d7d; padding:0 5px 0 5px;
		outline: none; font-size:18px;
	}
	/*.search_city_txt_lrg{
		width:110px;border: 1px solid #fff; padding:0 5px 0 5px; height:46px; color:#7d7d7d;outline: none;font-size:18px;
	}*/
	
   .search_city_txt_lrg { 
	   width: 110px; 
	   border: 1px solid #c9c9c9; 
	   padding: 0 5px 0 5px; 
	   height: 30px; 
	   color: #7d7d7d; 
	   outline: none; 
	   font-size: 18px; 
	   margin: 8px 0px; 
	   }
	.search_near_lrg
	{
		color:#3c93ac;
		font-size:16px;
	}
	
	.search_container_inner
	{
		margin:6px 10px 8px 10px;
	}
	.search_keyword{
		width:380px; color:#7d7d7d;
		
	}
	.search_city{
		width:186px;
	}
	.search_keyword_txt{
		width:365px; border: 1px solid #fff; height:27px; color:#7d7d7d; padding:0 5px 0 5px;
		outline: none; font-size:16px;
	}
	.search_city_txt{
		width:110px;border: 1px solid #e5e5e5; padding:0 5px 0 5px; height:25px; color:#7d7d7d;outline: none; margin: 1px 0px; 
	}

   .search_near
	{
		color:#9a9a9a;
	}
	.lt{
		float:left;
	}
	.search_icon{
		width:50px; height:41px; margin:0 auto; margin-left:-5px
	}
	.advanceSearch_drop{
		position:absolute; width:585px;margin:0 auto; background-color:#fff; margin-left:2px; height:56px; display:none;  text-align:center; z-index: 12;
	}
	.advanceSearch_innser
	{
		margin:10px 5px 10px 5px;
		color:#5AA3B6;
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		
	}
	.search_menus {
		text-transform: capitalize;
		padding: 6px 9px 6px 9px;
		color: #5AA3B6;
		font-size: 12px;
		background-image: url("/assets/search/search_arrow.png");
		background-position: 100% center;
		background-repeat: no-repeat;
		display1: inline-block;
		float:left;
		width1: auto;
		border: 1px solid #FFFFFF;
	}
	.search_menus:hover {
		background-color: #E5F4F9;
		cursor: pointer;
		display: inline-block;
		color: #5AA3B6;
		padding: 6px 9px;
		border: 1px solid #b3d8df;
		background-position: 97% center;
	}
	.search_submit{
text-transform: capitalize;
color: #5AA3B6;
font-size: 14px;
display: inline-block;

	}
/*#search_button{
	border: none;
	background-color: none;
	background-image: url("/assets/search/advance_search.png");
	width: 43px;
	height: 30px;
	text-indent: -130px;
	background-repeat: no-repeat;
	cursor: pointer;
	}*/
	.drop_down {
		z-index: 99999;
		position: absolute;
		border: 1px solid #b3d8df;
		margin-left: -10px;
		margin-top: 6px;
		background: #F6F8F7;
		display: none;
		text-align: left;
		
	}
	#search_category_pop {
		width: 551px;
		z-index: 1000;
		display: none;
		padding:10px 20px;
		height:275px; 
		overflow-y:scroll;
		overflow-x:hidden;
	}
	#age_range_pop {
		width: 155px;
		height: 130px;
		display: none;line-height:30px;
	}
	#gender_pop{
		width: 155px;
		height: 100px;
		display: none;line-height:30px;
	}
	#day_week_pop{
		width: 155px;
		height: 230px;
		display: none;line-height:30px;
	}
	#search_price_pop{
		width: 110px;
		height: 100px;
		display: none;line-height:30px;
	}
	.randombanner{
		width:auto;
		height:500px; 
	}
	.banner_inner{
	width:100%;
	margin-top:41px;
	position:absolute;
	}
	.banner_inner_after{
	width:100%;
	margin-top:20px;
	position:absolute;
	}
	.slogon{
		font-size:36px;
		font-family:Arial, Helvetica, sans-serif;
		color:#fff;	
		text-shadow: 1px 1px 2px #000;
		font-weight:bold;
	}
	.aftelogin_randombanner{
		width:auto;
		height:243px; 
	}
	.quick_link
	{
		color:#BFEAF3;
		font-family:Arial, Helvetica, sans-serif;
		font-size:18px;
		float:left;
		text-shadow: 1px 1px 2px #333;		
	}
	.quick_link a
	{
		color:#BFEAF3;
		text-decoration:none;
	}
	.quick_link_dot{
		color: #BFEAF3;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 24px;
		position: relative;
		top: -7px;
		font-weight: bold;
		float:left;
	}
	.quick_link_after
	{
		color:#2b91af;
		font-family:Arial, Helvetica, sans-serif;
		font-size:18px;
		float:left;
		text-shadow:none;		
	}
	.quick_link_after a
	{
		color:#2b91af;
		text-decoration:none;
	}
	.quick_link_after_dot{
		color: #2b91af;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 24px;
		position: relative;
		top: -7px;
		font-weight: bold;
		float:left;
		z-index1:1;
	}
	.location_banner_before{
		background-color:#C8E6F1;
		width:auto;
		height:160px;
	}
	.location_banner_after{
		background-color:#C8E6F1;
		width:auto;
		height:150px;
	}
	/******* after login credit amount ***/
	.provider_circle{
		background: url("/assets/fam_networks/circle_bg.png") no-repeat center center;
		width: 130px;
		height: 130px;
		font-family:Arial, Helvetica, sans-serif;
	}
	.provider_circle a 
	{
		text-decoration:none;
	}
	.invite_head{
		color: #ff0100;
		font-size: 20px;
	}
	.disc_txt{
		width: 91px;
		margin: 0 auto;
		color: #29758a;
		font-size: 12px;
		line-height: 15px;
	}
	.curr_balance{
		color: #ff0100;
		font-size: 15px;
	}
/*Search autocomplete design*/

.redSearch{
    color:#FE0002;
    font-size: 14px;
	cursor: pointer;
}
.redSearch:hover{
    color: #ff4229;
    font-weight: bold;
    text-decoration:underline;
	cursor: pointer;
}
.graySearch{
    color:#8D8B8C;
    padding: 0 12px;
    font-size: 14px;
	cursor: pointer;
}
.graySearch:hover{
    color: #524f4f;
    font-weight: bold;
    text-decoration:underline;
	cursor: pointer;
}
.blueSearch{
    color:#3D8EA3;
    font-size: 14px;
	cursor: pointer;
}
.blueSearch:hover{
    color: #257790;
    font-weight: bold;
    text-decoration:underline;
	cursor: pointer;
}

.allsearch{
    color:#3D8EA3
  }

.allsearch:hover{
    color:#3D8EA3;
    font-weight:bold;
    text-decoration:underline;
}
.autocomplete-suggestions { border: 1px solid #DADADA; background: #FFF; overflow: auto;}
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-suggestion  table{
	width: 100%;}
.autocomplete-suggestion  table td{
	width: 33%;
	text-align: left;
}

.advanceCity_drop{
    background-color: #FFFFFF;
    display: none;
    height: auto;
    margin: 0 auto;
    position: absolute;
    text-align: left;
    width: 588px;
    z-index: 5;
    left:2px;
    border: 1px solid #ABC7CC;
}
.citygrouplist{
	font-size:14px;
	display:block;
	padding:5px;
	color: #8D8B8C;
	text-align: left;
	font-family: Arial,Helvetica,sans-serif;
}
.bblCity{
	display:inline-block;
	/*width: 15% !important;*/
	text-align: left !important;
	padding: 10px 20px !important;
}
.cityListBlock{display:inline-block;text-align: left !important;padding: 10px 20px !important;}
.locationDropList select{
-webkit-appearance: none; 
-moz-appearance: none; 
border: 0 !important; 
background: #fff url("/assets/search/dropdown_arrow.png") no-repeat 98.2% center;
width: 591px; 
text-indent: 0.01px; 
text-overflow:"";
color: #333;
border-radius: 5px;
padding: 10px;
box-shadow: inset 0 0 5px rgba(000,000,000, 0.5);
margin-top:15px;
}

/*dynamic category box*/
*{margin:0px;padding:0px;}
.categoryBox{border:1px #eaeaea solid;background-color:#ffffff;width:180px;display:inline-block;}
.categoryBox .catImg{padding:15px 15px;}
.categoryBox .catTitle{font-family:Arial, Helvetica, sans-serif;font-size:14px;font-weight:bold;color:#7db6c8;height:40px;background-color:#ECF7FB;border-top:1px #E8F0F2 solid;}
