.search_wrapper{
    width1:730px;
    width:703px;
    height:39px;
    padding-left1:20px;
}
.search_wrapper_beflog{
    width:100%;
    height:80px;
    text-align:center;
}

.search-container-inline{
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin1: 0 6px 0 0;
    background: #fff;
    font-weight: normal;
    line-height: 18px;
    border:1px #BBD4D9 solid;
    color:#333;
}

.search-text-inline{
    height:37px;
    width:336px;
}

.search-text-inline-beflog{
    height:63px;
    width:375px;
}

.search-text-inline .input-holder{
    width: 76%;
}
.age-text-inline  .searchAgecon{
    width:65px;
}

.age-text-inline{
    height:37px;
    width:110px;
}

.age-text-inline-beflog{
    height:63px;
    width:165px;
}

.city-text-inline{
    height:37px;
    width:190px;
}

.city-text-inline-beflog{
    height:63px;
    width:235px;
}

.button-container {
    display: inline;
}

.search-label {
    margin: 10px 3px 10px 6px;
    font-size: 18px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display:inline-block;
    font-family: 'open_sansbold',Sans-Serif;
}

.age_txt{
    line-height:30px;
    text-align:left;
    float:left;
    margin:14px 0 0 10px;
}

.search-label-beflog {
    font-size: 26px;
    font-family: 'open_sansbold',Sans-Serif;
    color:#656565;
    display:inline-block;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.flex-box {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display:inline-block;
}
.input-holder input {
    height: 29px;
    padding: 5px 4px;
    background: transparent;
    border: none;
    font-size: 14px;
    line-height: 1.28571em;
    font-family: 'open_sansregular',Sans-Serif;
    color: #6F6F6F;
    outline:0;
    width:97%;
}

.input-holder-beflog input {
    height: 56px;
    padding: 4px 4px 2px;
    background: transparent;
    border: none;
    font-size: 20px;
    line-height: 1.28571em;
    font-family: 'open_sansregular',Sans-Serif;
    color: #6F6F6F;
    outline:0;
}

.search-tag{
    width:97%;
}

.search-city{
    width:96%;
}

.search-age-container{
    height1: 18px;
    width:85px;
    padding1: 10px 6px 10px 4px;
    /*background: transparent;*/
    border: none;
    font-size: 14px;
    line-height: 1.28571em;
    color: #333;
    font-weight:normal;
    display:inline-block;
    /*background-image: url("/assets/search/search-arrow-drop.png");
    background-position: 90% center;
    background-repeat: no-repeat;*/
}

.search-age-drop{
    padding1: 8px 60px 10px 4px;
    background-image: url("/assets/search/search-arrow-drop.png");
    background-position: right center;
    background-repeat: no-repeat;
    width:90%;
    height:19px;
    display:inline-block;
    padding-left:8px;
}

.search-age-drop-beflog{
    padding1: 8px 60px 10px 4px;
    background-image: url("/assets/search/age-drop-large.png");
    background-position: right center;
    background-repeat: no-repeat;
    width:auto;
    height:15px;
    display:block;
    position1:relative;
    top1:16px;
    padding-right:25px;
    font-size:20px;
    font-family: 'open_sansregular',Sans-Serif;
    color: #6F6F6F;
}
.cityvalue{
    width:127px;
}
.age_range_pop {
    width: 135px;
    height: 185px;
    display: none;
    line-height:20px;
    top:31px;
    left:10px;
}

.age_range_pop_beflog {
    width: 155px;
    height: 185px;
    display: none;
    line-height:20px;
    top:58px;
    left:9px;
}

.drop_down {
    z-index: 1;
    position: absolute;
    border: 1px solid #c6c6c6;
    margin-left: -10px;
    /*margin-top: 6px;*/
    background: #F6F8F7;
    display: none;
    text-align: left;
    padding: 5px;
    border-bottom: 5px solid red;
    /*border-color:#c6c6c6;*/
}
/*Search autocomplete design start*/

.redSearch{
    color:#FE0002;
    font-size: 14px;
    cursor: pointer;
}
.redSearch:hover{
    color: #ff4229;
    font-weight: bold;
    text-decoration:underline;
    cursor: pointer;
}
.graySearch{
    color:#8D8B8C;
    padding: 0 12px;
    font-size: 14px;
    cursor: pointer;
}
.graySearch:hover{
    color: #524f4f;
    font-weight: bold;
    text-decoration:underline;
    cursor: pointer;
}
.blueSearch{
    color:#3D8EA3;
    font-size: 14px;
    cursor: pointer;
}
.blueSearch:hover{
    color: #257790;
    font-weight: bold;
    text-decoration:underline;
    cursor: pointer;
}

.allsearch{
    color:#3D8EA3
}

.allsearch:hover{
    color:#3D8EA3;
    font-weight:bold;
    text-decoration:underline;
}
.age-drop-text{
    font-family:'open_sansregular';
    font-size:14px;
    color:#676565;
}
.autocomplete-suggestions { border: 1px solid #DADADA; background: #FFF; overflow: auto;}
.city-text-inline-beflog #autocomplete_append{ border: 1px solid #DADADA; background: #FFF; overflow: auto;width:235px !important;margin-left:-1px !important;padding-bottom: 5px;border-bottom: 5px solid #FF0000;}
.city-text-inline #autocomplete_append{ border: 1px solid #DADADA; background: #FFF; overflow: auto;width:190px !important;margin-left:-1px !important;padding-bottom: 5px;border-bottom: 5px solid #FF0000;}
.search-text-inline-beflog #autocomplete_appender1{width:785px !important;border-bottom: 5px solid #FF0000; padding-bottom:10px;}
.search-text-inline #autocomplete_appender1{width:646px !important;border-bottom: 5px solid #FF0000; padding-bottom:10px; margin-top:-2px;}
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-suggestion  table{
    width: 100%;}
.autocomplete-suggestion  table td{
    text-align: left;
}
.autocomplete-suggestion  table .td1{
    width: 40%;
}
.autocomplete-suggestion  table .td2{
    width: 33%;
}
.autocomplete-suggestion  table .td3{
    width: 25%;
}
/*Search autocomplete design end*/

.banner_text{
    position1:absolute;
    top1:225px;
    font-size:44px;
    font-family:'open_sansregular';
    color:#ffffff;
    width:100%;
    text-align:center
}
/*@media (min-width: 700px) and (max-width: 1300px) {
@media (max-width: 1024px) {
.search_wrapper{
       width: 575px;
       height: 25px;
       padding-left: 2px;
}
.search-text-inline {
       height: 37px;
       width: 263px;
}
.search_wrapper_beflog{
       width:100%;
       height:80px;
       text-align:center;
}
.age-text-inline{
height:37px;
width:85px;
}

.city-text-inline{
height:37px;
width:140px;
}
.cityvaluebe{
		width:95px;
}
.search-text-inline .input-holder{
	width:75%;
}
.age-text-inline .searchAgecon{
	width:42px;
}
.age-text-inline .search-label{
	margin-right:2px;
	margin-left:4px; 
}
.search-text-inline #autocomplete_appender1{width:510px !important}

}*/
