/** General Styles **/
*{
	margin:0;
	padding:0;	
}
img{ border:none;/*behavior:url("js/iw_iepngfix.htc");*/ }
.lt{
	display:inline-block;
	float:left;
}
.rt{
	display:inline-block;
	float:right;
}
.clear{
	clear:both;
	height:0px;
	overflow:hidden;
}
a, a:hover{
	text-decoration:none;
}
/** Structural Styles **/

body{
	font-family:Arial, Helvetica, sans-serif;
}
#event_index_container{
	border:1px solid #A5C9D5;
	border-bottom:none;
	.position:relative;
	z-index: 1;
	/*margin-bottom:-26px;*/
}
#event_index_container .headerPart1{
	padding:3px 10px 0px 23px;
	background:#F6F8F7;	
	height:44px;
	background: #dbeef4;
	.position:relative;
	z-index: 20;
	/*position:relative;	
	z-index: 201;*/
}
#event_index_container .headerPart1 .lt{
	width:282px;		
	/*position:relative;	
	z-index: 201;*/
}
#event_index_container .headerPart1 #setLtTop{
	margin-top:-42px;
	margin-left:-20px;
	width: 335px;
	.margin-top:-38px;
	}
#event_index_container .eventListContainer {
    /*height: 830px;
    margin-bottom: 8px;*/
    overflow: hidden;
    .position: relative;
    width: 100%;
    z-index: 2;
    background:#F7F9F8;
}
#event_index_container .selectedCity,.selectedCity1,.selectedCity2 {
    display: inline-block;
    float: right;
    position: relative;
    top: 12px;
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
}
#event_index_container .selectedCity a,.selectedCity1 a,.selectedCity2 a {
	color:#4495ae;
}
#event_index_container .dispLocationDiv{
    height: 338px;
    position: absolute;
    width: 469px;
    margin-left: -10px;
    margin-top: 37px;
    z-index: 20000;
}
#event_index_container .top{
	position: relative;
    top: 3px;
}
#event_index_container .dispActivityDiv{
	width: 977px;
	height: 578px;
	position:absolute;
	border:1px solid red;
	margin: 45px 0 0 173px;
	
}



.footer .footerConts{
	border-top:1px solid #BCC1A1;
	color: #666;
	font-family:Arial,Helvetica,sans-serif; 
	font-size:12px;
	padding:10px 0 10px 17px;
}
#event_index_container #selectdBg{	
	display:inline-block;	
	float:right;
	position:absolute;
	z-index:1;
	top:-4px;
	left:13px;	
	width:120px;
	margin-left: -23px;		
}
#event_index_container #selectdBg .leftSelectedBg{
	display:inline-block;
	float:left;
	background:url('/assets/event/selected_city_bg_left.png') no-repeat;
	width:6px;
	height:28px;		
}
#event_index_container #selectdBg .centerSelectedBg{
	display:inline-block;
	float:left;
	background:url('/assets/event/selected_city_bg_center.png') repeat-x;	
	height:24px;
	padding: 4px 0px 0 4px;	
}
#event_index_container #selectdBg .centerSelectedBg .selected_city_name{
	display:inline-block;
	float:left;	
	font-size:14px;
	font-weight:bold;
	color:#4D99B3;	
}
#event_index_container #selectdBg .rightSelectedBg{
	display:inline-block;
	float:left;	
	background:url('/assets/event/selected_city_bg_right.png') no-repeat;
	width:6px;
	height:28px;	
}
#event_index_container .Title{
	color: #5099AC;
    font-size: 14px;
}
#event_index_container .description{
	color: #666666;
    font-size: 12px;	
}
#event_index_container .ftSz12{
	color: #5099AC;
    font-size: 12px;
}
#event_index_container .ftSz14_discount{
	color: #5099AC;
    font-size: 14px;
}
#event_index_container .dottedDiv{
	background: url('/assets/event_index/doted_line_.png') repeat-x;
	height: 2px;
    margin-top: -8px;
    .margin-top: 10px;
    width: 100%;
	display: inline-block;
	
}
#event_index_container .mTop{
	top:4px;
	position:relative;
}

.dispNone{
	display:none;
}
.dispBlock{
	display:inline-block;
}
#event_index_container .eventListContainer #pop_purchase{
	width:73px;
	height:137px;
	position:absolute;
	margin: 11px 0 0 -117px;
}
#event_index_container  .locationDivCenter{
	background: url('/assets/event_index/locotion_dropdonw_box_middle.png') repeat-y;
	width: 436px;
	margin-top: -3px;
	.margin-top: 0px;
	padding: 14px;
}

/*#event_index_container  .locationDivCenter .zp_list{
	width: 124px;
	height: 25px;
	/*.width: 224px;
	.height: 22px;
	border:1px solid #87b8c6;
	background: #f6f8f8;
	margin: -4px 0 0 21px;
	padding: 0px 3px 0 3px;
	/*.padding:3px 3px 0 3px;
	color:#353736;
}*/
#event_index_container .ActivityDivCenter{
	background:#F7F9F8;
	width1: 971px;
	margin-top: 16px;
	padding: 14px;
	border:1px solid #b1d7e3;
}
#event_index_container .ServiceDivCenter{
	background:#F7F9F8;
	padding: 14px;
	border:1px solid #b1d7e3;
	width: 120px;
	right: 0px;
}
#mydiv{
    background: none repeat scroll 0 0 #F7F9F8;
    margin-top: 11px;
    position1: absolute;
    right: 20px;
    z-index: 10000;
}
#mydiv1{
    background: none repeat scroll 0 0 #F7F9F8;
    margin-top: -13px;
    margin-top:-11px\0/IE9;
    position: absolute;
    right: 20px;
    z-index: 1000;
	height:20px;
}
#event_index_container #marginLeftMac{
	margin-left:-1px;
	.left:-1px;
	position: relative;
    top: 1px;
    .top: 0px;
}
#event_index_container #topHeaderRt{
	margin-top: -26px;
	width: 341px;
}
/*#event_index_container .HeaderRtPhoto{
	width:21px;
	height:21px;
	margin-left: -5px;
}
#event_index_container .HeaderVideoIcon{
	margin-left: 122px;
	margin-top: -27px;
	margin-left: 150px\0/IE9;
}
#event_index_container .setTopGoto{
	
}
#event_index_container .HeaderContactIcon{
	margin-left: 157px;
	margin-top: -27px;
	.margin-top: -23px;
	margin-top: -28px\0/IE9;
	margin-left: 159px\0/IE9;
}
#event_index_container .HeaderMessageIcon{
	margin-left: 221px;
	margin-top: -27px;
	.margin-top: -23px;
	margin-left:223px\0/IE9;
}
#event_index_container .HeaderDividerIcon{
	margin-left: 186px;
	margin-top: -23px;
	.margin-top: -20px;
	margin-left:188px\0/IE9;
}
#event_index_container .HeaderDividerIcon1{
	margin-left: 214px;
	margin-top: -23px;
	.margin-top: -20px;
	margin-left:216px\0/IE9;
}
#event_index_container .HeaderDividerIcon2{
	margin-left: 252px;
	margin-top: -21px;
	.margin-top: -18px;
	margin-left:255px\0/IE9;
}
*//*#event_index_container .dottedImg{
	margin-top: -9px;
    position: absolute;
    margin-left: 17px;
}*/
#event_index_container .Setlt{
	float: left;
	display: inline-block;
}
#event_index_container #sharedText{
	background: none repeat scroll 0 0 #F7F9F8;
    margin-left: 15px;
    margin-top: -8px;
    position: absolute;
}
#event_index_container .hoverDiv{
	background: #e5f4f9;
	border:1px solid #b1d7e3;
	height: 20px;
	margin-top:-1px;
	margin-left:-1px;
	position:relative;
	color: #5099AC;
    font-size: 14px;
    padding: 4px 8px; 
    display:block;
}
#event_index_container .hoverDivDate{
	background: #e5f4f9;
	border:1px solid #b1d7e3;
	height: 20px;
	font-size:14px;
	margin-top:-1px;
	margin-left:-1px;
	position:relative;
	color: #5099AC;
    font-size: 14px;	
}
#event_index_container .hoverDivGoto{
	background: #e5f4f9;
	border:1px solid #b1d7e3;
	height: 16px;
	font-size:14px;
	top:0px;
	left:1px;
	position:relative;
	color: #5099AC;
	padding-top:0px;
    font-size: 14px;
    margin-right: 5px;
}
#event_index_container .hoverDivGotoFavour{
	background: #e5f4f9;
	border:1px solid #b1d7e3;
	height: 16px;
	font-size:14px;
	top:0px;
	left:1px;
	position:relative;
	color: #5099AC;
	padding-top:0px;
    font-size: 14px;
    margin-right: 5px;
}
#event_index_container .hoverDivGotoShare{
	background: #e5f4f9;
	border:1px solid #b1d7e3;
	height: 16px;
	font-size:14px;
	top:0px;
	left:1px;
	position:relative;
	color: #5099AC;
	padding-top:0px;
    font-size: 14px;
    margin-right: 5px;
}
#event_index_container .hoverDivGotoFree{
	background: #e5f4f9;
	border:1px solid #b1d7e3;
	height: 16px;
	font-size:14px;
	top:0px;
	left:1px;
	position:relative;
	color: #5099AC;
	padding-top:0px;
    font-size: 14px;
    margin-right: 5px;
}

#event_index_container .hoverDivService{
	background1: #e5f4f9;
	border:1px solid #b1d7e3;
	height: 20px;
	font-size:14px;
	margin-top:-1px;
	left:1px;
	position:relative;
	color: #5099AC;
    font-size: 14px;
}
#event_index_container .hoverDivName{
	background1: #e5f4f9;
	border:1px solid #b1d7e3;
	height: 20px;
	margin-top:-1px;
	margin-left:-1px;
	position:relative;
	color: #5099AC;
    font-size: 14px;
    padding: 4px 8px; 
    display:block;
}
#event_index_container .GoButton{
	float: left;
    height: 26px;
    left: 4px;
    position: relative;
    top: 0px;
	.top: 1px;
    width: 33px;
}
@media \0screen{
	#event_index_container .GoButton{	
		top: 5px;
	}
}
#event_index_container .dashedLineDiv{
	background: url('/assets/event_index/line_repeat.png') repeat-x;
	height:1px;
	width: 200px;
	display:inline-block;	
}
#event_index_container .event_search {
  	border:1px solid #87b8c6;
	background: #f6f8f8;
    color: #999999;
    display: inline-block;
    font-size: 13px;
    height: 24px;
    .height: 16px;
    padding: 0 4px;
    .padding:4px;
    width: 124px;
    margin-left: 15px;
}

#event_index_container .eventmoreContainer .event_search {
    border: 1px solid #CDE0E6;
    color: #999999;
    display: inline-block;
    font-size: 13px;
    height: 24px;
    .height: 16px;
    padding: 0 4px;
    .padding:4px;
    width: 244px;
    background: #F7F9F8;
    margin-left: 15px;
}

#event_index_container .eventmoreContainer .dot {
    display: inline-block;
    position: relative;
    top: 3px;
}
#event_index_container .eventmoreContainer .selectedMenuText {
    color: #5AA3B6;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
}
#event_index_container .eventmoreContainer .menuText {
    color: #5AA3B6;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: normal;
	white-space:nowrap;
}
#event_index_container .eventmoreContainer .menuText:hover {
    color: #5AA3B6;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: normal;
	text-decoration:underline;
}
#event_index_container .setSportsText{
	margin: 33px 0px 0 0px;
	.margin: 30px 0px 0px 0px;
	width:137px;
}
#event_index_container .setSportsText:hover{
	margin: 33px 0px 0 0px;
	.margin: 30px 0px 0px 0px;
	width:137px;
	text-decoration:none;
}
#event_index_container .add_favorite{
	display: inline-block;
    float: right;
    height: 26px;
    margin-right: -10px;
    margin-top: -5px;
    .top:-15px;
    .left: -3px;
    width: 102px;
    cursor: pointer;
	position:relative;
}
#event_index_container .setTopGotoIe{
	*top:400px;
	position:relative;
	border:1px solid red;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
#event_index_container #marginLeftMac{
	top:1px;
	position:relative;
}
#event_index_container .HeaderVideoIcon{
	margin-left: 158px;
	margin-top: -27px;
}
#event_index_container .HeaderContactIcon{
	margin-left: 179px;
	margin-top: -27px;
}
}
@media \0 screen{
#event_index_container .setIe8Top{
	margin-top:13px;
}
#event_index_container #mydiv1{
    margin-top: -11px;
	height:18px;

}
#event_index_container .event_search {
    padding:4px;
	height:16px;
}
.setDateDiv{
	float: left;
	margin-left: 0px;
	margin-top:11px;
	display: inline-block;
}

}
/************************drop down menu****************************/
#event_index_container .eventListContainer ul{
	list-style: none;
 }
p                                   { margin1: 15px 0; }

#event_index_container .eventListContainer ul.dropdownGoTo                         { position: relative; z-index:100000; }
#event_index_container .eventListContainer ul.dropdownGoTo li                      { font-weight: bold; float: left; zoom1: 1; }
#event_index_container .eventListContainer ul.dropdownGoTo a:hover		            { color1: #000; }
#event_index_container .eventListContainer ul.dropdownGoTo a:active                { color1: #ffa500; }
#event_index_container .eventListContainer ul.dropdownGoTo li a{
    display: block;
    padding: 4px 8px;
    border:1px solid #F7F9F8;
    height: 16px;
	font-size:14px;
	top:0px;
	left:1px;
	position:relative;
	color: #5099AC;
    font-size: 14px;
    margin-right: 5px;
}

#event_index_container .eventListContainer ul.dropdownGoTo li a:hover{
	color: #f58112;
	font-size: 12px;
	display: block;
    padding: 4px 8px;
    height: 16px;
	top:0px;
	left:1px;
	position:relative;
    margin-right: 5px;
} 
#event_index_container .eventListContainer ul.dropdownGoTo li:last-child a         { border-right1: none; } /* Doesn't work in IE */
#event_index_container .eventListContainer ul.dropdownGoTo li.hover,
#event_index_container .eventListContainer ul.dropdownGoTo li:hover                { background1: #F3D673; color1: black; position: relative; }
#event_index_container .eventListContainer ul.dropdownGoTo li.hover a              { color: black; }

/* 
	LEVEL TWO
*/
#event_index_container .eventListContainer ul.dropdownGoTo ul 						{ width: 122px; visibility: hidden; position: absolute; top: 100%; left: -35px; z-index: 100000; border:1px solid #b1d7e3; }
#event_index_container .eventListContainer ul.dropdownGoTo ul li 					{ font-weight: normal; background: #F7F9F8; color1: #000; 
									   float: none; }
									  
                                    /* IE 6 & 7 Needs Inline Block */
#event_index_container .eventListContainer ul.dropdownGoTo ul li a					{ width: 103px; display:block; 	color: #666666;
    font-size: 12px;	 } 

/* 
	LEVEL THREE
*/
#event_index_container .eventListContainer ul.dropdownGoTo ul ul 					{ left: 100%; top: 0; }
#event_index_container .eventListContainer ul.dropdownGoTo li:hover > ul 			{ visibility: visible; }



#event_index_container #topHeaderRt ul{
	list-style: none;
 }
 
/***free***/

 
 
#event_index_container .eventListContainer ul.dropdownGoToFree                         { position: relative; z-index:100000; }
#event_index_container .eventListContainer ul.dropdownGoToFree li                      { font-weight: bold; float: left; zoom1: 1; }
#event_index_container .eventListContainer ul.dropdownGoToFree a:hover		            { color1: #000; }
#event_index_container .eventListContainer ul.dropdownGoToFree a:active                { color1: #ffa500; }
#event_index_container .eventListContainer ul.dropdownGoToFree li a{
    display: block;
    padding: 4px 8px;
    border:1px solid #F7F9F8;
    height: 16px;
	font-size:14px;
	top:0px;
	left:1px;
	position:relative;
	color: #5099AC;
    font-size: 14px;
    margin-right: 5px;
}

#event_index_container .eventListContainer ul.dropdownGoToFree li a:hover{
	color: #f58112;
	font-size: 12px;
	display: block;
    padding: 4px 8px;
    height: 16px;
	top:0px;
	left:1px;
	position:relative;
    margin-right: 5px;
} 
#event_index_container .eventListContainer ul.dropdownGoToFree li:last-child a         { border-right1: none; } /* Doesn't work in IE */
#event_index_container .eventListContainer ul.dropdownGoToFree li.hover,
#event_index_container .eventListContainer ul.dropdownGoToFree li:hover                { background1: #F3D673; color1: black; position: relative; }
#event_index_container .eventListContainer ul.dropdownGoToFree li.hover a              { color: black; }

/* 
	LEVEL TWO
*/
#event_index_container .eventListContainer ul.dropdownGoToFree ul 						{ width: 122px; visibility: hidden; position: absolute; top: 100%; left: -35px; z-index: 100000; border:1px solid #b1d7e3; }
#event_index_container .eventListContainer ul.dropdownGoToFree ul li 					{ font-weight: normal; background: #F7F9F8; color1: #000; 
									   float: none; }
									  
                                    /* IE 6 & 7 Needs Inline Block */
#event_index_container .eventListContainer ul.dropdownGoToFree ul li a					{ width: 103px; display:block; 	color: #666666;
    font-size: 12px;	 } 

/* 
	LEVEL THREE
*/
#event_index_container .eventListContainer ul.dropdownGoToFree ul ul 					{ left: 100%; top: 0; }
#event_index_container .eventListContainer ul.dropdownGoToFree li:hover > ul 			{ visibility: visible; }


/***end free**/ 


 /***saved Favour****/
 
 
#event_index_container .eventListContainer ul.dropdownGoToFavour                         { position: relative; z-index:100000; }
#event_index_container .eventListContainer ul.dropdownGoToFavour li                      { font-weight: bold; float: left; zoom1: 1; }
#event_index_container .eventListContainer ul.dropdownGoToFavour a:hover		            { color1: #000; }
#event_index_container .eventListContainer ul.dropdownGoToFavour a:active                { color1: #ffa500; }
#event_index_container .eventListContainer ul.dropdownGoToFavour li a{
    display: block;
    padding: 4px 8px;
    border:1px solid #F7F9F8;
    height: 16px;
	font-size:14px;
	top:0px;
	left:1px;
	position:relative;
	color: #5099AC;
    font-size: 14px;
    margin-right: 5px;
}

#event_index_container .eventListContainer ul.dropdownGoToFavour li a:hover{
	color: #f58112;
	font-size: 12px;
	display: block;
    padding: 4px 8px;
    height: 16px;
	top:0px;
	left:1px;
	position:relative;
    margin-right: 5px;
} 
#event_index_container .eventListContainer ul.dropdownGoToFavour li:last-child a         { border-right1: none; } /* Doesn't work in IE */
#event_index_container .eventListContainer ul.dropdownGoToFavour li.hover,
#event_index_container .eventListContainer ul.dropdownGoToFavour li:hover                { background1: #F3D673; color1: black; position: relative; }
#event_index_container .eventListContainer ul.dropdownGoToFavour li.hover a              { color: black; }

/* 
	LEVEL TWO
*/
#event_index_container .eventListContainer ul.dropdownGoToFavour ul 						{ width: 122px; visibility: hidden; position: absolute; top: 100%; left: -35px; z-index: 100000; border:1px solid #b1d7e3; }
#event_index_container .eventListContainer ul.dropdownGoToFavour ul li 					{ font-weight: normal; background: #F7F9F8; color1: #000; 
									   float: none; }
									  
                                    /* IE 6 & 7 Needs Inline Block */
#event_index_container .eventListContainer ul.dropdownGoToFavour ul li a					{ width: 103px; display:block; 	color: #666666;
    font-size: 12px;	 } 

/* 
	LEVEL THREE
*/
#event_index_container .eventListContainer ul.dropdownGoToFavour ul ul 					{ left: 100%; top: 0; }
#event_index_container .eventListContainer ul.dropdownGoToFavour li:hover > ul 			{ visibility: visible; }

/** end saved favour***/

 /***shared****/
 
 
#event_index_container  ul.dropdownGoToShared                         { position: relative; z-index:100000; }
#event_index_container  ul.dropdownGoToShared li                      { font-weight: bold; float: left; zoom1: 1; }
#event_index_container  ul.dropdownGoToShared a:hover		            { color1: #000; }
#event_index_container  ul.dropdownGoToShared a:active                { color1: #ffa500; }
#event_index_container  ul.dropdownGoToShared li a{
    display: block;
    padding: 4px 8px;
    border:1px solid #F7F9F8;
    height: 16px;
	font-size:14px;
	top:0px;
	left:1px;
	position:relative;
	color: #5099AC;
    font-size: 14px;
    margin-right: 5px;
}

#event_index_container  ul.dropdownGoToShared li a:hover{
	color: #f58112;
	font-size: 12px;
	display: block;
    padding: 4px 8px;
    height: 16px;
	top:0px;
	left:1px;
	position:relative;
    margin-right: 5px;
} 
#event_index_container  ul.dropdownGoToShared li:last-child a         { border-right1: none; } /* Doesn't work in IE */
#event_index_container  ul.dropdownGoToShared li.hover,
#event_index_container  ul.dropdownGoToShared li:hover                { background1: #F3D673; color1: black; position: relative; }
#event_index_container  ul.dropdownGoToShared li.hover a              { color: black; }

/* 
	LEVEL TWO
*/
#event_index_container  ul.dropdownGoToShared ul 						{ width: 122px; visibility: hidden; position: absolute; top: 100%; left: -35px; z-index: 100000; border:1px solid #b1d7e3; }
#event_index_container  ul.dropdownGoToShared ul li 					{ font-weight: normal; background: #F7F9F8; color1: #000; 
									   float: none; }
									  
                                    /* IE 6 & 7 Needs Inline Block */
#event_index_container  ul.dropdownGoToShared ul li a					{ width: 103px; display:block; 	color: #666666; border:1px solid red;
    font-size: 12px;	 } 

/* 
	LEVEL THREE
*/
#event_index_container  ul.dropdownGoToShared ul ul 					{ left: 100%; top: 0; }
#event_index_container  ul.dropdownGoToShared li:hover > ul 			{ visibility: visible; }
#event_index_container  ul.dropdownGoToShared ul.sub_menuGoToShared{
	z-index:10000000; .z-index:10000000;
}
/*** end shared **/



#event_index_container #topHeaderRt ul.dropdownService                         { position: relative; z-index:10000000; .z-index:10000000; }
#event_index_container #topHeaderRt ul.dropdownService li                      { font-weight: bold; float: left; zoom1: 1; }
#event_index_container #topHeaderRt ul.dropdownService a:hover		            { color1: #000;}
#event_index_container #topHeaderRt ul.dropdownService a:active                { color1: #ffa500; }
#event_index_container #topHeaderRt ul.dropdownService li a                    {
	/*border:1px solid #DBEEF4;*/
	border:1px solid #DBEEF4;
	height: 20px;
	font-size:14px;
	margin-top:-1px;
	left:1px;
	position:relative;
	color: #5099AC;
    font-size: 14px;
    padding: 4px 8px; 
    display:block;
   .display:inline-block;		 
   
}



#event_index_container #topHeaderRt ul{
	list-style: none;
 }
p                                   { margin1: 15px 0; }

#event_index_container #topHeaderRt ul.dropdownName                         { position: relative; z-index:100000; }
#event_index_container #topHeaderRt ul.dropdownName li                      { font-weight: bold; float: left; zoom1: 1; }
#event_index_container #topHeaderRt ul.dropdownName a:hover		            { color1: #000; }
#event_index_container #topHeaderRt ul.dropdownName a:active                { color1: #ffa500; }
#event_index_container #topHeaderRt ul.dropdownName li a{ 
		/*background: #e5f4f9;*/
	border:1px solid #DBEEF4;
	height: 20px;
	margin-top:-1px;
	margin-left:-1px;
	position:relative;
	color: #5099AC;
    font-size: 14px;
    padding: 4px 8px; 
    display:block;	
}
#event_index_container #topHeaderRt ul.dropdownName li a:hover{ 
		/*background: #e5f4f9;
	border:1px solid #b1d7e3;*/
	height: 20px;
	margin-top:-1px;
	margin-left:-1px;
	position:relative;
	color: #f58112;
    font-size: 12px;
    padding: 4px 8px; 
    display:block;	
	
}
#event_index_container #topHeaderRt ul.dropdownName li:last-child a         { border-right1: none; } /* Doesn't work in IE */
#event_index_container #topHeaderRt ul.dropdownName li.hover,
#event_index_container #topHeaderRt ul.dropdownName li:hover                { background1: #F3D673; color1: black; position: relative; }
#event_index_container #topHeaderRt ul.dropdownName li.hover a              { color: black; }

/* 
	LEVEL TWO
*/
#event_index_container #topHeaderRt ul.dropdownName ul		                { width: 174px; visibility: hidden; position: absolute; top: 100%; margin-left:-13px; z-index: 100000; border:1px solid #b1d7e3; }
#event_index_container #topHeaderRt ul.dropdownName ul li 					{ font-weight: normal; background: #F7F9F8; color1: #000; 
									   float: none; }
									  
                                    /* IE 6 & 7 Needs Inline Block */
#event_index_container #topHeaderRt ul.dropdownName ul li a					{ width1: 100%; display: block; 	color: #666666; 
    font-size: 12px;	 } 

/* 
	LEVEL THREE
*/
#event_index_container #topHeaderRt ul.dropdownName ul ul 					{ left: 100%; top: 0; }
#event_index_container #topHeaderRt ul.dropdownName li:hover > ul 			{ visibility: visible;  }

#event_index_container #topHeaderRt ul.dropdownName ul.sub_menuName {
background-color:#f7f9f9; }
#event_index_container #topHeaderRt ul.dropdownName ul.sub_menuName li{
width:174px;  
}
#event_index_container #topHeaderRt ul.dropdownName ul.sub_menuName li a{
width:160px;
}
/********************************************/


#event_index_container .headerPart1 ul{
	list-style: none;
 }
p {
	 margin1: 15px 0;
 }

#event_index_container .headerPart1 ul.dropdown,#event_index_container .headerPart1 ul.dropdownDate,#event_index_container .headerPart1 ul.dropdownActivity{
	 position: relative;
	 z-index:100000;
 }
#event_index_container .headerPart1 ul.dropdown li,#event_index_container .headerPart1 ul.dropdownDate li,#event_index_container .headerPart1 ul.dropdownActivity li{
	 font-weight: bold;
	 float: left;
	 zoom: 1;
}
#event_index_container .headerPart1 ul.dropdown li ul.sub_menu li a,#event_index_container .headerPart1 ul.dropdownDate li ul.sub_menu li a,
#event_index_container .headerPart1 ul.dropdownActivity li ul.sub_menu li a{
	color:#353736;
}
#event_index_container .headerPart1 ul.dropdown li ul.sub_menu cityname:hover{
	 color: #f58112;
	 text-decoration:none ;
	 }
#event_index_container .headerPart1 ul.dropdown a:active,#event_index_container .headerPart1 ul.dropdownDate a:active,
#event_index_container .headerPart1 ul.dropdownActivity a:active{
	 color1: #ffa500;
 }
#event_index_container .headerPart1 ul.dropdown li a{
	/*background: none;
	border:1px solid #DBEEF4;*/
	height: 16px;
	margin-top:-1px;
	margin-left:-1px;
	position:relative;
	color: #5099AC;
    font-size: 14px;
    padding: 6px 8px; 
    display:block;
 
}
#event_index_container .headerPart1 ul.dropdown li a:first{
	/*background: none;*/
	border:1px solid #DBEEF4;
	height: 20px;
	margin-top:-1px;
	margin-left:-1px;
	position:relative;
	color: #5099AC;
    font-size: 14px;
    padding: 4px 8px; 
    display:block;
 
}
/*#event_index_container .headerPart1 ul.dropdown li a:hover{
	background: #e5f4f9;
	border:1px solid #b1d7e3;
	height: 20px;
	margin-top:-1px;
	margin-left:-1px;
	position:relative;
	color: #5099AC;
    font-size: 14px;
    padding: 4px 8px; 
    display:block;
}*/

#event_index_container .headerPart1 ul.dropdownDate li a
{
	 display: block;
	 padding: 4px 8px;
	/*background: #e5f4f9;*/
	border:1px solid #DBEEF4;
	height: 20px;
	font-size:14px;
	margin-top:-1px;
	margin-left:-1px;
	position:relative;
	color: #5099AC;
    font-size: 14px;	
}
#event_index_container .headerPart1 ul.dropdownActivity li a{
	 display: block;
	 padding: 4px 8px;
}
#event_index_container .headerPart1 ul.dropdown li:last-child a,#event_index_container .headerPart1 ul.dropdownDate li:last-child a,
#event_index_container .headerPart1 ul.dropdownActivity li:last-child a{	
	/* border-right: none;*/
 } /* Doesn't work in IE */
#event_index_container .headerPart1 ul.dropdown li.hover, #event_index_container .headerPart1 ul.dropdownDate li.hover,
#event_index_container .headerPart1 ul.dropdownActivity li.hover,
#event_index_container .headerPart1 ul.dropdown li:hover,#event_index_container .headerPart1 ul.dropdownDate li:hover,
#event_index_container .headerPart1 ul.dropdownActivity li:hover{
	 background1: #E6F5F8;
	 color1: black;
	 position: relative;
}
#event_index_container .headerPart1 ul.dropdown li.hover a,#event_index_container .headerPart1 ul.dropdownDate li.hover a,
#event_index_container .headerPart1 ul.dropdownActivity li.hover a{
	 color:  #ffa500;
}

/* 
	LEVEL TWO
*/
#event_index_container .headerPart1 ul.dropdown ul{
	  width: 220px;
	  visibility: hidden;
	  position:absolute;
	  top: 100%;
	  left: 0;
	  z-index: 100000; 
}
#event_index_container .headerPart1 ul.dropdownDate ul
{
	  width: 220px;
	  visibility: hidden;
	  position: absolute;
	  top: 100%;
	  left: 0;
	  z-index: 100000; 
}
#event_index_container .headerPart1 ul.dropdownActivity ul{
	  width: 220px;
	  visibility: hidden;
	  position: absolute;
	  top: 100%;
	  left: 0;
	  z-index: 100000; 
}
#event_index_container .headerPart1 ul.dropdown ul li,#event_index_container .headerPart1 ul.dropdownDate ul li,
#event_index_container .headerPart1 ul.dropdownActivity ul li{
	 font-weight: normal;
	 background1: #f6f6f6;
	 color: red; 	
     float: none;
     text-decoration:none;  
}
									  
                                    /* IE 6 & 7 Needs Inline Block */
#event_index_container .headerPart1 ul.dropdown ul li a,#event_index_container .headerPart1 ul.dropdownDate ul li a,
#event_index_container .headerPart1 ul.dropdownActivity ul li a{
	 /*width: 100%;*/
	 display: inline-block;
} 


/* 
	LEVEL THREE
*/
#event_index_container .headerPart1 ul.dropdown ul ul,#event_index_container .headerPart1 ul.dropdownDate ul ul,
#event_index_container .headerPart1 ul.dropdownActivity ul ul{
	left: 100%;
	top: 0;
}
#event_index_container .headerPart1 ul.dropdown li:hover > ul,#event_index_container .headerPart1 ul.dropdownDate li:hover > ul,
#event_index_container .headerPart1 ul.dropdownActivity li:hover > ul{
	visibility: visible;
}

 .on{
 color:#f58112;	
 cursordsa: pointer;
}
.off{
	color:#353736;	
	font-size:12px;
	border:none;
}
.off:hover{
	color:#f58112;	
}
.jump_to_right{
	background:#F7F9F8;
    height: 20px;
    margin-top: -13px;
    position: absolute;
    right: 20px;
    z-index: 1000;
	}

