.acc {
	list-style:none;	
}
#acc #nested {	
	/*margin-bottom:24px;*/
	margin-top:0px;
}
#acc #nested .accDiv{
	display:block;	
	background:#DBEEF4;
	border:1px solid #AFD5DE;
	width:726px;
	margin-left:5px;	
}
#acc #nested li:first-child span.accDiv{
	margin-top1: -24px;
	*margin-top:-18px;
} 
/*#acc #nested li{
	display:block;
	border:1px red solid;
}*/
#acc #nested .accDiv h3{
	cursor: pointer;
    display: inline-block;
    height: 17px;
    padding: 6px 0 3px 19px;
    width: 699px;
}
#acc #nested  .accDiv h3 .head{
	/*width:56px;*/
	width:auto;	
	font-family:Arial;
	font-weight:bold;
	font-size:14px;	
	color:#4a84a0; 
	cursor:pointer;	
}
#acc  #nested .setImgIconNormal{
	background:url('/assets/event_more/maximize.png') no-repeat;
	width:18px;
	height:18px;
	cursor:pointer;		
	margin-right:10px;
}
#acc #nested .setImgIconSelected{	
	background:url('/assets/event_more/minimize.png') no-repeat;
	width:18px;
	height:18px;
	cursor:pointer;
	margin-right:10px;			
}
#acc #nested .acc-section {
	overflow:hidden; 
	background:#fff;
}
#acc #nested .acc-content {
	width:698px;
	padding:0px 0px 29px 34px; 
	/*border-bottom:1px solid #AFD5DE;	*/
	background:#F6F8F7;
	height:218px;
	overflow-y: scroll;
	overflow-x: hidden;
}
#acc #nested .acc-content .inner_acc-content{
	display:inline-block;
	float:left;
	width: 165px;
	margin-bottom:7px;	
	height:50px;
}
#acc #nested .acc-content .inner_acc-content .gameImg{
	margin-right:4px;	
}
#acc #nested .acc-content .inner_acc-content .sub_categoryName{
	font-family:Arial;
	font-weight:bold;
	font-size:14px;	
	color:#4a84a0;
	padding-top:3px;
	padding-bottom:16px;  	
}
#acc #nested .acc-content .inner_acc-content .sub_categoryCont .addFavText{
	display:inline-block;
	float:left;	
	font-family:Arial;	
	font-size:12px;	
	color:#5099ac;
	padding-left:3px; 
}
/* Off state for a ARC checkbox */
 #acc .altCheckboxOff {
	display: inline-block;
	float:left;	
	background: url('/assets/register/checkbox_normal.png') no-repeat;
	width:18px;
	height:21px;	
	cursor: pointer;
	margin:31px 10px 0px 0px;
	*margin:27px 10px 0px 0px;
}
/* On state for a ARC checkbox */
#acc .altCheckboxOn {
	display: inline-block;
	float:left;	
	background: url('/assets/register/checkbox_selected.png')  no-repeat;
	width:18px;
	height:21px;	
	cursor: pointer;
	margin:31px 10px 0px 0px;
	*margin:27px 10px 0px 0px;
}
