<table cellpsacing="0" cellpadding="0">
            <tr>
              <td style="padding:12px;">
                <p>Dear  <%=@user.capitalize%>,</p>
		<%if @activity.present?%>
                <p>Your "<%=@activity.activity_name%>" Activity has been cancelled by the user <%=@name.capitalize%></p>
                <p>&nbsp;</p>
		<%end%>
              </td>
            </tr>
</table>
<p style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#999999;padding-top:20px;">Your Famtivity Team.</p>

     