<table cellpadding="0" cellpadding="0" width="100%">
	    <tr>
              <td style="padding:12px;">
			  <table cellspacing="0" cellpadding="0" width="100%">
			  	<tr>
					<td style="font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#444444;" height="40">Hi <%=@user.user_name.capitalize if @user.present? && @user.user_name.present?%>,</td>
				</tr>
			  	<tr>
					<td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;" height="30">Your Password have been changed successfully</td>
				</tr>
				<tr>
					<td height="10"></td>
				</tr>
					<table style="border: 1px solid #e5e9eb;" width="80%" cellspacing="0" cellpadding="0">
						<tr>
							<td style="border-bottom:1px solid #e5e9eb; padding-left:10px;" height="30">Your Password:</td>
							<td style="border-bottom:1px solid #e5e9eb; color:#2c8fae;"><%= Base64.decode64("#{@user.user_password}") if !@user.nil? && !@user.user_password.nil? %></td>
						</tr>
					</table>
			  </table>
		 <tr>
		<td height="15"></td>
		</tr>
		  <tr>
			<td><span style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#9c9b9b; padding-left:12px; padding-bottom:10px;">Your Famtivity Team</span></td>
		  </tr>
		  
		<tr>
		<td height="10"></td>
		</tr>
			  
              </td>
            </tr>
</table>