<table cellpsacing="0" cellpadding="0">
  <tr>
    <td style="padding:12px;">
      <table cellpadding="0" cellpadding="0">
        <tr>
            <td style="font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#444444;" height="50">Hi <%= @user.user_name if !@user.nil?%>,</td>
        </tr>
        <tr>
            <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;" height="20">You got it!  Your Famtivity account has been changed to the <b>Basic Market Plan</b>.</td>
        </tr>
        <tr>
            <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333; padding-top: 10px;" height="20">With the Basic Market Plan, all of your activity listings are still free, but we can no longer guarantee premium placement of your activities.  At any time you can upgrade to the <b>Sponsor Plan</b> or the <b>Sell Through Plan</b> to help you attract and get new customers.</td>
        </tr>

        <tr>
            <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;" height="50">Did you know you can get FREE advertising for premium placement when you sell your activities directly through Famtivity?  Click here to learn more: </td>
        </tr> 
        <tr>
            <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;" height="25">
            	<a href='http://www.youtube.com/watch?v=iuP3hL4625k'>http://www.youtube.com/watch?v=iuP3hL4625k</a>
            </td>
        </tr> 
        <tr>
        <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;" height="40">If you have any questions, visit our <a href='http://<%=@image_url%>/faq' style="text-decoration : none;">FAQ</a> page  or contact us directly anytime at <a href='mailto:support@famtivity.com' style="text-decoration : none;">support@famtivity.com</a>.</td>
        </tr>

        <tr>
        <td><span style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#9c9b9b;padding-top: 15px;display: block;">Your Famtivity Team</span></td>
      </tr>

    </table>
    
    </td>
  </tr>
</table>

