<table cellpsacing="0" cellpadding="0">
  <tr>
    <td style="padding:12px;">
      <p>Hi,</p>
      <p>"<%=@user.user_name%>" has sent you friend request in famtivity.</p>
				<p><a href="<%= @url%>" title="">
           <%= image_tag("http://www.famtivity.com:8080/assets/contact/accept_button.png", style:"border:none")%>
          </a><a href="javascript:void(0)" title="">
           <%= image_tag("http://www.famtivity.com:8080/assets/contact/ignore_button.png")%>
          </a></p>
				 <p>For any help with your account, you can read our comprehensive list of FAQ's <a href="#" title="">http://www.famtivity.com/faq</a> or contact our Support team <a href="#" title="">www.famtivity.com/support</a></p>
      <p><%#= link_to @url, @url %></p>
      <p>&nbsp;</p>
    </td>
  </tr>
</table>
<p style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#999999;padding-top:20px;">Your Famtivity Team.</p>


