<table cellpadding="0" cellpadding="0">
  <tr>
    <td style="padding:12px;">
	  <table cellpadding="0" cellpadding="0">
	  	<tr>
			<td style="font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#444444;" height="50">Hello admin</td>
		</tr>
	  	<tr>
			<td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;" height="40">Received a hello world text <%=Time.now%></td>
		</tr>
		<tr>
			<td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;" height="60">Thanks!</td>
		</tr>
		<tr>
			<td><span style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#9c9b9b;">The Famtivity Team</span></td>
		</tr>
		
	  </table>
      

  </td>
  </tr>
</table>
