<table cellspacing="0" cellpadding="0">
  <tr>
    <td style="padding:12px;">      
      <p>Hello <%=@business_name%>,</p>
      <p>This Email is to let you know that <%=@name.capitalize %> has invited you to join Famtivity as a provider. Famtivityis a service that helps providers like you unlock your networks to reach a wider audience for your activities. 
      	Famtivity has a huge database of families and parents, ensuring that you will always find an audience for your activity!
Click on the link below to accept your invitation and begin registering for Famtivity.</p>
		<p><a href="<%=$image_global_path%>?provider_page=true" target="_blank"><%=$image_global_path%>?provider_page=true</a></p>
    </td>
  </tr>
</table>
<p style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#999999;padding-top:20px;">Your Famtivity Team</p>