<p>Hi <% if !@user.nil? %><%=@user["user_name"].capitalize%><%end%>></p>
<p>Your monthly budget reached zero. Please check your account.</p>
<p style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#999999;padding-top:20px;">Your Famtivity Team.</p>