<table cellpadding="0" cellpadding="0">

 <p>Hello <%= @user.user_name%>,</p>
      <p>All changes to your profile have been successfully saved!</p>
      <p>&nbsp;</p>
</table>
<p style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#999999;padding-top:20px;">Your Famtivity Team.</p>