<table cellpadding="0" cellpadding="0">
  <tr>
    <td style="padding:12px;">
	  <table cellpadding="0" cellpadding="0">
	  	<tr>
			<td style="font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#444444;" height="50">Hello <%= @user.user_name if !@user.nil?%>,</td>
		</tr>
	  	<tr>
			<td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;" height="40">This is to inform you that you have not made full use of  your plan last month.</td>
		</tr>
		<tr>
			<td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;" height="40">You have a seven-day window within which you can choose to use the pending resources at your disposal. After these saven-days, you can no longer carry over anything from the previous month so please plan accordingly. Your account will be auto-renewed for this month as usual.</td>
		</tr>
		<tr>
			<td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;" height="60">Thanks!</td>
		</tr>
		<tr>
			<td><span style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#9c9b9b;">The Famtivity Team</span></td>
		</tr>
		
	  </table>
      

  </td>
  </tr>
</table>
