<table cellspacing="0" cellpadding="0" style="width:98%; margin:12px;">   
	<tr>
    	<td>&nbsp;</td>
	</tr>
	<tr>
		<td style="font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#444444;" align="left" valign="top">
			<% if !@actuser.nil? && @actuser.present? && @actuser!=''%>				
				<b>Hi <%=@actuser.user_name%></b>,
			<%else%>
				<b>Hi</b>,
			<%end%>
		</td>
	</tr> 
	<tr>
    	<td>&nbsp;</td>
	</tr>
	<tr>
		<td style="font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#333333;" align="left" valign="middle">
			<% if !@parent.nil? && @parent.present? &&  @parent.user_name!=''%><%=@parent.user_name%><%end%> has completed the <%=@form.title if !@form.nil?%> form for <%=@activity.activity_name if !@activity.nil?%> activity. He has no other pending paperwork. He is ready to attend the activity
		</td>
	</tr>
</table>

<table cellspacing="0" cellpadding="0" style="width:98%; margin:12px;">    
	<tr>
		<td height="10"></td>
	</tr>
	<tr>
		<td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#444444;" height="24" align="left" valign="middle">With kind regards,</td>
	</tr>		
	<tr>
		<td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#9c9b9b;" height="24" align="left" valign="middle">Your Famtivity Team</td>
	</tr>	
</table>	
