<table cellpadding="0" cellpadding="0">
  <tr>
    <td style="padding:12px;">
     <table cellpadding="0" cellpadding="0">
        <tr>
            <td style="font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#444444;" height="40"><b>Hello <%= @user.user_name if !@user.nil?%>,</b></td>
        </tr>
        <tr>
            <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;" height="20">This is to inform you that your account has been successfully downgraded.</td>
        </tr>
	<tr>
		<td height="10"></td>
	</tr>
        <tr>
            <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;" height="30">Since you have already registered for a plan and it has been renewed this month, you can use the existing plan until it expires. The new plan will be in effect after the current plan expires.</td>
        </tr>
	<tr>
		<td height="10"></td>
	</tr>

	<tr>
	<td height="24" align="left" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#444444;">Thanks,</td>
	</tr>

        <tr>
        <td><span style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#9c9b9b;padding-top: 15px;display: block;">The Famtivity Team</span></td>
      </tr>
  </table>
    </td>
  </tr>
</table>




