<table cellpadding="0" cellpadding="0">
            <tr>
              <td style="padding:12px;">
                <p>Hello <%=@f_user.user_name if @f_user.present? && @f_user.user_name.present?%></p>
                <!--<p>"</b><%#=@user.user_name%></b>" following you.</p>-->
	       <p>This is to let you know that <%=@user.user_name%>  has started following you on Famtivity! Click on the link below to view your Famtivity page and see who else is following you! <a href='http://<%=@image_url%>'>Famtivity</a></p>
	      </td>
            </tr>
</table>
<p style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#999999;padding-top:20px;">Your Famtivity Team.</p>

     