<table cellpsacing="0" cellpadding="0">
  <tr>
    <td style="padding:12px;">
      <table cellpadding="0" cellpadding="0">
        <tr>
            <td style="font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#444444;" height="60">Hi <%= @user.user_name if !@user.nil?%>,</td>
        </tr>
        <tr>
            <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;" height="30">You got it!  We’re delighted that you’ve upgraded your Famtivity account to the <b>Ad Sponsor Plan</b>.</td>
        </tr>    
        <tr>
            <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;" height="70">With the Ad Sponsor Plan, all of your activities are listed for free, you get premium placement of your activities, and you only pay a small fee when people click on your selected activity listings. You can turn on or off your ad sponsorships at any time.</td>
        </tr>
        <tr>
            <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;" height="40">Set-up your premium placements by going to the "Sponsorships" page within Famtivity.  Check out this tutorial for more information:</td>
        </tr>
        <tr>
            <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;" height="30">
            <a href='http://www.youtube.com/watch?v=1BZqkeyMyDA'>http://www.youtube.com/watch?v=1BZqkeyMyDA</a></td>
        </tr>
        <tr>
            <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;" height="20">Did you know you can get free advertising for premium placement when you sell your activities directly through Famtivity?  Click here to learn more: </td>
        </tr>
        <tr>
           <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;" height="20">
           <a href='http://www.youtube.com/watch?v=iuP3hL4625k'>http://www.youtube.com/watch?v=iuP3hL4625k</a></td>
        </tr>
        <tr>
        <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;" height="40">If you have any questions, visit our <a href='http://<%=@image_url%>/faq' style="text-decoration : none;">FAQ</a> page  or contact us directly anytime at <a href='mailto:support@famtivity.com' style="text-decoration : none;">support@famtivity.com</a>.</td>
        </tr>
    </table>
    
    </td>
  </tr>
</table>
<p style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#999999;padding-top:20px;">Your Famtivity Team.</p>







