<table cellpsacing="0" cellpadding="0">
            <tr>
              <td style="padding:12px;">
                <p>Dear  <%=@user.user_name%> You have successfully send the mail to the support team. </p>
              </td>
            </tr>
</table>
<p style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#999999;padding-top:20px;">Your Famtivity Team.</p>

     