.dispNone{
	display:none;
}
div.dispBlock{
	display:inline-block;
}
a:focus{outline:1px dotted #A5C9D5;}
input,textarea{outline:none;}
#new_act_container .createActivity{
	margin:0px 10px 0px 5px;
	position:relative;
	z-index:2;
	border: 1px solid #d7dadb;	
}
#new_act_container .centerCont{	
	width: 880px;
	height:100%;
	margin:0 auto;	
}
#new_act_container .paddingTop10{
	width: 880px;
	padding-top:10px;	
}
#new_act_container .paddingTop7{
	width: 880px;
	padding-top:7px;	
}
#new_act_container .paddingTop2{
	width: 880px;
	padding-top:1px;	
}
#new_act_container .setHeight{
	height:30px;
	border:1px solid red;
}
#new_act_container .leftSideField{
	font-weight:bold;
	font-size:14px;
	color:#5a5757;	
	width: 162px;
	position: relative;
	top: 6px;
	margin-left:70px;
}
#new_act_container .setTop{
	position: relative;
	top: 36px;
}
#new_act_container .addPhoto{
	font-weight:bold;
	font-size:14px;
	color:#5a5757;	
	margin: 0 32px 0 15px;
}
#new_act_container .repeatDiv{
	display: inline-block;
	float1: left;	
	padding: 7px 0 0 8px;
	.padding: 7px 0 0 15px;
}
#new_act_container .repeatCont{
	font-size:14px;
	font-weight:bold;
	color:#5099ac;
}
#new_act_container .textbox{
	display: inline-block;
	width:535px;
	height:27px;
	*height:24px;
	border:1px solid #CDE0E6;	
	padding:1px 4px 0px 4px;
	*padding:6px 4px 0px 4px;	
	color: #444444;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
}
#new_act_container .textboxMedium{
	width:260px;
}
#new_act_container .required{
	display: inline-block;	
	color:red;
	position:relative;
	left:0px;
	top:0px;
	font-size:13px;
}
#new_act_container .descTextbox{
	height:78px;
	*height:72px;
}
#new_act_container .textboxDiv{
	display: inline-block;
	position:relative;
	width:533px;
	height:29px;	
	border:1px solid #CDE0E6;	
	padding:0px 5px 0px 5px;	
	color:#444444;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	.padding:5px 5px 0px 5px;
	.height:24px;
}
#new_act_container .toTextbox{
	display: inline-block;
	float:left;
	width:502px;
	height:19px;	
	color: #999999;
	font-size:13px;	
	margin-top:4px;			
	outline:none;
	overflow: hidden;	
	border:none;
}
#new_act_container .setfont_share{
 font-weight:bold; font-size:14px; color:#5a5757;
}
@media \0screen {
	#new_act_container .toTextbox{
		margin-top:4px;
		
	}
	#new_act_container .descTextbox{
		padding:8px 4px 0px 4px;
		height:22px;
	}
	#new_act_container .textboxDiv{
		width:533px;
		height:24px;	
		padding:5px 5px 0px 5px;	
}

	#new_act_container .textbox {
		height: 23px;
		padding:5px 4px 0;
		width: 535px;
	}

}
#new_act_container .addIcon{
	display: inline-block;	
	float:right;	
	margin-top:2px;
}
#new_act_container .col1{
	width:270px;
	margin-right: 5px;
}
#new_act_container .col2{
	width:270px;	
}
#new_act_container #dispContactDiv{
	position: absolute;
	z-index:7;
	width:545px;
	margin:0 auto;
	margin-left:232px;
	background: #F7F9F8;
}
#new_act_container #dispContactDiv .topBox{
	border:1px solid #C4DCE8;
	height:320px;
	width:543px;
	border-top:none;
	border-bottom:none;
}
#new_act_container #dispContactDiv .bottomBox{
	display: block;
	width: 552px;
	height:14px;
	background:url('/assets/event_new_activity/dropDown_bg_down.png') no-repeat;
	margin-left:-4px;	
}
#new_act_container #dispContactDiv .searchRow{
	border-bottom:1px solid #C4DCE8;
	height:32px;
	width:533px;
	padding:6px 0px 0px 10px;
}
#new_act_container #dispContactDiv .searchRow .searchBox{
	width:255px;
	height:24px;
	.height:18px;	
	border:1px solid #87B8C9;	
	padding:0px 4px 0px 4px;
	*padding:6px 4px 0px 4px;	
	color: #999999;
	background: #F7F9F8;
	font-size:13px;
	margin-right:5px;
}
#new_act_container #dispContactDiv .groupRow{
	border-bottom:1px solid #C4DCE8;
	height:38px;
	width:543px;	
}
#new_act_container #dispContactDiv .groupRowLeft{
	width:262px;
	height:29px;
	.width1:261px;
	.height1:28px;
	padding:9px 0px 0px 9px;
	.padding1:10px 0px 0px 10px;
	border-right:1px solid #C4DCE8;
}
#new_act_container #dispContactDiv .contactNamesRow{
	border-bottom:1px solid #C4DCE8;
	height:202px;	
	width:543px;		
}
#new_act_container #dispContactDiv .contactRowLeft{
	width:264px;
	.width1:261px;
	height:194px;
	overflow-y:scroll;
	border-right:1px solid #C4DCE8;
	padding:8px 0px 0px 7px;
	.padding1:10px 0px 0px 10px;
}
#new_act_container #dispContactDiv .setHeight{	
	height:32px;
	.height:37px;
}
#new_act_container #dispContactDiv .contactRowRight{
	width:264px;
	.width:261px;
	height:194px;
	overflow-y:scroll;
	border-right:1px solid #C4DCE8;
	padding:8px 0px 0px 7px;
	.padding:10px 0px 0px 10px;
}
#new_act_container #dispContactDiv .buttonRow{	
	padding:10px 0px 0px 10px;
}
		
		/* Off state for a ARC checkbox */
.altCheckboxOff {
	display: inline-block;	
	background: url('/assets/global/checkbox/checkbox_normal.png') no-repeat;
	width:18px;
	height:18px;	
	cursor: pointer;
}
.Addtext{
	color: #176174;
    display: block;
    font-size: 12px;
    font-weight: bold;
    left: 37px;
    position: relative;
    top: -23px;
    .top: -19px;
}
/* On state for a ARC checkbox */
.altCheckboxOn {
	display: inline-block;	
	background: url('/assets/global/checkbox/checkbox_selected.png')  no-repeat;
	width:18px;
	height:18px;	
	cursor: pointer;	
}
#new_act_container  #dispContactDiv .checkboxCont{
	color: #807e7e;	
	font-size:12px;
	margin-left:3px;
	.margin-left:6px;
}
#new_act_container .dateTimeDiv{	
	/*width:546px;*/
	width: 609px;		
}
#new_act_container .dateTimeDiv .dateDiv{
	display: inline-block;	
	position:relative;
	width:150px;
	height:29px;
	padding:0px 5px 0px 5px;
	border:1px solid #CDE0E6;	
}
#new_act_container .dateTimeDiv .dateDiv .dateTextbox{
	display: inline-block;
	float:left;
	width:120px;
	height:16px;	
	color:#959292;
	font-size:13px;	
	margin-top:5px;			
	outline:none;
	overflow: hidden;
	border:1px solid #ffffff;
}
#new_act_container .dateTimeDiv .dateDiv .timeTextboxWidth{
	width:232px;
}
#new_act_container .dateTimeDiv .dateDiv a{
	display: inline-block;
}
#new_act_container .dateTimeDiv .dateDiv .timeIcon{
	margin-top:2px;
}
#new_act_container .dateTimeDiv .timeDiv{
	display: inline-block;	
	width:268px;
	height:31px;
	border:1px solid #CDE0E6;	
}
#new_act_container #dispTimeDiv{
	position: absolute;
	z-index:7;
	width:258px;
	margin:31px 0 0 5px;
	background: #F7F9F8;
	border:1px solid #C4DCE8;
	border-top:none;
	padding:10px 0px 10px 10px;
	color:#959292;
	font-size:13px;	
}
#new_act_container #dispTimeDiv span{
	display: inline-block;
	width:115px;
	margin-bottom:10px;
}
#new_act_container #dispTimeDiv select{
	color:#959292;
	font-size:13px;
	margin-right:4px;	
}
#new_act_container #dispTimeDiv option{
	color:#959292;
	font-size:13px;	
}
#new_act_container #dispTimeDiv #to_m option,
#new_act_container #dispTimeDiv #from_m option
{
	padding-right:7px;
}
.timelabel{
	color: #BAB9B9;
    float: left;
    font-size: 14px;
    position: relative;
   /* padding: 7px 7px 0 6px;*/
}
.time_bg{
	border: 1px solid #CDE0E6;
    display: inline-block;
    height: 28px;
    width: 95px;
}
.timStart{
	width: 150px;
	float: left;
}
.timup{
	 float: right;
    height: 15px;
}
.timdown{
	float: right;
    height: 15px;
    margin: 13px -25px 0 0;
    position: relative;
}
.addBut{
	display: inline-block;
    padding: 5px 0 0 8px
}
.recuming{
	background1: url('/assets/event_new_activity/checkbox_normal.png') no-repeat;
	width: 19px;
	height:19px;
	border:none;
}
.ftz14{
	color: #999999;
	font-size: 12px;
	padding: 2px 0 0 3px;
	.padding: 2px 0 0 0px;
}
.dayDiv{
	position:relative;
	top: -2px;
	margin-left: 1px;
	.margin-left: -3px;
}
.changeProf{
	color: #176174;
    display: block;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    text-align: right;
    top: -15px;
}
#new_act_container .selectBoxCity{
	display:inline-block;
	background:url('/assets/event_new_activity/select_box_bg.png') no-repeat;
	width:545px;  
	height:31px;
	top:0px;
	position:relative;
}
#new_act_container .selectBoxMedium{	
	background:url('/assets/event_new_activity/select_medium_bg.png') no-repeat;
	width:270px;  
	height:31px;	
}
#new_act_container .selectBoxSmall{	
	background:url('/assets/event_new_activity/select_small_bg.png') no-repeat;
	width:200px;  
	height:31px;	
}
#new_act_container .selectBoxCity .selectDiv{
	display:inline-block;
	cursor:default;
	font-size:13px;	
	color:#959292;
	width:506px;  
	position:relative;
	top:4px;
	left:7px;
	width:507px;  
	height:23px;
	overflow:hidden;
	padding-left: 0px;
}
#new_act_container .selectBoxCity .selectDivMedium{
	width:235px; 
}
#new_act_container .selectBoxCity .selectDivSmall{
	width:165px; 	
}
#new_act_container .dropDownDivCity{
	display:inline-block;	 
	font-size:13px;	
	background:#ffffff;
	color:#959292;
	border:1px solid #CDE0E6;
	width:543px;
	margin-top:-1px;
	margin-left:0px;
	position:absolute;
	z-index:500;
	/* options are overflow set height and scroll */
	/*height:66px; 
	overflow-y:scroll;*/	
}
#new_act_container .dropDownDivMedium{
	width:268px;
}
#new_act_container .dropDownDivSmall{
	width:198px;
}
#new_act_container .dropDownDivCity a{	
	color:#959292;
	display:block;
	text-decoration:none;
	padding:3px 0px 3px 3px;
}
#new_act_container .dropDownDivCity a:hover{
	background:#73C3DD;
	color:#ffffff;
}
#new_act_container .setFontColor{
	color:#c5c3c3;
}
#new_act_container .sizeImgText{
	color: #999999;
	font-size:13px;	
}
#new_act_container .buttonDiv{
	width:880px;
	padding:18px 0 30px;
}
#new_act_container .FileUpload {
    position:relative;
    margin-top:1px;	   
    width: 176px;
}
#new_act_container .BrowserVisible {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3; 
    width:90px;
	height:87px;
	border: 1px solid #CDE0E6;	
}
#new_act_container .FileField {    
	width:75px;
	height:87px;
	border:1px solid #CDE0E6;
	color: #999999;
	padding:0px 5px 0px 5px;
	word-wrap:break-word;
	position:relative;
	z-index:3;		
}
#new_act_container .BrowserHidden {
    position:relative;
    z-index:2;  
	
	width:151px;
	height:16px;	
    
    -moz-opacity:0;
    filter:alpha(opacity= 0);
    opacity: 0;
   
	font-family:Arial, Helvetica, sans-serif;
	font-size:.5em;
	font-weight:normal;
	color: #999999;
	margin-top:72px;
	cursor: pointer;	
}
#new_act_container .browse{
	color: #5099AC;
    cursor: pointer;
    display: inline-block;
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 35px 0 0 15px;
    position: relative;
    top: 5px;
    width: 53px;
    z-index: 1;
}
/***********************************
 *         display error msg 
 ***********************************/

#new_act_container .errorDiv{
	margin-top:3px;	
	color:#fc8989;
	font-size:12px;	
}
#new_act_container #dateErrorDiv .dateTimeDiv .lt{
	width:275px;
}
#new_act_container #dateErrorDiv .dateTimeDiv #time_error{
	width:250px;	
}
