#new_act_container .selActDiv{	
	padding:4px 0 0 0;
	width:543px;	
	background:#EDFBFE;
	border:1px solid #CDE0E6;	
}
#new_act_container .selActDiv img{
	margin:0 10px 0 4px;
/*	border-right:1px solid #A0D4E9;
	border-top:1px solid #A0D4E9;	*/
}
#new_act_container .selActDiv .title{	
	font-family:Arial, Helvetica, sans-serif;
	color: #534D4F;
	font-size:13px;
	font-weight:bold;
}
#new_act_container .selActDiv .desp{
	padding-top:10px;
	font-family:Arial, Helvetica, sans-serif;
	color: #534D4F;
	font-size:12px;
}
#new_act_container .textArea{
	display: inline-block;
	width:535px;
	height:125px;	
	border:1px solid #CDE0E6;	
	padding:4px 4px 0px 4px;
	*padding:4px 4px 0px 4px;	
	color: #444444;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
}
@media \0screen {
	#new_act_container .textArea{
		margin-top:4px;
		
	}	
}
/* Off state for a ARC checkbox */
.altCheckboxOff {
    display: inline-block;
    background: url('/assets/provider_event_list/pro_checkbox_normal.png') no-repeat;
    width:19px;
    height:21px;
    cursor: pointer;
}
/* On state for a ARC checkbox */
.altCheckboxOn {
    display: inline-block;
    background: url('/assets/provider_event_list/pro_checkbox_selected.png')  no-repeat;
    width:19px;
    height:21px;
    cursor: pointer;
}
