<table cellpadding="0" cellspacing="0" width="100%" style="border:1px solid #CDE0E6; margin:0; padding:0;">
  <tr style="background:#DBEEF4; border:1px solid #CDE0E6;">
  	<td align="center" height="55" style="border-bottom:1px solid #CDE0E6;"><a href="#" title=""><%= image_tag "/assets/event_index/famtivity_logo_parent.png", :style=>"border:none;" %></a></td>
  </tr>
   <tr>
  	<td style="color: #5099AC; font-size: 20px; font-family:Arial, Helvetica, sans-serif; font-weight: bold; padding:12px;">Famtivity Voucher</td>
  </tr>
  <tr>
  	<td>
	<div style="width1:29%; ">
	<div style="background:#EDFBFE; border:1px solid #CDE0E6; padding:12px; width:58%; margin:12px;">
	  <div style="float:left; display:inline-block;"><a href="#" title=""><%= image_tag "/assets/share_activity/activity_img.png", :style=>"border:none;"%></a></div>
	  <div style="float:left; display:inline-block;">
	    <div style="color:#4E5658; font-family:Arial, Helvetica, sans-serif; font-size:16px; padding:29px 14px 0px 18px;"><b>Violin Class</b></div>
		  <div style="float:left; display:inline-block; color:#444444; font-family:Arial, Helvetica, sans-serif; font-size:13px; padding:12px 14px 14px 18px;">The Music Academy,, Safadarjaj Enclavc, Delhi</div>
	  </div>
	   <div style="clear:both;"> </div> 
	</div>
	 <div style="float:right; display:inline-block; margin: -31px 121px 0 0px; width:19%;"><a href="#">View Activity</a></div>
	 <div style="clear:both;"> </div> 
	</div>
    <div style="clear:both;"> </div> 
	</td>
	
  </tr>
	<tr>
	  <td><div style="padding:12px; color:#444444; font-family:Arial, Helvetica, sans-serif; font-size:14px;">with kind regards with kind regards with kind regards with kind regards with kind regards with kind regards</div></td>
	</tr>
   <tr>
  	<td>
		<div style="padding:12px; color:#444444; font-family:Arial, Helvetica, sans-serif; font-size:14px;">with kind regards,</div>
		<div style="padding:0px 12px 25px 12px; color:#000000; font-family:Arial, Helvetica, sans-serif; font-size:14px;">Famtivity Team</div>
	</td>
  </tr>
   <tr style="background:#DBEEF4; border:1px solid #CDE0E6;">
  	<td height="40" style="border-top:1px solid #CDE0E6;">
		<div style="float:left; display:inline-block; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#414546; padding:12px;">www.famtivity.com </div>
		<div style="float:right; display:inline-block; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#414546; padding:12px;">Copyright &copy; Famtivity Pvt.Ltd. All rights reserved.</div>
	</td>
  </tr>
</table>
