#download_report_excel {
    color: #3d8ea3;
    cursor: pointer;
}
.title_right_container
{
	float: right;
	background-color:#F6F6F6;
	position:relative;
	top: 17px;
	width: 55px;
}
.title-right-content
{
	color: #2b91af;
	font-size: 14px;
    margin-bottom: 5px;
    margin-right: 2px;
}

.boxContainer {
    background-color: #fff;
    border: 1px solid rgb(231, 233, 232);
    padding: 30px;
}
.setBg2 {
    background: none repeat scroll 0 0 #f6f8f7;
}
.setBg1 {
    background: none repeat scroll 0 0 #ffffff;
}

.contentBorderNone{
	border-bottom:none;
	color: #585858;
	font-size: 13px;
	font-weight: normal;
	height: 58px;
}
