.wrapper-content{margin: 0 10px 0 10px;}
.tite-left-content{display:inline-block;}
.title-right-content{display:inline-block;float:right;margin-top: 6px;}
.staic_inner{margin-top:10px;}
#menu {
  display: inline-block;
  position: relative;
  top:-9px;
}
#menu a {
  display: inline-block;
}
#menu ul {
  display: inline-block;
  list-style-type: none;
}
#menu ul li {
  float: left;
  position: relative;
}
#menu ul li:hover
{
	color: #5099AC;
}
#menu ul.sub-menu {
  display: none;
  position: absolute;
  z-index: 900;
}
#menu ul.sub-menu li {
  text-align: left;
  display: block; 
}
#menu ul.sub-menu {
    margin: 15px 0 0;
}
#menu ul li:hover ul.sub-menu {
	display: block;
	z-index: 2147483647;
	position: absolute;
	left: 0;
	width: auto;
}
.dispProvidertransDiv{
    display:none;
    font-size:13px;
    /*background:#f6f8f7;*/
    background: #ffffff;
    color:#959292;
    border:1px solid #D7DADB;
  	border-bottom: 4px solid #FF0000;
    width:140px;
    height:84px;
    top: 23px;
  	margin-left:-9px;
  	position: absolute;
  	z-index: 10000;
    font-family: 'open_sansregular';
}
.dispProvidertransDiv li a{ 
    color:#959292;
    display:block;
    text-decoration:none;
    padding:5px 0px 5px 8px;
    width:132px;
    font-family: 'open_sansregular';
}
.dispProvidertransDiv li a:hover{
  /*color:#F97C0E;
    display:block;
    text-decoration:none;
    padding:5px 0px 5px 8px;
  width:132px;*/
  background: #EF322E;
   color:#FFFFFF;
   text-decoration:none;
  padding:5px 0px 5px 0px;
   text-indent: 7px;
   margin-bottom: -1px;
   width:153px;
}
.netmenu {
width: 20px;
height: 30px;
margin-top: -18px;
left: 20px;
position: absolute;
top:-3px;
}
.transDivMenu{
  top:0px;
  padding-top:12px;
}

 .dateDiv{
    display: inline-block;
    position:relative;
    width:100px;
    height:29px;
    padding:0px 5px 0px 5px;
    border:1px solid #aeaeae;
    background:#F6F8F7;
  }
  .dateTextbox{
    display: inline-block;
    float:left;
    width:70px;
    .width:67px;
    height:16px;
    color:#585858;
    font-size:13px;
    margin-top:5px;
    outline:none;
    overflow: hidden;
    border:1px solid #F6F8F7;
    background:#F6F8F7;
  }
  .StrtDte{
    float: left;
    display: inline-block;
    height:31px;
  }
  .StrtTxt{
    float: left;
    display: inline-block;
    font-size: 12px;
    color: #959292;
    margin-top: 7px;
  }
  .ToTxt{
    font-size: 14px;
    color: #585858;
    display:inline-block;
    padding:0 5px 0 5px;
  }
  .CalenderDiv{
    width: 310px;
    float: left;
    display:inline-block;
    .margin-top:6px;
  }

  @media \0screen{
    .CalenderDiv{
      margin-top:3px;
    }
   }

   .ui-datepicker-trigger {
    cursor: pointer;
    float: right;
    margin-top: -21px;
}

.pro_pagination {
    color: #4595ae;
    float: right;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    margin: 25px 0;
}
.pro_pagination a {
    color: #4595ae;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
}
.pro_pagination .current {
    background-color: #4595ae;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 0 5px;
}

.headText {
    background: none repeat scroll 0 0 #e4f4f9;
    border-color: #e9edee -moz-use-text-color;
    color: #347d91;
    font-size: 13px;
    font-weight: bold;
    height: 58px;
    padding-left:10px;
}
.setPadLt {
    padding-left: 15px;
}
.setborderLt {
    border-left: 1px solid #e9edee;
}
.setborderRt {
    border-right: 1px solid #e9edee;
}
.contentText {
    border-bottom: 1px dashed #e3e3e3;
    color: #585858;
    font-size: 13px;
    font-weight: normal;
    height: 58px;
    padding-left:15px;
}
.setBg2 {
    background: none repeat scroll 0 0 #f6f8f7;
}
.setBg1 {
    background: none repeat scroll 0 0 #ffffff;
}

.no-debit-text {
    color: #585858;
    font-size: 20px;
    text-align: center;
}