/*about us starting*/
.setcolor_about{
		color: #7C7A7B;
		font-family: Arial,Helvetica,sans-serif;
		font-size: 14px;
		line-height: 23px;
}
#header-about{
 	color: #5099AC;
    font-family: arial;
    font-size: 22px;
    margin-bottom: 25px;
    margin-top: 10px;
}
.abtlist{
	list-style: disc outside;
	margin: 10px 0px 20px 30px;
	list-style: #000;
}
.abtlist li{
	color: #7C7A7B;
	font-family: Arial,Helvetica,sans-serif;	
	line-height: 23px;
	font-size: 14px;
}
.abtlist li span{
	font-style: italic;	
}
.fam_press
{
	padding: 20px 0px;
	border-bottom: 1px solid #DDE1E2;
}
.press_txt
{
	width: 250px;
	text-align: center;
	color: #5099AC;
	font-size: 15px;
	line-height: 20px;
	padding-right: 20px;
}

.providerFrame{
	background: url('/assets/header/tex_box.png') no-repeat;
	height: 182px;
	width: 414px;
	margin: 15px 40px 20px 10px;		
}
.providermsg{
	color: #7C7A7B;
	font-size: 14px;
	text-align: center;
	line-height: 20px;
	font-family: Comic Sans MS;
}
.providerName{
	font-size: 16px;
	color: #5A9DB7;
	padding: 0px 0px 4px 4px;
}
.activities_head{
	color: #5099AC;
	font-size: 16px;
}
.providerType{
	font-size: 13px;
	color: #7C7A7B;
	padding: 0px 0px 0px 4px;
}
/*about us ending*/

/*contact us start*/
	 /* Styles specific to this particular page */
	 
.txtarea{
	padding: 8px 4px 4px 4px;
	background-color: #FFFFFF;
	border: 1px solid #CDE0E6;
	width: 410px;
	height: 130px;
}
.txtv{
	background-color: #FFFFFF;
	border: 1px solid #CDE0E6;
	height: 28px;
	width: 410px;
	padding-left: 4px;
	padding-right: 4px;
}
  .setHyphen{
  font-family:Arial, Helvetica, sans-serif;
  font-size:14px;
  color:#999999;
  margin-top:6px;
}
  .scroll-pane
  {
    width: 100%;
    height1: 570px;
    overflow: auto;
  }

  .contact-us-para{
    margin: 12px 0;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 23px

  }
  .qstn{
    color: #5099AC;
    font-size: 15px;
    font-weight: bold;
  }
  .contact-us-title
  {
    margin-top: 10px;
    margin-bottom: 5px;
    color:#5099AC;
    font-weight:bold;
    font-size: 22px;
  }
  .contact-us span,a{
    color:#5099AC;

  }
  .image
  {
    background: url('/assets/event_index/contact_profile_bg.jpg') no-repeat scroll 0 0 transparent;
    margin-left: 586px;
    padding: 7px;
    width: 245px;

  }
  .contact-us input[type="text"]{
    background-color: #FFFFFF;
    border: 1px solid #CDE0E6;
    height: 28px;
    width: 410px;
    padding-left:4px;
    padding-right:4px;
    .padding:4px;
    .height:18px;

  }
  .contact-us textarea{

    padding:8px 4px 4px 4px;
    .padding:8px 4px 4px 4px;
    background-color: #FFFFFF;
    border: 1px solid #CDE0E6;
    width: 410px;
    height:130px;
  }
  .form{
    background:url('/assets/event_index/formsection_middle.jpg') repeat-y ;
    padding: 8px 5px 2px 14px;
    .padding: 8px 5px 22px 14px;
    width: 531px; 
    margin-top: -7px;

  }
  #star{color:#FF0000;!important}
  .questions{
    width:565px;
    float:left;
  }
  .contact-us-content-3{
    clear:both;}
  .contact-us{
    width:880px;
    margin: 0 auto;

  }
  .label{
    width:88px;
    font-size:14px;
    font-weight:bold;
    color:#595758;
    height:40px;
  }
  .submit{
    margin-top:18px;
  }
  .answ{color:#444444;}
  .error{
    display:none;
    color:#FC8989 !important;
    font-size:13px;
  }

  .contact-us table tr{
    margin:10px;
  }
  .setbg_top_contact{
    background:url('/assets/event_index/formsection_top.jpg') no-repeat;
    height: 23px;
    width:548px;
  }

  .setbg_bottom_contact{
    background:url('/assets/event_index/formsection_bottom.jpg') no-repeat;
    height: 23px;
    width:548px;
  }
  .inpt{
    margin-bottom:7px;
    margin-top:-15px;
    position:relative;
  }
  .message_div{
    margin-top: 47px;

  }
  .areyoupp{
    background-color: #FFFFFF;
    border: 1px solid #CDE0E6;
    height: 28px;
    width: 420px;
    color: #999999;
    font-size: 13px;
    padding: 3px 0px;
	display:block !important;
  }
  .areyoupp option{
    padding: 4px 0px 4px 5px;
    background: #F6F8F7;
  }
  #how_it_worksDiv{
	width:100%;
	height:100%;
	padding-bottom:40px;
	/*height:820px;
	background:#F6F8F7;*/
	min-width:1006px;
	.min-width:1000px;
	min-width:1000px\0/IE9;
	margin-top:43px;
}
.bfrlogindiv
{
	padding-top: 77px !important;
}
.aftrlogindiv
{
	padding-top: 20px !important;
}
.TopDiv{
	margin:0 auto;
	width:950px;
	margin-top:-10px;
  }
/*contact page ending*/