.fbOfferCode{
    background-color: #fff;
    border: 2px solid #e3e3e3;
    /*height: 214px;*/
    margin: 0 auto;
    position: relative;
    top: 250px;
    width: 440px;
}
.fbOfferCode h2{
    font:Arial, Helvetica, sans-serif;
    font-size:20px;
    color:#5099ac;
    padding:10px 0px 10px 0px;
    border-bottom:1px #c2c6c7 solid;
    text-align:center;margin:0px;
}
.fbOfferCode h2 a{
    display:inline;
    float:right;
    margin:0px 15px 0px 0px;
    text-decoration:none;
}
.fbOfferCode .offerContent{
    padding:20px 40px 5px;
    color:#474747;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    line-height:20px;
    width:360px;
    margin-bottom:20px;
}
.fbOfferCode .offerContent input{
    border:1px #e3e3e3 solid;
    border-radius:4px;
    width:96%;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#535353;
    margin:10px 0px 10px 0px;
    padding:10px 6px;
}
.fbOfferCode .offerContent .proceed{
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    text-shadow: -1px 1px rgba(125,21,30,.76);
    width: 173px;
    height: 19px;
    background-color: #f82b2b;
    border: solid 1px #dc1d1d;
    text-decoration:none;
    padding:10px 0px 10px;
    text-align:center;
    display:inline-block;
    float:left;
    margin-top: 15px;
}
.fbOfferCode .offerContent .skip{
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 4px rgba(255,255,255,.4);
    width: 173px;
    height: 19px;
    background-color: #6cc1dd;
    border: solid 1px #61adc7;
    text-decoration:none;
    padding:10px 0px 10px;
    text-align:center;
    display:inline-block;
    float:right;
    margin-top: 15px;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    opacity:0.8;
    background-color: #fff; /*dim the background*/
}

#fbcode_error{
    color:red;
    font-size: 14px;
    font-family: Arial;
}

#load_fb{
    float: right;position: relative;right: -24px;top: -25px;display: none;
}

#offer_code_lay {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}
