body{
 /*background:#F6F8F7;*/
}

#how_it_worksDiv{
	width:100%;
	height:100%;
	padding-bottom:40px;
	/*height:820px;
	background:#F6F8F7;*/
	min-width:1006px;
	.min-width:1000px;
	min-width:1000px\0/IE9;
	margin-top:43px;
}
.bfrlogindiv
{
	padding-top: 77px !important;
}
.aftrlogindiv
{
	padding-top: 20px !important;
}
.setTopBprder{
	width:100%;
	border-top:1px solid #cee1e8;
	padding-top:30px;
	
}
.TopDiv{
	margin:0 auto;
	width:950px;
	margin-top:-10px;
  }
.TopListText{
	width1:384px;
	margin:0 auto;
	padding-top:10px;
	padding-bottom:10px;

}
.TopListText .menuText {
    color: #4495ae;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: normal;
    white-space: nowrap;
	width:8px;
}
.TopListText .selectedMenuText {
    color: #5AA3B6;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
	width:7px;
	.width:11px;
}

.TopListText .dot,.dot {
    display: inline-block;
    position: relative;
    top: 3px;
	.top: 3px;

}
 .TopListText .menuText:hover {
    color: #5AA3B6;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
	text-decoration:underline;
}


 .topBoxOuterDiv{
	width:100%;
	margin:0 auto;
	border1:1px solid red;
}
 .NumberDiv{
	border1:1px solid blue;

}
 .marginTop{
	margin-top:20px;
}

 .topBoxDiv {
	border: 1px solid #CDE0E6;
	height: 411px;
	width: 300px;
	background:#FFFFFF;
	margin:0 auto;
	margin-top:13px;	
}

 .setBoxText{
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#5099ac;
	margin-top:10px;
}

 .provider_text{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#6b6b6b;
	margin:25px 0 0 20px;
	line-height:26px;
	text-align:left;
	width:258px;
}
 .moreText{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#176174;
}
 .happyText{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#5099ac;
	margin:3px 0 0 20px;
}
 .LoginBoxDiv{
	background:#FFFFFF;
	border: 1px solid #CDE0E6;
	height:158px;
	width: 300px;
	margin:0 auto;
	left:-8px;
	position:relative;
	margin-top:30px;

}

 .loginTextDiv{
    width: 300px;
    margin-top: 29px;
}
 .loginText{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color: #444444;
    font-weight:bold;
}
 .loginText a{
    color: #307193;
    font-size: 14px;
}
#how_it_worksDiv .setleftLanding{
    margin: 0 5px 0 5px;
    font-weight:normal;
    font-size: 12px;
}
 .regBlueText{	
    color:#307193;
    text-decoration: none;
    font-size: 14px;

}
 .setArrow{
    top:1px;
    left: 2px;
    position:relative;
}
 .outer{
    width: 304px;
    margin: 0 auto;
}
 .sermarginTop{
    margin: 24px 0 0 0;
}

 .FamitityDiv{
	width:300px;
	margin:0 auto;
	margin:8px 0 0 -37px;
}

/********************* Terms of service  & Privacy Policy style*************************/

#how_it_worksDiv .terms_of_servie_text{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color: #4495ae;
}

#how_it_worksDiv .para_inner_text{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color: #7e7979;
	padding:10px 0px 9px 8px;
	line-height:22px;
}

/******************* Discover, Purchase pop up style ******************/

.top_all_text{
	margin:20px 0 0 95px;
	text-align:left;
    color: #5099AC;
    font-size: 14px;
    font-weight: bold;
}

.service_discover_div{
    border-bottom: 1px solid #D7DADB;
    width: 701px;
	margin:0 auto;
	margin-top:10px;
}

#dot_menuText {
    color: #4495ae;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 36px;
    font-weight: normal;
    white-space: nowrap;
	width:15px;
}
.setTopLeftDiscover{
	margin:0px 0 0 103px;
}
.register_famtivity{
    color: #6B6B6B;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
	margin: 18px 0 0 4px;
}
.footer{
	min-width:1006px;
	.min-width:1000px;
	min-width:1000px\0/IE9;
}
.headerPart1{
	min-width:1006px;
	.min-width:1000px;
	min-width:1000px\0/IE9;
}


/*@media screen and (-webkit-min-device-pixel-ratio:0) {
#how_it_worksDiv{
	min-width:959px;
	border1:1px solid red;
}
.footer{
	min-width:968px;
	border1:1px solid red;
}
.headerPart1{
	min-width:962px;
	border1:1px solid red;
}

}
*/

/***************************************

  
  Setting Page Style


****************************************/

.SettingsDiv{
}
.SettingsDiv .ActivityTopSetting{
	margin:34px 0px 0px 14px;
}

.SettingsDiv .SettingsRow1{
	width:920px;
	margin:5px 0 0 30px;
	height:35px;
}
.SettingsDiv .leftSettingDiv{
	width:400px;
	float:left;
	display:inline-block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#616161;
	vertical-align:top;
	margin-top:8px;
}
.SettingsDiv .centerDropdown{
	width:165px;
	float:left;
	display:inline-block;
}
.SettingsDiv .lastSettingDiv{
	width:285px;
	float:left;
	display:inline-block;
	vertical-align:top;
	margin-top:3px;
	margin-left:10px;
}
.SettingsDiv .settingsDropdown{
	background:url('/assets/settings/dropdown.png') no-repeat;
	width:160px;
	height:31px;
	display:inline-block;
}
.SettingsDiv .settingsDropdown .selectDiv {
    color: #999999;
    cursor: default;
    display: inline-block;
    font-size: 13px;
    height: 23px;
    overflow: hidden;
    padding-left: 7px;
    position: relative;
    top: 4px;
    width: 127px;
}
.SettingsDiv .dropDownDivSettingVisible {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CDE0E6;
    color: #959292;
    display: inline-block;
    font-size: 13px;
    height: 74px;
    margin-left: 0;
    margin-top: 0px;
    overflow-y: scroll;
    position: absolute;
    width: 157px;
    z-index: 500;
}
.SettingsDiv .dropDownDivSettingVisible a{
    color: #999999;
    display: block;
    padding: 3px 0 3px 3px;
    text-decoration: none;
}
.SettingsDiv .dropDownDivSettingVisible a:hover{
    /*background:#73C3DD;*/
    color:#fe7c0a;
}


.SettingsDiv .checkboxImg {
    display: inline-block;
    margin-right:5px;
    position: relative;
    vertical-align: top;
	float:left;
}


.SettingsDiv .altCheckboxOff {
    background: url("/assets/provider_event_list/pro_checkbox_normal.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: inline-block;
    height: 21px;
    width: 19px;
}

.SettingsDiv .altCheckboxOn {
    background: url("/assets/provider_event_list/pro_checkbox_selected.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: inline-block;
    height: 21px;
    width: 19px;
}
.SettingsDiv .setdividerImage{
	background:url('/assets/settings/dort_line.png') repeat-x;
	width:98%;
	margin:0 auto;
	height:8px;
	margin-top:30px;
	
}
.SettingsDiv .block_user_div{
	margin:33px 0 20px 30px;
}
.SettingsDiv .block_text{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#616161;
}
.SettingsDiv .inner_block{
	margin:20px 0 0 0;
	width:920px;
}
.SettingsDiv .formDiv{
	width:400px;
	margin-top:8px;
}
.SettingsDiv .textbox_block{
    border: 1px solid #CDE0E6;
    color: #999999;
    display: inline-block;
    font-size: 13px;
    height: 27px;
    padding: 0px 4px 0;
	width: 269px;
	.padding: 5px 4px 0;
	.height: 22px;
    
}

.SettingsDiv .leftSideField {
    color: #5A5757;
    font-size: 14px;
    font-weight: bold;
    margin-top: 8px;
    vertical-align: top;
    width: 66px;
}
.SettingsDiv .mobileDiv{
	width:920px;
	margin:28px 0 0 30px;
}
.SettingsDiv .mobileLt{
	width:400px;
}

.SettingsDiv .phone_text{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#999999;
}
.SettingsDiv .phone_number{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#616161;
	padding:10px 0 0 12px;
}
.SettingsDiv .add_phone_number{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#5099AC;
	padding:10px 0 0 12px;
}

.SettingsDiv .remove_text{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#5099AC;
}
.SettingsDiv .mobileRt{
	width:384px;
	background:#edf1f2;
	padding:10px;
	margin:20px 0 0 70px;
}

.SettingsDiv .paddingTop10_settings {
    margin: 0 auto;
    padding-top: 10px;
    width: 797px;
}

/************************************

Contact menu design in settings page

*************************************/

.SettingsDiv #dispContactDiv{
	position: absolute;
	z-index:2000;
	width:196px;
	margin-left: 1px;
    margin-top: 46px;
	background: #F7F9F8;
	border-top:1px solid #C4DCE8;
	.margin-left:0px;
	.margin-top:48px;

}
.SettingsDiv #dispContactDiv .topBox{
	border:1px solid #C4DCE8;
	height:287px;
	width:194px;
	border-top:none;
	border-bottom:none;
}
.SettingsDiv #dispContactDiv .bottomBox{
	display: block;
	width: 204px;
	height:16px;
	background:url('/assets/settings/dropdown_bottom.png') no-repeat;
	margin-left:-4px;
	margin-top:-5px;
	.margin-left:-4px;
}
.SettingsDiv  #dispContactDiv .searchRow{
	border-bottom:1px solid #C4DCE8;
	height:32px;
	width:533px;
	padding:6px 0px 0px 10px;
}
.SettingsDiv  #dispContactDiv .searchRow .searchBox{
	width:255px;
	height:24px;
	.height:18px;	
	border:1px solid #87B8C9;	
	padding:0px 4px 0px 4px;
	*padding:6px 4px 0px 4px;	
	color: #999999;
	background: #F7F9F8;
	font-size:13px;
	margin-right:5px;
}
.SettingsDiv  #dispContactDiv .groupRow{
	border-bottom:1px solid #C4DCE8;
	height:38px;
	width:192px;	
}
.SettingsDiv  #dispContactDiv .groupRowLeft{
	width:185px;
	height:29px;
	padding:9px 0px 0px 9px;
	.padding1:10px 0px 0px 10px;
	border-right:1px solid #C4DCE8;
}
.SettingsDiv #dispContactDiv .contactNamesRow{
	border-bottom:1px solid #C4DCE8;
	height:202px;	
	width:192px;		
}
.SettingsDiv #dispContactDiv .contactRowLeft{
	width:187px;
	height:194px;
	overflow-y:scroll;
	border-right:1px solid #C4DCE8;
	padding:8px 0px 0px 7px;
	.padding1:10px 0px 0px 10px;
}
.SettingsDiv #dispContactDiv .setHeight{	
	height:32px;
	.height:37px;
}
.SettingsDiv #dispContactDiv .contactRowRight{
	width:184px;
	.width:191px;
	height:194px;
	overflow-y:scroll;
	border-right:1px solid #C4DCE8;
	padding:8px 0px 0px 7px;
	.padding:10px 0px 0px 10px;
}
.SettingsDiv #dispContactDiv .buttonRow{	
	padding:10px 0px 0px 10px;
}
		
		/* Off state for a ARC checkbox */
.altCheckboxOff {
	display: inline-block;	
	background: url('/assets/global/checkbox/checkbox_normal.png') no-repeat;
	width:18px;
	height:18px;	
	cursor: pointer;
}
.Addtext{
	color: #176174;
    display: block;
    font-size: 12px;
    font-weight: bold;
    left: 37px;
    position: relative;
    top: -23px;
    .top: -19px;
}
/* On state for a ARC checkbox */
.altCheckboxOn {
	display: inline-block;	
	background: url('/assets/global/checkbox/checkbox_selected.png')  no-repeat;
	width:18px;
	height:18px;	
	cursor: pointer;	
}
.SettingsDiv  #dispContactDiv .checkboxCont{
	color: #807e7e;	
	font-size:12px;
	margin-left:3px;
	.margin-left:6px;
}

.SettingsDiv .parent_notification{
	width:715px;
	margin: 28px 0 0 30px;
}
.SettingsDiv .parent_notification .Parent_leftDiv{
	float:left;
	display:inline-block;
	width:121%;
}
.SettingsDiv .parent_notification .left_Con{
	width:400px;
	float:left;
	display:inline-block;
	border:1px solid #000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#616161;
}
.SettingsDiv .parent_notification .parent_Content{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#616161;
	vertical-align:top;
	margin-top:5px;
	height:28px;
}

@media \0screen {
#how_it_worksDiv{
	min-width:1000px;
}
.footer{
	min-width:1000px;
}
.headerPart1{
	min-width:1000px;
}
.SettingsDiv .textbox_block{
    border: 1px solid #CDE0E6;
    color: #444444;
    display: inline-block;
    font-size: 13px;
    height: 22px;
    padding:5px 4px 0px 6px;
    width: 269px;
}
.SettingsDiv #dispContactDiv{
	margin-left:-164px;
	width:196px;
}
.SettingsDiv #dispContactDiv .bottomBox{
	margin-left:-4px;
}
.SettingsDiv #dispContactDiv .topBox{
	width:194px;
}
.SettingsDiv  #dispContactDiv .groupRowLeft{
	width:184px;
}
.SettingsDiv #dispContactDiv .contactRowLeft{
    width:187px;
}


}

