/*article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }*/
audio, canvas, video { display: inline-block;  *display: inline;
 *zoom: 1;
}


/***********************************/
.container{
    width:100%;
    height:100%;
}
.container .header{
    margin-top:15px;
}
.container .bottomDiv{
    margin:4px 0px 64px 0px;
}
.container .cityDiv{
    margin:0 auto;
    width: 419px;
    background:#e9f4f7;
    padding:23px 0px 10px 0px;
    margin-top: -166px;
}
.container .cityDiv .confirmText{
    margin-left:65px;
    color:#515050;
    font-weight:bold;
    font-size:16px;
}
.container .cityDiv .tryButton{
    display:block;
    margin:22px 0px 0px 114px;
}
.container .cityDiv .signinRegDiv{
    width: 191px;
    margin: 8px 0px 0px 114px;
}
.container .cityDiv .signinRegDiv a,
.container .cityDiv .signinRegDiv a:hover{
    color:#307193;
    font-size: 14px;
}

/***********************************
 *        Select Box
 * *********************************/
.container .cityDiv .customCity{
    margin:8px 0px 0px 65px;
}
.selectBoxCity{
    display:inline-block;
    background:url('/assets/landing/confirm _city.png') no-repeat;
    width:285px;
    height:31px;
    top:0px;
    position:relative;
}
.selectBoxCity .selectDiv{
    display:inline-block;
    cursor:default;
    font-size:12px;
    /*color:#6a6a6a;*/
	color:#444444;
    width:242px;
    position:relative;
    top:3px;
    left:4px;
    width:240px;
    height:23px;
    overflow:hidden;
    padding-left: 5px;
}
.dropDownDivCity{
    display:inline-block;
    color:#231F20;
    font-size:12px;
    background:#ffffff;
    color:#6a6a6a;
    border:1px solid #9fd8eb;
    width:283px;
    margin-top:-1px;
    margin-left:0px;
    position:absolute;
    z-index:500;
    /* options are overflow set height and scroll */
    height:105px;
    overflow-y:scroll;
}
.dropDownDivCity a{	
    color:#6a6a6a;
    display:block;
    text-decoration:none;
    padding:3px 0px 3px 7px;
}
.dropDownDivCity a:hover{
    background:#73C3DD;
    color:#ffffff;
}
.loginTextDiv{
    width: 402px;
    margin-top: 29px;
}
.loginText{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color: #444444;
    font-weight:bold;
}
.loginText a{
    color: #307193;
    font-size: 14px;
}
.setleftLanding{
    margin: 0 5px 0 5px;
    font-weight:normal;
    font-size: 12px;
}
.regBlueText{	
    color:#307193;
    text-decoration: none;
    font-size: 14px;

}
.setArrow{
    top:1px;
    left: 2px;
    position:relative;
}
.outer{
    width: 304px;
    margin: 0 auto;
}
.sermarginTop{
    margin: 24px 0 0 0;
}
.setFbOr{
    float:left;
    display: inline-block;
    width: 34px;
    height: 22px;
    text-align: center;
    padding-top:20px;
    color: #444444;
    font-size:12px;

}
.how_worksDiv{
   left:339px;
    margin: 0 auto;
    position: relative;
    top: -46px;
    width: 64px;
	z-index:1;
}
.setDivider{
    font-size: 13px;
    line-height: 19px;
    vertical-align: top;
    cursor:auto;
    *top:1px;
    *position:relative;
    margin:0px 3px 0 3px;
}
.errorDiv{
    color: #FC8989;
    font-size: 12px;
    margin:4px 0 0 66px;
    width: 122px;
	font-family:Arial, Helvetica, sans-serif;
}
/*******************Blog New********************/
.blogViframe{
    position: relative;
    display: inline-block;
}
.blogPlybt{
    position: absolute;
    top: 75px;
    left: 100px;
}
/*******************Splash********************/
.splashDiv{  
    /*width: 968px;*/
   /* height: 624px;*/
    background-color: #FFFFFF;
    border: 2px solid #D7DADB;
    padding: 10px 10px 2px 10px;
    position: relative;
    overflow1: hidden;
}
.splashBg{
    position: relative;   
	margin:0px auto;
}
.splashBg img{
    position: relative;
	width:100%;
	height:100%;
	-ms-interpolation-mode: bicubic;
}
.splashContent{
    position: absolute;
    bottom: 4px;
    padding: 7px 7px 5px 5px;
	width:100%;
}
.splahLsitTxt{
    background: url("/assets/landing/lanBull.png") no-repeat scroll 0 9px transparent;
    color: #414141;
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    line-height: 30px;    
    padding: 0px 0px 0px 19px;
}

.classname {
	left: 4%;
    position: absolute;
    top: 16%;
    transform: rotate(316deg);
	-webkit-transform: rotate(316deg);
	-moz-transform: rotate(316deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	-o-transform: rotate(316deg);
	writing-mode: tb-rl;
	font-family:Arial;
	font-size:14px;
	color:#fff;
	
	}

/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles 
	#splahLsitTxt 
		{
			font-color:red;
		}
	.splashBg img{
	    position: relative;
	    width:100%;
	    height:100%;
	    -ms-interpolation-mode: bicubic;
	}
}*/

.splahLogin{
    position: relative;
    display: inline-block;
}
.splahChkbox{
    border: 1px solid #D7DADB;
    width: 20px;    
}
.chkTxt{
    font-size: 14px;
    color: #504f4f;
    font-family: Arial;
    margin: 0px 0px 0px 5px;
    display: inline-block;
    position: relative;
    top: 0px;
}
.splashBotBg{
    background-color: #ffffff;
    bottom: 6px;
    display: block;
    height: 157px;
    left: 10px;
    opacity: 0.6;
    position: absolute;
    width: 98%;
}
.splashClsebt{
    position: absolute;
    top: 10px;
    right: 10px;
}
#popup_box { 
    display:none; 
    position:absolute;  	
    left: 300px;
    top: 48px;
    z-index:100000;
    /*width: 50%;*/
}
#popupBoxClose {
    font-size:20px;  
    line-height:15px;  
    right:5px;  
    top:5px;  
    position:absolute;
}
#overlay{
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 10000;
    opacity: 0.6;
    filter:alpha(opacity=60);
}