.detail-container{
 width:1260px; 
 margin:0 auto;
 padding:15px 10px 40px 10px;
}
.detail-inner-container{
width:1004px; 
margin:0 auto;
}
.info-container{
padding:20px 30px 20px 30px;
}
.provider_info{
	margin-top:10px;background-color:#fff;height:auto;
	border-top:1px solid #DADADA;
	border-left:1px solid #DADADA;
	border-right:1px solid #DADADA;
	color:#585858;
}
.flash_content{
    top:77px !important;
}
.info_inner{
	margin:2px 15px 10px 15px;
	font-family: 'open_sansregular',sans-serif;
}
.info_topspace{
	margin-top:10px;
}
.image_section{
	margin-top:10px;background-color:#eaeaea;height:auto;overflow:hidden;
	border-top:1px solid #DADADA;
	border-left:1px solid #DADADA;
	border-right:1px solid #DADADA;
}
.form_topline{
	margin-bottom:25px;border:1px solid #DADADA;background-color:#fff;border-top: none;
}
/* form section start*/
.detail-form-header{
color:#FF4D48;
font-family: 'open_sansregular',sans-serif;
font-size:20px;
/*border-bottom:1px solid #DADADA;
padding-bottom:15px;*/
}

.emailInputBox{
color: #999;
font-family: 'open_sansregular',sans-serif;
border-right: 0;
border-bottom: 0;
margin: 7px 0 5px 0;
width: 355px;
height: 34px;
-moz-box-shadow: 0 0 1px #888 inset;
box-shadow: 0 0 1px #888 inset;
padding: 4px 5px 5px 5px;
font-size: 13px;
border: 1px solid #E1E1E1;
}

.descInputBox{
color: #999;
font-family: 'open_sansregular',sans-serif;

margin: 5px 4px 0 0;
width: 820px;
height: 70px;
float:left;
-moz-box-shadow1: 0 0 1px #888 inset;
box-shadow1: 0 0 1px #888 inset
padding: 5px;
font-size: 13px;
border: 1px solid #E1E1E1;
padding:5px;
}

.msg-send-button{
margin-top:40px;
width:100px;
height:40px;
background-color:#EF322E;
display:inline-block;
margin-left:5px;
font-size:14px;
color: #FEFFFD;
cursor: pointer;
border:0;
}

.sendMsgError,.sendEmailError{
    color: #FC8989;
    font-size: 12px;
    margin-top: 3px;
}
/* form section end*/

/* Activity schedule section start */
.schedule-container{
margin:0 auto;
margin-top:20px; 
width:939px; 
border:1px solid #dadada;
font-size:13px;
}

.left-schedule-container{
margin:0 10px 0 10px;
}

.right-schedule-container{
margin:-3px 13px 10px 0px;
}

.left-main-container{
	width:740px; border-right:1px solid #dadada; margin:10px 10px 10px 0px; 
}
.calendar_div{ width:164px; margin-right:10px; }
.left-top-container{
	border-bottom:1px solid #dadada; width:552px; padding-bottom:14px; margin-bottom:10px;
}
.left-bottom-container{
	margin-bottom:10px;
}
.sched-date-top{
border-bottom:1px solid #DADADA;
padding-bottom:10px;
display:inline-block;
width:750px;
}

.sched-date-top-anywhere{
padding-bottom:10px;
display:inline-block;
width:750px;
}

.sched-date-left{
width:65px;
height:60px;
border:3px solid #D6D6D6;
float:left;
}

.sched-date-right{
	float:left;
	margin:10px 0px 0px 15px;
	color:#565656;
	font-family: 'open_sansregular',sans-serif;
	font-size:14px;
}
.attending-button{
	float:right;
	margin:10px 0px 0px 15px;
	padding:10px;
	color:#FE0000;
	font-family: 'open_sansregular',sans-serif;
	font-size:14px;
	/*width:30%;*/
}
.attending-button span{
	border:1px solid #FE0000;
	padding:5px 10px;
}
#schedule-cal-date{
margin: 2px 5px;
border-bottom:1px solid #DADADA;
font-size:24px;
font-weight:bold;
color:#FE0000;
display:block;
text-align:center;
}
#schedule-month{
text-align:center;
display:block;
padding-top:2px;
color:#9F9F9F;
font-size:16px;
}
.sched-month{
padding-top:10px;
}
.selected-day{
text-decoration:underline;
color:#FE0000;
padding-left:10px;
display:inline-block;
}
.normal-day{
padding-left:10px;
display:inline-block;
}
.anytime_text{
	display: block;
	font-family: 'open_sansregular',sans-serif;
    font-size: 14px;
    margin-top: -1px;
    padding: 0 0 6px;
    text-align: left;
}
.sched-info{
padding:15px 0px 10px 0px;
font-family: 'open_sansregular',sans-serif;
font-size:12px;
color:#7F7F7F;
}
.scheduled-address{
float:left;
padding-right:25px;
margin-left:10px;
}
.act-location{
background:url(/assets/activity_detail/map_lanmark_icon.png) no-repeat;
}
.act-location span{
display:inline-block;
padding-left:15px;
}
.no-of-participants{
background:url(/assets/activity_detail/leader.png) no-repeat;
float:left;
padding: 2px 20px 0px 20px;
/*margin-left:20px;*/
}
.anywhere{
background:url(/assets/activity_detail/map_lanmark_icon.png) no-repeat;
float:left;
padding: 2px 20px 0px 15px;
/*margin-left:20px;*/
}
.by_appointment{
background:url(/assets/activity_detail/by_appointment.png) no-repeat;
float:left;
padding: 2px 20px 0px 22px;
/*margin-left:20px;*/
}
/* Notes Section start*/
.detailHover{
    background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #B6DCE9;
    color: #595758;
    font-size: 12px;
    position: absolute;
    z-index: 1000;
    display: none;
    padding: 10px 0px;
	/*left: 0;*/
	top: 25px;
	margin-right: 13px;
}
.detailToparrow{
    background: url("/assets/activity_schedule/top_arrow.png") no-repeat scroll center 0 transparent;
    height: 12px;
    left: 5%;
    position: absolute;
    top: -12px;
    width: 15px;
}
.detailnoteDesc{
    color: #7C7E7D;
    font-size: 13px;
    border-top:1px dashed #E3E3E3;
    margin: 10px 0px 0px 0px;
    padding: 10px 10px 0px 10px;
    text-align: left;
}
.schedule-notes{
position: relative;
background:url(/assets/activity_detail/note_icon.png) no-repeat;
float:left;
padding:3px 25px 0px 25px;
margin-left:20px;
width:18px;
height:18px;
}
.schedule-notes:hover div{
    display: block;
}
/* Notes section end*/
/* calendar section start*/
.add-to-calendar{
position:relative;
background:url(/assets/activity_detail/calander_icon.png) no-repeat;
float:left;
padding: 3px 20px 0px 20px;
margin-left:20px;
cursor: pointer;
}

.calenderHover{
    display:inline-block;
    position:relative;
    height:20px;
}
/*.calenderHover:hover div{
	display: block;
}*/
.calenderHoverdiv{
    display: none;
    border: 1px solid #B6DCE9;
    /*box-shadow: 4px 0 6px #D7DADB;*/
    background: #ffffff;
    width: auto;
    top: 28px;
    left:30px;
    position:absolute;
    z-index: 20000;
}
.calToparrow{
    position: relative;
    top: -13px;
    left: 15px;
}
.calHeadTxt{
    text-align: center;
    color: #3D8EA3;
    font-size: 18px;
    border-bottom: 1px solid #D6DAD9;
    padding:0 0 5px 10px;
}
.calHeadTxt b{
    position:relative;
    top:-5px;
    display:inline-block;
}
.clseBt{
    float: right;
    margin-right: 10px;
    margin-left:10px;
}
.calIcon{
    padding: 15px 10px;
    text-align: center;
    display: inline-block;

}
.calIcon label{
    color: #3D8EA3;
    font-size: 12px;
    font-weight: bold;
    padding: 7px 0px 0px 0px;
    display: block;
}

/* Calendar section end*/

/* discount section start*/
.detailDiscount{
	background: url(/assets/activity_schedule/discount_icon.png) no-repeat;
	padding: 4px 10px 0px 25px;
	height: 17px;
	width: 17px;
	float: left;
	margin-left1: 20px;
	position:relative;
	cursor: pointer;
}
.detailDiscount:hover div{
    display: block;
}
.detailDiscount div{
    width: 434px;
    left: -184px;
    top: 24px;
    background: #fff !important;
}
.withDiscountTxtWrap{
    width: 235px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    border:1px solid #E7E9E8;
}
.DiscountListWrap{
    border-top:1px solid #DBEAEF;
    margin: 10px 0px 0px 0px;
    padding: 7px 0px 0px 0px;
}



/* discount section end*/
.buy-now-button{
margin-left:15px;
height:35px;
padding: 7px 20px 0px 20px;
background-color:#f82b2b;
display:inline-block;
font-size:18px;
color: #FEFFFD;
cursor: pointer;
border:0;
text-align:center;
text-decoration:none;
}

.buy-now-button:hover {
    background-color: #ee1515;
} 
/* Activity schedule section end */

/* Activity price detail start*/


.price-detail{
	color:#FE0000;
	font-size:18px;
	font-weight:bold;
	padding:30px 0px 15px 28px;
    font-family: 'open_sansregular',sans-serif;
}
.act-price{
	color:#FE0000;
	font-size:40px;
	padding:5px 0px 15px 15px;
	 font-family: 'open_sansregular',sans-serif;
}
.detailnoteButton{
    position: relative;
    cursor: pointer;
	padding-right:15px;
}
.detailnoteButton div{
    width: 434px;
    right: 0px;
    top: 25px;
}
.schdDetailWrapper{
    border-bottom: 1px solid #E9F1F4;
    margin-bottom: 5px;
    padding1: 6px 10px !important;
    width: 97% !important;
	font-family: 'open_sansregular',sans-serif;
}
.schdTxt{
    padding: 6px 0px;
}
.scdPridetailNote{
    background: #F2F0F1;
    padding: 7px !important;
    text-align: left;
    margin-top: 10px;
}
/* Activity price detail end*/



/*Activity description info start*/
.tdalign{
color: #5A5A5A;
font-size: 14px;
}
.tdright{
color: #717171;
font-size: 13px;
left: 20px;

}
.blue{
color: #4495AE;
font-size: 13px;
}
.grey{
color: #717171;
font-size: 13px;
}
.detail-desc{
color: #595959;
font-size: 14px;
max-height:250px;
overflow:hidden;
line-height:21px;
word-wrap: break-word;
overflow:auto;
}
a.flink{
color:#4495AE;
text-decoration:none;
}
/*Activity description info end*/

/****** fill online form in activity detials page start******/
.fill_form_close{
    float:right;margin-bottom:6px;
}
.fill_form_arrow{
    position:relative;top:-17px;left:57px;
}
.fill_form_container{
    display:none; position:relative; width:auto; border:1px solid #BDD6DD; background:#F6F8F7; padding:10px 10px; z-index:2; margin-top: 10px;
}
.fill_form_container_inn{
    max-height: 150px;overflow-x: hidden;overflow-y: auto;width: auto;margin-top:5px;
}
.fill_form_block{
    float:left; line-height:20px;width:190px;padding-bottom:7px;font-family: 'open_sansregular',sans-serif;
}
.fill_form_top{
    padding-top:7px;
}
/*activity detail - form arrow */
.required_forms_icon_select{
	display:inline-block;
	background:url('/assets/event/required_forms_icon.png') no-repeat;
	width:18px;
	height:18px;
}
.required_forms_icon_normal{
	display:inline-block;
	background:url('/assets/event/required_forms_icon_disable.png') no-repeat;
	width:18px;
	height:18px;
}
/****** fill online form in activity detials page end******/
 /* Image section start*/
 .detailedImage{
margin-top:5px;
}
.activityDetail{
    height: 100px;
    width: 400px;
    margin-left: 1px;
    margin-top: 25px;
    position: absolute;
    overflow: hidden;
    /*opacity: 0.6;*/
    /*filter: alpha(opacity=60);*/
    /*background-color: #56513E;*/
	background-color:rgba(255,255,255,0.8);
}
.social-icons{
	position:absolute;
	padding: 10px 10px 10px 0px;
	font-family: 'open_sansregular',sans-serif;
}
  /* Image section end*/
/*Provider detail page start*/
.detailtxt{
    color: #939393;
    font-size: 14px;
    line-height: 20px;
    margin-bottom1: 25px;
    font-family:'open_sansregular';
}
.pdetailhtag{
    color: #4495ae;
    font-size: 20px;
    margin-bottom: 15px;
    font-family:'open_sansregular';
}
.detailcard{
/*    border-top: 1px dashed #dbdddd;
    padding: 15px 0 0 0;*/
    margin: 0 auto 25px;
    width: 100%;
}
.smoretxt{
    background-color:#ece8e7;
    border: 1px solid #ece8e7;
    color: #f75c5a;
    font-weight: bold;
    padding: 5px 5px 5px 6px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: 'open_sansregular';
}
/*Provider detail page end*/

.detail-close{
	float:right;
	/*border: 1px solid #DADADA;
	border-right: none;
	border-top:none;
	opacity: 0.6;
	filter: alpha(opacity=60);
		height:25px;
	background-color: #56513E;*/
	width:1033px;

	padding-top1:7px;
	position:absolute;
	margin:0 auto;
}
.activity-share{
    /*position: absolute;*/
    float: left;
    padding-left1: 10px;
    padding-top1: 5px;
    width: 170px;
	line-height:0px;
	margin-top:8px;
}
/*Card detail start*/
.detail-card-main{
	width1:1010px;
	margin:0 auto;
	font-family: 'open_sansregular',sans-serif;
	padding:20px 10px 20px 30px;
	background-color:#fff;
}
/*.moredetail{
	padding1: 20px;
	margin:0px auto;
	float:left;
}*/
.card-details{
	width: 440px;
	/*height: 350px;
	border-right: 1px solid #DADADA;
	padding-right: 20px;*/
	/*min-height:233px;*/

}
.detail-title{
	margin:0 auto;
	color:#ff4d48;
	font-size:20px;
	/*border-bottom: 1px solid #DADADA;
	padding:0px 0px 10px 0px;*/
}
.descdetail{
	padding1: 20px;
	margin:0px auto;
	float:left;
	font-size:14px;
	width:450px;
	/*padding-left:20px;*/
	color:#595959;
    width: 500px;
    /*margin-left: -12px;*/
}
.desc_detail_inner{
	/*height:215px;*/ 
    overflow:auto;
    margin-top:12px;
}
/*.desc_detail_inner{
	width1:470px;	
}*/
/*.desc-title{
	margin:0 auto;
	color:red;
	font-size:20px;
	border-bottom: 1px solid #DADADA;
	padding:0px 0px 10px 10px;
}*/
.providerl-logo-image{
    max-width: 100%;
    max-height: 100%;
    margin-top: 8px;
    margin-left: 10px;
    height: 40px;
    display: inline-block;
    float: left;
}
.provider-detailInfo{
    display: inline-block;
    text-align: left;
    margin-top: 20px;
    color:#515151;
}
/*Card detail end*/

.breadcrumb{
	color:#515151;
	font-size:16px;
	font-family: 'open_sansregular',sans-serif;
}
.breadcrumb a{
	color:#fe3030;
	text-decoration:none;
}
.truncatetitle {
   white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis;display:inline-block;
}

/*************** widget ***********/
.amazon_logo{
    background: url('/assets/card/amazon_logo.jpg') no-repeat;
    float: right;
    width: 100px;
    height: 21px;
    margin: 5px 8px;
}
.widget_main{
   display:inline-block;width:100%;
}
.widget_container{
width:1002px;height:405px;border:1px solid #d1d1d1; background-color:#fff;
}
.widget_title{
	color:#3D8BA2;padding: 10px;font-size: 20px;border-bottom: 1px dashed #C8C8C8;
}
.widget_inner {
    width: 424px;
    height: 324px;
    border: 1px solid;
    margin: 15px 0 15px 15px;
    display: inline-block;    
}
.act_widget_inner{
    width:430px; height:324px; border:1px solid; display:block; margin:0 auto; margin-top:15px;
}
.cardlist_sec{
	width:946px;
	margin: 0 auto;
}
.featured_load{
	width:410px; margin:0 auto; margin-top:241px;display:none;
}

.providerl-logo-image-dummy{		
	width:110px;
	height:62px;
	overflow:hidden;
	margin-left:10px;
	/*background-color: #ffffff;*/
	background-color:rgba(255,255,255,0.5);
	border:1px solid #dfdfdf;
}
.actnme{
	font-size: 20px; margin-bottom:4px;
}
.actcity{
	font-size:13px;
}
.bnme{
	font-size:30px;
}
.bcity{
	text-align: left;
	font-size:16px;
	padding: 0px 0 0 10px;
	display: block;
}

/*price details for special and discount starting here*/
	.titleTxtspecial{
    font-size: 14px;
    color: #FE0002;
    text-align: center;
    font-weight: bold;
    padding: 3px 0px 8px 5px;
    border-bottom: 1px dashed #C4DFE6;
    display: block;
    margin-bottom: 5px;
}
.listSPecialspace label{
	padding: 5px 0px;
	display:inline-block;
}
.discount_name{
    font-size: 13px;
    color: #0094AE;
}
.disocunt_price{
    color: #FE0002;
    font-size: 13px;
    font-weight: bold;
}
.discount_qty{
    color: #595758;
    font-size: 13px;
    font-weight: bold;
}
.ftcBlue63{
    color: #63A3BE;
}
.fts18{font-size: 18px !important;}

.ftcGray56{color: #565455;}

.fts40{font-size: 40px !important;}

.ftcRedff{color: #ff0000;}

.detailfeeshoverchkboxhelp{ 
    display: inline-block;
    height: 14px;
    width: 15px;
    position: relative;
    margin: 3px 0px 0px 3px;
    top: -25px;
    left: 53px;
}
.detailfeeshoverchkboxhelp img{
    width: auto;
    height: auto;
    max-width: 100%;
}
.detailfeeshoverchkboxhelp:hover p{
    display: block;
}
.detailfeeshoverchkboxhelp p{
    background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #B6DCE9;
    color: #595758;
    font-size: 12px;
    left: 14px;
    padding: 5px;
    position: absolute;
    top: 0px;
    width: 195px;
    z-index: 1000;
    display: none;
}
/*price details for special and discount ending here*/
.fill-form{
	background:url(/assets/activity_detail/activity_detail_fillform.png) no-repeat;
	float:right;
	padding:3px 10px 10px 17px;
	margin-top:20px;
	color:#63A3BE;
}
.no-detail{
	color:#6E6E6E;font-size:16px;
}
.more-text{
	font-size:32px;color:#51A0B5;
}
.no-detail-image{
	margin-top:55px;padding-top:80px;
}
.light_grey{color:#858585;}

