<%= stylesheet_link_tag "landing/how_it_works.css" %>
<%= stylesheet_link_tag "event_index/event_index.css" %>
<%= stylesheet_link_tag "event_index/menu.css" %>
<style type="text/css" id="page-css">
	/* Styles specific to this particular page
	.scroll-pane
	{
		width: 100%;
		height1: 570px;
		overflow: auto;
	}
	.horizontal-only
	{
		height: auto;
		max-height1: 500px;
	} */
	.terms_of_service{
		padding:8px;
		font-family:Arial, Helvetica, sans-serif;
		font-size:14px;
		color: #7E7979;
		margin:0 0 0 40px;
	}
	.clrBlueLight{
		color: #4495AE;
	}

</style>

 			<div id="how_it_worksDiv" style="margin-top:46px; background:#F6F8F7;">

		  <%if !current_user.nil?%>
			  <div class="TopListText" align="center" style="width:100%; marign:0 auto; padding-top:15px;">
		  <%else%>
		      <div class="TopListText" align="center" style="width:100%; marign:0 auto; padding-top:43px;">
		  <%end%>
				<div align="center" style="width:100%; margin:0 auto;"><a href="/provider_privacy_policy" class="menuText selectedMenuText">Privacy Policy</a></div>
			 <div class="clear"></div>
			  </div>
			 <div class="clear"></div>
			  <div class="setTopBprder"></div>
				<div class="TopDiv">
				<div class="scroll-pane">
				<p style="color: #7f7979; font-family: Arial,Helvetica,sans-serif;font-size: 18px;"><b>Last Updated:</b> <span class="date_text" style="font-weight:normal;">04/13/2013</span></p>
				<p>&nbsp;</p>
				<p class="terms_of_servie_text" style="font-size:16px;"><b>Famtivity Privacy Policy</b></p>
				<p class="para_inner_text">Welcome, and thank you for your interest in Famtivity, Inc. (&ldquo;Famtivity&rdquo; &ldquo;us&rdquo; or &ldquo;we&rdquo;) and our Service, as described in the Famtivity Terms of Use.</p>
				<p class="para_inner_text">This Privacy Policy describes the information that we gather from you, how we use and disclose your information, and the steps we take to protect your information. By using the Service, you consent to the privacy practices described in this policy.</p>
				<p class="para_inner_text">This Privacy Policy is incorporated into and is subject to the Famtivity Terms of Use. Capitalized terms that are not defined in the Privacy Policy have the meaning given to them in the Famtivity Terms of Use. </p>
				<p>&nbsp;</p>
				<p class="terms_of_servie_text"><b>The information that we collect:</b></p>

				<div class="para_inner_text">
					<ol style="list-style-type:disc; margin:0 0 0 30px;">
						<li class="clrBlueLight" style="font-size:20px;"><span style="font-size:14px;">User-provided Information</span></li>
						<p class="para_inner_text" style="padding:0px;">When you use the Service, you may provide and we may collect what is generally called &ldquo;personally identifiable&rdquo; information, such as you name, e-mail address, mailing address, mobile phone number, and demographic information. For example, you may provide us with personally identifiable information when you register for an account, use the Service, post User Content, interact with other users of the Service through communication or messaging features, or send us customer service related requests.</p>
						
						<li class="clrBlueLight" style="font-size:20px;"><span style="font-size:14px;">&ldquo;Cookies&rdquo; Information</span></li>
						<p class="para_inner_text" style="padding:0px;">When you use the Service, we may send one or more cookies &ndash; small text files containing a string of alphanumeric characters &ndash; to your device. We may use both session cookies and persistent cookies. A session cookie disappears after you close your browser. A persistent cookie remains after you close your browser and may be used by your browser on subsequent visits to the Service. Persistent cookies can be removed. Please review your web browser &ldquo;Help&rdquo; file to learn the proper way to modify your cookie settings. Please note that if you delete, or choose not to accept, cookies from the Service, you may not be able to utilize the features of the Service to their fullest potential.</p>

						<li class="clrBlueLight" style="font-size:20px;"><span style="font-size:14px;">&ldquo;Automatically Collected&rdquo; Information</span></li>
						<p class="para_inner_text" style="padding:0px; margin-bottom:10px;">When you use the Service or open one of our HTML e-mails, we may automatically record certain information from your web browser by using different types of technology, including &ldquo;clear gifs&rdquo; or &ldquo;web beacons.&rdquo; This &ldquo;automatically collected&rdquo; information may include your IP address or other device address or ID, web browser and/or device type, the web pages or sites that you visit just before or just after the Service, the pages you view on the Service, and the dates and times that you visit, access, or use the Service. This information is gathered for all users.</p>
                        
						<li class="clrBlueLight" style="font-size:20px;"><span style="font-size:14px;"><b>Third Party Web Beacons and Third Party Buttons:</b></span> <span class="para_inner_text" style="padding:0px;">We may also implement third party content, or advertising on the Service that may use clear gifs or other forms of web beacons, which allow the third party content provider to read and write cookies to your browser in connection with your viewing of the third party content on the Service. Additionally, we may implement third party buttons (such as Facebook &ldquo;like&rdquo; or &ldquo;share&rdquo; buttons) that may allow such third party to collect information about you through such third party&rsquo;s browser cookies, even when you do not interact with the button. Information collected through web beacons and buttons is collected directly by the third party, and Famtivity does not participate in that data transmission. Information collected by a third party in this manner is subject to that third party&rsquo;s own data collection, use, and disclosure policies.</span></li>
						

						<li class="clrBlueLight" style="font-size:20px; margin-top:10px;"><span style="font-size:14px;"><b>Information from Other Sources:</b></span> <span class="para_inner_text" style="padding:0px;">We may also obtain information, including personally identifiable information, from third parties and sources other than the Service, such as our partners or advertisers. We may also, at your direction, receive information from third party services that provide a mechanism to expose information you have provided to such third party through the use of an application program interface (API), such as Facebook Connect or the Twitter API. If we combine or associate information from other sources with personally identifiable information that we collect through the Service, we will treat the combined information as personally identifiable information in accordance with this Privacy Policy.</span>
</li> 
					</ol>
				</div>

				<p class="terms_of_servie_text"><b>How we use the information we collect:</b> <span class="para_inner_text">Your information is an integral part of our operations, and we used it in a variety of ways in providing the Service and operating our business. For example:</span></p>
				
					<div class="para_inner_text">
					    <ol style="list-style-type:disc; margin:0 0 0 30px; font-size:20px;">
										
							<li style="margin-bottom:10px;" class="clrBlueLight"><span class="para_inner_text" style="padding:0px;">We use the information that you provide or that we collect, to operate, maintain, enhance and provide all of the features of the Service.</span></li>
							<li style="margin-bottom:10px;" class="clrBlueLight"><span class="para_inner_text" style="padding:0px;">We will use all of the information that you provide and that we collect to understand and analyze the usages trends and preferences of our users, to improve the Service, and to create new features and functionality.</span></li>
							<li style="margin-bottom:10px;" class="clrBlueLight"><span class="para_inner_text" style="padding:0px;">We may use your e-mail address or other personal information (a) to contact you for administrative purposes such as customer service, to address intellectual property infringement, right of privacy violations or defamation issues related to your User Content posted on the Service or (b) to send you promotional messages related to the Service and the activities of third parties we work with. Generally, you have the ability to opt-out of receiving any such communications, either through links provided in the messages or by updating your account preferences through the Service.</span></li>
							
							<li style="margin-bottom:10px; " class="clrBlueLight"><span class="para_inner_text" style="padding:0px;">We may use &ldquo;cookies&rdquo; information and &ldquo;automatically collected&rdquo; information to: (a) personalize our services, such as remembering your information so that you will not have to re-enter it during your visit or the next time you visit the Service; (b) provide customized third party advertisements, content, and information; (c) monitor and analyze the effectiveness of Service and third party marketing activities; (d) monitor aggregate site usage metrics such as total number of visitors and pages viewed; and (e) track your entries, submissions, and status in any promotions or other activities.</span></li>
						</ol>
					</div>

				<p class="terms_of_servie_text"><b>When we disclose information:</b></p>
				<p class="para_inner_text">We disclose your personally identifiable information in a variety of circumstances in connection with providing the Service and the operation of our business. For example:</p>
				<div class="para_inner_text">
						<ol style="list-style-type:disc; margin:0 0 0 30px;">
							<li style="margin-bottom:10px; font-size:20px;" class="clrBlueLight"><span class="para_inner_text" style="padding:0px;">Any information, including personally identifiable information, that you voluntarily choose to include in a publicly accessible area of the Service, such as a public profile page, will be available to anyone who has access to that content, including other users.</span> 
							</li>
							<li style="margin-bottom:10px; font-size:20px;" class="clrBlueLight"><span class="para_inner_text" style="padding:0px;">We work with third party service providers to provide website, application development, hosting, maintenance, and other services for us. To the extent it is necessary for these third party service providers to complete their contractual obligations to us, these third parties may have access to or process your personally identifiable information. Generally, these disclosures are made under terms comparable to this policy, and the recipients are limited to using the information the purpose for which it was provided.</span>
							</li>
							<li style="margin-bottom:10px; font-size:20px;" class="clrBlueLight"><span class="para_inner_text" style="padding:0px;">We make certain automatically collected and other aggregate non-personally-identifiable information available to third parties, to: (i) comply with various reporting obligations; (ii) for business or marketing purposes; or (iii) to assist such parties in understanding our users&rsquo; interests, habits, and usage patterns for certain programs, content, services, advertisements, promotions, and/or functionality available through the Service.</span>
							</li>
							<li style="margin-bottom:10px; font-size:20px;" class="clrBlueLight"><span class="para_inner_text" style="padding:0px;">We may also disclose your information if required to do so by law or in the good-faith belief that such action is necessary to comply with state and federal laws (such as U.S. Copyright law), in response to a court order, judicial or other government subpoena or warrant, or to otherwise cooperate with law enforcement activity.</span> 
							</li>
							<li style="margin-bottom:10px; font-size:20px;" class="clrBlueLight"><span class="para_inner_text" style="padding:0px;">We also reserve the right to disclose your information that we believe, in good faith, is appropriate or necessary to take precautions against liability; to protect Famtivity, Inc. and others from fraudulent, abusive, or unlawful uses or activity; to investigate and defend ourselves against any third party claims or allegations; to assist government enforcement agencies; to protect the security or integrity of the Service; or to protect the rights, property, or personal safety of Famtivity, Inc. our users, or others.</span>
							</li>
						</ol>
				</div>

				<p class="terms_of_servie_text"><b>Your Choices:</b></p>
				<p class="para_inner_text" style="margin-left:30px;">You may, of course, decline to share certain personally identifiable information with us, in which case we may not be able to provide to you some of the features and functionality of the Service. You may update, correct, or delete your profile information and preferences at any time by accessing your account preferences page through the Service. Please note that while your changes are reflected promptly in active user databases, we may retain all information you submit for a variety of purposes, including backups and archiving, prevention of fraud and abuse, and analytics.</p>
				
				
				
				<p class="terms_of_servie_text"><b>Third Party Services:</b></p>
				<p class="para_inner_text" style="margin-left:30px;">The Service may contain features or links to Web sites and services provided by third parties. Any personally identifiable information you provide on third party sites or services is provided directly to that third party and is subject to that third party&rsquo;s policies, if any, governing privacy and security, even if accessed through the Service. We are not responsible for the content or privacy and security practices and policies of third party sites or services to which links or access are provided through the Service. We encourage you to learn about third parties&rsquo; privacy and security policies before providing them with personally identifiable information.</p>
				
				
				
				<p class="terms_of_servie_text"><b>Our Commitment to Children&rsquo;s Privacy:</b></p>
				<p class="para_inner_text" style="margin-left:30px;">Protecting the privacy of young children is especially important. For that reason, we do not allow children under 13 years of age to use the Service or knowingly collect or maintain personally identifiable information from persons under 13 years of age, and no part of the Service is directed to persons under 13 years of age. If you are under 13 years of age, then please do not use or access Service at any time or in any manner. If we learn that personally identifiable information has been collected on the Service from persons under 13 years of age and without verifiable parental consent, then we will take the appropriate steps to delete this information. If you are a parent or guardian and discover that your child under 13 years of age has obtained an account on the Service, then you may alert us at <a href="mailto:privacy@famtivity.com" title="" class="clrBlueLight">privacy@famtivity.com</a> and request that we delete that child&rsquo;s personally identifiable information from our systems.</p>
				
				
				<p class="terms_of_servie_text"><b>Our Commitment to Data Security:</b></p>
				<p class="para_inner_text" style="margin-left:30px;">We use certain physical, managerial, and technical safeguards that are designed to improve the integrity and security of your personally identifiable information. We cannot, however, ensure or warrant the security of any information you transmit to us or store on the Service and you do so at your own risk. We also cannot guarantee that such information may not be accessed, disclosed, altered, or destroyed by breach of any of our physical, technical, or managerial safeguards.</p>
				<p class="para_inner_text" style="margin-left:30px;">If we learn of a security systems breach, then we may attempt to notify you electronically so that you can take appropriate protective steps. We may post a notice through the Service if a security breach occurs. Depending on where you live, you may have a legal right to receive notice of a security breach in writing. To receive a free written notice of a security breach you should notify us at <a href="mailto:privacy@famtivity.com" title="" class="clrBlueLight">privacy@famtivity.com</a>.</p>
				
				
				
				<p class="terms_of_servie_text"><b>Privacy Settings:</b></p>
				<p class="para_inner_text" style="margin-left:30px;">Although we may allow you to adjust your privacy settings to limit access to your information, please be aware that no security measures are perfect or impenetrable. We cannot control the actions of other users with whom you may choose to share your information. Therefore, we cannot and do not guarantee that information you post on the Service will not be viewed by unauthorized persons. We are not responsible for circumvention of any privacy settings or security measures contained on the Website. You understand and acknowledge that, even after removal, copies of information that you have posted may remain viewable in cached and archived pages or if other users have copied or stored such information.</p>
				
				
				<p class="terms_of_servie_text"><b>International Visitors:</b></p>
				<p class="para_inner_text" style="margin-left:30px;">The Service is hosted in the United States [and is intended solely for visitors located within the United States]. If you choose to use the Service from the European Union or other regions of the world with laws governing data collection and use that may differ from U.S. law, then please note that you are transferring your personally identifiable information outside of those regions to the United States for storage and processing, and by providing your personally identifiable information on the Service you consent to that transfer, storage, and processing.</p>
	
				<p class="terms_of_servie_text"><b>In the Event of Merger or Sale:</b></p>
				<p class="para_inner_text" style="margin-left:30px;">In the event that all or a portion of Famtivity, Inc. or its assets are acquired by or merged with a third party entity, we reserve the right, in any of these circumstances, to transfer or assign the information that we have collected from users in connection with such merger, acquisition, sale, or other change of control.</p>
	
				
				
				<p class="terms_of_servie_text"><b>Changes and Updates to this Privacy Policy:</b></p>
				<p class="para_inner_text" style="margin-left:30px;">Please revisit this page periodically to stay aware of any changes to this Privacy Policy, which may be revised periodically at our sole discretion, as provided in <b class="clrBlueLight">Section 11</b> of the Famtivity Terms of Use. If we modify the Privacy Policy, we will make it available through the Service, and indicate the date of the latest revision. In the event that the modifications materially alter your rights or obligations hereunder, we will make reasonable efforts to notify you of the change. For example, we may send a message to your e-mail address, if we have one on file, or generate a pop-up or similar notification when you access the Service for the first time after such material changes are made. Our amended Privacy Policy will automatically take effect 30 days after it is made available through the Service, except that (i) we generally only use your personally identifiable information in the manner described in the Privacy Policy in effect when we received that information and (ii) if you do not agree with any changes to the Privacy Policy, you may terminate your account and stop using the Service. Your continued use of the Service after the revised Privacy Policy has become effective indicates that you have read, understood and agreed to the current version of the Privacy Policy.</p>
	
			
			<p class="terms_of_servie_text"><b>Our Contact Information:</b></p>
			<p class="para_inner_text" style="margin-left:30px;">Please contact us with any questions or comments about this Privacy Policy, your personally identifiable information, our use and disclosure practices, or your consent choices by e-mail at <a href="mailto:privacy@famtivity.com" class="clrBlueLight">privacy@famtivity.com.</a></p>
			
			<p class="para_inner_text">Famtivity, Inc.<br/><a href="mailto:info@famtivity.com" title="" class="clrBlueLight">info@famtivity.com</a></p>							
			</div>

			  </div>
			 <div class="clear"></div>		

		 </div> 
</div>


<!--<script type="text/javascript">
$(document).ready(function(){
var docheight = $(window).height();
var innerHeight = docheight - parseInt(200);
innerHeight = innerHeight+"px";
$('.scroll-pane').css('height',innerHeight);
$('.scroll-pane').jScrollPane();
});
window.onresize = function(event) {
var docheight = $(window).height();
var innerHeight = docheight - parseInt(200);
innerHeight = innerHeight+"px";
$('.scroll-pane').css('height',innerHeight);
$('.scroll-pane').jScrollPane();
}
</script>-->

