#providerEventList .sponsorship .leftMenus{
	width: 250px;
}
#providerEventList .sponsorship .searchDiv{
	width: 200px;
}
#providerEventList .sponsorship .serviceDiv {
    font-weight: bold;
	font-size:14px;
	padding: 6px 5px 3px 5px;
	border:1px solid #DBEEF4;
    height: 17px;
	width: 65px;
}

/*
=========
Bid Setup
=========
*/

#bid_setup_div .para{
	font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#7f7f7f;
	width:535px;
}
#new_act_container #bid_setup_div  .textbox{
	padding-top:0px;
	*padding:6px 4px 0px 4px;
	width: 463px;
	margin-right:12px;
}
@media \0screen {
	#new_act_container #bid_setup_div  .textbox{	
		padding:6px 4px 0px 4px;
	}
}
#bid_setup_div .locationBox{
	display:inline-block;
    background:url('/assets/create_new_activity/select_box_bg.png') no-repeat;
    width:545px;
    height:31px;
}
#bid_setup_div .cityVal{
    color: #999999;
    font-size:13px;
    padding:7px 31px 5px 5px;
    width:508px;
    height:17px;
    line-height: 20px;
    overflow: hidden;
}
#bid_setup_div #locationContainer{
    position: absolute;
    z-index:7;
    margin: -4px auto 0 232px;
    width: 543px;
    border:1px solid #C4DCE8;
    background: #F7F9F8;
}
#bid_setup_div #locationContainer .row1,
#bid_setup_div #activityContainer .row1{
    padding:4px 10px 8px 10px;
    border-bottom:1px solid #C4DCE8;
}
#bid_setup_div .checkboxText{
	position: relative;
    top: 3px;
     .top: 4px;	
	color: #7E7E7E;
    font-size:12px;   
}
#bid_setup_div .checkboxImg{
    display:inline-block;
    position: relative;
    top: 3px;
    vertical-align: top;   
    width: 18px;    
    overflow: hidden;
}
#bid_setup_div #locationContainer .row2,
#bid_setup_div #activityContainer .row2{
    padding:4px 10px 4px 10px;
    border-bottom:1px solid #C4DCE8;
	height: 130px;
    overflow-y: scroll;
}
#bid_setup_div #locationContainer .checkboxRow{
   width:160px;
   padding:5px 0 3px 0;
}
#bid_setup_div #activityContainer .checkboxRow{
   display:block;
   width: 515px;
   padding:5px 0 3px 0;
}
#bid_setup_div #locationContainer .row3,
#bid_setup_div #activityContainer .row3{
   padding:9px 10px 7px 10px;
}
#bid_setup_div .row4,
#bid_setup_div .row4{
   padding:16px 0px 10px 0px;
}
#bid_setup_div .activityBox{
    display:inline-block;
    background:url('/assets/create_new_activity/select_box_bg.png') no-repeat;
    width:545px;
    height:31px;
}
#bid_setup_div .activityVal{
    color: #999999;
    font-size:13px;
    padding:7px 31px 5px 5px;
    width:508px;
    height:17px;
    line-height: 20px;
    overflow: hidden;
}
#bid_setup_div #activityContainer{
    position: absolute;
    z-index:7;
    margin: -4px auto 0 232px;
    width: 543px;
    border:1px solid #C4DCE8;
    background: #F7F9F8;
}