<form name="input" action="/activity_provider_list_res" method="get" >
  Email Address: <input type="text" name="user"/>
  <input type="submit" value="Submit"/>
</form>
<div id="update_provider">
</div>