
<link rel="stylesheet" type="text/css" href="/assets/detail_page/detail_page.css" />   

<div class="detail-container" style="padding-top:65px;">
	<div class="detail-inner-container">
		<div class="image_section" align="center" style="border: 0px solid #EAEAEA;padding:0px 10px;">
			<!--div class="detail-close" style="width:1024px;padding-top:1px;">
				<a href="/" title="Close" >
					<div style="background-color:#5eb0c6;width:30px;height:23px;float:right;margin-top:-1px;padding-top:7px;">
						<img src="/assets/activity_detail/cancel_icon.png" border="0" alt="">
					</div>
				</a>
			</div-->
<%=render "error_content"%>

		</div>
	</div>
</div>