.alphabetsdiv{display: inline-block;padding: 20px 0 40px;text-align: center;width: 100%;}
.alphabetsdiv a{margin-right: 5px;}
.alphabetsdiv a:hover,.alphabetsdiv a:active{color: #2B91AF;}
.alphaclickrslt a,.alphaclickrslt span,.alphacaterslt a{text-align: center;width: 100%;display: block;padding-bottom: 5px;}
.alphaclickrslt{display:inline-block;width: 100%;padding-bottom: 40px;}
.browserloctxt{width: 90%;margin: 0 auto;padding-bottom: 20px;text-align: center;}
.browseprocard{width: 260px;  float: left; position: relative; margin-bottom: 10px;}
#procardborder {border: 1px solid #DCDEDD; background: #fff; padding: 0px 0px 0px 0px; box-shadow: 1px 1px 5px #DCDEDD; margin-right: 20px; min-height: 400px;}
.browseprocard a{padding: 0;line-height:196px;vertical-align:middle;}.procarddetails p{margin-bottom: 5px;word-wrap: break-word;}
.separation{border-bottom: 1px dashed #DBDDDC;width: 60%;margin: 0 auto;}
.proimage{background: none repeat scroll 0 0 #FFFFFF;margin-left:10px;
          height: 200px;
          overflow: hidden;
          width: 209px;}
.procarddetails {margin: 0 10px;}
.activities_list a {float: left; width: 180px; margin-right: 25px; text-align: left; margin-bottom: 10px;  height: 25px; }
.procardlist {margin: 12px 0;}
.calImg{display: block;padding-bottom: 5px;text-align: center;background:none;padding-left:10px;float:left;width:50% !important;}
.providerActFollow a{text-align: left;}
.providerActFollow a,.providerActFollow a{text-align: left;display: inline-block;padding-bottom: 5px;}
.imgCent a{text-align: center !important;}

.SetOfferBgDiscount_pjax{  background: url("/assets/landing/discount.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
                           cursor: pointer;
                           display: block;
                           height: 79px;
                           position: absolute;
                           width: 77px;
                           z-index: 10;
}

.SetOfferBgpdetails_pjax{
    background: none repeat scroll 0 0 #F7F9F8;
    border: 1px solid #C4DFE6;
    display: none;
    padding: 12px 5px;
    margin-left: 20px;
    margin-top: 38px;
    position: absolute;
    width: 450px;
    z-index: 1001;
}



.SetOfferBg_pjax {
    background: url("/assets/landing/specials_icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    height: 79px;
    position: absolute;
    width: 77px;
    z-index: 10;
}


.SetOfferBgEligible_pjax{
    background:url("/assets/landing/specials_and_discount.png") no-repeat;
    width:77px;
    height:79px;
    display:block;
    position:absolute;
    z-index:10;
    cursor: pointer;
}