@charset "utf-8";
/* CSS Document */

.profileRt{
	border: 1px solid #D7DADB;
	background:#FFFFFF;
	width:700px;
	padding: 10px 10px 10px 10px;
	margin-left:8px;
	font-family:'open_sansregular',Sans-Serif;
	font-size:13px;
	color:#347D91;
}
.topyear_text{
	color: #999999;
	font-size: 13px;
	font-family:'open_sansregular',Sans-Serif;
}
.top_info_text{
	/*width:874px;*/
	/*width:625px;*/
	/*margin:0 auto;*/
}
.profile_font{
	color: #585858;
}
.profile_head{
	color:#ef322e;
	font-size:14px;
}
.profile_nopart{
	border: 1px solid #D7DADB;
	background:#f6f6f6;
	width:780px;
	padding: 10px 10px 10px 10px;
	font-family:'open_sansregular',Sans-Serif;
	font-size:14px;
	color:#585858;
}
.businness_font{
	color: #5099AC;
	font-size: 21px;
	font-family:'open_sansregular',Sans-Serif;
}

.profile_font_rtColor{
	color: #347D91;
	font-size: 13px;
	font-family:'open_sansregular',Sans-Serif;
}

.profile_font_border{
	color: #585858;
	font-size: 13px;
	font-family:'open_sansregular',Sans-Serif;
	border-bottom:1px solid #D7DADB;
	padding-bottom:10px;
}

.categories{	
	background:#FFFFFF;
	height: 165px;
	padding: 10px;
	width: 630px;	
}
.setwidthProfile{
	width:152px;
	float:left;
	display:inline-block;
	height:30px;

}
.profileRt .setBorder{
	border:1px solid #C6DDE3;
	width:25px;
	height:13px;	
}
.profileRt .setBg{
	margin:1px;
	width:23px;
	height:11px;
	background:#FC4063;
}

.edtiDiv{
	margin:20px 0 0 0;
}

.categories_text{
	color:#595959;
	margin:14px 0 14px 0;
}

.outer_category{
	border: 1px solid #CEE1E8;
	width:651px;
	margin:0 auto;
}
.becomeProviderDiv{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D7DADB;
	width:265px;
	padding:8px;
	margin-left:5px;
}
.setfeedbackDiv {
	background: none repeat scroll 0 0 #EDF1F2;
	color: #444444;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 13px;
	padding: 8px;
	width: 250px;
}
.dateDiv {
	display: inline-block;
	position: relative;
	width: 150px;
	height: 27px;
	margin-top:12px;
	padding: 0px 5px 0px 5px;
	border: 1px solid #CDE0E6;
	background: #fff;
}
.emailcolor{
	color:#347D91;
	font-family:'open_sansregular',Sans-Serif;
	font-size:13px;
}
.dateTextbox {
	display: inline-block;
	float: left;
	width: 120px;
	height: 16px;
	color: #999999;
	font-size: 13px;
	margin-top: 5px;
	outline: none;
	overflow: hidden;
	border: 1px solid #ffffff;
}
/**********************change Password*********************/
#change_password .centerCont{	
    width: 880px;
    height:100%;
    margin:0 auto;
}
#change_password .paddingTop10{
    width: 914px;
    padding-top:10px;
}
#change_password .leftSideField{
    font-weight:bold;
    font-size:14px;
    color:#5a5757;
    width: 196px;
    vertical-align:top;
    margin-top: 8px;
    margin-left:70px;
}
#change_password .setMarginTop{
	 height: 40px;
    margin-top: 36px;
    position: relative;
    z-index: 7;
}
#change_password .textbox{
    display: inline-block;
    width:535px;
    height:27px;
    *height:24px;
    border:1px solid #CDE0E6;
    padding:1px 4px 0px 4px;
    *padding:6px 4px 0px 4px;
    color: #999999;
    font-size:13px;
}
@media \0screen {
    #change_password .textbox{
        padding:6px 4px 0px 7px;
        height:21px;
        width:532px;
    }
}

#change_password .paddingTop10{
    width: 910px;
    padding-top:10px;
	margin:0 auto;
}
#change_password #change_pwd_txt{
    color: #5099AC;
    font-size: 20px;
    font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
}
#change_password .leftSideField{
    font-weight:bold;
    font-size:14px;
    color:#5a5757;
    width: 171px;
    vertical-align:top;
    margin-top: 8px;
    margin-left1:70px;
}
#change_password .setMarginTop{
	 height: 40px;
    margin-top: 36px;
    position: relative;
    z-index: 7;
}
#change_password .textbox{
    display: inline-block;
    width:535px;
    height:27px;
    *height:24px;
    border:1px solid #CDE0E6;
    padding:1px 4px 0px 4px;
    *padding:6px 4px 0px 4px;
    color: #999999;
    font-size:13px;
}
@media \0screen {
    #change_password .textbox{
        padding:6px 4px 0px 7px;
        height:21px;
        width:532px;
    }
}
#change_password .selectBoxCity{
    display:inline-block;
    background:url('/assets/create_new_activity/select_box_bg.png') no-repeat;
    width:545px;
    height:31px;
    top:0px;
    position:relative;
}
#change_password .selectBoxCity .selectDiv{
    display:inline-block;
    cursor:default;
    font-size:13px;
    color:#959292;
    position:relative;
    top:4px;
    left:7px;
    width:508px;
    height:23px;
    overflow:hidden;
    padding-left: 0px;
}
#change_password .dropDownDivCity{
    display:inline-block;
    font-size:13px;
    background:#ffffff;
    color:#959292;
    border:1px solid #CDE0E6;
    width:543px;
    margin-top:-1px;
    margin-left:0px;
    position:absolute;
    z-index:500;
    /* options are overflow set height and scroll 
    height:110px;
    overflow-y:scroll;*/
}
#change_password .dropDownDivCity a{	
    color:#959292;
    display:block;
    text-decoration:none;
    padding:3px 0px 3px 3px;
}
#change_password .dropDownDivCity a:hover{
    background:#73C3DD;
    color:#ffffff;
}
#change_password .buttonDiv{
    width:651px;
    padding:18px 0px 10px 0px;
}
#change_password .upload_name{
	color:#5aa3b6;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
	margin:35px 0 0 15px;
}
#change_password .setLockBg {
	background:#ecf2f2;
    display: inline-block;
    width:540px;
	padding: 5px 0 1px 19px;
}
#change_password .lock_text{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#515352;
	display:inline-block;
	float:left;
    margin: 21px 0 0 10px;
}
.errorDiv {
    color: #FC8989;
    font-size: 12px;
    margin-top: 3px;
}

/************edit profile*************/

#edit_profie_container .paddingTop10{
    width: 880px;
    padding-top:10px;
}
#edit_profie_container .leftSideField{
    font-weight:bold;
    font-size:14px;
    color:#5a5757;
    width: 203px;
    vertical-align:top;
    margin-top: 8px;
    margin-left:70px;
}
#edit_profie_container .setMarginTop{
	 height: 40px;
    margin-top: 36px;
    position: relative;
    z-index: 7;
}
#edit_profie_container .textbox{
    display: inline-block;
    width:535px;
    height:27px;
    *height:24px;
    border:1px solid #CDE0E6;
    padding:1px 4px 0px 4px;
    *padding:6px 4px 0px 4px;
    color: #999999;
    font-size:13px;
}
#edit_profie_container .textbox_username{
    display: inline-block;
    width:258px;
    height:27px;
    *height:24px;
    border:1px solid #CDE0E6;
    padding:1px 4px 0px 4px;
    *padding:6px 4px 0px 4px;
    color: #999999;
    font-size:13px;
}
#edit_profie_container .mobile_textbox{
    display: inline-block;
    width:130px;
    height:27px;
    *height:24px;
    border:1px solid #CDE0E6;
    padding:1px 4px 0px 4px;
    *padding:6px 4px 0px 4px;
    color: #999999;
    font-size:13px;
}
#edit_profie_container .textbox_card{
    border: 1px solid #BDD6DD;
    color: #999999;
    font-size: 13px;
    height: 19px;
    padding: 0 4px;
	padding: 4px;
    width: 56px;
    .height: 19px;
}
.setHyphen{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#999999;
	margin-top:4px;
}

@media \0screen {
    #edit_profie_container .textbox{
        padding:6px 4px 0px 7px;
        height:21px;
        width:532px;
    }
    #edit_profie_container .textbox_username{
        padding:6px 4px 0px 7px;
        height:21px;
        width:256px;
    }
#edit_profie_container .mobile_textbox{
    padding:6px 4px 0px 7px;
    width:130px;
    height:21px;
}
}

#edit_profie_container .edit_personal_text{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#186171;
	margin-left:59px;
}
.setImgBorder{
    position: relative;
    z-index: 4;
}
.upload_name_edit{
	color: #5AA3B6;
       font-size: 14px;
    margin-left: 144px;
    margin-top: 57px;
    width: 300px;
}
#edit_profie_container .FileUpload {
    position:relative;
    margin-top:2px;
    width: 170px;
    height: 31px;
  }
#edit_profie_container .BrowserVisible {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
    width:106px;
    height:27px;	
  }
#edit_profie_container .FileField {
    color: #999999;
    display: block;
    height: 26px;
    margin: 49px 0 0 142px;
    padding: 0 5px;
    position: relative;
    width: 310px;
    word-wrap: break-word;
    z-index: 3;
	background:#ffffff;
	border:none;
}
#edit_profie_container .BrowserHidden {
    position:relative;
    z-index:2;
    height:12px;
    -moz-opacity:0;
    filter:alpha(opacity= 0);
    opacity: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight:normal;
    color: #999999;
    margin-top: 57px;
    left: 8px;
    width:113px;
	cursor: pointer;
	
	margin-top:53px\9;
	width:120px\9;
	font-size: 23px\9;
	left: 5px\9;
	.margin-left: 249px\9;
	
	.font-size: 18px;
	.margin-left: 0px;
	.margin-top: 50px;
	.height:21px;
	
  }
#edit_profie_container .browse_profile{
    color: #5099AC;
    cursor: pointer;
    display: inline-block;
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 14px;
    margin-left: 6px;
    position: relative;
    top: -18px;
    .top:-20px;
    width: 124px;
    z-index: 1;

	top:  -22px\9;
  }

  	

  @media screen and (-webkit-min-device-pixel-ratio:0){
#edit_profie_container .BrowserHidden {
      left: 8px;
      height:9px;
      font-size:19px;
      width:115px;
      position:relative;
      cursor:pointer;
      -moz-opacity:0;
      filter:alpha(opacity= 0);
      opacity: 0;
      display: inline-block;
      z-index: 3;
	  overflow:hidden;
    }
#edit_profie_container  .browse{
      top:-16px;
      cursor: pointer;
      display: inline-block;
      position:relative;
      z-index: 2;
    }
#edit_profie_container .browse_profile{
    color: #5099AC;
    cursor: pointer;
    display: inline-block;
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 14px;
    margin-left: 6px;
    position: relative;
    top: -14px;
    width: 124px;
    z-index: 1;
  }
  }

/*********dropdown************/
#edit_profie_container  .editProfileSelectBox{
	background:url('/assets/checkout/select_box.png') no-repeat;
    width:81px;
    height:31px;
}
#edit_profie_container .editProfileGenderSelectBox{
	background:url('/assets/profile/gender_fieldbox.png') no-repeat;
    width:173px;
    height:31px;

}
#edit_profie_container  .editProfileSelectBox .selectDiv{
    display:inline-block;
    cursor:default;
    font-size:13px;
    color:#959292;
    position:relative;
    top:4px;
/*    left:7px;*/
    width:46px;
	margin-left:1px;
    height:23px;
    overflow:hidden;
    padding-left: 7px;
}
#edit_profie_container .editProfileGenderSelectBox .selectDiv{
    display:inline-block;
    cursor:default;
    font-size:13px;
    color:#959292;
    position:relative;
    top:4px;
/*    left:7px;*/
    width:46px;
	margin-left:1px;
    height:23px;
    overflow:hidden;
    padding-left: 7px;
}
#edit_profie_container  .editDaydropDownDiv{
	display:inline-block;
    font-size:13px;
    background:#ffffff;
    color:#959292;
    border:1px solid #CDE0E6;
    width:543px;
    margin-top:-1px;
    margin-left:1px;
    position:absolute;
    z-index:500;
    /* options are overflow set height and scroll */
    height:99px;
    overflow-y:scroll;
}
#edit_profie_container .editGenderdropDownDiv{
	display:inline-block;
    font-size:13px;
    background:#ffffff;
    color:#959292;
    border:1px solid #CDE0E6;
    width:173px;
    margin-top:-1px;
    margin-left:1px;
    position:absolute;
    z-index:500;
    /* options are overflow set height and scroll */
    height:50px;
    overflow-y:scroll;

}
#edit_profie_container  .dropDownDiv_small{
     width: 78px;
}

#edit_profie_container .dropDownDivSmall{
    width:198px;
}
#edit_profie_container .editDaydropDownDiv a,
#edit_profie_container .editGenderdropDownDiv a{	
    color:#959292;
    display:block;
    text-decoration:none;
    padding:3px 0px 3px 3px;
}
#edit_profie_container .editDaydropDownDiv a:hover,
#edit_profie_container .editGenderdropDownDiv a:hover{
    background:#73C3DD;
    color:#ffffff;
}
#edit_profie_container .gender_text{
	color: #5A5757;
	font-size: 14px;
	font-weight: bold;
}

#edit_profie_container .selectBoxEditProfileCity{	
    background:url('/assets/create_new_activity/select_medium_bg.png') no-repeat;
    width:270px;
    height:31px;
    display:inline-block;
    top:0px;
    position:relative;
}
#edit_profie_container .dropDownDivEditCity {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BDD6DD;
    color: #6A6A6A;
    display: inline-block;
    font-size: 12px;
    height: 63px;
    margin-left: 0;
    margin-top: -1px;
    position: absolute;
    width: 268px;
    z-index: 500;
}
#edit_profie_container .dropDownDivEditCity a,
#edit_profie_container  .editLanguagedropDownDiv a{	
    color:#959292;
    display:block;
    text-decoration:none;
    padding:3px 0px 3px 3px;
}

#edit_profie_container .dropDownDivEditCity a:hover,
#edit_profie_container  .editLanguagedropDownDiv a:hover{
    background:#73C3DD;
    color:#ffffff;
}
#edit_profie_container .selectBoxEditProfileCity .selectDiv{
    display:inline-block;
    cursor:default;
    font-size:13px;
    color:#959292;
    position:relative;
    top:4px;
/*    left:7px;*/
    width:237px;
	margin-left:1px;
    height:23px;
    overflow:hidden;
    padding-left: 7px;
}
#edit_profie_container  .editProfileSelectBoxLanguage{
	background:url('/assets/create_new_activity/select_box_bg.png') no-repeat;
    width:545px;
    height:31px;

}
#edit_profie_container .editLanguagedropDownDiv{
	display:inline-block;
    font-size:13px;
    background:#ffffff;
    color:#959292;
    border:1px solid #CDE0E6;
    width:542px;
    margin-top:-1px;
    margin-left:1px;
    position:absolute;
    z-index:500;
    /* options are overflow set height and scroll */
    height:50px;
    overflow-y:scroll;

}

#edit_profie_container  .editProfileSelectBoxLanguage .selectDiv{
    display:inline-block;
    cursor:default;
    font-size:13px;
    color:#959292;
    position:relative;
    top:4px;
/*    left:7px;*/
    width:46px;
	margin-left:1px;
    height:23px;
    overflow:hidden;
    padding-left: 7px;
}

#edit_profie_container .set_linked_bg{
	background:#eef3f6;
	width:527px;
	padding: 10px 6px 6px 10px;
	border: 1px solid #CDE0E6;
}
#edit_profie_container .fb_text{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#999999;
	top:-10px;
	position:relative;
	left:5px;

}

#edit_profie_container .setwidth_add_color{
	width:130px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#444444;
}
#add_participant  .contentText {
    border-bottom: 1px solid #E2EAEC;
    color: #585858;
     font-size: 12px;
    font-weight: normal;   
}
#add_participant  .setBG1{
	background:#ffffff;
}
#add_participant  .setBG2{
	background:#F6F8F7;
}

/****************Color Picker*****************/
.setborder{
	border:1px solid #C6DDE3;
	padding:1px;
	width:55px;
	height:20px;
}
.setbg{
	display:block;
	width:54px;
	height:20px;
	background:#747474;
}
.editProfileSelect{
	font-size: 14px;
	height: 32px;
	padding: 3px 0 5px;
	width: 270px;
	border: 1px solid #CDE0E6;
	color: #999999;
}
.editProfileSelectBig{
	font-size: 14px;
	height: 32px;
	padding: 3px 0 5px;
	width: 545px;
	border: 1px solid #CDE0E6;
	color: #999999;
}
.editProfileSelectDOB{
	font-size: 14px;
	height: 32px;
	padding: 3px 0 5px;
	width: 80px;
	border: 1px solid #CDE0E6;
	color: #999999;
}
.editProfileSelectSex{
	font-size: 14px;
	height: 32px;
	padding: 3px 0 5px;
	width: 174px;
	border: 1px solid #CDE0E6;
	color: #999999;
}
.editProfileSelect option,.editProfileSelectBig option,.editProfileSelectDOB option,.editProfileSelectSex option{
	padding: 2px 0px 2px 5px;
}
.bankInfo{
	padding: 0px 0px 4px 537px;
	white-space: nowrap
}
@media \0screen {
		.bankInfo{
		padding: 0px 0px 4px 412px;
	}
}

#edit_profie_container .col1 {
    margin-right: 5px;
    width: 270px;
}

#edit_profie_container .width_set2 {
    width: 270px;
}
#edit_profie_container .drop_down_left {
    border: 1px solid #BDD6DD;
    color: #999999;
    display: inline-block;
    font-size: 13px;
    height: 31px;
    padding: 5px 0 4px 2px;
}

.provider_clink{
	margin: 20px 0px 0px 87px;
}
.provider_cclink{
	font-size:13px;display:inline-block;float:left;
}
.editbnklink{
	/*margin:-10px 0px 0px 512px;*/
	font-size:13px;
	display:inline-block;
	float:left;
	}
	.paymentrt{
	border: 1px solid #D7DADB;
	background:#FFFFFF;
	padding: 10px 10px 10px 10px;
	margin-left:8px;
	font-family:'open_sansregular',Sans-Serif;
	font-size:13px;
	color:#347D91;
}

