.fampostdetail{
    width: 968px;
    height: 100%;
    border: 1px solid #e1e1e1;
    margin: 0 auto;
    background: #fff;
  }
  .fam_detail_post_header{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 10px 0px;
    color: #5099ac;
    font-family: arial;
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
    border-bottom: 1px solid #e1e1e1;
    height: 25px;
  }
  .fam_post_header_head{
    width: 95%;
    float: left;
  }
  .close_close{
    width: 5%;
    float: left;
  }
  .title_bar{
    width: 850px;
    height: 69px;
    border: 1px solid #e4f0f2;
    margin: 0 auto;
    background: #f5fbfc;
  }
  .title_bar_img{
    width: 75px;
    height: 69px;
    float: left;
  }
  .title_bar_head{
    float: left;
    height: 69px;
   /* padding-top:  10px;*/
    color: #3D83A3;
    text-transform: capitalize;
    font-size: 18px;

  }
  .spacerdiv_20{
    height: 20px;
    width: 100%;
  }
  .spacerdiv_10{
    height: 20px;
    width: 100%;
  }
  .message_body{
    height: 265px;
    width: 850px;
    margin: 0 auto;
    border: 1px solid #dfedf0;
    display: none;
  }
  .message_img{
    width: 245px;
    height: 265px;
    border: 1px solid #e1eff2;

    float: left;


  }
  .set_img_borders {
    border:  15px solid #f5fcfb;
  }
  .message_content{
    float: left;
    width: 480px;
    height: 245px;
    margin: 0px 10px;

  }
  .message_content_head{
    width: 480px;
    padding: 12px 0px;
    text-align: left;
    color: #3f85a6;
    border-bottom: 1px solid #e9f0f2;
    font-size: 16px;

  }
  .message_content_body{
    line-height: 19px;
    font-size: 14px;
    font-family: arial;
    text-align: left;
    margin-top: 10px;
  }
  .div_slider_post{
    width: 850px;
    height: 145px;
    overflow: hidden;
    margin: 0 auto;
    border: 1px solid #ededed;
  }
  .slides_images{
    width: 120px;
    height: 120px;
    margin: 10px 0px 10px 10px;
    float: left;
    border: 1px solid;
  }
  #page_wrapper{
    background: #ffffff !important;
  }
  .create_new_posts_detail_pages{
    width: 850px;
    height: 200px;

    margin: 0 auto;
    border: 1px solid #e1e1e1;
    border-top: none; 
  }
  .create_new_posts_detail{
    width: 850px;
    height: 130px;

    margin: 0 auto;
    border: 1px solid #e1e1e1;
  }
  .post_inner_detail{
    width: 850px;
    height: 130px;

    margin: 0 auto;
  }
  .single_img{
    width: 150px;
    float: left;
    /*border: 1px solid red;*/
    height: 130px;
    cursor: pointer;

  }
  .selct_borders{
    border-bottom: 3px solid red;
  }
  .photo_normal{
    background: url("/assets/fam_networks/photosvideos_selct.png") center no-repeat;
    width: 100%;
    height: 100px;
  }
  .document_normal{
    background: url("/assets/fam_networks/documents.png") center no-repeat;
    width: 100%;
    height: 100px;
  }
  .find_normal{
    background: url("/assets/fam_networks/find_famt_search.png") center no-repeat;
    width: 100%;
    height: 100px;
  }
  .photo_normal_select{
    background: url("/assets/fam_networks/photosvideos.png") center no-repeat;
    width: 100%;
    height: 100px;
  }
  .document_normal_select{
    background: url("/assets/fam_networks/document_select.png") center no-repeat;
    width: 100%;
    height: 100px;
  }
  .find_normal_select{
    background: url("/assets/fam_networks/find_famt_search_select.png") center no-repeat;
    width: 100%;
    height: 100px;
  }
  .text_span{
    color: #5099ac;
    font-family: arial;
    font-size: 14px;
    text-transform: capitalize;
    text-align: center;

  }
  .text_span_select{
    color: #ff3737;
    font-family: arial;
    font-size: 14px;
    text-transform: capitalize;
    text-align: center;
  }
  .div_slider_down{
    height:200px;
  }
  .replay_message{
    border: 1px solid #e1e1e1;
    
    min-height: 150px;
    width: 850px;
    margin: 0 auto;
  }
  .posted_time{
    color: #878787;
    font-size: 13px;
  }
     .comments_section{
     /*  border: 1px solid #e1e1e1;*/
       min-height: 180px;
       width: 825px;
       margin: 0 auto;
    }
    .comments_text{
       border-bottom:  1px dashed #e1e1e1;
       border-top: none; 
       
       width: 670px;
       margin: 0 auto;
       background: url("/assets/fam_networks/reply_icon.png") 3px center  no-repeat;
       padding-left: 20px;
       color: #3F85A6;
       font-size: 15px;
       padding: 15px 30px;
       text-transform: capitalize;
       font-weight: bold;
    }
    .comments_owner_img{
      height: 75px;
      width: 75px;
      float: left;
      padding:10px 0px 10px 10px;  
     position: relative;
    }
    .comments_owner_img{
      
    }
    .comments_owner_text{
      min-height: 75px;
      width: 560px;
      float: left;      
      padding: 17px 10px ;
    }
    .comments_owner_text textarea{
      width: 490px;
      height: 40px;
      border: 1px solid #e1e1e1;
      margin:  0 auto;
      padding: 7px;
      float: left;
    }
     .comments_text_button{
      height: 75px;
      width: 102px;
       float: left;
     /* padding: 10px;*/
    }
    .circleimage{
       background: url("/assets/fam_networks/message_image_overlay.png") center center  no-repeat;
       width: 70px;
       height: 75px;
      top: 0px;
       position: absolute;
             padding: 7px 0px;

    }
    #replay_button{
         /*background: url("/assets/fam_networks/reply_button.png") center center  no-repeat;*/
         background: url("/assets/fam_networks/reply_to_all.png") center center  no-repeat;
         width: 102px;
         height: 36px;
         cursor: pointer;
         margin: 34px 0px;
    }
    .message_owner{
      width: 582px;
     /* min-height: 200px;*/
      background:url("/assets/fam_networks/message_box_top_me.png")no-repeat top ,url("/assets/fam_networks/message_box_bottom_me.png") no-repeat bottom ;
     margin-left: 13px;
      float: left;
      margin-top: 10px;
      
    }
    .message_contents_me{
      background:  url("/assets/fam_networks/message_box_center_me.png") repeat-y;
      width: 570px;
      min-height: 55px;
      float: left;
      margin: 15px 0px;
     
      
    }
    .message_contents_me_center{
       background:  url("/assets/fam_networks/message_box_top_me_arr.png") no-repeat;
      width: 582px;
      min-height: 55px;
      float: left;
      
      background-position: 0px 35px;
    }
    .my_message{
      margin: 10px auto;
      width: 785px;
     /* min-height: 100px;*/
      
       clear: both;
    }
    .comments_text_area{
      margin: 15px auto;
      width: 785px;
     /* min-height: 100px;*/
     min-height: 90px;
      border: 1px solid #E1E1E1;
       clear: both;
    }
    .recived_message{
      margin: 10px auto;
      width: 785px;
    /*  min-height: 100px;*/
     
      clear: both;
    }
    .message_recepiant{
       width: 582px;
      min-height: 55px;
      background: url("/assets/fam_networks/message_box_top_re.png")no-repeat top ,url("/assets/fam_networks/message_box_bottom_re.png") no-repeat bottom;
      
      float: left;
       margin-top: 10px;
        margin-right:13px;
    }
    .message_recepiant_contents_re{
      background:  url("/assets/fam_networks/message_box_center_re.png") repeat-y;
      width: 582px;
      min-height: 50px;
      float: left;
      margin: 15px 0px;
      
    }
    .message_recepiant_contents_re_center{
       background:  url("/assets/fam_networks/message_box_top_re_arr.png") no-repeat;
      width: 582px;
      min-height: 55px;
      float: left;
      padding-left: 13px;
    
      background-position: 0px 35px;
    }
    #attach{
     
      box-shadow: none;
      height: 56px;
      width: 54px;
      float: left;
      text-indent: -999px;
      border: 1px solid #E1E1E1;
       border-left: none;
      cursor: pointer;
      background: #feffff; /* Old browsers */
background: url("/assets/fam_networks/reply_attached.png")no-repeat center,-moz-linear-gradient(top,  #feffff 0%, #d2ebf9 100%); /* FF3.6+ */
background:url("/assets/fam_networks/reply_attached.png")no-repeat center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(100%,#d2ebf9)); /* Chrome,Safari4+ */
background:url("/assets/fam_networks/reply_attached.png")no-repeat center, -webkit-linear-gradient(top,  #feffff 0%,#d2ebf9 100%); /* Chrome10+,Safari5.1+ */
background:url("/assets/fam_networks/reply_attached.png")no-repeat center, -o-linear-gradient(top,  #feffff 0%,#d2ebf9 100%); /* Opera 11.10+ */
background:url("/assets/fam_networks/reply_attached.png")no-repeat center, -ms-linear-gradient(top,  #feffff 0%,#d2ebf9 100%); /* IE10+ */
background: url("/assets/fam_networks/reply_attached.png")no-repeat center,linear-gradient(to bottom,  #feffff 0%,#d2ebf9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 ); /* IE6-9 */
  /* background: url("/assets/fam_networks/reply_attached.png")no-repeat center  ;*/

    }
    .all_attachments{
      text-transform: capitalize;
      width: 830px;
      padding: 10px;
      background: #f5fcfb;
      color: #4597ad;
      font-size: 16px;
      border-left:1px solid #e1e1e1;
      border-right:1px solid #e1e1e1;
      text-align: center;
      margin: 0 auto;
      font-weight: bold;
    }
    .contents_message{
      width: 560px;
      margin: 0 auto;
      line-height: 20px;
      font-size: 14px;
      font-family: arial;
      
    }
    .delete_attach{
      width: 530px;
      margin: 0 auto;
      height: 15px;
      
      
    }
  .align_rt{
    float: right;
    width: 215px;
     color: #3D83A3;
      font-size: 14px;
         text-transform: capitalize;
         padding-top: 3px;
         
  }
    .attachments_open{
       float: left;        
      background: url("/assets/fam_networks/attach_icon.png")no-repeat center left, url("/assets/fam_networks/open_attach.png")no-repeat center right;
      padding-left: 20px;
      width: 115px;
      color: #3D83A3;
      cursor: pointer;
    }
     .attachments_close{
       float: left;        
      background: url("/assets/fam_networks/attach_icon.png")no-repeat center left, url("/assets/fam_networks/close_attach.png")no-repeat center right;
      padding-left: 20px;
      width: 115px;
      color: #3D83A3;
      cursor: pointer;
    }
      .delete_msg{
      float: left;
     padding-left: 15px;
      background: url("/assets/fam_networks/delete_msg.png")no-repeat center left;
     cursor: pointer;
      width: 45px;
    }
    .separator_pi{
      float: left;
      padding-left: 10px;
      width: 10px;
    
    }
    .open_div{
      width: 560px;
      min-height:170px;
      border-top: 1px dashed #e1e1e1;
      margin: 10px 0px 0px 10px;
      max-height: 400px;
      overflow-y: auto;
    }
    .attached_files{
      float: left;
      width: 135px;
      height: 150px;
      
    }
    .unique_files_name{
      /*background: url("/assets/fam_networks/download_icon.png")no-repeat center left;*/
      padding: 10px 0px ;
      color: #919191;
      width: 115px;
      height: 13px;
      margin: 0 auto;
      cursor: pointer;
      text-transform: capitalize;
      font-size: 12px;
      
    }
    .unique_files{
     /* background:#ff0000;*/
      width: 120px;
      height: 120px;
      margin: 0 auto;
      cursor: pointer;
    }
    .dwon-load-div{
      width: 96%;
      height:20px;
      border-top: 1px dashed #e1e1e1;
      margin-left:  10px ;
      display: none;
    }
    .dwon-load-all{
      width: 115px;
      height:20px;
      color: #3D83A3;
      cursor: pointer;
      float: right;
       /*background: url("/assets/fam_networks/download_icon.png")no-repeat bottom left;*/
       text-transform: capitalize;
       padding-left: 13px;
       margin-top: 5px; 
    }
    .dashed_div{
      min-height: 150px;
      max-height: 350px;
      width: 100%;
    }
    .comments_owner_text .ajax-upload-wrap{
    width: 558px !important;
  }
   .comments_owner_text .ajax-file-upload-statusbar{
    width: 530px !important;
  }
     .comments_owner_text .ajax-upload-wrap{
    min-height: 46px !important;
  }
  .comments_owner_text .ajax-file-upload-progress{
    width: 80px;
  }
  .spacer15{
    width: 100%;
    height: 15px;
  }
  .postedbyname{
	font-weight:bold;
	margin:5px auto 0;
	text-align:center;
}
.create_new_post{
    width: 884px;
    height: 840px;
    border: 1px solid #e1e1e1;
    background: #ffffff;
  }
  .create_new_post_header{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 10px 0px;
    color: #5099ac;
    font-family: arial;
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
    border-bottom: 1px solid #e1e1e1;
    height: 25px;
  }
  .clear{
    clear: both;
  }
  .create_new_posts{
    width: 798px;
    height: 250px;

    margin: 0 auto;
    /*border: 1px solid #ebebeb;*/
  }
  .create_new_posts_imgs{
    width: 798px;
    height: 130px;
    display:none;
    margin: 0 auto;
    border: 1px solid #e1e1e1;
  }
  .success_text{
    text-align: left;
    color: #3b8da3;
    font-family: arial;
    font-size: 20px;
    padding: 10px 0px 10px 0px;
    text-transform: capitalize;
  }


  .tabs_slides{
    width: 798px;
    height: 300px;
    border: 1px solid #e1eef2;
    margin: 0 auto;
    /*border-top:none;*/
  }
  .invie_inner_img{
    width: 796px;
    border-bottom: 1px solid #ebebeb;
  }
  .post_inner_imgs{
    width: 750px;
    height: 130px;

    margin: 0 auto;
  }
  .single_img{
    width: 150px;
    float: left;
    /*border: 1px solid red;*/
    height: 130px;
    /*cursor: pointer;*/

  }
  .selct_borders{
    border-bottom: 3px solid red;
  }
  .photo_normal{
    background: url("/assets/fam_networks/photosvideos_selct.png") center no-repeat;
    width: 100%;
    height: 100px;
  }
  .document_normal{
    background: url("/assets/fam_networks/documents.png") center no-repeat;
    width: 100%;
    height: 100px;
  }
  .find_normal{
    background: url("/assets/fam_networks/find_famt_search.png") center no-repeat;
    width: 100%;
    height: 100px;
  }
  .photo_normal_select{
    background: url("/assets/fam_networks/photosvideos.png") center no-repeat;
    width: 100%;
    height: 100px;
  }
  .document_normal_select{
    background: url("/assets/fam_networks/document_select.png") center no-repeat;
    width: 100%;
    height: 100px;
  }
  .find_normal_select{
    background: url("/assets/fam_networks/find_famt_search_select.png") center no-repeat;
    width: 100%;
    height: 100px;
  }
  .text_span{
    color: #5099ac;
    font-family: arial;
    font-size: 14px;
    text-transform: capitalize;
    text-align: center;

  }
  .text_span_select{
    color: #ff3737;
    font-family: arial;
    font-size: 14px;
    text-transform: capitalize;
    text-align: center;
  }
  .discountdollar{
    width: 568px;
    height: 20px;
    background: #eef9fd;
    border: 1px solid #d3e1e4;
    font-family: arial;
    font-size: 12px;
    color: #555454;
    margin: 20px auto;
    text-align: center;
    padding: 17px 0px;

  }
  .bold_txt{
    color: #ff0000;
    font-size: 16px;
    font-weight: bold;
  }
  .enter_detail{
    width: 522px;
    height: 150px;

    margin: 0 auto;
  }
  .text_header{
    width: 100%;
    height: 20px;
    color: #5a5757;
    font-size: 14px;
    text-transform: capitalize;
    padding: 8px 0px 0px 0px;
  }
  .input_fields input[type="text"]{
    width: 522px;
    height: 34px;
    border: 1px solid #e1e1e1;
    color: #999999;
    padding: 0px 0px 0px 5px;
    font-family: arial;
    font-size: 13px;
  }
  .input_fields textarea{
    font-family: 'open_sansregular'!important;
    width: 790px;
    height: 134px;
    border: 1px solid #e1e1e1;
    color: #999999;
    padding: 5px 0px 0px 5px;
    font-family: arial;
    font-size: 13px;
    box-shadow: 0px 0px 4px #e1e1e1 inset;
  }
  .button_classes{
    width: 796px;
    height: 50px;
    border: 1px solid;
    margin: 0 auto;
  }
  .new_font
  {
    font-family: 'open_sansregular' !important;
  }
  .first_half{
    width:50%;
    height:275px;
    /*border-right:1px dashed #d6d4d5;
    float:left;*/
	margin :0 auto;
  }
  .second_half{
    width:49.5%;
    height:200px;
    float:left;
    display: none;

  }
  .upload_photo,.upload_document,.import_photo{
    width:330px;
    height:200px;
    background:#f1f9fc;
    margin:40px 36px 20px 36px;
    cursor:pointer;
    border-radius:6px;
    border:1px solid #e1e1e1;
    background-color:#ffffff;
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff, endColorstr=#eef8fb);
    background-image:-moz-linear-gradient(top, #ffffff 27%, #eef8fb 64%);
    background-image:-webkit-linear-gradient(top, #ffffff 27%, #eef8fb 64%);
    background-image:-ms-linear-gradient(top, #ffffff 27%, #eef8fb 64%);
    background-image:linear-gradient(top, #ffffff 27%, #eef8fb 64%);
    background-image:-o-linear-gradient(top, #ffffff 27%, #eef8fb 64%);
    background-image:-webkit-gradient(linear, right top, right bottom, color-stop(27%,#ffffff), color-stop(64%,#eef8fb));



  }
  .space30{
    width:100%;
    height:30px;
    clear:both;
  }
  .space10{
    width:100%;
    height:10px;
    clear:both;
  }
  .upload_header{
    font-family:arial;
    font-size:20px;
    color:#4495ae;
    text-align:center;
    text-transform:capitalize;
    padding:32px 36px 42px 36px;
  }
  .upload_img{
    background:url("/assets/fam_networks/uploadimage.jpg") no-repeat center center;
    width:100%;
    height:63px;
  }
  .upload_doc{
    background:url("/assets/fam_networks/documents.png") no-repeat center center;
    width:100%;
    height:72px;
  }
  .pc_buttons{
    width:798px;
    height:50px;
    margin:0 auto;

  }
  #post_button{
    background:url("/assets/fam_networks/post_button.jpg") no-repeat center left;
    width:205px;
    height:50px;
    float:left;
  }
  #cancel_button{
    background:url("/assets/fam_networks/cancel_button.png") no-repeat center center;
    width:185px;
    height:50px;
    float:left;
  }
  #success_pop_up{
    width: 800px;
    height: 500px;
    border: 2px solid #e1e1e1;
    margin: 0 auto;
    background: #fff;

  }
  #firrst_layer{
    width: 600px;

    background: #fafbfc;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid #ebebeb;
    color: #4994ab;
    font-size: 18px;
    margin: 20px auto 0px;
    text-align: center;
    padding: 40px;
  }
  #spacer_div{
    width: 100%;
    height: 20px;
  }
  #second_layer{
    width: 600px;
    color: #bababa;
    font-size: 14px;
    margin: 0px auto;
    text-align: center;
    padding: 25px 40px ;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid #ebebeb;
    border-top: none;
  }
  #fist_outer{
    border-bottom: 1px solid #edebec;
    margin: 0 auto;
    width: 700px;
    height: 210px;

  }
  .fist_outer{
    border-radius: 10px;
    border: 1px solid #dfedf0;
    background: #f5fcfb;
    background: url("/assets/fam_networks/post_icon.png") no-repeat center 20% #f6fcfc;
    margin: 18px auto;
    width: 680px;
    height: 200px;
    cursor: pointer;

  }
  #last_row{
    margin: 140px auto;
    text-align: center;
    font-size: 18px;
    color: #3a8ca1;
  }
  #add_post_img{
    color: #3B8DA3;
    margin-top:  15px;
    cursor: pointer;
    font-size: 13px;
  }
  /* .ajax-file-upload input[type="file"]{
     height: 250px !important;
     font-size: 40px;
   }

   .image_up{
    display: none;
  }
  */
  #right_col{
    /* float: right;*/
  }

  .ajax-upload-dragdrop{
    width: 350px !important;
    margin: 0 auto !important;
  }

  .header_head{
    width: 95%;
    float: left;
  }
  .close_close{
    width: 5%;
    float: left;
  }
  #spacer_div a{
    padding: 10px;
  }
  #post_button{
    cursor: pointer;
  }
  #cancel_button{
    cursor: pointer;
  }
  #success_create{
    width: 450px;

    background: #fafbfc;

    border: 1px solid #ebebeb;
    color: #4994ab;
    font-size: 18px;
    margin: 20px auto 0px;
    text-align: center;
    padding: 40px;
  }
  #last_ok{
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
  }
  .import_from{
    width: 80%;
    height: 63px;
    margin: 0 auto;
  }
  .import_icons{
    width: 65px;
    height: 54px;
    float: left;
    cursor: pointer;

  }
  #facebooks{
    background: url("assets/fam_networks/fb_icon.jpg") no-repeat center center;
  }
  #gmailplus{
    background: url("assets/fam_networks/google_icon.jpg") no-repeat center center;
  }
  #dit_dots{
    background: url("assets/fam_networks/dit_icon.png") no-repeat center center;
  }
  #dropbox{
    background: url("assets/fam_networks/drp_box_icon.jpg") no-repeat center center;
  }
  #document_import{
    background: url("assets/fam_networks/document_import.png") no-repeat center center;
  }
  #document_import1{
    background: url("assets/fam_networks/document_import1.png") no-repeat center center;
  }

  .import_document{
    width: 40%;
    height: 63px;
    margin: 0 auto;
  }
  /*#errr_msg{
    color: #ff0000;
    margin: 5px 0px;
  }
  #errr_sub_msg{
    color: #ff0000;
    margin: 5px 0px;
  }*/
  .msg_error{
    color: #ff0000;
    margin: 5px 0px;
  }
  #loding_symbol_post{
    padding-top: 18px;
    width: 25px;
    text-align: center;
    height: 28px;
    float: left;
  }
  .image_up{
    border: 1px solid #e1e1e1;
    color: #999999 ;
    height: 30px;
    padding: 0 5px;
    position: relative;
    width: 785px;
    word-wrap: break-word;
    box-shadow: inset 0px 0px 4px #e1e1e1;
    z-index: 3;  
  }
  .file_input_reg{
    font-family: 'open_sansregular'!important;
    border: none !important;
    margin-top: 3px;
    height: none !important;
    padding: none !important;
    position: none !important;
    width: none !important;
    word-wrap: none !important;
    z-index: none !important;
    outline: none;

  }

  #messager_photo{
    font-family: 'open_sansregular'!important;
    font-family: arial;
    font-size: 13px;
    color: #999999 !important;
    cursor:pointer;
    background: url("/assets/fam_networks/camera_icon.png") no-repeat right center transparent !important;
  }
  .file_upload{
    background: url("/assets/fam_networks/camera_icon.png") no-repeat center center transparent !important;
    cursor: pointer;
    float: right !important;
  }
  div.file_upload {
    width: 33px !important;
  }
  .msg-attach img{
width: auto;
height: auto;
max-height: 100%;
max-width: 100%;
}
.rightMenus{
	 background: url("/assets/fam_networks/sms_icon.png") no-repeat left center;
	 padding: 10px 15px 10px 20px;
}
.clsimgin{
background-color: #5eb0c6;
width: 15px;
height: 23px;
float: right;
padding-top: -2px;
padding: 8px 7px 0px 7px;
}
.clsimgout{
left: 1400px;
cursor: pointer;
position: absolute;
}

#img_close{
position:absolute;
width:914px;
}

.file_upload {
  background:url('/assets/fam_networks/camera_icon.png') no-repeat;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  position: relative;
  margin-top: -22px;
}
.file_upload input {
  cursor: pointer;
  font-size: 100px;
  filter: alpha(opacity=1);
  -moz-opacity: 0.01;
  opacity: 0.01;
  position: absolute;
  right: 0;
  top: 0;
}

.file_upload .button {
  cursor: pointer;
  padding: 0px 18px;
}
.msg_error {
color: #ff0000;
margin: 0px;
}


#msgpath{
margin:0 auto;
padding:1% 0%;
width:884px;
font-size: 16px;
}
#newmsg{
background-color: #f6f6f6;
padding-bottom: 30px;
}