.ajax-file-upload-statusbar {
/*border: 1px solid #0BA1B5;*/
/*padding: 15px 0px;*/
padding: 17px 0px 13px 0px;
width: 750px;
border-bottom: 1px solid #DDEDF0;
margin: 0 auto;
height: 15px;
}
.ajax-file-upload-filename {
width: 65%;
height: auto;
margin: -3 5px 5px 0px;
color: #807579;
float: left;
margin-top: -3px;
}
.ajax-file-upload-progress {
margin: 0 10px 5px 10px;
position: relative;
width: 130px;
border: 1px solid #ddd;
padding: 1px;
border-radius: 3px;
display: inline-block
}
.ajax-file-upload-bar {
background-color: #E4685D;
width: 0;
height: 8px;
border-radius: 3px;
color:#FFFFFF;
}
.ajax-file-upload-percent {
position: absolute;
display: inline-block;
top: 3px;
left: 48%
}
.ajax-file-upload-red {
-moz-box-shadow: inset 0 39px 0 -24px #e67a73;
-webkit-box-shadow: inset 0 39px 0 -24px #e67a73;
box-shadow: inset 0 39px 0 -24px #e67a73;
background-color: #e4685d;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 2px;
display: inline-block;
color: #fff;
font-family: arial;
font-size: 13px;
font-weight: normal;
text-decoration: none;
text-shadow: 0 1px 0 #b23e35;
cursor: pointer;
vertical-align: top;
margin-top: -2px;


}
.ajax-file-upload-green {
background-color: #77b55a;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 2px;
margin-top: -2px;
padding: 0;
display: inline-block;
color: #fff;
font-family: arial;
font-weight: normal;
text-decoration: none;
/*cursor: pointer;*/
text-shadow: 0 1px 0 #5b8a3c;
vertical-align: top;
background: url("/assets/fam_networks/complet_upload.png") no-repeat;
width: 16px;
height: 16px;
text-indent:-500px;
float: left;
margin-left: -2px;

}
.ajax-file-upload {
	/*border: 1px solid red;
	background: none repeat scroll 0 0 #6AC0DD;
    border: medium none;
    border-radius: 3px;
    box-shadow: 0 0 1px 0 #13648D;
    color: #176174;
    cursor: pointer;
   
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    padding: 4px 10px;
    text-decoration: none;
    vertical-align: middle;*/
	 display: inline-block;
  }
.ajax-upload-dragdrop
{

	/*border:1px dotted #A5A5C7;*/
	width:525px;
	color: #DADCE3;
	text-align:left;
	vertical-align:middle;
	padding:0px;
	height: 0px !important;
	/*display: none;*/
}
.ajax-upload-wrap{
	border-bottom:1px solid #ddedf0;
	border-left:1px solid #ddedf0;
	border-right:1px solid #ddedf0;
	max-height: 238px;
	min-height: 238px;
	overflow-y: auto;
	width: 780px;
	margin: 0 auto;
}
.upload_heading{
	border:1px solid #ddedf0;
	color: #4495ae;
	width: 746px;
	text-transform: capitalize;
	font-size: 12px;
	height: 30px;
	padding-left: 34px;
	display: none;
	padding-top: 15px;
	background: url("/assets/fam_networks/upload-more.png") no-repeat  ;
	background-position:6px;
	margin: 0 auto;
	cursor: pointer;
}