<div class="top_info_text">
  <table cellpadding="0" cellspacing="0" border="0" width="622" style="margin: 0 auto;">
    <tr>
      <td width="129" height="110"  valign="top"><img src="/assets/profile/profile_left_pic.png" style="border:1px solid #CEE1E8;"></td>
      <td  valign="top">
        <div class="profileRt">
          <table cellpadding="0" cellspacing="0" width="485" >
            <tr>
              <td class="profile_font_border profile_font_rtColor" style="color:#5099AC;"><b>Smith John</b> <span class="topyear_text">20th June 1981</span></td>
              <td class="profile_font_border profile_font_rtColor">&nbsp;</td>
            </tr>

            <tr>
              <td class="profile_font" height="30"><b>Gender</b></td>
              <td class="profile_font_rtColor">Male</td>
            </tr>
            <tr>
              <td class="profile_font" height="30"><b>Email</b></td>
              <td class="profile_font_rtColor">murugan@i-waves.com</td>
            </tr>
            <tr>
              <td class="profile_font_border" height="30"><b>Country</b></td>
              <td class="profile_font_border profile_font_rtColor">San Francisco, CA</td>
            </tr>
            <tr>
              <td class="profile_font" height="40"><b>Website</b></td>
              <td class="profile_font_rtColor"><u>www.eventacademy.com</u></td>
            </tr>
            <tr>
              <td class="profile_font" height="24"><b>Institute Name</b></td>
              <td class="profile_font_rtColor">EventAcademyPowered by EDA</td>
            </tr>
            <tr>
              <td class="profile_font" height="36"><b>Contact Number</b></td>
              <td class="profile_font_rtColor">98665756</td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>
  <div class="categories_text"><b>Interested Categories</b></div>
  <div class="outer_category">
    <div class="scroll-pane">

      <div class="categories">
        <div class="profile_font_rtColor setwidthProfile"  style="padding-left:20px;"><b>Cricket</b></div>
        <div class="profile_font_rtColor setwidthProfile"><b>Cricket</b></div>
        <div class="profile_font_rtColor setwidthProfile"><b>Cricket</b></div>
        <div class="profile_font_rtColor setwidthProfile"><b>Cricket</b></div>
        <div class="clear"></div>
      </div>
      <div class="categories">
        <div class="profile_font_rtColor setwidthProfile"  style="padding-left:20px;"><b>Cricket</b></div>
        <div class="profile_font_rtColor setwidthProfile"><b>Cricket</b></div>
        <div class="profile_font_rtColor setwidthProfile"><b>Cricket</b></div>
        <div class="profile_font_rtColor setwidthProfile"><b>Cricket</b></div>
        <div class="clear"></div>
      </div>
      <div class="categories">
        <div class="profile_font_rtColor setwidthProfile"  style="padding-left:20px;"><b>Cricket</b></div>
        <div class="profile_font_rtColor setwidthProfile"><b>Cricket</b></div>
        <div class="profile_font_rtColor setwidthProfile"><b>Cricket</b></div>
        <div class="profile_font_rtColor setwidthProfile"><b>Cricket</b></div>
        <div class="clear"></div>
      </div>
      <div class="categories">
        <div class="profile_font_rtColor setwidthProfile"  style="padding-left:20px;"><b>Cricket</b></div>
        <div class="profile_font_rtColor setwidthProfile"><b>Cricket</b></div>
        <div class="profile_font_rtColor setwidthProfile"><b>Cricket</b></div>
        <div class="profile_font_rtColor setwidthProfile"><b>Cricket</b></div>
        <div class="clear"></div>
      </div>

      <div class="categories">
        <div class="profile_font_rtColor setwidthProfile"  style="padding-left:20px;"><b>Cricket</b></div>
        <div class="profile_font_rtColor setwidthProfile"><b>Cricket</b></div>
        <div class="profile_font_rtColor setwidthProfile"><b>Cricket</b></div>
        <div class="profile_font_rtColor setwidthProfile"><b>Cricket</b></div>
        <div class="clear"></div>
      </div>
      <div class="categories">
        <div class="profile_font_rtColor setwidthProfile"  style="padding-left:20px;"><b>Cricket</b></div>
        <div class="profile_font_rtColor setwidthProfile"><b>Cricket</b></div>
        <div class="profile_font_rtColor setwidthProfile"><b>Cricket</b></div>
        <div class="profile_font_rtColor setwidthProfile"><b>Cricket</b></div>
        <div class="clear"></div>
      </div>
      <div class="categories">
        <div class="profile_font_rtColor setwidthProfile"  style="padding-left:20px;"><b>Cricket</b></div>
        <div class="profile_font_rtColor setwidthProfile"><b>Cricket</b></div>
        <div class="profile_font_rtColor setwidthProfile"><b>Cricket</b></div>
        <div class="profile_font_rtColor setwidthProfile"><b>Cricket</b></div>
        <div class="clear"></div>
      </div>

      <div class="categories">
        <div class="profile_font_rtColor setwidthProfile"  style="padding-left:20px;"><b>Cricket</b></div>
        <div class="profile_font_rtColor setwidthProfile"><b>Cricket</b></div>
        <div class="profile_font_rtColor setwidthProfile"><b>Cricket</b></div>
        <div class="profile_font_rtColor setwidthProfile"><b>Cricket</b></div>
        <div class="clear"></div>
      </div>
      <div class="categories">
        <div class="profile_font_rtColor setwidthProfile"  style="padding-left:20px;"><b>Cricket</b></div>
        <div class="profile_font_rtColor setwidthProfile"><b>Cricket</b></div>
        <div class="profile_font_rtColor setwidthProfile"><b>Cricket</b></div>
        <div class="profile_font_rtColor setwidthProfile"><b>Cricket</b></div>
        <div class="clear"></div>
      </div>

    </div>
    <div class="clear"></div>
  </div>
  <div class="edtiDiv"><a href="#" title="" onclick="pop_edit_password('/edit_profile');"><img src="/assets/detailed_view/but_edit.jpg" ></a></div>
  <div class="clear"></div>
</div>	