<link rel="stylesheet" type="text/css" href="/assets/register/provider_register.css" />
<script type="text/javascript" src="/assets/register/register_payment.js"></script>
<style type="text/css">
  body{
    background-color:#fff;
  }
</style>
<div class="bidpopup_container">
  <div class="bidpopup_top"></div>
  <div class="bidpopup_center">
    <div class="bidheadtab">
      <div class="bidpopup_head">
        <div class="bidpopup_header" align="center">
          Set Your Bid Amount
        </div>
      </div>
      <div class="bidpopup_close">
        <a href="#" title="" onclick="closepopup()"><img src="/assets/provider_register/close.png" width="15" height="15" border="0"></a>
      </div>
    </div>
    <div class="clear"></div>
    <div class="bidpopup_centerinner">
      <div class="center_content">Famtivity's monthly budget is mentioned below, you own enter your bid amount per click for your activity. Its your choice, your bid amount can vary for your different activities.</div>
      <div class="frm_container" align="center">
        <form name="bidfrm" action="" method="post" onSubmit="return bidamount_validate()">
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td width="33%" height="30" align="left" valign="middle">
                <b>Monthly Budget</b></td>
              <td width="64%" align="left" valign="middle">
                <input type="text" name="budget" id="budget" tabindex="1" class="textbox">
              </td>
              <td width="3%">&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><span id="error_budget"></span></td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td height="30" align="left" valign="middle">
                <b>Bid Amount Per Click</b>
              </td>
              <td align="left" valign="middle">
                <input type="text" name="bidamount" id="bidamount" tabindex="2" class="textbox">
              </td>
              <td align="center" valign="middle">
                <a href="#" title=""><img src="payment_pop/help.png" alt="" width="17" height="17" style="margin-bottom:-11px;" border="0"></a>
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><span id="error_bidamount"></span></td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td height="30">&nbsp;</td>
              <td align="left" valign="middle">
                <input type="submit" name="bid_submit" id="bid_amount" value="" tabindex="3" class="bidpopup_savebtn">
                <input type="reset" name="bid_cancel" id="bid_cancel" value="" tabindex="4" onClick="clear_frmfield()" class="bidpopup_cancelbtn">
              </td>
              <td>&nbsp;</td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </div>
  <div class="bidpopup_bottom"></div>
</div>
