<link rel="stylesheet" type="text/css" href="/assets/global/pop_up_success.css" />
<script language="javascript">
  $(document).ready(function(){
    $("html, body", window.parent.document).animate({ scrollTop: 0 }, 100);
    if(navigator.appName=="Microsoft Internet Explorer")
    {
      window.location.hash='/provider_market_failure';
    }
    else
    {
      var stateObj = { foo: "bar" };
      parent.history.replaceState(stateObj,'test','/provider_market_failure')
    }
  });
  function closepopup() {
    if(navigator.appName=="Microsoft Internet Explorer")
    {
      window.location.hash='';
    }
    else
    {
      var stateObj = { foo: "bar" };
      parent.history.replaceState(stateObj,'test','/')
    }
    parent.parentLoginPage.hide();
  }
</script>

<div align="center" style="height:230px;">
  <p class="successText" style="padding:60px 0;">Registration successfull.Now click on the activation link in your Email.<br/><%=@failer_message if !@failer_message.nil? %></p>
  <div class="clear"></div>
  <a href="javascript:void(0)" onClick="closepopup()" title=""><img src="/assets/register/ok_btn.png" /></a>
</div>