.grey_dot{ background:url(/assets/new_landing/grey_dot.png) repeat-x; width:100%; height:2px; }
.footer{
	width:100%;	
	padding-top:50px;
}
.bobble_left{ background:url(/assets/new_landing/footer_left.png) no-repeat right; width:10%; height:117px; float:left; }
.bobble_center{ float:left; background:url(/assets/new_landing/footer_center.png) repeat-x; width:80%; height:117px; }
.kids_img{ background:url(/assets/new_landing/kids.png) no-repeat center; width:100%; height:116px; }
.bobble_right{ background:url(/assets/new_landing/footer_right.png) no-repeat left; width:10%; height:117px;  float:left;  }
.footer_top{
	background-color:#5EB0C6; width:100%; margin:0 auto; color:#ffffff; font-family:'open_sansregular',Sans-Serif; padding:20px 0px 20px 0px; font-weight:normal;
}
.dotted_whitev{
	background:url(/assets/new_landing/white_line.png) repeat-y;
}
.footer_left{
	width:37%; display:inline-block; background:url(/assets/new_landing/fam_icon.png) no-repeat 0px 90%; height:390px; text-align:left;	
}
.offer_cont{ padding:10px 0px 10px 40px; font-size:18px }
.btm_head{font-size: 34px;font-weight: normal ;font-family:'open_sansregular',Sans-Serif}
.offer_subhead{ font-size:20px; display:block; margin-top:6px; }
.section_inner{
	margin:0px 0px 0px 80px; float:left;
}
.footer_center{
	width:25%; display:inline-block; height:390px;
}
.social_inner{ float:left; width1:100%; }
.social{ margin:20px 0 0 0; }
.fb_bg{ background:url(/assets/new_landing/social_icon.png) center 0; width:75px; height:56px; margin:5px 14px 0px 0px; display:inline-block; }
.twitter_bg{ background:url(/assets/new_landing/social_icon.png) center -60px; width:75px; height:56px; margin:5px 14px 0px 0px; display:inline-block; }
.pin_bg{ background:url(/assets/new_landing/social_icon.png) center -120px; width:75px; height:56px; margin:5px 6px 0px 0px; display:inline-block; }
.google_bg{ background:url(/assets/new_landing/social_icon.png) center -180px; width:75px; height:56px; margin:15px 6px 0px 0px; display:inline-block; }

.beta_sec{ border-bottom:1px solid #3F9FB7; width:90%; padding:20px 0px 20px 0px;margin-left: -25px; }
.ssl_sec{ padding:10px 0px 0px 0px;margin-left: -22px; }
.footer_right{
	width:37%; display:inline-block; height:390px;
}
.famon_inner{ float:left; margin:0 20px 0 30px; }
.famon_cont{ text-align:left; font-size:20px; }
.clear{	clear:both; overflow:hidden; }
.footer_sec{width:1260px; margin:0 auto;}
.fam_onlink{
	display:inline-block; 
	/*margin:0 0 10px 30px;*/
	color:#ffffff;
	text-decoration:none;
	font-size:26px;
	cursor: default;
}
.footer_btm{
	width:100%; background-color:#fff; color:#535050; font-family:'open_sansregular',Sans-Serif; font-size:12px;
}
#footer_copy{
	float:left;
}
#footer_copy ul{
    list-style-type:none; margin:0 0; padding:0 0; padding-top:5px;

}
#footer_copy ul li {
    display:inline; margin:0 0; padding:0 0;
}

#footer_menu{
	float:right;	color:#535050;	
}
#footer_menu ul{
    list-style-type:none; margin:0 0; padding:0 0;

}
#footer_menu ul li {
    display:inline; margin:0 0; padding:0 0;
}
#footer_menu ul a {
    color:#535050; text-decoration:none; margin-left:4px; margin-right:4px;
}
#footer_menu ul a:hover {
    text-decoration:none;
}
/*Dont Remove Fixed width fixes*/
.footer_inner{
	padding:10px 10px 34px 10px;
	margin: 0 auto;
}
.footerBG{
	width: 100%;
    background-color:#5EB0C6;
}
.footer-top-content{
	width: 1260px; 
	background-color:#5EB0C6;
	margin: 0 auto;
}
.socialtxt{
	width:1258px;
	margin:0 auto;
	font-family:'open_sansregular',Sans-Serif;
	margin-bottom:35px;
	font-size:18px;
}
.socialtxt_inner{
	padding:20px 10px 20px 10px;
}
.footersocialtxt{
	color:#555555; 
	line-height:32px;
}
/*@media (min-width: 980px) and (max-width: 1200px) {
@media (max-width: 1024px) {
.fam_onlink{
	display:inline-block; margin:0 0 10px 10px;color:#ffffff;
	text-decoration:none;
	font-size:26px;
}
/*.beta_sec{ border-bottom:1px solid #3F9FB7; width:90%; padding:20px 0px 20px 0px; }
.ssl_sec{ padding:15px 0px 0px 0px; }
.famon_cont{ text-align:left; font-size:17px; }
}*/