#checkout .setPadd{
    padding:15px 0px 0px 15px;
}
#checkout .headText{
	color: #5099AC;
    font-size: 15px;
    font-weight: bold;
}
#checkout .FtSz14{
	color: #5099AC;
    font-size: 14px;
}
#checkout .FtSz13{
	color: #999999;
    font-size: 13px;
}
#checkout .FtSz16{
	color: #5099AC;
    font-size: 16px;
}
#checkout .checkoutLt{
	float:left;
	display:inline-block;
}
#checkout .centerArea{
	margin:5px 15px 0 0;
	border:1px solid #E8ECED;
	border-bottom:none;
}
#checkout .checkout_top{
	width:500px;
	margin:0 auto;
	margin-top:20px;
	border1:1px solid red;
}
#checkout .set_style_1{
	border:1px solid #E8ECED;
	width:14px;
	height:17px;
	.height:14px;
	background:#CCE9EF;
	padding:0px 0px 0px 5px;
	.padding:4px 0px 0px 5px;
	/*-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
	border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
	border-radius-topright: 0;*/
}
#checkout .set_style_2{
	border:1px solid #CDE0E6;
	width:14px;
	height:17px;
	.height:14px;
	padding:0px 0px 0px 5px;
	.padding:4px 0px 0px 5px;
}
#checkout .set_style_3{
	border:1px solid #CDE0E6;
	width:14px;
	height:17px;
	.height:14px;
	padding:0px 0px 0px 5px;
	.padding:4px 0px 0px 5px;
}
#checkout .number_1{
	position:relative;
	top:0px;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	color: #5099AC;
	width:19px;
	height:17px;
}

#checkout .chkout_ftSz12{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color: #5099AC;
}
#checkout  .chkout_clr_ftSz12{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color: #7F7F7F;
}
#checkout .thead{
	background:#F1F6F9;
	color: #5099AC;
    font-size: 15px;
	border-bottom:1px solid #E8ECED;
	border-top:1px solid #E8ECED;
}
#checkout .thead1{
	padding-left:15px;
}
#checkout .setLeft{
	padding-left:12px;
}
#checkout .secure_inner_div{
	margin-left:2px;
	margin-top:31px;
}
#checkout .tdata{
	background:#ffffff;
	color: #7f7f7f;
    font-size:13px;
}
#checkout .tdata2{
	background:#ffffff;
	color: #7f7f7f;
    font-size:13px;
	padding-left:16px;
}
#checkout .tdata3{
	background:#ffffff;
	color: #7f7f7f;
    font-size:13px;
	padding-left:20px;
}
#checkout .buttonDiv{
	width:222px;
	height:20px;
	margin: 3px 0 0 14px;
}
#checkout .buttonDiv_proceed{
	width:222px;
	height:33px;
	margin: 20px 0 10px 14px;
}
#checkout .setImageDiv{
	border:1px solid #D7DADB;
	height: 95px;
    margin-left: 4px;
    width: 108px;	
	margin-left:4px;
}
#checkout .setImageDiv img{
	 margin: 4px 0 0 4px;
}
#checkout .setKidsLeft{
	left:-18px; 
	position:relative; display:block;
}
#checkout .setPosition{
	padding:10px;
}
#checkout .setBorder{
	border-top:1px solid #CDE0E6;
}
#checkout .setLineImg{
	vertical-align:middle;
	margin-top:-1px;
}

.popupContainer .popupContainerBottom {
    background: url("/assets/global/pop_up/popup_bg_bottom.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 18px;
    width: 896px;
}
/*******************************

	Secure Checkout Form Page

*******************************/
.set_style_2_visible{
	border:1px solid #CDE0E6;
	width:14px;
	height:17px;
	.height:14px;
	padding:0px 0px 0px 5px;
	.padding:4px 0px 0px 5px;
	background:#CCE9EF;
}

/*************************************

   dropdown style

*************************************/

#checkout_provider{
	width:714px;
	margin:0 auto;
}

#checkout_provider .textbox{
  border: 1px solid #BDD6DD;
    color: #999999;
    font-size: 13px;
    height: 21px;
    padding: 0 4px;
	padding: 4px;
    width: 538px;
    .width: 534px;
    .height: 19px;
}
#checkout_provider .textbox_card{
  border: 1px solid #BDD6DD;
    color: #999999;
    font-size: 13px;
    height: 21px;
    padding: 0 4px;
	padding: 4px;
    width: 60px;
    .height: 19px;
}

#checkout_provider .textbox_name{
  border: 1px solid #BDD6DD;
    color: #999999;
    font-size: 13px;
    height: 28px;
    padding: 0 4px;
	.padding: 5px 0 0 4px;
    width: 261px;
    .width: 264px;
    .height: 23px;
}

#checkout_provider .lt_checkout{
	width:164px;
	border1:1px solid blue;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#6A6A6A;
	margin-top:9px;
	.margin-top:7px;
	

}
#checkout_provider #card_info_text{
	color:#186171;
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
	}

#checkout_provider .rt_checkout{
	width:546px;
	border1:1px solid blue;
}
#checkout_provider .paddingTop10{
    width: 718px;
	padding-top:10px;
}
/*#checkout_provider .selectBoxCity{
    display:inline-block;
    background:url('/assets/create_new_activity/select_box_bg.png') no-repeat;
    width:545px;
    height:31px;
    top:0px;
    position:relative;
}*/

#checkout_provider  .selectBoxCheckout{
	background:url('/assets/checkout/select_box.png') no-repeat;
    width:81px;
    height:31px;
}

#checkout_provider  .col1 {
    margin-right: 5px;
    width: 81px;
}
/*#checkout_provider .selectBoxMedium{	
    background:url('/assets/create_new_activity/select_medium_bg.png') no-repeat;
    width:270px;
    height:31px;
}*/
#checkout_provider .selectBoxSmall{	
    background:url('/assets/create_new_activity/select_small_bg.png') no-repeat;
    width:200px;
    height:31px;
}
#checkout_provider .selectBoxCheckout .selectDiv{
    display:inline-block;
    cursor:default;
    font-size:13px;
    color:#959292;
    position:relative;
    top:4px;
/*    left:7px;*/
    width:46px;
	margin-left:1px;
    height:23px;
    overflow:hidden;
    padding-left: 7px;
	font-weight:normal;
}
#checkout_provider .dropDownDivCity {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BDD6DD;
    color: #6A6A6A;
    display: inline-block;
    font-size: 12px;
    height: 63px;
    margin-left: 0;
    margin-top: -1px;
    position: absolute;
    width: 268px;
    z-index: 500;
}
/*#checkout_provider .selectBoxCity .selectDivMedium{
    width:235px;
}*/
#checkout_provider .selectBoxCity .selectDivSmall{
    width:165px;
}

#checkout_provider .dropDownDivSCountry{
	display:inline-block;
    font-size:13px;
    background:#ffffff;
    color:#959292;
    border:1px solid #CDE0E6;
    width:543px;
    margin-top:-1px;
    margin-left:1px;
    position:absolute;
    z-index:500;
    /* options are overflow set height and scroll */
    height:110px;
    overflow-y:scroll;
}
#checkout_provider  .dropDownDiv_small{
     width: 78px;
}

#checkout_provider .dropDownDivSmall{
    width:198px;
}
#checkout_provider .dropDownDivSCountry a{	
    color:#959292;
    display:block;
    text-decoration:none;
    padding:3px 0px 3px 3px;
	font-weight:normal;
}
#checkout_provider .dropDownDivSCountry a:hover{
    background:#73C3DD;
    color:#ffffff;
}
#checkout_provider  .chkout_clr_ftSz12{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color: #7F7F7F;
}
#checkout_provider .chkout_ftSz12{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color: #5099AC;
}

#checkout_provider #dropDownDiv{
    height:88px;
    overflow-y:scroll;
}
#checkout_provider #dropDownDiv2{
    height:88px;
    overflow:hidden;
}
/*#checkout #dropDownDiv3,
#checkout #dropDownDiv4,
#checkout #dropDownDiv6{
    height:111px;
    overflow-y:scroll;
}*/
 #dropDownDiv3,  #dropDownDiv4, #dropDownDiv6 {
    height:111px;
    overflow-y:scroll;
}
#checkout_provider #dropDownDiv7,
#checkout_provider#dropDownDiv8,
#checkout_provider #dropDownDiv9,
#checkout_provider #dropDownDiv10,
#checkout_provider #dropDownDiv11{
    height:22px;
    overflow:hidden;
}
#checkout .setFontColor{
    color:#c5c3c3;
}
#checkout .sizeImgText{
    color: #999999;
    font-size:13px;
}
#checkout .buttonDiv_form{
    width:880px;
    padding:18px 0px 10px 0px;
}
@media \0 screen {
#checkout_provider .textbox_name{
    height:19px;
    padding:4px;
    width: 261px;
}
}

.creditcardDrop{
	width:545px;
	height:31px;
	font-size: 13px;	
	padding: 4px 0 5px;	
	border: 1px solid #CDE0E6;
	color: #838383;
}
.paymentDropDown{
	width:270px;
	height:31px;
	font-size: 13px;	
	padding: 4px 0 5px;	
	border: 1px solid #CDE0E6;
	color: #838383;
}
.chkExpDrop{
	width:80px;
	height:31px;
	font-size: 13px;	
	padding: 4px 0 5px;	
	border: 1px solid #CDE0E6;
	color: #838383;
}
.paymentDropDown option,.creditcardDrop option,.chkExpDrop option{
	padding: 2px 0px 2px 5px;
}
.cvvBox{
	color:#6a6a6a;
	width:50px;
	border1:1px solid red;
	margin:8px 0 0 20px;
	height: 19px;
}
/************************************

   Activity Ticket Page

*************************************/


#checkout .ticketOuter{
	width:747px;
	margin:0 auto;
	margin-top:20px;
}

#checkout .ticketOuter .ticketDivLeft{
	width:226px;
	float:left;
	display:inline-block;
}
#checkout .ticketOuter .ticketDivLeft .ticketBgTop{
	background:url('/assets/activity_ticket/ticket_top.png') no-repeat;
	width:228px;
	height:330px;
}
#checkout .ticketOuter .ticketDivLeft .ticketBgCenter{
	background:url('/assets/activity_ticket/ticket_middle.png') repeat-y;
	width:228px;
}
#checkout .CricketFont{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color: #5099AC;
}
#checkout .CricketTextFont{
	font-size:35px;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	padding: 115px 0 0 55px;
}
#checkout #cricket_image{
	border:1px solid #666;
	width:58px;
	height:58px;
	margin: 15px 0 0 62px;
}
#checkout .SetPortion{
	padding: 20px 0 0 80px;
}
#checkout .SetDesc{
	padding: 5px 0 0 20px;
}
#checkout #SetColorTop{
 color:#fff;
 margin:8px 0 0 16px;
}
#checkout .ticketOuter .ticketDivLeft .ticketBgBottom{
	background:url('/assets/activity_ticket/ticket_bottom.png') no-repeat;
	width:228px;
	height:13px;
}


#checkout .ticketOuter .ticketDivRight{
	width:500px;
	border:1px solid #D2D4D3;
	float:left;
	display:inline-block;
	margin:3px 0 0 17px;
}
#checkout .proftz12{
	font-size:12px;
	color: #999999;
	padding:0 5px 0 7px;	
}

.dropDownDivCity a:hover{
    background:#73C3DD;
    color:#ffffff;
}
.promoCodeDiv{
	border-bottom: 1px solid #E8E8E8;
	padding:1px 10px 10px 14px;
	margin-bottom:5px;
}
.promoCodeDiv .promoCodeText{
	color: #595758;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    width: 115px;
}
.promoCodeDiv .promoCodeBox{	
	display: inline-block;
    width:235px;
    height:28px;   
    border:1px solid #CDE0E6;
    padding:1px 4px 0px 4px;  
    color: #999999;
    font-size:13px;
	font-family: Arial,Helvetica,sans-serif;
}
@media \0screen {
    .promoCodeDiv .promoCodeBox{
        padding:6px 4px 0px 7px;
        height:22px;
        width:232px;
    }
}
.promoCodeDiv .applyButton{
	display: inline-block;
	left: 2px;
	margin-right: 10px;
	position: relative;
	top: 10px;
}
.promoCodeDiv .disp_code_msg{
	color:#fc8989;
    font-size:12px;
}
.trans-success{
	padding:15px 15px;
	text-align:center;
	margin:70px auto;
	border: 1px solid #D6DADB;
	width:450px;
	line-height:2;
}
.success_tab th{
	background-color: #F1F6F9;
	color:#4595AE;
	padding: 7px 0px;
}
.success_tab td{
	text-align:center;
	padding: 15px 0px;
}
.success_msg{
	color:#747579;
}