#repeatPOPUPDiv_1 {
	margin: -10px 0 0 380px;
    position: absolute;
    width: 500px;
    z-index: 1000;
}
#repeatPOPUPDiv_1 .repeatContainerTop{
	display: block;
	background:url('/assets/checkout/top_box.png') no-repeat;
	width: 288px;
	height:25px;
}
#repeatPOPUPDiv_1 .repeatContainerCenter{
	display: block;
	background:url('/assets/checkout/center_box.png') repeat-y;
	width: 288px;
}
#repeatPOPUPDiv_1 .repeatContainerCenter .innerContainer{	
	margin: 0 8px 0 7px;
}
#repeatPOPUPDiv_1 .repeatContainerCenter .headTab{		
	height: 30px;	
	width: 275px;
	border-bottom: 1px solid #d7dadb;
}
#repeatPOPUPDiv_1 .repeatContainerCenter .headTab .heading{
	display:inline-block;
	float:left;
	width: 275px;	
	text-align:center;	
}
#repeatPOPUPDiv_1 .repeatContainerCenter .headTab .heading .headCont{
	padding-left:68px;
	font-size:13px;
	font-weight:bold;
	color:#5099ac;
	padding-top:4px;
	float:left;
}
#repeatPOPUPDiv_1 .repeatContainerCenter .headTab .closeButton{
	display:inline-block;
	float:right;
	width: 31px
}
#repeatPOPUPDiv_1 .repeatContainerCenter .headTab .closeButton a{
	display:inline-block;
	float:left;	
}
#repeatPOPUPDiv_1 .repeatContainerCenter .headTab .closeButton img{
	display:inline-block;
	margin-top:5px;
}
#repeatPOPUPDiv_1 .card_style{
	margin: 20px 0 5px 20px;
}
#repeatPOPUPDiv_1 .repeatContainerBottom{
	display: block;
	background:url('/assets/checkout/bottom_box.png') no-repeat;
	width:288px;
	height:17px;
}

