<div class="top_info_text" style="width:829px;">
  <div id="change_password">
    <input id="pwd" name="pwd" type="hidden" value="<%= Base64.decode64("#{current_user.user_password}")%>" />
    <form accept-charset="UTF-8" id="change_password_form" action="/update_password" data-remote="true" method="post">

      <div class="paddingTop10" style="width:829px;">
        <div class="lt leftSideField" id="change_pwd_txt">Change Password</div>
        <div class="clear"></div>
      </div>
      <div class="paddingTop10"></div>
      <div class="paddingTop10"></div>
      <div class="paddingTop10">
        <div class="lt leftSideField">&nbsp;</div>
        <div class="setLockBg">
          <div style="float:left; display:inline-block;">
            <%= image_tag("/assets/profile/privacy_lock.png")%>
          </div>
          <div class="lock_text" align="center">To Change your password, enter your current password in the field below</div>
        </div>
        <div class="clear"></div>
      </div>


      <div class="paddingTop10">
        <div class="lt leftSideField">&nbsp;</div>
        <!--successful message -->
        <div class="success_update_info" style="display:none;color:green;">Your password was successfully updated</div>
        <div class="clear"></div>
      </div>

      <div class="paddingTop10">
        <div class="lt leftSideField">Current Password</div>
        <input type="password" name="user_password" id="current_password" class="lt textbox" maxlength="25" tabindex="2"/>
        <div class="clear"></div>
      </div>

      <div class="clear"></div>
      <div class="errorDiv" style="display:none">
        <div class="lt leftSideField">&nbsp;</div>
        <div class="lt" id="current_password_error"></div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>

      <div class="paddingTop10">
        <div class="lt leftSideField">New Password</div>
        <input type="password" name="new_pass" id="new_pass" class="lt textbox" tabindex="3"/>
        <div class="clear"></div>
      </div>

      <div class="clear"></div>
      <div class="errorDiv" style="display:none">
        <div class="lt leftSideField">&nbsp;</div>
        <div class="lt" id="new_pass_error"></div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>

      <div class="paddingTop10">
        <div class="lt leftSideField">Confirm New Password</div>
        <input type="password" name="confirm_pass" id="confirm_pass" class="lt textbox" maxlength="15" tabindex="4"/>
        <div class="clear"></div>
      </div>

      <div class="clear"></div>
      <div class="errorDiv" style="display:none">
        <div class="lt leftSideField">&nbsp;</div>
        <div class="lt" id="confirm_password_error"></div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
      <div class="buttonDiv">
        <div class="lt leftSideField">
          &nbsp;
        </div>
        <div class="lt">
          <input type="image" src="/assets/register/save.png" alt="" tabindex="6"/>

          <a href="javascript:void(0)" onClick="clearpasswordfields()" onkeydown="cancelActivityClearData(event)">
            <%= image_tag("/assets/register/bid_cancel.png", tabindex:"7")%>
          </a>
        </div>
        <div class="clear"></div>
      </div>

    </form>
    <div style="height:318px;"></div>
  </div>


</div>

<script type="text/javascript" language="javascript">

  $(document).ready(function() {
    $('#change_password_form').submit(function (){

      var current_password= $("#current_password").val();
      var new_password= $("#new_pass").val();
      var confirm_password = $("#confirm_pass").val();
      var pwd = $("#pwd").val();

      $("#current_password").css("border","1px solid #BDD6DD");
      $("#new_pass").css("border","1px solid #BDD6DD");
      $("#confirm_pass").css("border","1px solid #BDD6DD");

      $("#current_password_error").html("");
      $("#new_pass_error").html("");
      $("#confirm_password_error").html("");

      $("#current_password_error").parent().css("display","none");
      $("#new_pass_error").parent().css("display","none")
      $("#confirm_password_error").parent().css("display","none");


      var errorFlag = false;

      $("#current_password").css("border","1px solid #CDE0E6");
      $("#current_password_error").html("");
      $("#current_password_error").parent().css("display","none");
      $("#new_pass").css("border","1px solid #CDE0E6");
      $("#new_pass_error").html("");
      $("#new_pass_error").parent().css("display","none");
      $("#confirm_pass").css("border","1px solid #CDE0E6");
      $("#confirm_password_error").html("");
      $("#confirm_password_error").parent().css("display","none");

      current_password = current_password.replace(/^\s+|\s+$/g, "");
      if(current_password == "" ){
        $("#current_password").css("border","1px solid #fc8989");
        $("#current_password_error").html("Please enter current password");
        $("#current_password_error").parent().css("display","block");
        errorFlag = true;
      }
      else if(current_password != pwd ){
        alert(pwd);
        alert(current_password);
        $("#current_password").css("border","1px solid #fc8989");
        $("#current_password_error").html("Please enter your correct current password");
        $("#current_password_error").parent().css("display","block");
        errorFlag = true;
      }

      new_password = new_password.replace(/^\s+|\s+$/g, "");
      if(new_password == "" ){
        $("#new_pass").css("border","1px solid #fc8989");
        $("#new_pass_error").html("Please enter new password");
        $("#new_pass_error").parent().css("display","block");
        errorFlag = true;
      }
      else if(new_password.length<8){
        $("#new_pass").css("border","1px solid #fc8989");
        $("#new_pass_error").html("Must Have At least 8 Characters");
        $("#new_pass_error").parent().css("display","block");
        errorFlag = true;
      }
      else if(new_password == current_password){
        $("#new_pass").css("border","1px solid #fc8989");
        $("#new_pass_error").html("Your new password should be different");
        $("#new_pass_error").parent().css("display","block");
        errorFlag = true;
      }
      confirm_password = confirm_password.replace(/^\s+|\s+$/g, "");
      if(confirm_password == "" ){
        $("#confirm_pass").css("border","1px solid #fc8989");
        $("#confirm_password_error").html("Please enter confirm password");
        $("#confirm_password_error").parent().css("display","block");
        errorFlag = true;
      }
      else if(confirm_password != new_password){
        $("#confirm_pass").css("border","1px solid #fc8989");
        $("#confirm_password_error").html("Please enter the correct confirm password");
        $("#confirm_password_error").parent().css("display","block");
        errorFlag = true;
      }

      if(errorFlag){
        return false;
      }
      else{
        $.post($(this).attr('action'), $(this).serialize(), null, "script");
        return false;
      }

    



    });
  });

 


  /*clear fields*/

  function clearpasswordfields(){
    $("#current_password").css("border","1px solid #BDD6DD");
    $("#new_pass").css("border","1px solid #BDD6DD");
    $("#confirm_pass").css("border","1px solid #BDD6DD");

    $("#current_password_error").html("");
    $("#new_pass_error").html("");
    $("#confirm_password_error").html("");

    $("#current_password_error").parent().css("display","none");
    $("#new_pass_error").parent().css("display","none")
    $("#confirm_password_error").parent().css("display","none");

  }
</script>