  <div id="dvLoading"></div>


  <input type="hidden" id="actid_chk" name="actid_chk" value="" />
   <div id="how_it_worksDiv" class="SettingsDiv">
    <div class="TopListText" align="center" style="width:100%; marign:0 auto; padding-top:21px; background:#F6F8F7;">
	<span><a href="/provider?<%=current_user.user_profile.business_name.parameterize if !current_user.user_profile.nil? && !current_user.user_profile.business_name.nil?%>/<%=current_user.user_profile.city.parameterize if !current_user.user_profile.nil? && !current_user.user_profile.business_name.nil?%>" class="menuText" title="" onclick = "_gaq.push(['_trackEvent','Provider Module', 'clickSettings','Activity List']);">Activity List</a></span>
	<span class="dot menuText">&bull;</span>
	<span><a href="/provider_activites" class="menuText" title="" onclick = "_gaq.push(['_trackEvent','Provider Module', 'clickSettings','Activity Cards']);">Activity Cards</a></span>
	<span class="dot menuText">&bull;</span>
  <span><a href="/provider_activity_discount" class="menuText" title="" onclick = "_gaq.push(['_trackEvent','Provider Module', 'clickSettings','Activity Discount']);">Activity Discount</a></span><span class="dot menuText">&bull;</span>
	<span><a href="/activity_provider_schedule" class="menuText" title="" onclick = "_gaq.push(['_trackEvent','Provider Module', 'clickSettings','Schedule']);">Schedule</a></span>
	<span class="dot menuText">&bull;</span>
	<span><a href="/provider_profile" class="menuText" title="" onclick = "_gaq.push(['_trackEvent','Provider Module', 'clickSettings','Business Info']);">Business Info</a></span>
	<span class="dot menuText">&bull;</span>
	<span><a href="/provider_policies" class="menuText" title="" onclick = "_gaq.push(['_trackEvent','Provider Module', 'clickSettings','Policies']);">Policies</a></span>
	<span class="dot menuText">&bull;</span>
	<span><a href="/provider_plan" class="menuText" title="" onclick = "_gaq.push(['_trackEvent','Provider Module', 'clickSettings','Plan']);"><b>Plan</b></a></span>
	<span class="dot menuText">&bull;</span>
	<span><a href="/change_password" class="menuText" title="" onclick = "_gaq.push(['_trackEvent','Provider Module', 'clickSettings','Password']);">Password</a></span>
	<span class="dot menuText">&bull;</span>
	<span><a href="/provider_settings" class="menuText" title="" onclick = "_gaq.push(['_trackEvent','Provider Module', 'clickSettings','Settings']);">Settings</a></span>
	<span class="dot menuText">&bull;</span>	
	<span><a href="/transaction" class="menuText" title="" onclick = "_gaq.push(['_trackEvent','Provider Module', 'clickSettings','Reports']);">Reports</a></span>
	<span class="dot menuText">&bull;</span>
          <span><a href="javascript:void(0);" class="menuText" title="" onClick="pop_provider_embed_Detail('activity_detail/provider_embedded_link?activity_id=<%= get_embed_data if current_user.present? %>'); _gaq.push(['_trackEvent','Provider Module', 'clickSettings','Embed Link']);">Embed Link</a></span>
	
     <div class="clear"></div>
     </div>
    <div class="clear"></div>
    <div class="setTopBprder" style="padding-top:8px;"></div>
<div id="preview" >
<!--%# old code= render "provider_plan" %-->
<%= render "provider_plan_profile" %>
</div>  
</div>


<script type="text/javascript"> 
function closepopup_plan(get_id){ 
  //alert(get_id);
$("#market_planChange"+get_id).css("display","none"); 
$("#sponsor_planChange"+get_id).css("display","none"); 
$("#sell_planChange"+get_id).css("display","none"); 
$('#mask , .plan-popup').fadeOut(300 , function() {                     
$('#mask').remove(); 
});
}

  $('#test1').hide();
  $(document).ready(function(){
    //get mutiple check box id and store to hidden field
    function getchk_actid(curr_actid,span_)
    {
      span_index=$(".checkboxImg").index(span_);
      chk_staus=$(".checkboxImg:eq("+span_index+") label").attr('class');
      if(chk_staus=="altCheckboxOn")
      {
        //add selected checkbox id
        txt_id=$("#actid_chk").val();
        if(txt_id=="")
        { selected_ids=curr_actid;  }
        else{ selected_ids=txt_id+","+curr_actid;   }
        $("#actid_chk").val(selected_ids);
    
      }
      else
      {
        //remove the id
        txt_id=$("#actid_chk").val();
        selected_ids=txt_id.replace(curr_actid,'');
        $("#actid_chk").val(selected_ids);
        $('#select').css('display','none');
        $('#not_select').css('display','inline-block');
        $('#row').val(0);
      }
    }

  });
  var EditparentprofilePage;
  var sponcerPage;
  var sell_Page
  var deleteContactPage;
  var newSuccessPlanPage

  function pop_delete_contact(url){
    deleteContactPage = dhtmlmodal.open("Event Delete Contact","iframe",url," ", "width=450px,height=286px,overflow:hidden,center=1,resize=0,scrolling=0,style='margin:0px; padding:0px; background:none;'", "recal");
    $("html, body").animate({ scrollTop: 0 }, 100);
    //set height for iframe div
    /*var body = document.body,
    html = document.documentElement;
    var height = Math.max( body.scrollHeight, body.offsetHeight,
    html.clientHeight, html.scrollHeight, html.offsetHeight );
    $(".drag-contentarea").css("height",height+"px");*/
    return false;
  }


  function pop_provider_edit_profile(url){
    EditparentprofilePage = dhtmlmodal.open("Edit Password ","iframe",url,"", "width=896px,height=2000px,center=1,resize=0,scrolling=0,style='margin:0px; padding:0px; background:none;'", "recal");  
    $("html, body").animate({ scrollTop: 0 }, 100);
    //set height for iframe div
    var body = document.body,
    html = document.documentElement;
    var height = Math.max( body.scrollHeight, body.offsetHeight,
    html.clientHeight, html.scrollHeight, html.offsetHeight );
    $(".drag-contentarea").css("height",height+"px");
    return false;
  }
  
  function pop_sponcer_page(url){
    sponcerPage = dhtmlmodal.open("Create New Activity","iframe",url," ", "width=1041px,height=700px,overflow:hidden,center=1,resize=0,scrolling=0,style='margin:0px; padding:0px; background:none;'", "recal");
    $("html, body").animate({ scrollTop: 0 }, 100);
    document.getElementById("title").focus();   
    //set height for iframe div
    var body = document.body,
    html = document.documentElement;
    var height = Math.max( body.scrollHeight, body.offsetHeight,
    html.clientHeight, html.scrollHeight, html.offsetHeight );
    $(".drag-contentarea").css("height","1598px");

    return false;
  }

  function pop_sell_page(url){
    $('#sponsorBankDiv').show();
    sell_Page = dhtmlmodal.open("Create New Activity","iframe",url," ", "width=1041px,height=1500px,overflow:hidden,center=1,resize=0,scrolling=0,style='margin:0px; padding:0px; background:none;'", "recal");
    $("html, body").animate({ scrollTop: 0 }, 100);
    document.getElementById("title").focus();   
    //set height for iframe div
    var body = document.body,
    html = document.documentElement;
    var height = Math.max( body.scrollHeight, body.offsetHeight,
    html.clientHeight, html.scrollHeight, html.offsetHeight );
    $(".drag-contentarea").css("height","1598px");

    return false;
  }
  function changeUserPlan(newplan,action){
    if(action=='upgrade') {
      url='/provider_plan_upgrade?np='+newplan
      $('#sponsorBankDiv').show();
      sell_Page = dhtmlmodal.open("Create New Activity","iframe",url," ", "width=1041px,height=1500px,overflow:hidden,center=1,resize=0,scrolling=0,style='margin:0px; padding:0px; background:none;'", "recal");
      $("html, body").animate({ scrollTop: 0 }, 100);
      document.getElementById("title").focus();   
      //set height for iframe div
      var body = document.body,
      html = document.documentElement;
      var height = Math.max( body.scrollHeight, body.offsetHeight,
      html.clientHeight, html.scrollHeight, html.offsetHeight );
      $(".drag-contentarea").css("height","1598px");
      return false;

    }else{
       url='/provider_plan_upgrade_tran?np='+newplan
      sell_Page = dhtmlmodal.open("Create New Activity","iframe",url," ", "width=1041px,height=1500px,overflow:hidden,center=1,resize=0,scrolling=0,style='margin:0px; padding:0px; background:none;'", "recal");
      $("html, body").animate({ scrollTop: 0 }, 100);
      document.getElementById("title").focus();   
      //set height for iframe div
      var body = document.body,
      html = document.documentElement;
      var height = Math.max( body.scrollHeight, body.offsetHeight,
      html.clientHeight, html.scrollHeight, html.offsetHeight );
      $(".drag-contentarea").css("height","1598px");
      return false;
    }
  }


function pop_success_plan(url){
    newSuccessPlanPage = dhtmlmodal.open("Plan Change","iframe",url," ", "width=630px,height=264px,overflow:hidden,center=1,resize=0,scrolling=0,style='margin:0px; padding:0px;background:none;' ", "recal");
    $("html, body", window.parent.document).animate({
        scrollTop: 0
    }, 100);
    return false;
}


  function before_delete(){
    var raj = $('#contact_names').val();
    if (raj!="" && raj!=" ")
    {
      pop_delete_contact('/user_profiles/down_free?id='+raj)
    }
    
  }
 

 var flag_s=false;
  function show_contact(id){
    flag_s=true;
    var startVal=1;
    var endVal=5;

    if(id){
      for(i=startVal; i<endVal; i++)
      {
        if(i==id)
        {
          $("#inviteAccount_"+i).show();
          $(".text_"+i).css("font-weight","bold");
        }
        else{
          $("#inviteAccount_"+i).hide();
          $(".text_"+i).css("font-weight","normal");
        }
      }
   
    }
  }

  $(window).load(function(){
    $('#dvLoading').fadeOut(1000);
  });
</script>