.button{background-color:#2b91af;border-radius:10px;box-shadow:0 2px 3px rgba(0,0,0,0.3);color:#fff;cursor:pointer;display:inline-block;padding:10px 20px;text-align:center;text-decoration:none}
.button.small{border-radius:15px;float:right;margin:22px 5px 0;padding:6px 15px}
.button:hover{background-color:#1e1e1e}
.button>span{font-size:84%}
.button.b-close,.button.bClose{border-radius:7px 7px 7px 7px;box-shadow:none;font:bold 131% sans-serif;padding:0 6px 2px;position:absolute;right:7px;top:5px}.example{display:block;line-height:1.25;padding:30px 110px 15px 0}
.code-undefined{color:#617a61}
.code-string{color:#fa8072}
.code-function{color:#ffa54f}
.code-int{color:#2b91af}
.code-comment{color:#7ccd60}
::-moz-selection{background-color:#2b91af;color:#fff;text-shadow:none}
::selection{background-color:#2b91af;color:#fff;text-shadow:none}
#page h1+.button{position:absolute;top:20px;right:25px}
#share{position:absolute;right:18px;top:85px;width:205px}
#share>div{display:inline-block}
#page li{position:relative}
#page ul+a{display:block;font-size:180%;margin:25px 0;text-align:center;text-decoration:none}
.header{margin:30px 0 0;background-color:#000;padding:12px 20px 10px;border-radius:20px 0 0 0;width:100%;left:-40px;position:relative}
.note{color:#c0c0c0;font-size:80%}
#popup,#thankyou_newsletter,.bMulti{
	background-color:#fff;
	/*border-radius:10px 10px 10px 10px;
	box-shadow:0 0 25px 5px #ccc;*/
	border:2px solid #D7DADB;
	color:#111;
	display:none;
	min-width:450px;
	padding:25px;
	}
	#popup,#success_required_form,.bMulti{
	background-color:#fff;
	/*border-radius:10px 10px 10px 10px;
	box-shadow:0 0 25px 5px #ccc;*/
	border:2px solid #D7DADB;
	color:#111;
	display:none;
	min-width:450px;
	padding:25px;
	}
#popup,#login_use_feature,#same_schedule_ck,#guest_use_feature,#guest_login_fm,.bMulti{
	background-color:#fff;
	/*border-radius:10px 10px 10px 10px;
	box-shadow:0 0 25px 5px #ccc;*/
	border:2px solid #D7DADB;
	color:#111;
	display:none;
	min-width:450px;
	padding:25px;
	}
	
#login_popup{
	left:35%;
	opacity:0.9;
}
	
/*add calender for user*/
#popup,#add_user_calender,.bMulti{
	background-color:#fff;
	/*border-radius:10px 10px 10px 10px;
	box-shadow:0 0 25px 5px #ccc;*/
	border:2px solid #D7DADB;
	color:#111;
	display:none;
	min-width:450px;
	padding:25px;
	}
#popup,#cge_pwd_cfm,.bMulti{
	background-color:#fff;
	/*border-radius:10px 10px 10px 10px;
	box-shadow:0 0 25px 5px #ccc;*/
	border:2px solid #D7DADB;
	color:#111;
	display:none;
	min-width:450px;
	padding:25px;
	}
	#popup,#invitemanager,.bMulti{
	background-color:#fff;
	/*border-radius:10px 10px 10px 10px;
	box-shadow:0 0 25px 5px #ccc;*/
	border:2px solid #D7DADB;
	color:#111;
	display:none;
	min-width:450px;
	padding:25px;
	}
	#popup,#delete_account_feature,.bMulti{
	background-color:#fff;
	/*border-radius:10px 10px 10px 10px;
	box-shadow:0 0 25px 5px #ccc;*/
	border:2px solid #D7DADB;
	color:#111;
	display:none;
	max-width:450px;
	}
	#popup,#deactivate_account_feature,.bMulti{
	background-color:#fff;
	/*border-radius:10px 10px 10px 10px;
	box-shadow:0 0 25px 5px #ccc;*/
	border:2px solid #D7DADB;
	color:#111;
	display:none;
	max-width:450px;
	}
	#popup,#activate_account_feature,.bMulti{
	background-color:#fff;
	/*border-radius:10px 10px 10px 10px;
	box-shadow:0 0 25px 5px #ccc;*/
	border:2px solid #D7DADB;
	color:#111;
	display:none;
	max-width:650px;
	}
	#UserAccountDelete
	{
		width:80%;
		float:left;
		padding:15px;
		text-align:center;
		font-family:'open_sansregular',Sans-Serif;
		font-size:18px;
		color:#3D8EA3;
	}
	#UserAccountDeactivate
	{
		width:80%;
		float:left;
		padding:15px;
		text-align:center;
		font-family:'open_sansregular',Sans-Serif;
		font-size:18px;
		color:#3D8EA3;
	}
	#UserAccountActivate
	{
		width:80%;
		float:left;
		padding:15px;
		text-align:center;
		font-family:'open_sansregular',Sans-Serif;
		font-size:18px;
		color:#3D8EA3;
	}
	#UserClose
	{
		width:6%;
		float:left;
		padding:10px 10px 10px 23px;
	}
	#UserCloseDeat
	{
		width:6%;
		float:left;
		padding:10px 10px 10px 23px;
	}
	#UserCloseAct
	{
		width:6%;
		float:left;
		padding:10px 10px 10px 50px;
	}
	#UserDte
	{
		border-bottom:1px solid #cccccc;
		width:100%;
		height:50px;
	}
	 #UserDeact
	{
		border-bottom:1px solid #cccccc;
		width:100%;
		height:50px;
	}
	#UserAct
	{
		border-bottom:1px solid #cccccc;
		width:100%;
		height:50px;
	}
	#popup,#assignedmanager,.bMulti{
	background-color:#fff;
	/*border-radius:10px 10px 10px 10px;
	box-shadow:0 0 25px 5px #ccc;*/
	border:2px solid #D7DADB;
	color:#111;
	display:none;
	min-width:450px;
	padding:25px;
	}
 #popup,#success_bank_info,.bMulti{
	background-color:#fff;
	/*border-radius:10px 10px 10px 10px;
	box-shadow:0 0 25px 5px #ccc;*/
	border:2px solid #D7DADB;
	color:#111;
	display:none;
	min-width:450px;
	padding:25px;
	}
#popup,#success_creditcard_info,.bMulti{
	background-color:#fff;
	/*border-radius:10px 10px 10px 10px;
	box-shadow:0 0 25px 5px #ccc;*/
	border:2px solid #D7DADB;
	color:#111;
	display:none;
	min-width:450px;
	padding:25px;
	}
#popup,#popup_video,.bMulti{
	background-color:#fff;
	/*border-radius:10px 10px 10px 10px;
	box-shadow:0 0 25px 5px #ccc;*/
	border:2px solid #D7DADB;
	color:#111;
	display:none;
	min-width:450px;
	padding:25px;
	}		
#popup,#popup_friend,.bMulti{
	/*background-color:#fff;*/
	/*border-radius:10px 10px 10px 10px;
	box-shadow:0 0 25px 5px #ccc;*/
	/*border:2px solid #D7DADB;*/
	color:#111;
	display:none;
	min-width:450px;
	padding:25px;
	}
	#popup,#popup_splash,.bMulti{
	/*background-color:#fff;*/
	/*border-radius:10px 10px 10px 10px;
	box-shadow:0 0 25px 5px #ccc;*/
	/*border:2px solid #D7DADB;*/
	color:#111;
	display:none;
	min-width:450px;
	padding:25px;
	}
	#popup,#bsearch_norecord,.bMulti{
	background-color:#fff;
	/*border-radius:10px 10px 10px 10px;
	box-shadow:0 0 25px 5px #ccc;*/
	border:2px solid #D7DADB;
	color:#111;
	display:none;
	min-width:450px;
	padding:25px;
	}
	
#popup,#claimSuccess,.bMulti{
	/*background-color:#fff;*/
	/*border-radius:10px 10px 10px 10px;
	box-shadow:0 0 25px 5px #ccc;*/
	/*border:2px solid #D7DADB;*/
	background-color:#fff;
	border:2px solid #D7DADB;
	color:#111;
	display:none;
	width:452px;
	padding:25px;
	}
	#popup,#week_end_news,#offlinePartiSuccess,#claimSuccess_market,#messageSuccess,.bMulti,#Delete_alert,#unassign_alert,#un_assignedmanager,#user_deleted,#user_deactivated,#user_activated_success,#deactivate_user_activity,#user_activated_failure{
	/*background-color:#fff;*/
	/*border-radius:10px 10px 10px 10px;
	box-shadow:0 0 25px 5px #ccc;*/
	/*border:2px solid #D7DADB;*/
	background-color:#fff;
	border:2px solid #D7DADB;
	color:#111;
	display:none;
	width:452px;
	padding:25px;
	}
	
#popup,#popup_container,.bMulti{
	/*background-color:#fff;
	border-radius:10px 10px 10px 10px;
	box-shadow:0 0 25px 5px #ccc;
	border:2px solid #D7DADB;
        color:#111;
        */
        /*top:20% !important;
        left:20% !important;*/
        top:20% ;
        left:20% ;
	
	display:none;
	min-width:450px;
	/*padding:25px;*/
	}
.content_popup{ font-family:'open_sansregular',Sans-Serif;color:#000; font-size:16px; text-align:center; line-height:21px;}
.content_popup_error{ color:#000; font-weight:normal; font-size:16px; text-align:center; line-height:21px; }
#popup .logo{color:#2b91af;font:bold 325% 'Petrona',sans}
#popup,.bMulti{min-height:250px}
#popup2 iframe{background:url('loader.gif') center center no-repeat;min-height:240px;min-width:450px}
.loading{background:url(../../images/ajax-loader.gif) center center no-repeat; }
.bMulti p{font:500% 'Petrona',sans-serif;padding:45px 0 0;text-align:center}
.bMulti a{left:175px;position:absolute;top:175px}
.lt-ie9 .bModal{background-color:#fff; border:1px solid #cecece;}