.noselect {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}

.mini-clndr {
  font-family: 'open_sansregular',sans-serif;
  margin: 0 auto;
  width: 154px;
  height: auto;
  background-color: #FFFFFF;
  border:2px solid #CFCFCF;
/*  -moz-box-shadow: 4px 4px 0 #343434;
  -webkit-box-shadow: 4px 4px 0 #343434;
  box-shadow: 4px 4px 0 #343434;*/
}
.mini-clndr .clndr {
  /*overflow-x: hidden;*/
  overflow-y: visible;
  /*border-bottom: 7px solid #69a776;*/
}
.mini-clndr .clndr .controls {
  /*background-color: #69a776;*/
  background-color: #f82b2b;
  color: white;
}
.mini-clndr .clndr .controls .clndr-previous-button,
.mini-clndr .clndr .controls .clndr-next-button {
  width: 15%;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */

  -moz-user-select: none;
  /* Firefox */

  -ms-user-select: none;
  /* IE10+ */

  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.mini-clndr .clndr .controls .clndr-previous-button:hover,
.mini-clndr .clndr .controls .clndr-next-button:hover {
  /*background-color: #528b5e;*/
  background-color: #ee1515;
}
.mini-clndr .clndr .controls .month {
  width: 70%;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}
.mini-clndr .clndr .days-container {
  position: relative;
  width: 100%;
  /*height: 186px;*/
  display: inline-block;
}
.mini-clndr .clndr .days-container .days {
  /*position: absolute;*/
  left: 0;
  /*width: 100%;*/
  /*height: auto;*/
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  -ms-transition: left 0.5s;
  -o-transition: left 0.5s;
  transition: left 0.5s;
  /*background-color: #ebebeb;*/
}
.mini-clndr .clndr .days-container .days .day,
.mini-clndr .clndr .days-container .days .empty {
  width: 20px;
  display: inline-block;
  /*padding-top: 3px;
  padding-bottom: 3px;*/
  font-size: 1em;
  text-align: center;
  /*color: #212121;*/
  color: #212121;
  /*border-right: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);*/
  border: 1px solid #EFEFEF;
}
.mini-clndr .clndr .days-container .days .day.event,
.mini-clndr .clndr .days-container .days .empty.event {
  /*background-color: #d2d2d2;*/
  background-color:#5DB2C6;
  color:#ffffff;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
  /*cursor: pointer;*/
}
.mini-clndr .clndr .days-container .days .day.event:hover,
.mini-clndr .clndr .days-container .days .empty.event:hover {
  /*background-color: #b8b8b8;*/
  /*background-color: #0D77B6;*/
}
.mini-clndr .clndr .days-container .days .day.adjacent-month,
.mini-clndr .clndr .days-container .days .empty.adjacent-month {
  color: rgba(0, 0, 0, 0.3);
}
.mini-clndr .clndr .days-container .days .empty {
  height: 31px;
  vertical-align: bottom;
}
.mini-clndr .clndr .days-container .days .headers {
  /*background-color: #97ce7f;*/
  background-color: #ffffff;
  /*padding-top: 5px;
  padding-bottom: 5px;*/
}
.mini-clndr .clndr .days-container .days .headers .day-header {
  width: 20px;
  display: inline-block;
  text-align: center;
  color: #f82b2b;
  border:1px solid #DFDFDF;
}
.clndr-previous-button,.clndr-next-button{
position: relative;
top: 2px;
font-size: 22px;
font-weight: bold;
line-height: 9px;
}