<%
meta :title => "Social Networking Software for Team Sports, Classes, & Parents",
     :description => "Famtivity provides social networking software for parent and team communication for sports and classes of all types",
     :keywords => "Team Social Networking Software, Parent Social Networking Software, Provider Social Networking Software"
%>
<%=stylesheet_link_tag "static/static_style", :media => "all"%>
 <div class="<%if current_user.nil? && !current_user.present?%>wrapper_contianer_inner<%else%>wrapper_contianer_inner_login<%end%>">
	<div class="staic_inner">
		<div class="page_head">		
			<div class="head_line"></div>
			<h1 class="search_head">FAQ&nbsp;</h1>
		</div><br>
		<div class="faq_section">
			<div class="lt faq_left">
				<p class="faq_head parabtm"><b>Parents</b></p>
				<ul class="faq_list">
					<li ><a href="#q1" title="">What is Famitivity?</a></li>
					<li ><a href="#q2" title="">How do I find activities in my area?</a></li>
					<li ><a href="#q3" title="">Can I sign up for an activity directly on Famtivity?</a></li>
					<li ><a href="#q4" title="">What are Discount Dollars and how do they work?</a></li>
					<li ><a href="#q5" title="">Can I apply Discount Dollars to activities that aren&#39;t being sold directly through Famtivity?</a></li>
					<li ><a href="#q6" title="">How do I determine the quality of an activity listed on Famtivity?</a></li>					
					<li ><a href="#q7" title="">Does it cost more or less to sign up on Famtivity?</a></li>
					<li ><a href="#q8" title="">How do I get my friends to join so we can coordinate sign-ups and schedules?</a></li>
					<li ><a href="#q9" title="">Is there an incentive for encouraging my friends to join Famtivity?</a></li>					
					<li ><a href="#q10" title="">How do I get my favorite providers to list their activities on Famtivity?</a></li>
					<li ><a href="#q11" title="">Is there an incentive for encouraging activity providers to join Famtivity?</a></li>
					<li ><a href="#q12" title="">How do I submit a review of an activity on Famtivity?</a></li>	
					<li ><a href="#q13" title="">Will my information be shared with anyone without my permission?</a></li>
				</ul>
			</div>
			<div class="lt faq_right" >
				<p class="faq_head parabtm"><b>Providers</b></p>
				<ul class="faq_list">
					<li ><a href="#p1" title="">How will Famtivity benefit my business?</a></li>
					<li ><a href="#p2" title="">What are the benefits of selling activities within Famtivity?</a></li>
					<li ><a href="#p3" title="">What do I pay to list my activities on Famtivity?</a></li>
					<li ><a href="#p4" title="">How do I get paid if someone purchases my activity?</a></li>
					<li ><a href="#p5" title="">How does the Discount Dollars program work for Providers?</a></li>					
					<li ><a href="#p6" title="">How do I create and edit my activities?</a></li>
					<li ><a href="#p7" title="">What bank information is needed to get direct deposit for activities sold within Famtivity?</a></li>
					<li ><a href="#p8" title="">When do I receive payment for activities sold through Famtivity?</a></li>					
					<li ><a href="#p9" title="">Can I use my own custom registration forms or policies inside Famtivity?</a></li>
					<li ><a href="#p10" title="">How can I ensure that my activities are seen by the most people in Famtivity?</a></li>
					<li ><a href="#p11" title="">Can I change or cancel my plan once I sign up?</a></li>
				</ul>	
			</div>
		</div>
		<div class="clear" id="q1"></div><br>
		<div class="faq_head parabtm"><b>Parents FAQ</b></div>
		<div class="faq_ques">
			
			<div class="faq_para" id="q2">
				<p class="font_blue">What is Famitivity?</p>
				<p class="fnt13">Famtivity is a web and mobile service that simplifies the process of finding, organizing and purchasing activities. We connect activity seekers with activity providers to create a network we call The Family Activity Network.</p>										
			</div>
			
			<div class="faq_para" id="q3">
				<p class="font_blue">How do I find activities in my area?</p>
				<p class="fnt13">Enter the type of activity you&#39;re seeking in the main search box. After getting results, you can enter additional criteria using the check boxes to zero in on your desired activities, date, day, gender and age.</p>
			</div>
			
			<div class="faq_para" id="q4">
				<p class="font_blue">Can I sign up for an activity directly on Famtivity?</p>
				<p class="fnt13">Yes. If you have created a Famtivity account and your desired provider is also signed up to sell through Famtivity, you sign up directly on Famtivity, pay and register within the system.</p>
			</div>		
			
			<div class="faq_para" id="q5">
				<p class="font_blue">What are Discount Dollars and how do they work?</p>
				<p class="fnt13">Discount Dollars are credit that you can redeem towards the purchase of any activity sold through Famtivity. You can redeem Discount Dollars for any activity that the provider has indicated qualifies for the program.  Providers determine which activities qualify and the total amount of Discount Dollars they will accept for each. You can view your dollars under the Discount Dollar tab in your profile page. When purchasing an activity you’ll be able to see your Discount Dollar total and apply them to your purchase, which is essentially a discount off the normal price.</p>
									
			</div>
			<div class="faq_para" id="q6">
				<p class="font_blue">Can I apply Discount Dollars to activities that aren&#39;t being sold directly through Famtivity?</p>
				<p class="fnt13">Not at this time. However, if you invite your desired provider to join Famtivity and they sign-up for the sell-through plan, then you get a $25 credit and can then apply your Discount Dollars towards their activities.</p>										
			</div>
			<div class="faq_para" id="q7">
				<p class="font_blue">How do I determine the quality of an activity listed on Famtivity?</p>
				<p class="fnt13">We will be adding user reviews soon.  Only those who have registered for the specific activity through Famtivity can post a review, ensuring that all reviews are both honest and relevant.</p>									
			</div>

			<div class="faq_para" id="q8">
				<p class="font_blue">Does it cost more or less to sign up on Famtivity?</p>
				<p class="fnt13">Activities in Famtivity will usually be less than what you would pay by signing up directly with the provider. Activity providers determine registration fees for their activities, but they agree to never charge more on Famtivity. . In addition, you can apply Famtivity’s Discount Dollars towards many activities purchased through Famtivity, which gives you great deals from great providers.</p>
									
			</div>
			<div class="faq_para" id="q9">
				<p class="font_blue">How do I get my friends to join so we can coordinate sign-ups and schedules?</p>
				<p class="fnt13">Famtivity&#39;s &ldquo;Invite A Friend&rdquo; button under the &ldquo;Friends&rdquo; tab makes it easy. Simply fill out the required fields, click &lsquo;send&rsquo; and your friends will receive an invitation to join our network.</p>					
			</div>
			<div class="faq_para" id="q10">
				<p class="font_blue">Is there an incentive for encouraging my friends to join Famtivity?</p>
				<p class="fnt13">Yes. For every friend you invite, you earn $1 Discount Dollar that can be used towards purchasing any qualifying activity within the Famtivity network.</p>										
			</div>

			<div class="faq_para" id="q11">
				<p class="font_blue">How do I get my favorite providers to list their activities on Famtivity?</p>
				<p class="fnt13">Famtivity&rsquo;s &rdquo;Invite Your Provider&ldquo; button under the &rdquo;Friends&ldquo; tab makes it easy. Simply fill out the required fields, click &lsquo;send&rsquo; and the activity provider will receive an invitation to join Famtivity.</p>										
			</div>
			<div class="faq_para" id="q12">
				<p class="font_blue">Is there an incentive for encouraging activity providers to join Famtivity?</p>
				<p class="fnt13">Yes. For each provider that you invite who joins Famtivity you receive a credit of $<%=$dollar%> Discount Dollars.</p>									
			</div>
			<div class="faq_para" id="q13">
				<p class="font_blue">How do I submit a review of an activity on Famtivity?</p>
				<p class="fnt13">The review feature is coming soon!</p>									
			</div>
			<div class="faq_para">
				<p class="font_blue">Will my information be shared with anyone without my permission?</p>
				<p class="fnt13">Absolutely not! Your privacy is extremely important to us. Famtivity will never use your information without your consent. You can change your privacy settings at any time.</p>										
			</div>
		</div>
		<div class="clear"></div>
		<div class="faq_head parabtm"><b>Providers FAQ</b></div>
		<div class="faq_ques">
			<div class="faq_para" id="p1">
				<p class="font_blue">How will Famtivity benefit my business?</p>
				<p class="fnt13">Famtivity is a one-stop shop for parents looking for activities, classes, camps and local events. Parents visit Famtivity to find and register for activities from providers just like you. We promote Famtivity on all major social networks, numerous parenting websites, and national and local websites and blogs to grow our network and create visibility for your activities - so you can get more customers.</p>
									
			</div>
			<div class="faq_para" id="p2">
				<p class="font_blue">What are the benefits of selling activities within Famtivity?</p>
				<p class="fnt13">We help parents search activities by location, age, time, day of the week, interests, availability, special needs and more. . Parents prefer to go to a one stop shop to search, register and schedule all activities. We provide you with a new set of potential customers looking for activities within our network. If you&#39;ve signed up for the &ldquo;Sell-Through&rdquo; plan, your activity can be purchased instantly by anyone who sees it, and you get a new customer that you probably wouldn&rsquo;t have otherwise.</p>
									
			</div>
			<div class="faq_para" id="p3">
				<p class="font_blue">What do I pay to list my activities on Famtivity?</p>
				<p class="fnt13">Just contact us and we will automatically list your business profile and contact information at no cost.  If you want to list your specific activities, camps, classes or lessons, you can choose the <a href="javascript:void();" title="" class="blue_nav" onclick="show_pop_up(30); pop_Parent_Login('/parent_register?price=provider');show_provider_plan();  _gaq.push(['_trackEvent', 'Parent Module', 'clickServices','Pricing']);">monthly plan</a> that fit your specific needs.</p>
									
			</div>
			<div class="faq_para" id="p4">
				<p class="font_blue">How do I get paid if someone purchases my activity?</p>
				<p class="fnt13">We collect the fee and provide you with a direct deposit in your bank account.</p>									
			</div>
			<div class="faq_para" id="p5">
				<p class="font_blue">How does the Discount Dollars program work for Providers?</p>
				<p class="fnt13">When parents sign-up for Famtivity, they get &ldquo;Discount Dollars&rdquo; to use for buying activities and can also earn additional credits by inviting their friends and favorite providers to join the network.  Providers can designate which specific activities will accept Discount Dollars and how much can be applied.  For example, if you list an activity for $75 and allow for $10 in Discount Dollars to be applied as an incentive, your net revenue from the sale will be $65.  You must sign up for the Sell-Through plan to participate in the Discount Dollars program.</p>
									
			</div>

			<div class="faq_para" id="p6">
				<p class="font_blue">How do I create and edit my activities?</p>
				<p class="fnt13">On your profile page, click on the &ldquo;plus&rdquo; sign at the top. Simply fill out the required fields and click save to create an activity. To edit an activity, you can return to your activities page and click on the activity to edit.</p>									
			</div>
			<div class="faq_para" id="p7">
				<p class="font_blue">What bank information is needed to get direct deposit for activities sold within Famtivity?</p>
				<p class="fnt13">We need your bank name and address, name on the account, bank routing number, and account number. This allows us to transfer money in your account when people sign up for your activities.</p>								
			</div>

			<div class="faq_para" id="p8">
				<p class="font_blue">When do I receive payment for activities sold through Famtivity?</p>
				<p class="fnt13">We collect and then transfer payments to your bank account each week.</p>									
			</div>
			<div class="faq_para" id="p9">
				<p class="font_blue">Can I use my own custom registration forms or policies inside Famtivity?</p>
				<p class="fnt13">Yes, go to the policies section and add your own policies as well as upload forms that attendees need to sign and submit prior to attending your activity.</p>								
			</div>

			<div class="faq_para" id="p10">
				<p  class="font_blue">How can I ensure that my activities are seen by the most people in Famtivity?</p>
				<p class="fnt13">One of the best ways to ensure people see your activities is by allowing for Discount Dollars to be applied to the price of your listing.  We often promote those activities that accept Discount Dollars.</p>							
			</div>
			<div class="faq_para" id="p11">
				<p  class="font_blue">Can I change or cancel my plan once I sign up?</p>
				<p class="fnt13">Yes. Just go to the &ldquo;Plan&rdquo; area and you can upgrade, downgrade, or cancel your account at any time.</p>									
			</div>
		</div>
	</div>
</div>
	