  /*report td hide and show*/
  .td_hide{
    display:none;
  }
  .td_more{
    display:none;
  }
  #providerEventList{
    background:#F6F6F6;
  }
  #providerEventList .topContainer .leftMenus{
    /* width:100%;*/
  }
  #providerEventList .topContainer span.num_Act{
    color: #807E7E;
    font-size: 12px;
    font-weight: normal;
    position: relative;
    top: 0px;
    left:6px;
    .top: 2px;
  }
  @media \0screen{
    #providerEventList .topContainer span.num_Act{
      top: 0px;
    }
  }
  #providerEventList .topContainer .pipeSymbol{
    position:static;
    vertical-align:inherit;
    .position:relative;
    .top:-1px;
    vertical-align:inherit;
  }
  #menu {
    display: inline-block;
    position: relative;
    top: 4px;
    .top: -3px;
    left:4px;
  }




  .setColor{
    color:#4c92b4;
  }
  #filter_admin_category{
    .margin-top:8px;
  }
  #filter_by_provider{
    .margin-top:8px;
  }
  #providerEventList .topContainer .event_search{
    width:190px;
  }
  #providerEventList .topContainer .searchDiv{
    width:280px;
  }
  #providerEventList .topContainer .checkboxImg{
    margin-right: 10px;
   /* top:5px;*/
    .top:7px;
  }
  .dispProviderCatDiv{
    width: 700px;    
  }
  .eventmoreContainer .centerContainer{
    width: 700px;
  }
  .eventmoreContainer .innerContainer{
    width: 700px;
  }
  #acc #nested .accDiv{
    width: 688px;
  }
  #acc #nested .accDiv h3{
    width: 680px;
  }
  #acc #nested .acc-content{
    width: 661px;
  }
  #acc #nested .acc-content .inner_acc-content{
    width:203px;
  }
  #providerEventList .topContainer .menuText{
    /*font-weight:bold;*/
  }
  #acc #nested .acc-content{
    height: 96px;
  }
  #acc #nested .acc-content .inner_acc-content{
    height:26px;
    margin:0;
  }
  #event_index_container .Setlt{
    height:auto;
    margin:0;
  }
  #event_index_container .grayColorText{
    color: #807E7E;
    font-size: 12px;
    font-weight:normal;
  }
  #event_index_container .setSportsText{
    cursor:pointer;
    width:auto;
    margin: 15px 0;
  }
  #event_index_container .setSportsText:hover{
    cursor:pointer;
    width:auto;
    margin: 15px 0;
  }
  #event_index_container .errorDiv{
    margin:5px 0 0 10px;
    color:#fc8989;
    font-size: 12px;
  }
  #event_index_container .provider_menu{
    float:left;    
    height:240px;
    overflow-y:auto;
    margin: -27px 0 0 140px;  
    font-size:13px;
    background:#F6F8F7;
    color:#959292;
    border:1px solid #C2DDE4; 
    padding: 10px 10px 0 0;
  }
  #event_index_container .provider_menu a{  
    color:#959292;
    display:block;
    white-space: nowrap;
    text-decoration:none;
    padding:5px 10px 5px 8px;
  }
  #event_index_container .provider_menu a:hover{
    display:block;
    white-space: nowrap;
    text-decoration:none;
    padding:5px 10px 5px 8px; 
    color:#F97C0E;
  }
  @media \0screen{
    #menu {
      top: 4px;
    }
  }
  #event_index_container .status_menu{
    float:left;    
    height:240px;
    overflow-y:auto;
    margin: -27px 0 0 140px;  
    font-size:13px;
    background:#F6F8F7;
    color:#959292;
    border:1px solid #C2DDE4; 
    padding: 10px 10px 0 0;
  }
  #event_index_container .status_menu a{  
    color:#959292;
    display:block;
    white-space: nowrap;
    text-decoration:none;
    padding:5px 10px 5px 8px;
  }
  #event_index_container .status_menu a:hover{
    display:block;
    white-space: nowrap;
    text-decoration:none;
    padding:5px 10px 5px 8px; 
    color:#F97C0E;
  }
  #providerEventList .topContainer{
    width:100%;
    height:40px;
    background:#F6F8F7;
    padding-top:10px;
    .margin-top:0px;
  }
  #menu li:hover ul.sub-menu {
    display: block;
    z-index: 2147483647;
    position: absolute;
    left: 0;
    width: auto;
  }
  #event_index_container .GoButton{
    left: 7px;
    top: 2px;
  }
  .ui-datepicker-trigger {
    cursor: pointer;
    float: right;
    margin-top: -21px;
    .margin-top: 0px;
  }
  #providerEventList  .selectedMenuText{
    color:#5aa3b6;
    font-weight:bold;
    font-size:14px;
  }
  #providerEventList .dot{
    display:inline-block;
    position:relative;
    top:3px;
  }
  #providerEventList  .menuText{
    /*color:#585858;
    font-weight:normal;
    font-size:13px;*/
	color: #347D91;
    font-size: 14px;
    font-weight: normal;
    white-space: nowrap;
  }
  .actImg{
    display:inline-block;
    margin-left:3px;
    margin-left:-1px\0/IE9;
  }
  .discntWrapper{
    /*padding: 20px 0px;*/
    /*background: #F6F8F7;*/
  }
  .discntwrap{
    /*width: 970px;
    margin: 0 auto;
	*/
  }
  .discountDropMenu	{
	margin-right:10px;
  }
  .debitcreditDetails{
    background: #EDF1F2;
    padding: 10px 100px 10px 80px;
  }
  .discountdollarsummary{
    border: 1px solid #CCE0E7;
    background: #ffffff;
	width:370px;
	height:288px;
	margin: 0px 0px 0px 30px;
	float:left;
  }
  .discountdollarsummaryTit{
    padding: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #347D91;
    background: #E1F0F7;
    border-bottom: 1px solid #CCE0E7;
  }
  .discountdollarsummarybody{
    padding: 10px 20px 5px 20px;
    .padding: 25px 20px 5px 20px;
  }
  .lsitTxt{
    display:inline-block;
    width: 100%;
    padding: 7px 0px;
  }
  .listNameDis{
    color: #585858;
    float: left;
    font-weight: bold;
    width: 250px;
    font-size: 13px;
  }
  .listNameDisCur{
    float: right;
    color: #347d91;
    font-weight: bold;
    font-size: 13px;
	padding-right:5px;
  }
  .lsitTxtTotal{
    display:inline-block;
    border-top: 1px solid #E5E9EC;
    width: 100%;
    padding: 15px 0px;
  }

  .topleft_box_inner {
    padding: 12px 4px 4px;
  }
  .topleft_getred {
    color: #dc1f1b;
    font-size: 20px;
    font-weight: bold;
  }
  .topleft_signup {
    color: #347D91;
    font-size: 14px;
    font-weight: bold;
  }
#menu ul.sub-menu{
  top: 22px;
}
/********************* Discount Dollar Page ********************/
.debitCreditContainer{
  width:750px;
  border:1px solid #E7E9E8;
  background:#ffffff;
  float:left;
}
.creditInner{
  padding: 10px 10px 0;
  border-bottom:1px dashed #E2E2E2;
}
.creditInnerRt{
  width:520px;
}
.setPadding{
  padding:0 0 10px;
}
.blackText{
    font-size: 13px;
    color: #585858;
  }
.redText{
  color:#dc1f1b;
  font-size:13px;
  width:55px;
  font-weight:bold;
  display:inline-block;
}
  .topleft_box {
    background: none repeat scroll 0 0 #DBEEF4;
    border: 1px solid #B4D2DD;
    color: #63A2C1;
    /*font-family: Arial,Helvetica,sans-serif;*/
    font-size: 12px;
    height: 86px;
    width: 183px;
   margin: 0 20px 10px 0;
  }
  .nodiscountText {
    background: none repeat scroll 0 0 #EDF1F2;
    color: #555756;
    font-size: 12px;
    text-align: center;
    width: 310px;
  margin: 20px auto;
    padding: 10px;
}
#menu {
  display: block;
  /*position: relative;*/
  top:-5px;
}
#menu a {
  display: inline-block;
}
#menu ul {
  display: inline-block;
  list-style-type: none;
}
#menu li {
  float: left;
  position: relative;
}
#menu ul.sub-menu {
  display: none;
  position: absolute;
  z-index: 900;
}
#menu ul.sub-menu li {
  text-align: left;
  display: block; 
}
#menu li:hover ul.sub-menu {
  display: block; 
}
#menu ul.sub-menu {
    margin:2px 0 0 0px;
}
.dispProvidertransDiv{
    display:none;
    font-size:13px;
    background:#F6F8F7;
    color:#585858;
    border:1px solid #D7DADB;
  border-bottom: 4px solid #FF0000;
    width:140px;
    height:238px;
  margin-left:-9px;
  position: absolute;
  z-index: 10000;
}
.dispProvidertransDiv li a{ 
    color:#585858;
    display:block;
    text-decoration:none;
    padding:4px 0px 5px 8px;
  width:132px;
}
.dispProvidertransDiv li a:hover{
  /*color:#F97C0E;
    display:block;
    text-decoration:none;
    padding:5px 0px 5px 8px;
  width:132px;*/
  background: #EF322E;
   color:#FFFFFF;
   text-decoration:none;
  padding:5px 0px 5px 0px;
   text-indent: 7px;
   margin-bottom: -1px;
   width:153px;
}
.netmenu {
width: 20px;
height: 30px;
margin-top: -18px;
left: 60px;
position: absolute;
top:-3px;
}
.transDivMenu{
  left:16px;
  top:0px;
}
.headText{
    color:#347d91;
    font-weight:bold;
    font-size:14px;
    background:#e4f4f9;
    border:1px solid #E9EDEE;
    border-left:none;
    border-right:none;
    height:43px;
}
.setPadLt{
    padding-left:15px;
}
.setborderLt{
  border-left:1px solid #E9EDEE;
}
.setborderRt{
  border-right:1px solid #E9EDEE;
}
.contentText{
    color:#585858;
    font-weight:normal;
    font-size:13px;
    border-bottom:1px dashed #e3e3e3;
    height:58px;
}
.discount_list{
  display:none;
  /*padding-top:15px;*/
}
.no-debit{
  font-size:20px;
  text-align:center;
}
.no-debit-text{
  font-size:20px;
  text-align:center;
  color:#585858;
}
.transDiv{
  height: 25px;
}
.tablebrder{
	border:1px solid #d4d4d4;
}
.contentBorderNone{
	border-bottom:none;
	color: #585858;
	font-size: 13px;
	font-weight: normal;
	height: 58px;
}