.popupContainer {
	width: 880px;
	margin: 0 auto;
	border: 2px solid #D7DADB;
	background-color: #FFFFFF;
	font-family:'open_sansregular',Sans-Serif;
}
#createformContainer{
	width: 880px;
	height1: 100%;
	margin: 0 auto;
}
.popupContainer_success{
	width: 560px;
	margin: 0 auto;
	border: 2px solid #D7DADB;
	background-color: #FFFFFF;
	font-family:'open_sansregular',Sans-Serif;
}
#createformContainer_success{	
	margin: 0 auto;
}
.headingLeft_success{
	display: inline-block;
	float: left;
	width: 516px;
	text-align: center;
}
.popupHead{
	padding:10px 0px;
	border-bottom:1px solid #d7dadb;
}
.headingLeft{
	display: inline-block;
	float: left;
	width: 849px;
	text-align: center;
}
.pleft31{
	padding-left:31px;
}
.fntSize20{
	font-size:20px;
}
.fntSize30{
	font-size:30px;
}
.fntClrblue{
	color:#4495ae;
}
.headfont{
	font-size: 20px;
	font-weight: bold;
	color: #5099ac;
	font-family:'open_sansregular',Sans-Serif;
}
.closeButton{
	float: right;
	width: 31px;
	padding:0px 0px 0 0;
	position:relative;
	top:5px;
	.top:0px;
}
.clear {
	clear:both;
	line-height:0px;
}
.createformTop{
	width:880px;
	height1:100%;
	margin:0 auto;
	border-bottom:1px dotted #d7dadb;
	padding:10px 0px 20px 0px;
}
.createformField{
	width:880px;
	
	margin:0 auto;
	padding-top:10px;
}
.createformFieldLeft{
	font-weight: bold;
	font-size: 14px;
	color: #5a5757;
	width: 150px !important;
	vertical-align: top;
	margin-left: 60px;
}
.creatformFieldRight{
	float:left;
	width:580px;
}
.creatformFieldRight textarea {
	width: 555px;
	height: 68px;
	border: 1px solid #CDE0E6;
	padding: 1px 4px 0px 4px;
	color: #999999;
	font-size: 13px;
	font-family:'open_sansregular',Sans-Serif;
	resize:none;
	outline:none;
	padding:5px;
}
.creatformFieldRight .textbox {
	width: 555px;
	height: 18px;
	border: 1px solid #CDE0E6;
	padding: 1px 4px 0px 4px;
	color: #999999;
	font-size: 13px;
	font-family:'open_sansregular',Sans-Serif;
	outline:none;
	padding:5px;
}
.creatformFieldRight .textbox_re {
	width: 555px;
	height: 18px;
	border: 1px solid #CDE0E6;
	padding: 1px 4px 0px 4px;
	color: #000000;
	font-size: 13px;
	font-family:'open_sansregular',Sans-Serif;
	outline:none;
	padding:5px;
}
.creatformFieldRight .textarea{
	color:#000;
}
.lt{
	float: left;
}
.createFormCenter{
	width:880px;
	height1:100%;
	margin:0 auto;
	border-bottom:1px dotted #d7dadb;
	padding:10px 0px 20px 0px;
}
.createFormbottom{
	width:880px;
	height1:100%;
	margin:0 auto;
	padding:10px 0px 20px 0px;
}
.createRequiredForm{
	width:725px;
	margin-left:60px;
	padding:0px;
	background:#f9fbfb;
	border:1px solid #eff2f3;
}
.buttondiv{
	width:725px;
	margin-left:60px;
	padding:0px;
}
.fieldTop{
	width:702px;
	border-bottom:1px dotted #d7dadb;
	padding:10px 10px 5px 13px;
	font-size: 13px;
	font-family:'open_sansregular',Sans-Serif;
}
.field160{
	width:187px;
	float:left;
	color: #5a5757;
}
.noofField{
	width:138px;
	float:left;
	color: #5a5757;
}
.fieldTxt{
	padding:0px 0px 8px 0px;
}
.inputField{
	width: 120px;
	height: 18px;
	border: 1px solid #CDE0E6;
	padding: 1px 4px 0px 4px;
	color: #999999;
	font-size: 13px;
	font-family:'open_sansregular',Sans-Serif;
	outline:none;
	position:relative;
	top:0px;
	padding:5px;
}
.chooseinputField{
	width: 130px;
	height: 28px;
	border: 1px solid #CDE0E6;
	padding: 1px 4px 0px 4px;
	color: #999999;
	font-size: 13px;
	font-family:'open_sansregular',Sans-Serif;
	outline:none;
	position:relative;
	top:0px;
}
.field160 .input{
	width: 160px;
	height: 18px;
	border: 1px solid #CDE0E6;
	padding: 1px 4px 0px 4px;
	color: #999999;
	font-size: 13px;
	font-family:'open_sansregular',Sans-Serif;
	outline:none;
	padding:5px;
}
.noofField .input{
	width: 117px;
	height: 18px;
	border: 1px solid #CDE0E6;
	padding: 1px 4px 0px 4px;
	color: #999999;
	font-size: 13px;
	font-family:'open_sansregular',Sans-Serif;
	outline:none;
	padding:5px;
}
.field160 .dropdown {
	border: 1px solid #BDD6DD;
	color: #999999;
	display: inline-block;
	font-family:'open_sansregular',Sans-Serif;
	font-size: 13px;
	height: 31px;
	width:180px;
	padding: 5px 0px 4px 2px;
	outline:none;
}

.field160 select option  {
	padding:5px;
}
.requireCheckbox{
	padding:10px 0px;
}
.requireField{
	color: #5a5757;
	font-size: 13px;
	font-family:'open_sansregular',Sans-Serif;
	outline:none;
	position:relative;
	top:-2px;
}
/* checkbox */
.checkbox_wrapper{
    position1: relative;
	margin-bottom:15px;
}

/*.checkbox_wrapper input[type="checkbox"] {
    opacity:0;
    height: 21px;
    width: 19px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.checkbox_wrapper input[type="checkbox"] + label{
    background:url('http://dev.famtivity.com:8080/assets/provider_event_list/pro_checkbox_normal.png') no-repeat;
    height: 21px;
    width: 19px;
    display:inline-block;
    padding: 0 0 0 0px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.checkbox_wrapper input[type="checkbox"]:checked + label{
    background:url('http://dev.famtivity.com:8080/assets/provider_event_list/pro_checkbox_selected.png') no-repeat;
    height: 21px;
    width: 19px;
    display:inline-block;
    padding: 0 0 0 0px;
}*/
/* checkbox */
.listBox{
	position:relative;
	margin-bottom:15px;
}
.listTxt{
	font-size:14px;
	color:#999999;
	display:inline-block;
	width:20px;
}
.mTop15 {
	margin-top:15px;
}
.mTop10 {
	margin-top:10px;
}
/* radion button */
.requireRadio{
	padding:0px;
}
/*.radiobutton_wrapper{
    position: relative;
	top:0px;
}
.radiobutton_wrapper input[type="radio"] {
    opacity:0;
    height: 22px;
    width: 22px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.radiobutton_wrapper input[ type = radio ] + label{
    background:url(assets/form_builder/bullet_point_unmarked.png) no-repeat;
    height: 22px;
    width: 22px;
    display:inline-block;
    padding: 0 0 0 0px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.radiobutton_wrapper input[ type = radio ]:checked + label{
    background:url(assets/form_builder/bullet_point_marked.png) no-repeat;
    height: 22px;
    width: 22px;
    display:inline-block;
    padding: 0 0 0 0px;
}*/
/* radion button */
.fieldBottom{
	padding:10px 10px;
}
/* .formListDetails tr.tableHeding td{
	padding:5px 10px;
}*/
.formListDetails tr.tableDetails td{
	padding-top:5px;
	padding-bottom:4px;
} 
.tableHeding{
	color:#4aa3b6;
	font-size:14px;
	font-weight:bold;
	background:#f3f8f8;
	width:700px;
	font-size: 13px;
	font-family:'open_sansregular',Sans-Serif;
	margin:0 auto;	
	position:relative;
	top:0px;
	height:30px !important;
}
.iconList{
	position:relative;
	top:0px;
	top:0px\0;
}
.tableDetails{
	color:#9e9e9e;
	font-size:14px;
	background:#fff;
	width:700px;
	padding:10px;	
	font-size: 13px;
	font-family:'open_sansregular',Sans-Serif;
	margin:0 auto;	
}
.action{
	color:#4aa3b6;
	font-size:13px;
}
.action a{
	color:#4aa3b6;
	font-size:13px;
	text-decoration:none;
}
.pleft{
	padding-left:10px;
}
.pleft15{
	padding-left:15px;
}
.pright{
	padding-right:10px;
}
#changeField{
	padding-bottom:20px;
}
/* preview page style */
.previewHead{
	padding:10px 0px;
	border-bottom:1px solid #CDE0E6;
	background:#eaf6fa;
}
.headingpreviewLeft{
	display: inline-block;
	float: left;
	width: 849px;
}
.kidsTxt{
	text-align:center;
	color:#3d83a3;
	font-weight:bold;
}
.txtKidinfo{
	width:600px;
	margin:10px auto;
	padding:15px;
	color:#807e7e;
	text-align:center;
	background:#edf1f2;
	font-size:13px;
}
.require{
	color: red;
	position: relative;
	left: 0px;
	top: 0px;
	font-size: 13px;
}
.radioTxt{
	padding-left:10px;
	color:#999999;
	font-size:13px;
	position:relative;
	top:-1px;
}
.radioTxt_re{
	padding-left:10px;
	color:#000;
	font-size:13px;
	position:relative;
	top:-1px;
}
.chooselistTxt{
	padding-left:15px;
	color:#999999;
	font-size:13px;
	position:relative;
	top:0px;
}
.previewformTop{
	width:880px;
	height:100%;
	margin:0 auto;
	padding:10px 0px 20px 0px;

}
.creatformFieldRight .dropdown {
	border: 1px solid #BDD6DD;
	color: #999999;
	display: inline-block;
	font-family:'open_sansregular',Sans-Serif;
	font-size: 13px;
	height: 31px;
	width:280px;
	padding: 5px 0 4px 2px;
	outline:none;
}
.creatformFieldRight .dropdown_re {
	border: 1px solid #BDD6DD;
	color: #000;
	display: inline-block;
	font-family:'open_sansregular',Sans-Serif;
	font-size: 13px;
	height: 31px;
	width:280px;
	padding: 5px 0 4px 2px;
	outline:none;
}
.creatformFieldRight select option  {
	padding:5px;
}
.previewButtons{
	width:426px;
	margin:0 auto;
	padding:0;
}
#submit {
	opacity:0.5;
	cursor:default;
}
#pcancel {
	opacity:0.5;
	cursor:default;
}
.error {
	color: #fc8989;
	font-size: 12px;
}
.thank_blue{
	color:#000;
	font-size:16px;
}
/* preview page style */