<link rel="stylesheet" type="text/css" href="/assets/global/pop_up_success.css" />
<link rel="stylesheet" type="text/css" href="/assets/global/pop_up.css"/>
<script language="javascript">
  $(document).ready(function(){
    $("html, body", window.parent.document).animate({ scrollTop: 0 }, 100);
  });	
</script>
<div align="center" style="height:145px;">
   <p class="successText" style="padding:28px 0;">Success! Your friend has been invited to join Famtivity.</p>
  <div class="clear"></div>
  <a href="javascript:void(0)" class="b-close" title=""><img src="/assets/register/ok_btn.png" alt="" /></a>
</div>

