#share_actvity_success{
	/*background:url('/assets/global/pop_up_success/share_message.png') no-repeat;*/
	background-color:#ffffff;
	border:2px solid #D7DADB;
	width: 436px;
	height:244px;
	margin:0 auto;	
}
#share_actvity_success .popupContainer{	
	margin: 0 8px 0 7px;
	padding-top:20px;
}
#share_actvity_success .popupContainer .headTab{	
	width: 421px;
}
#share_actvity_success .popupContainer .headTab .heading{
	display:inline-block;
	float:left;
	width: 388px;	
	text-align:center;			
}
.popupContainer .headTab .heading .headCont{
	padding-left:31px;
	font-size:20px;
	font-weight:bold;
	color:#5099ac;
		font-family:font-family:'open_sansregular',Sans-Serif;
}
.popupContainer .headTab .closeButton{
	width: 16px;	
}
.popupContainer .headTab .closeButton a{
	display:inline-block;
	float:left;	
	border:none;
}
.popupContainer .headTab .closeButton img{
	display:inline-block;
	margin-top:5px;
	border:none;
}
#share_actvity_success .popupContainer .successText{
	font-size:17px;	
	color:#000000;
	margin:46px 0 45px 0; 
}
.successText{
	font-size:14px;	
    font-family:'open_sansregular',Sans-Serif;
	color:#585858;
}
#attend_actvity_success{
	background:url('/assets/global/pop_up_success/attend_activity.png') no-repeat;
	width: 580px;
	height:341px;	
}
#attend_actvity_success .popupContainer{	
	margin: 0 8px 0 7px;
	padding-top:20px;
}
#attend_actvity_success .popupContainer .headTab{	
	width: 565px;
}
#attend_actvity_success .popupContainer .headTab .heading{
	display:inline-block;
	float:left;
	width: 530px;	
	text-align:center;			
}
#attend_actvity_success .popupContainer .p1{
	font-size:15px;	
	color:#000000;
	margin:47px 0 0px 0; 
}
#attend_actvity_success .popupContainer .p2{
	font-size:15px;	
	color:#000000;
	margin:21px 0 0px 0; 
	line-height:23px;
}
#attend_actvity_success .popupContainer .p3{
	font-size:15px;	
	color:#5099ac;
	margin:17px 0 52px 0; 
}

/***************delete Activity popup*****************/

#delete_actvity{
	/*background:url('/assets/global/pop_up_delete/delete_message_popup.png') no-repeat;*/
	background-color:#ffffff;
	border:2px solid #D7DADB;
	width: 436px;
	height:244px;
	margin:0 auto;	
}
#delete_actvity .popupContainer{	
	margin: 0 8px 0 7px;
	padding-top:20px;
}
#delete_actvity .popupContainer .headTab{	
	width: 421px;
}
#share_actvity_success .popupContainer .headTab .heading{
	display:inline-block;
	float:left;
	width: 388px;	
	text-align:center;			
}
.popupContainer .headTab .heading .headCont{
	padding-left:31px;
	font-size:20px;
	font-weight:bold;
	color:#5099ac;
}
.popupContainer .headTab .closeButton a{
	display:inline-block;
	float:left;	
	border:none;
}
.popupContainer .headTab .closeButton img{
	display:inline-block;
	margin-top:5px;
	border:none;
}
#delete_actvity .popupContainer .successText{
	font-size:17px;	
	color:#000000;
	margin:52px 0 54px 0; 
}

#delete_actvity .popupContainer{	
	margin: 0 8px 0 7px;
	padding-top:20px;
}
#delete_actvity .popupContainer .headTab{	
	width: 565px;
}
#delete_actvity .popupContainer .headTab .heading{
	display:inline-block;
	float:left;
	width: 530px;	
	text-align:center;			
}
#delete_actvity .popupContainer .p1{
	font-size:15px;	
	color:#000000;
	margin:47px 0 0px 0; 
}
#delete_actvity .popupContainer .p2{
	font-size:15px;	
	color:#000000;
	margin:21px 0 0px 0; 
	line-height:23px;
}
#delete_actvity .popupContainer .p3{
	font-size:15px;	
	color:#5099ac;
	margin:17px 0 52px 0; 
}
.save-button{
/*margin-left:35px;*/
/*width:100px;*/
padding:5px 15px 5px 15px;
height:20px;
background-color:#f82b2b;
display:inline-block;
font-size:14px;
color: #FFFFFF;
cursor: pointer;
border:0;
text-align:center;
text-decoration:none;
}
.save-button:hover {
    background-color: #ee1515;
} 
.cancel-button{
margin-left:5px;
/*width:100px;*/
padding:5px 15px 5px 15px;
height:20px;
background-color:#6cc1dd;
display:inline-block;
font-size:14px;
color: #FFFFFF;
cursor: pointer;
border:0;
text-align:center;
text-decoration:none;
}
.cancel-button:hover {
    background-color: #45add0;
} 
