.popupContainer{
	display: block;	
	width:900px;
	margin:0 auto;	
	border:2px solid #D7DADB;
	background-color:#FFFFFF;
}
.popupContainer .popupContainerTop{
	display: block;
	width: 896px;
	/*height:18px;*/
	height:8px;
}
.popupContainer .popupContainerCenter{
	display: block;
	width:901px;
}
.popupContainer .popupContainerCenter .headTab{		
	height: 34px;	
	/*width: 881px;*/
	width:100%;
	border-bottom: 1px solid #d7dadb;
}
.popupContainer .popupContainerCenter .headTab .heading{
	display:inline-block;
	float:left;
	width: 849px;	
	text-align:center;	
}
.popupContainer .popupContainerCenter .headTab .heading .headCont{
	padding-left:31px;
	font-size:20px;
	font-weight:bold;
	color:#5099ac;
}
.popupContainer .popupContainerCenter .headTab .closeButton{
	display:inline-block;
	float:right;
	width: 31px;	
}
.popupContainer .popupContainerCenter .headTab .closeButton a{
	display:inline-block;
	float:left;	
}
.popupContainer .popupContainerCenter .headTab .closeButton img{
	display:inline-block;
	margin-top:5px;
}
.popupContainer .popupContainerBottom{
	display: block;
	width: 896px;
	height:18px;
}
/***************************

  Login Popup

****************************/
.popupLoginContainer{
	display: block;	
	width:600px;
	margin:0 auto;	
	/* may 24 changed */
	border:2px solid #D7DADB;
	background-color:#FFFFFF;
}
.popupLoginContainer .popupLoginContainerTop{
	display: block;
	width: 600px;
	height:5px;
}
.popupLoginContainer .popupLoginContainerCenter{
	display: block;
	width: 600px;
}
.popupLoginContainer .popupLoginContainerCenter .headTab{		
	height: 34px;	
	padding-left:7px;
	border-bottom: 1px solid #d7dadb;
}
.popupLoginContainer .popupLoginContainerCenter .headTab .heading{
	display:inline-block;
	float:left;
	width: 504px;	
	text-align:center;	
}
.popupLoginContainer .popupLoginContainerCenter .headTab .heading .headCont{
	padding-left:65px;
	font-size:20px;
	font-weight:bold;
	color:#5099ac;
}
.popupLoginContainer .popupLoginContainerCenter .headTab .closeButton{
	display:inline-block;
	float:right;
	width: 31px;	
}
.popupLoginContainer .popupLoginContainerCenter .headTab .closeButton a{
	display:inline-block;
	float:left;	
}
.popupLoginContainer .popupLoginContainerCenter .headTab .closeButton img{
	display:inline-block;
	margin-top:5px;
}
.popupLoginContainer .popupLoginContainerBottom{
	display: block;
	width: 557px;
	height:22px;
	margin-top:-32px;
	.margin-top:0px;
}
.ftcRed{
    color: #FE0003;
}
@media screen and (-webkit-min-device-pixel-ratio:0){
.popupLoginContainer .popupLoginContainerBottom{
	display: block;
	width: 600px;
	height:22px;
	margin-top:0px;
}
}
