/******************************Special Offer *************************************/
.SetOfferBg{
    background:url("/assets/landing/specials_icon.png") no-repeat;
    width:77px;
    height:79px;
    display:block;
    position:absolute;
	z-index:500;
    margin-left1:4px;
    cursor: pointer;
    left: -5px;
    top: -4px;
}
.SetOfferBgpdetails{
    background: #F7F9F8;
    border: 1px solid #C4DFE6;
    display: none; 
    left: 1px;	
   /* width: 375px;*/
	width: 450px;
    position: absolute;
    /*top: 47px;*/
	top: 46px;
    padding: 12px 5px;
    z-index: 1001;
}
.specialDetails{
    position: absolute;
    top: -12px;
    left: 3px;
}
.splleft{
    left: 0px;
}
.splright{
    /*right: 0px;*/
	left:6px;
}
.titleTxtspecial{
    font-size: 14px;
    color: #FE0002;
    text-align: center;
    font-weight: bold;
    padding: 3px 0px 8px 5px;
    border-bottom: 1px dotted #999999;
    display: block;
    margin-bottom: 5px;
}
.listSPecialspace{
    display: block;
	width: 440px;
	overflow:hidden;
	overflow-y:auto;
	/*height:120px;*/
	z-index:2000;
}
.listSPecialspace label{
	padding: 5px 0px;
	display:inline-block;
}

.firstsptxt{
    font-size: 13px;
    color: #0094AE;
    padding: 0px 0px 0px 5px;
    font-weight: bold;
    display: inline-block;
    width: 195px;
}
.secdsptxtred{
    color: #FE0002;
    font-size: 13px;
    padding: 0px 0px 0px 5px;
    font-weight: bold;
}
.thirdsptxtgray{
    color: #595758;
    font-size: 13px;
    padding: 0px 5px 0px 0px;
    font-weight: bold;
}
/*this for  style for search result page */
.SetOfferBg_search{
		background:url("/assets/landing/specials_icon.png") no-repeat;
		width:77px;
		height:79px;
		display:block;
		position:absolute;
		z-index:1000;
		margin-left:-4px;
}
/******************************Special Offer end *************************************/