.topleft_box{
    width:200px;
    background:#dbeef4;
    border:1px solid #b4d2dd;
    position:relative;
    color:#63a2c1;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    margin-top1:32px;
    height1:86px;
    border-radius: 3px;
	height:130px;
	text-align:center;
}
.currentBalanceTxt{
    font-size:14px;
    margin:5px 5px 0px;
    padding: 12px 0px 3px;
    border-top: 1px solid #CEE2E9;
}
.social_icon{
    padding: 7px 11px 0px;
    border-top: 1px 
    solid #CEE2E9;
    margin: 8px 20px 0px;
}
.topleft_box_inner{
    padding:12px 4px 4px 4px;

}
.topleft_getred{
    color:#FF0013;
    font-weight:bold;
    font-size:22px;
	margin-bottom:6px
}
.topleft_signup{
    color:#63a2c1;
    font-size:14px;
    font-weight:bold;
	margin-bottom:3px
}
.topright_box{
    width:320px;
    background:#dbeef4;
    border:1px solid #b4d2dd;
    float:right;
    right:15px;
    position:relative;
    color:#63a2c1;
    font-family:Arial, Helvetica, sans-serif; font-size:12px;
    margin-top1:32px;
    height:95px;
}
.get_special{
    background: url("/assets/landing/specials_icon.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 79px;
    position: absolute;
    width: 77px;
    z-index: 999;
    margin:-6px 0 0 -6px;
    left: 0px;
}
.topright_container{
    float:left; padding:5px 5px;
}
.topright_leftbox{
    float:left;
    width:150px;
    text-align:center;
    cursor:pointer;
    color:#63a2c1;
}
.topright_leftbox a{
    color:#63a2c1;
    text-decoration:none;
}
.topright_centerbox{
    float:left;
    width:4px;
    text-align:center;
}
.topright_blogred{
    color:#FF0013;
    font-weight:bold;
    text-decoration:none;
}
.newspopup_show{
    background : url(/assets/landing/Newsletter_BG.png) no-repeat;
    border1: 1px solid #c3dde5;
    display: none;
    width:444px;
    height:219px;
    margin-top: 6px;
    position: absolute;
    right: 70px;
    /*right: 24px;
		padding-left:30px;
		padding-bottom:10px;
		padding-bottom:5px;*/
    z-index: 9990;
    color: #00859C;
    font-family:Arial, Helvetica, sans-serif; font-size:12px;
    font-size:14px;
}
.news_label{
    color:#6a6a6a;
    width:90px;
    text-align:left;
    padding-top:9px;
    margin-left:36px;
    font-weight:bold;
}
.news_uparrow{
    background: url(/assets/landing/arrow.png) no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -12px;
    left: 338px;
}
.news_inputBox{
    border: 1px solid #cde0e6;
    color: #444444;
    height: 31px;
    margin-top: 5px;
    padding-top:0px;
    width: 268px;
    padding-left:4px;
    .height:24px;
    .padding-top:6px;
    height: 24px\0/IE8+9; /* IE8 + 9 + IE10pp4 */
    padding-top: 6px\0/IE8+9; /* IE8 + 9 + IE10pp4 */
}
.news_setLocationWidth{
    border: 1px solid #cde0e6;
    color: #999999;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    height: 31px;
    margin: 0;
    padding: 4px;
    width: 273px;
}
.ftop_header{
    color:#2B91AF; font-size:18px; height: 28px; margin-top: 35px;
}
.formTxtbox{
    width: 496px;
    height: 43px;
    display: inline-block;
    margin-top:3px;   
    border: 1px solid #AFD0D7;
    box-shadow: 0px 2px 5px #DBDCDC inset;

}
.formTxtboxTXT{
    width: 422px;
    border: none;
    height: 32px;
    float: left;
    font-size: 21px;
    color: #b9bebc;
    font-family: Arial;
    background: #F6F7F7;  /*F7F9F8;*/
    margin: 5px 0 0 4px;
    padding: 0 6px 0 8px;
    .margin-top:10px;
    .height:25px;
}
.search_close{
    display:block;
    float:left;
    margin-top:6px;
    height:28px;
}
.formTxtboxsearchicon{
    float: left;
    margin-top: 6px;
}
.bsearch_close_icon{
    float: left;
    margin:12px 2px 0 0;
    width:14px;
}
.newsLetSub{        
    color:#0096ae;
    font-size:18px;
    font-weight: bold;
    text-align: center;
    z-index:1;
    position:relative;
    padding:2px 0 6px 0;
}
.read_issue{
    margin-right:20px;
    color:#0096ae;
    font-size:12px;
}
.read_issue a{
    color:#0096ae;
    text-decoration:none;
}
.searchList{
    display: inline-block;
    list-style: none;
}
.searchList li{
    float: left;
    padding: 0px 2px;
    color: #2B91AA;
    font-size: 30px;
    position: relative;
}
.searchList li a{
    font-size: 16px;
    color: #2B91AA;
    font-family: Arial;
    font-weight: normal;
}
.sign_mright{
    margin-right:6px;
}
@media \0 screen{
    .formTxtboxTXT{
        margin-top:10px;
        height:25px;
    }
}
.redSearch{
    color:#FE0002;
    font-size: 14px;
}
.redSearch:hover{
    color: #ff4229;
    font-weight: bold;
    text-decoration:underline;
}
.graySearch{
    color:#8D8B8C;
    padding: 0 12px;
    font-size: 14px;
}
.graySearch:hover{
    color: #524f4f;
    font-weight: bold;
    text-decoration:underline;
}
.blueSearch{
    color:#3D8EA3;
    font-size: 14px;
}
.blueSearch:hover{
    color: #257790;
    font-weight: bold;
    text-decoration:underline;
}
#providerEventList .topContainer .menuText{
	font-size:17px;
}
#providerEventList .topContainer{
	padding-top: 13px;
	height:30px;
}
@media \0screen {
	#providerEventList .topContainer{
		padding-top: 0px;
		height:0px;
	}
	.topBr{
		margin-bottom:10px;
	}
}
.searchIcon{
	position: relative;
	top: 3px;
}
  .allsearch{
    color:#3D8EA3
  }

.allsearch:hover{
    color:#3D8EA3;
    font-weight:bold;
    text-decoration:underline;
}
.autocomplete-suggestions { border: 1px solid #DADADA; background: #FFF; overflow: auto;}
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
