.adv_search_sub_head{
    color: #4b98af;
    font-family: 'open_sansregular';
    font-size: 14px;
    display: inline-block;
    margin-bottom: 3px;
    padding: 10px 10px 10px 6px;
    border-bottom: 1px dashed #ebebeb;
    width:92%;
}

[class*='close-'] {
    color: #4da4bc;
    font: 15px/100% open_sansregular, sans-serif;
    position: absolute;
    right: 13px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    top: 4px;
    z-index: 99;
    background-color: #4da4bc;
    color:#ffffff;
    border: 1px solid #4da4bc;
}

.flt_lft{
    float:left;
}
.advance_city_text{
    color: #676565;
    font-family: 'open_sansregular';
    font-size: 14px;
    padding: 5px;
}
.view_more{
    color: #fc4a4a;
    font-family: 'open_sansregular';
    font-size: 13px;
    z-index:999;
    padding-left: 38px;
    padding-top: 5px;
}

.cat_text_hover{
    color:#fe3030;
}

.cat_arrow{
    background:url('/assets/card/cat_arrow.png') no-repeat 50% 50%;
    display: inline;
    padding: 0 10px 15px;
}

.cat_arrow_hover{
    background:url('/assets/card/cat_arrow_hover.png') no-repeat 50% 50%;
    display: inline;
    padding: 0 10px 15px;
}
.sub_cat_tr,.city_tr{
    padding: 3px 5px 2px 10px;
}

.more_category{
    padding:5px 0px;
    border:1px solid #c6c6c6;
    border-bottom:4px solid #fc4a4a;
    margin-top: 8px;
}
.more_category li{
    display:inline-block;
    list-style-type:none;
    width:100%;
}
.more_category li  ul{
    display: none;
    position: absolute;
    top: 0;
}
.more_category li:hover  ul{
    display: block;
}
.more_category li ul li {
    display: block;
    float: left;
}

.more_cat_ul{
    padding:5px;background:#fbf9f9;width:508px;height:442px;left:260px;
    border:1px solid #c6c6c6;border-bottom:4px solid #fc4a4a;top:-1px;overflow:auto;
}

.date_div{
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #c2c2c2;
    border-radius: 4px;
    display: inline-block;
    height: 30px;
    margin: 10px 0 5px 5px;
    position: relative;
    width: 114px;
}
.date_div img{
    padding-top:5px;
    padding-right: 5px;
}

.date_div input {
    float: left;
    margin: 5px;
}

.show_hide_filter{
    background: url("/assets/common/arrow_down.png") no-repeat scroll 85px 12px rgba(0, 0, 0, 0);
    display: inline-block;
    text-align: left;
    width: 88%;
}

.hide_show_filter{
    background: url("/assets/common/arrow_up.png") no-repeat scroll 81px 12px rgba(0, 0, 0, 0);
    display: inline-block;
    text-align: left;
    width: 88%;
}

.arrow_city{
    background:url('/assets/common/side_arrow.png') no-repeat;
    display: block;
    height: 17px;
    position: absolute;
    width: 11px;
    z-index: 99;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    top:-5px;
    left:58px;
}
.arrow_cat{
    background:url('/assets/common/side_arrow.png') no-repeat;
    display: block;
    height: 17px;
    position: absolute;
    width: 11px;
    z-index: 99999;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    margin-left: 13px;
    margin-top: -15px;
}

.show_filter_box{
    display:inline-block;background-color:#ffffff;margin-left:12px;border:1px solid #ece8e7;height:32px;width:108px;border-radius:4px;margin-top: 5px;
}
.advance_search_main{
    background:#ffffff;border: 1px solid #d3e8ee;height:278px;margin:15px;display: none;
}
.view_more_city{
    z-index:98;position:relative;background:#ffffff;height:200px;overflow:auto;width:701px;border:1px solid #c6c6c6;border-bottom:5px solid #fc4a4a;
}
.view_more_category{
    width:260px;position:absolute;z-index:99;display:none;
}
.view_more_category_ul{width:260px;overflow-y:auto;background: #ffffff;}

.advance_update_outer{
    background-color:#fc4a4a;margin-left:12px;border:1px solid #ece8e7;height:36px;width:108px;margin-top: 5px;float:right;margin-right: 12px;
}

.advance_update_inner{
    padding: 6px 0px 8px 0;color:#ffffff;text-align:center;text-decoration: none;display:block;font-size:16px;font-family:'open_sansregular';
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 8px !important;
    background-color: blue;
}
.breadcrumb{
    color:#515151;
    font-size:16px;
    font-family: 'open_sansregular',sans-serif;
}
.breadcrumb a{
    color:#fe3030;
    text-decoration:none;
}

.show_hid_filter_a{
    padding:6px 5px 10px 8px;color:#525252;text-decoration:none;display:block;font-size:14px;font-family:'open_sansregular';text-align:left;
}
#search_selectedval{
	margin-top:10px;
}

.cls_img{
background-image: url('/assets/contact/contact_all.png');
background-repeat: no-repeat;
background-position: -5px -25px;
background-size: 31px auto;
margin-left: 673px;
width: 21px;
height: 21px;
z-index: 99;
position: absolute;
}