 <%
meta :title => "Survey | Famtivity - Kids Activities, Events, Camps, Classes, Lessons",
     :description => "Participate in Famtivity's survey and help us help you better",
     :keywords => "Famtivity Survey, Survey on kids activity services, Survey on services"
%>
<div>
	<!-- <img src="http://www.famtivity.com/assets/login/logo.png" alt="Famtivity" /> -->
	<%= image_tag("http://www.famtivity.com/assets/login/logo.png", alt: "Famtivity")%>
	<br></div>
	<div id="surveyMonkeyInfo">
	<!--<div><script src="http://www.surveymonkey.com/jsEmbed.aspx?sm=1m2Sgsk9xbk_2f9UmhEXEVbg_3d_3d"> </script></div>-->
	<iframe src="https://www.surveymonkey.com/s/Z3HYGHK" height="685" width="1000" frameborder="0" scrolling="no" style="height:685px;overflow:hidden !important;"></iframe><!-- 07 Oct 2013 -->
	<!-- Create your <a href="http://www.surveymonkey.com/">free online surveys</a> with SurveyMonkey, the world's leading questionnaire tool. -->
</div>
