.dispNone{
	display:none;
}
.dispBlock{
	display:inline-block;
}
.headerPart1{
    padding:3px 10px 0px 23px;
    background:#F6F8F7;
    height:44px;
    background: #dbeef4;
    /*position:relative;
    z-index: 201;*/
}
.headerPart1 .lt{
    width:282px;
    /*position:relative;
    z-index: 201;*/
}
.eventListContainer {
    /*height: 830px;*/
    margin-bottom: 8px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 2;
    background:#F7F9F8;
}
.selectedCity,.selectedCity1,.selectedCity2 {
    display: inline-block;
    float: right;
    position: relative;
    top: 12px;
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
}
.selectedCity a,.selectedCity1 a,.selectedCity2 a {
    color:#4495ae;
}
.dispLocationDiv{
    height: 338px;
    position: absolute;
    width: 469px;
    margin-left: -10px;
    margin-top: 37px;
    z-index: 20000;
}
.top{
    position: relative;
    top: 3px;
}
.dispActivityDiv{
    width: 977px;
    height: 578px;
    position:absolute;
    border:1px solid;
    margin: 45px 0 0 173px;
}
#topHeaderRt{
    margin-top: -30px;
    width: 300px;
}
.HeaderRtPhoto{
    width:21px;
    height:21px;
    margin-left: 50px;
}
.HeaderVideoIcon{
    margin-left: 127px;
    margin-top: -27px;
}
.HeaderContactIcon{
    margin-left: 160px;
    margin-top: -27px;
    .margin-top: -23px;
}
.HeaderMessageIcon{
    margin-left: 198px;
    margin-top: -27px;
    .margin-top: -23px;
}
.HeaderDividerIcon{
    margin-left: 155px;
    margin-top: -23px;
    .margin-top: -20px;
}
.HeaderDividerIcon1{
    margin-left: 193px;
    margin-top: -23px;
    .margin-top: -20px;
}
.HeaderDividerIcon2{
    margin-left: 227px;
    margin-top: -21px;
    .margin-top: -18px;
}
.dispProviderActivityDiv{
    display:inline-block;
    font-size:13px;
    background:#F6F8F7;
    color:#959292;
    border:1px solid #C2DDE4;
    width:150px;
    margin-left: 142px;
    *margin-left: -82px;
    margin-top: 28px;
    position:absolute;
    z-index:500;
    height:212px;
}
.dispProviderActivityDiv a{	
    color:#959292;
    display:block;
    text-decoration:none;
    padding:5px 0px 5px 8px;
}
.dispProviderActivityDiv a:hover{
    display:block;
    text-decoration:none;
    padding:5px 0px 5px 8px;	color:#F97C0E;
}
#providerEventList{
    width:100%;
    height:100%;
}
#providerEventList .topContainer{
    width:100%;
    height:40px;
    background:#F6F8F7;
}
#providerEventList .topContainer .leftMenus{
    width:217px;
    padding-left:10px;
}
#providerEventList .topContainer .setLt{
    padding-left:0px;
    *padding-left:3px;
}
#providerEventList .topContainer .plusImg{
    color:#5aa3b6;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:normal;
    font-size:20px;
    position: relative;
    top: 2px;
    margin-right:5px;
}
#providerEventList .topContainer .checkboxImg{
    display:inline-block;
    position: relative;
    top: 3px;
    *top: 1px;
    width:18px;
    height:18px;
}
#providerEventList .topContainer .pipeSymbol{
    display:inline-block;
    color:#A9C7CF;
    font-size:15px;
    position: relative;
    top: 4px;
    *top: 4px;
    vertical-align: top;
    margin:0 5px;
}
#providerEventList .topContainer .menuText{
    color:#5aa3b6;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:normal;
    font-size:14px;
}
.actionBoxNormal{	
    width:50px;
    height:20px;
    padding: 0 5px 3px;
    *padding-left:0px;
    border:1px solid #f6f8f7;
    border-bottom:none;
    background:none;
}
.actionboxSelected{	
    width:50px;
    height:20px;
    padding: 0 5px 3px;
    *padding-left:0px;
    border:1px solid #A9D3E1;
    border-bottom:none;
    background:#E6F5F8;
}
#providerEventList .topContainer .actionDropDownDiv{
    display:inline-block;
    font-size:13px;
    background:#F6F8F7;
    color:#959292;
    border:1px solid #C2DDE4;
    width:150px;
    margin-left: 151px;
    *margin-left: 154px;
    margin-top: 2px;
    *margin-top: 1px;
    position:absolute;
    z-index:500;
    height:186px;
}
#providerEventList .topContainer .actionDropDownDiv a{	
    color:#959292;
    display:block;
    text-decoration:none;
    padding:5px 0px 5px 8px;
}
#providerEventList .topContainer .actionDropDownDiv a:hover{
    display:block;
    text-decoration:none;
    padding:5px 0px 5px 8px;	color:#F97C0E;
}
#providerEventList .topContainer .selectedMenuText{
    color:#5aa3b6;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:14px;
}
#providerEventList .topContainer .dot{
    display:inline-block;
    position:relative;
    top:3px;
}
#providerEventList .topContainer .event_search{
    display:inline-block;
    width:260px;
    height:24px;
    *height:20px;
    border:1px solid #CDE0E6;
    padding:0px 4px 0px 4px;
    *padding:4px 4px 0px 4px;
    color: #999999;
    font-size:13px;
}
#providerEventList .topContainer .searchDiv{
    width:337px;
    margin-top:4px;
}
#providerEventList .centerContainer .setPadLt{
    padding-left:15px;
}
#providerEventList .centerContainer .blueText{
    color:#4595AE;
}
#providerEventList .centerContainer .setRt{
    padding-right:3px;
}
#providerEventList .centerContainer .setBg1{
    background:#ffffff;
}
#providerEventList .centerContainer .setBg2{
    background:#f6f8f7;
}
/* Off state for a ARC checkbox */
.altCheckboxOff {
    display: inline-block;
    background: url('/assets/provider_event_list/checkbox_normal.png') no-repeat;
    width:19px;
    height:21px;
    cursor: pointer;
}
/* On state for a ARC checkbox */
.altCheckboxOn {
    display: inline-block;
    background: url('/assets/provider_event_list/checkbox_selected.png')  no-repeat;
    width:19px;
    height:21px;
    cursor: pointer;
}
#providerEventList .centerContainer .checkboxImg{
    display:inline-block;
    position: relative;
    top: -4px;
    vertical-align: top;
    margin-right:30px;
}
#providerEventList .centerContainer .pipeSymbol{
    display:inline-block;
    color:#A9C7CF;
    font-size:15px;
    position: relative;
    top: -3px;
    vertical-align: top;
    margin:0 5px 0 5px;
}
#providerEventList .headText{
    color:#5aa3b6;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:14px;
    background:#f0f6f8;
    border:1px solid #E9EDEE;
    border-left:none;
    border-right:none;
    height:33px;
}
#providerEventList .contentText{
    color:#807e7e;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:normal;
    font-size:12px;
    border-bottom:1px solid #E2EAEC;
    height:58px;
}


#ui-datepicker-div
{
    z-index:9999999;
}
