#event_container .eventmoreContainer{	
	margin:0px 11px 0px 10px;
	background: #ffffff;	
}
#event_container .menutapsBg{	
	width:100%;
	background: #f6f8f7 url('/assets/event/top_gray_bg_repeat.png') repeat-x;
	height:45px;	
}
#event_container .topmenus{
	margin:0px 9px 0px 10px;
	padding:7px 30px 2px 29px;
	border:1px solid #AFD5DE;
	border-top:none;
	border-bottom:none;
}
#event_container .topmenus .menutab span,
#event_container .topmenus .menutab span a{
	display:inline-block;
}
#event_container .topmenus .tab3{
	margin-left:18px;
}
/***********************************
 *        Select Box
 * *********************************/

.selectBoxCity{
	display:inline-block;
	background:url('/assets/event_more/dropdown.png') no-repeat;
	width:105px;  
	height:31px;
	top:0px;
	position:relative;
}
.selectBoxCity .selectDiv{
	display:inline-block;
	cursor:default;
	font-size:12px;	
	color:#838383;
	width:242px;  
	position:relative;
	top:4px;
	left:4px;
	width:67px;  
	height:23px;
	overflow:hidden;
	padding-left: 5px;
}
.dropDownDivCity{
	display:inline-block;
	color:#231F20; 
	font-size:12px;	
	background:#F7F9F8;
	color:#838383;
	border:1px solid #BDD6DD;
	width:103px;
	margin-top:-1px;
	margin-left:0px;
	position:absolute;
	z-index:500;	
	height:63px; 		
}
.dropDownDivCity a{	
	color:#838383;
	display:block;
	text-decoration:none;
	padding:3px 0px 3px 7px;
}

.dropDownDivCity a:hover{
	background:#73C3DD;
	color:#ffffff;
}
.eventmoreContainer .centerContainer{
	width:100%;	
	border:1px solid #AFD5DE;
	border-top:none;
	border-bottom:none;
	position:relative;
	z-index: 3;	
	overflow:hidden;
}
.eventmoreContainer .innerContainer{
	height:554px;	
	overflow-y:scroll;	
	overflow-x:hidden;	
}
.eventmoreContainer .eventMoreBottomBg{		
	background:url('/assets/event_more/bottom_bg.png') repeat-x;
	width:100%;	
	height:14px;
	margin-top: -9px;
	*margin-top: -10px;
    position: relative;
    z-index: 1;
} 
#event_container .eventMoreDownArrowBg{
	margin-top:-13px;
	position: relative;
    z-index: 2;
}
