<% if !@share.nil? && @share.present?%>
					<%@schedule=""%>
					<%@schedule=!@share.nil? && @share.present? && @share %>
					<%@repeat=""%>
					<%@repeat=@schedule.activity_repeat.last if !@schedule.activity_repeat.last.nil? %>
					<%@repeat_date=""%>
					<%@repeat_date = @repeat.ends_on.strftime("%Y-%m-%d") if @repeat.present? && @repeat.ends_on.present? %>
					<%@schedule_date=""%>
					<%@schedule_date = !@schedule.nil? && !@schedule.start_date.nil? && @schedule.start_date.strftime("%Y-%m-%d")%>
						<%if !@repeat.nil? && @repeat.present?%>								
								<% if !@share.nil? && !@share.schedule_mode.nil? && @share.schedule_mode=="Schedule" && !@repeat.nil? && @repeat.present? && @repeat%>									
									<%if @repeat.repeats=="Weekly" %>
										<%if !@repeat.repeat_on.nil? && @repeat.repeat_on.present?%>
										<%@repeat_days=""%>
										   <%@repeat_days=@repeat.repeat_on.downcase.split(",") if !@repeat.repeat_on.nil?%>											
											<%= render :partial =>"activities/activity_day_selection" %>											
										<%end%>
									<%elsif !@repeat.repeats.nil? && @repeat.repeats=="Daily" && (!@repeat.nil? && !@repeat.ends_never.nil? && @repeat.ends_never.present? && @repeat.ends_never==TRUE)%>
										<tr>										
										<td valign="top" colspan="3">
										<table cellspacing="0" cellpadding="0" border="0" width="100%"><tr><td width="10">&nbsp;</td><td  width="20" valign="middle"><span class="dayTxt dayTxtBg">S</span></td><td  width="20" valign="middle"><span class="dayTxt dayTxtBg">M</span></td><td  width="20" valign="middle"><span class="dayTxt dayTxtBg">T</span></td><td  width="20" valign="middle"><span class="dayTxt dayTxtBg">W</span></td><td  width="20" valign="middle"><span class="dayTxt dayTxtBg">T</span></td><td  width="20" valign="middle"><span class="dayTxt dayTxtBg">F</span></td><td  width="20" valign="middle"><span class="dayTxt dayTxtBg">S</span></td> <td width="10">&nbsp;</td></tr></table>
											</td>											 
											</tr>											
									<%elsif (!@repeat.repeats.nil? && @repeat.repeats=="Daily") && (!@repeat_date.nil? && @repeat_date.present?)%>
												<%occ = Recurrence.new(:every => :day, :starts =>@share.start_date, :until =>@repeat_date, :interval => 1)%>
												<%@occ_daily=[]%>
												<%occ.events.each do |occ_day|%>
												<%@occ_daily<<occ_day.strftime("%a")%>
												<%end%>												
												<%if !@occ_daily.nil? && @occ_daily.length>7%>
												<tr>															
														       <td valign="top" colspan="3">
															      <table cellspacing="0" cellpadding="0" border="0" width="100%"><tr><td width="10">&nbsp;</td><td  width="20" valign="middle"><span class="dayTxt dayTxtBg">S</span></td><td  width="20" valign="middle"><span class="dayTxt dayTxtBg">M</span></td><td  width="20" valign="middle"><span class="dayTxt dayTxtBg">T</span></td><td  width="20" valign="middle"><span class="dayTxt dayTxtBg">W</span></td><td  width="20" valign="middle"><span class="dayTxt dayTxtBg">T</span></td><td  width="20" valign="middle"><span class="dayTxt dayTxtBg">F</span></td><td  width="20" valign="middle"><span class="dayTxt dayTxtBg">S</span></td><td width="10">&nbsp;</td></tr></table>
														       </td>															 
															</tr>														      
												<%elsif !@occ_daily.nil? && @occ_daily.length<7 %>
													<%if !@occ_daily.nil? && @occ_daily.present? && @occ_daily!=""%>
														<tr>															
															<td valign="top" colspan="3">
															       <table cellspacing="0" cellpadding="0" border="0" width="100%"><tr><td width="10">&nbsp;</td>
																				<td  width="20" valign="middle"><%if !@occ_daily.nil? && @occ_daily.present? && @occ_daily.include?("Sun")%><span class="dayTxt dayTxtBg">S</span><%else%><span class="dayTxt">S</span><%end%></td>
																				<td  width="20" valign="middle"><%if !@occ_daily.nil? && @occ_daily.present? && @occ_daily.include?("Mon")%><span class="dayTxt dayTxtBg">M</span><%else%><span class="dayTxt">M</span><%end%></td>
																				<td  width="20" valign="middle"><%if !@occ_daily.nil? && @occ_daily.present? && @occ_daily.include?("Tue")%><span class="dayTxt dayTxtBg">T</span><%else%><span class="dayTxt">T</span><%end%></td>
																				<td  width="20" valign="middle"><%if !@occ_daily.nil? && @occ_daily.present? && @occ_daily.include?("Wed")%><span class="dayTxt dayTxtBg">W</span><%else%><span class="dayTxt">W</span><%end%></td>
																				<td  width="20" valign="middle"><%if !@occ_daily.nil? && @occ_daily.present? && @occ_daily.include?("Thu")%><span class="dayTxt dayTxtBg">T</span><%else%><span class="dayTxt">T</span><%end%></td>
																				<td  width="20" valign="middle"><%if !@occ_daily.nil? && @occ_daily.present? && @occ_daily.include?("Fri")%><span class="dayTxt dayTxtBg">F</span><%else%><span class="dayTxt">F</span><%end%></td>
																				<td  width="20" valign="middle"><%if !@occ_daily.nil? && @occ_daily.present? && @occ_daily.include?("Sat")%><span class="dayTxt dayTxtBg">S</span><%else%><span class="dayTxt">S</span><%end%></td>
																<td width="10">&nbsp;</td></tr></table>
															</td></tr>															
													<%end%>
												<%end%>												
									<%elsif !@share.start_date.nil? && @share.start_date.present? && !@repeat.nil? && @repeat.repeats=="Daily" && !@repeat.end_occurences.nil? && @repeat.end_occurences.present? && !@repeat.repeat_every.nil? && @repeat.repeat_every.present? %>
											<%daily_e_date=""%>
											<%daily_e_date = @share.start_date + (@repeat.repeat_every.to_i * @repeat.end_occurences.to_i).days%>
												<%occ = Recurrence.new(:every => :day, :starts =>@share.start_date, :until =>daily_e_date, :interval => 1)%>
												<%@occ_daily=[]%>
												<%occ.events.each do |occ_day|%>
												<%@occ_daily<<occ_day.strftime("%a")%>
												<%end%>												
												<%if !@occ_daily.nil? && @occ_daily.length>7%>
												<tr>																 
																<td valign="top" colspan="3">
																       <table cellspacing="0" cellpadding="0" border="0" width="100%"><tr><td width="10">&nbsp;</td><td  width="20" valign="middle"><span class="dayTxt dayTxtBg">S</span></td><td  width="20" valign="middle"><span class="dayTxt dayTxtBg">M</span></td><td  width="20" valign="middle"><span class="dayTxt dayTxtBg">T</span></td><td  width="20" valign="middle"><span class="dayTxt dayTxtBg">W</span></td><td  width="20" valign="middle"><span class="dayTxt dayTxtBg">T</span></td><td  width="20" valign="middle"><span class="dayTxt dayTxtBg">F</span></td><td  width="20" valign="middle"><span class="dayTxt dayTxtBg">S</span></td> <td width="10">&nbsp;</td></tr></table>
																</td>																 
																</tr>																
												<%elsif !@occ_daily.nil? && @occ_daily.length<7 %>

													<%if !@occ_daily.nil? && @occ_daily.present? && @occ_daily!=""%>
														<tr>															 
															<td valign="top" colspan="3">
															       <table cellspacing="0" cellpadding="0" border="0" width="100%"><tr><td width="10">&nbsp;</td>
																				<td  width="20" valign="middle"><%if !@occ_daily.nil? && @occ_daily.present? && @occ_daily.include?("Sun")%><span class="dayTxt dayTxtBg">S</span><%else%><span class="dayTxt">S</span><%end%></td>
																				<td  width="20" valign="middle"><%if !@occ_daily.nil? && @occ_daily.present? && @occ_daily.include?("Mon")%><span class="dayTxt dayTxtBg">M</span><%else%><span class="dayTxt">M</span><%end%></td>
																				<td  width="20" valign="middle"><%if !@occ_daily.nil? && @occ_daily.present? && @occ_daily.include?("Tue")%><span class="dayTxt dayTxtBg">T</span><%else%><span class="dayTxt">T</span><%end%></td>
																				<td  width="20" valign="middle"><%if !@occ_daily.nil? && @occ_daily.present? && @occ_daily.include?("Wed")%><span class="dayTxt dayTxtBg">W</span><%else%><span class="dayTxt">W</span><%end%></td>
																				<td  width="20" valign="middle"><%if !@occ_daily.nil? && @occ_daily.present? && @occ_daily.include?("Thu")%><span class="dayTxt dayTxtBg">T</span><%else%><span class="dayTxt">T</span><%end%></td>
																				<td  width="20" valign="middle"><%if !@occ_daily.nil? && @occ_daily.present? && @occ_daily.include?("Fri")%><span class="dayTxt dayTxtBg">F</span><%else%><span class="dayTxt">F</span><%end%></td>
																				<td  width="20" valign="middle"><%if !@occ_daily.nil? && @occ_daily.present? && @occ_daily.include?("Sat")%><span class="dayTxt dayTxtBg">S</span><%else%><span class="dayTxt">S</span><%end%></td>
																<td width="10">&nbsp;</td></tr></table>
															</td>															  
															</tr>
													<%end%>
												<%end%>												
									<%elsif !@share.start_date.nil? && @share.start_date.present? && !@repeat.nil? && @repeat.present? && !@repeat.repeats.nil? && @repeat.repeats.present? && @repeat.repeats=="Monthly" && !@repeat.repeated_by_month.nil? && @repeat.repeated_by_month==false %>
										<%@daily_day=""%>
										<%@daily_day=@share.start_date.strftime("%a")%>										
										<%if !@daily_day.nil? && @daily_day.present? && @daily_day!=""%>
										<tr>											 
											<td valign="top" colspan="3">
											       <table cellspacing="0" cellpadding="0" border="0" width="100%"><tr><td width="10">&nbsp;</td>
															<td  width="20" valign="middle"><%if !@daily_day.nil? && @daily_day.present? && @daily_day.include?("Sun")%><span class="dayTxt dayTxtBg">S</span><%else%><span class="dayTxt">S</span><%end%></td>
															<td  width="20" valign="middle"><%if !@daily_day.nil? && @daily_day.present? && @daily_day.include?("Mon")%><span class="dayTxt dayTxtBg">M</span><%else%><span class="dayTxt">M</span><%end%></td>
															<td  width="20" valign="middle"><%if !@daily_day.nil? && @daily_day.present? && @daily_day.include?("Tue")%><span class="dayTxt dayTxtBg">T</span><%else%><span class="dayTxt">T</span><%end%></td>
															<td  width="20" valign="middle"><%if !@daily_day.nil? && @daily_day.present? && @daily_day.include?("Wed")%><span class="dayTxt dayTxtBg">W</span><%else%><span class="dayTxt">W</span><%end%></td>
															<td  width="20" valign="middle"><%if !@daily_day.nil? && @daily_day.present? && @daily_day.include?("Thu")%><span class="dayTxt dayTxtBg">T</span><%else%><span class="dayTxt">T</span><%end%></td>
															<td  width="20" valign="middle"><%if !@daily_day.nil? && @daily_day.present? && @daily_day.include?("Fri")%><span class="dayTxt dayTxtBg">F</span><%else%><span class="dayTxt">F</span><%end%></td>
															<td  width="20" valign="middle"><%if !@daily_day.nil? && @daily_day.present? && @daily_day.include?("Sat")%><span class="dayTxt dayTxtBg">S</span><%else%><span class="dayTxt">S</span><%end%></td>
												<td width="10">&nbsp;</td></tr></table>
											</td>											  
											</tr>											
										<%end%>										
									<%end%>									
								<%end%>
						<%elsif !@share.nil? && @share.present? && !@share.start_date.nil? && @share.start_date.present? && !@share.end_date.nil? && @share.end_date.present? %>							
							<%occ = Recurrence.new(:every => :day, :starts =>@share.start_date, :until =>@share.end_date, :interval => 1)%>
							<%@occ_daily=[]%>
							<%occ.events.each do |occ_day|%>
							<%@occ_daily<<occ_day.strftime("%a")%>
							<%end%>							
							<%if !@occ_daily.nil? && @occ_daily.length>7%>
							<tr>											 
											<td valign="top" colspan="3">
											       <table cellspacing="0" cellpadding="0" border="0" width="100%"><tr><td width="10">&nbsp;</td><td  width="20" valign="middle"><span class="dayTxt dayTxtBg">S</span></td><td  width="20" valign="middle"><span class="dayTxt dayTxtBg">M</span></td><td  width="20" valign="middle"><span class="dayTxt dayTxtBg">T</span></td><td  width="20" valign="middle"><span class="dayTxt dayTxtBg">W</span></td><td  width="20" valign="middle"><span class="dayTxt dayTxtBg">T</span></td><td  width="20" valign="middle"><span class="dayTxt dayTxtBg">F</span></td><td  width="20" valign="middle"><span class="dayTxt dayTxtBg">S</span></td><td width="10">&nbsp;</td></tr></table>
											</td>											  
											</tr>
							<%elsif !@occ_daily.nil? && @occ_daily.length<7 %>								
								<%if !@occ_daily.nil? && @occ_daily.present? && @occ_daily!=""%>
									<tr>										 
										<td valign="top" colspan="3">
										       <table cellspacing="0" cellpadding="0" border="0" width="100%"><tr><td width="10">&nbsp;</td>
															<td  width="20" valign="middle"><%if !@occ_daily.nil? && @occ_daily.present? && @occ_daily.include?("Sun")%><span class="dayTxt dayTxtBg">S</span><%else%><span class="dayTxt">S</span><%end%></td>
															<td  width="20" valign="middle"><%if !@occ_daily.nil? && @occ_daily.present? && @occ_daily.include?("Mon")%><span class="dayTxt dayTxtBg">M</span><%else%><span class="dayTxt">M</span><%end%></td>
															<td  width="20" valign="middle"><%if !@occ_daily.nil? && @occ_daily.present? && @occ_daily.include?("Tue")%><span class="dayTxt dayTxtBg">T</span><%else%><span class="dayTxt">T</span><%end%></td>
															<td  width="20" valign="middle"><%if !@occ_daily.nil? && @occ_daily.present? && @occ_daily.include?("Wed")%><span class="dayTxt dayTxtBg">W</span><%else%><span class="dayTxt">W</span><%end%></td>
															<td  width="20" valign="middle"><%if !@occ_daily.nil? && @occ_daily.present? && @occ_daily.include?("Thu")%><span class="dayTxt dayTxtBg">T</span><%else%><span class="dayTxt">T</span><%end%></td>
															<td  width="20" valign="middle"><%if !@occ_daily.nil? && @occ_daily.present? && @occ_daily.include?("Fri")%><span class="dayTxt dayTxtBg">F</span><%else%><span class="dayTxt">F</span><%end%></td>
															<td  width="20" valign="middle"><%if !@occ_daily.nil? && @occ_daily.present? && @occ_daily.include?("Sat")%><span class="dayTxt dayTxtBg">S</span><%else%><span class="dayTxt">S</span><%end%></td>
											<td width="10">&nbsp;</td></tr></table>
										</td>										  
										</tr>										
								<%end%>
							<%end%>
						<%elsif !@share.nil? && @share.present? && !@share.start_date.nil? && @share.start_date.present?%>
							<%@daily_day=""%>
							<%@daily_day=@share.start_date.strftime("%a")%>
								<%if !@daily_day.nil? && @daily_day.present? && @daily_day!=""%>
								<tr>
									<td valign="top" colspan="3">
									       <table cellspacing="0" cellpadding="0" border="0" width="100%"><tr><td width="10">&nbsp;</td>
															<td  width="20" valign="middle"><%if !@daily_day.nil? && @daily_day.present? && @daily_day.include?("Sun")%><span class="dayTxt dayTxtBg">S</span><%else%><span class="dayTxt">S</span><%end%></td>
															<td  width="20" valign="middle"><%if !@daily_day.nil? && @daily_day.present? && @daily_day.include?("Mon")%><span class="dayTxt dayTxtBg">M</span><%else%><span class="dayTxt">M</span><%end%></td>
															<td  width="20" valign="middle"><%if !@daily_day.nil? && @daily_day.present? && @daily_day.include?("Tue")%><span class="dayTxt dayTxtBg">T</span><%else%><span class="dayTxt">T</span><%end%></td>
															<td  width="20" valign="middle"><%if !@daily_day.nil? && @daily_day.present? && @daily_day.include?("Wed")%><span class="dayTxt dayTxtBg">W</span><%else%><span class="dayTxt">W</span><%end%></td>
															<td  width="20" valign="middle"><%if !@daily_day.nil? && @daily_day.present? && @daily_day.include?("Thu")%><span class="dayTxt dayTxtBg">T</span><%else%><span class="dayTxt">T</span><%end%></td>
															<td  width="20" valign="middle"><%if !@daily_day.nil? && @daily_day.present? && @daily_day.include?("Fri")%><span class="dayTxt dayTxtBg">F</span><%else%><span class="dayTxt">F</span><%end%></td>
															<td  width="20" valign="middle"><%if !@daily_day.nil? && @daily_day.present? && @daily_day.include?("Sat")%><span class="dayTxt dayTxtBg">S</span><%else%><span class="dayTxt">S</span><%end%></td>
										 <td width="10">&nbsp;</td></tr></table>
									</td>									 
									</tr><%end%><%end%><%end%>				