<%=stylesheet_link_tag "global/pop_up_success", :media => "all"%>
<script type="text/javascript">
  $(document).ready(function() { 	
	$("html, body", window.parent.document).animate({ scrollTop: 0 }, 100);
  });
  function closepopup() {
    parent.parent.newActivityPage.hide();
     parent.parent.location.href += "";
  }
</script>

<div align="center" style="height:230px;">
   <p class="successText" style="padding:60px 0;">Success, you've created your activity!</p>
  <div class="clear"></div>
  <a href="javascript:void(0)" onClick="closepopup();_gaq.push(['_trackEvent', 'Parent Module', 'clickAddActivity','success']);" title=""><%=image_tag("/assets/register/ok_btn.png", :width=>"99", :height=>"38", :style=>"border:0px;")%></a>
</div>



