.popupContainer{
	display: block;
	background:url('/assets/event_popup/event_popup_bg_image.png');
	width:358px;
	height:232px;
}
.popupContainer .cont{
	padding:38px 0px 55px 0px;
	color:#000000;
	font-weight:bold;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
}
.popupContainer .cont .createActCont{
	padding-bottom:5px;
}
