
#new_act_container .createActivity{
    margin:0px 10px 0px 5px;
    position:relative;
    z-index:2;
    border: 1px solid #d7dadb;
}
#new_act_container .activityDetailView{
}
#new_act_container .activityDetailView .details_wrap{
    /*padding: 15px 20px;*/
    width: 848px;
    margin: 0 auto;
    padding-top: 11px;
    padding-bottom:8px;
}
#new_act_container .activityDetailView .actName{
    color: #5099AC;
    font-size: 20px;
    font-weight: bold;
    padding-left: 0px;
}
#new_act_container .activityDetailView .proftz12{
    font-size:12px;
    color: #999999;
    padding:0 5px 0 7px;
    word-wrap:none;
}
#new_act_container .activityDetailView .proCon{
    font-size:12px;
    color: #999999;
}

#new_act_container .activityDetailView .powftz12{
    font-size: 12px;
    color:#959696;
}
#new_act_container .activityDetailView .detail_tab{
    margin-top:25px;
}
#new_act_container .activityDetailView .acr_img{
    padding:15px;
    border:1px solid #D7DADB;
    margin-right: 12px;
}
#new_act_container .activityDetailView .detdesc{
    margin-top:20px;
    display: inline-block;
}
#new_act_container .activityDetailView .desTexarea{
    margin:10px 0 19px 0;
    padding: 16px 10px 5px 10px;
    font-size: 12px;
    color: #949595;
    background:#f2f5f6;
    border:none;
}
#new_act_container .activityDetailView .Cmts{
    color: #3d8ea3;
    font-size:12px;
    font-weight: bold;
}
#new_act_container .activityDetailView .cmtare{
    margin-top:10px;
    padding:3px;
    background:#f2f5f6;
    border: none;
    margin-right: 10px;
}
#new_act_container .activityDetailView .textarea{
    margin-top:6px;
    padding:3px;
    background:#f2f5f6;
    border: none;
    margin-right: 10px;
    /*height: 50px;
	.height: 57px;
	margin-left: 19px;*/
    width: 456px;
    color: #999999;
    font-size:13px;

}
.div_margin{ margin:9px 0px 6px 0px; .margin:0px 0px 5px 0px; }
#new_act_container .activityDetailView .detailTopDiv{
    margin-top: 20px;
}
#new_act_container .activityDetailView .setWidthActivity{
    width: 245px;
    overflow1:hidden;
}
#new_act_container .activityDetailView .centerImage{	
    /*width:215px;
	height:302px;
	overflow:hidden;
	text-align:center;*/
    border: 1px solid #C9E5F0;
    padding: 15px 0;
    width: 235px;
}
#new_act_container .activityDetailView .setWidthActivityLt{
    width: 487px;
    /*height: 330px;*/
    border:1px solid #C9E5F0;
    margin-left: 14px;
}
#new_act_container .activityDetailView .moreDetailsText{
    color: #5099AC;
    float1: right;
    font-size: 12px;
    margin1: 10px 16px 0 0;
    .margin1: 10px 10px 0 0;
}
#new_act_container .activityDetailView .more_details{
    color: #5099AC;
    float: right;
    font-size: 12px;
    margin: 8px 16px 0 0;
    .margin: 4px 10px 0px 0;
}
#new_act_container .activityDetailView .FtSz12{
    font-size: 12px;
    color: #5099AC;
}
#new_act_container .activityDetailView .setComment{
    width: 310px;
    margin:10px 0 0 262px;
}
#new_act_container .activityDetailView .likeText{
    float: left;
    color: #999999;
    font-size: 12px;
    padding:4px 15px 0 15px;
    *margin:-4px 10px 0 5px;
}
#new_act_container .activityDetailView .StarImage{ 
    float: left;
    color: #000;
    font-size: 12px;
    padding-top: 4px;
    *margin-top:-4px;
}
#new_act_container .activityDetailView .buttonComment{
    width: 109px;
    height: 31px;
    float: left;
    margin-top: 42px;
    .margin-top: 38px;
    .margin-left: 0px;
}
#new_act_container .activityDetailView .ScrollDivLt{
    width:845px;
    height: 232px;
    border: 1px solid #D1E5E3;
    overflow:hidden;
}
#new_act_container .activityDetailView .TopComment{
    border-top:none;
    border-bottom:1px solid #D1E5E3;
    height: 33px;
    background: #F2F5F6;
}
#new_act_container .activityDetailView .CommentTextLt{
    font-size:12px;
    color:#999999;
    width:758px;
    padding:4px 0 0 7px;
}
#new_act_container .activityDetailView .SetRelative{
    /*top:10px;*/
    position:relative;
}
#new_act_container .activityDetailView .SetMargin{
    margin:13px 0 6px 0;
}
#new_act_container .activityDetailView .ScrollDivRt{
    width:416px;
    height: 253px;
    margin-left:10px;
    border: 1px solid #D1E5E3;
}
#new_act_container .activityDetailView .CommentTextRt{
    font-size:12px;
    color:#999999;
    width:94px;
    padding-left:20px;
}
#new_act_container .activityDetailView .EmailText{
    font-size:12px;
    color:#999999;
    width:315px;
    padding:4px 0 0 88px;
}
#new_act_container .activityDetailView .setBottomValue{
    float1: right;left: -21px;padding-top1: 25px; padding-bottom:4px; .padding-bottom:0px; position: relative;
}
.dispNone{
    display:none;
}
.dispBlock{
    display:inline-block;
}
#new_act_container .activityDetailView #pop_purchase{
    width:73px;
    height:137px;
    position:absolute;
    margin:-16px 0 0 -5px;
}
.selectBoxComment{
    background:url('/assets/detailed_view/newest_button.png') no-repeat;
    width:106px;
    height:26px;
    padding-left:8px;
    position:relative;
    top:-5px;
}
#new_act_container #setShow{
    color: #5099AC; padding:9px; float:right; width:170px;
}
.dropDownDivComment {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #9FD8EB;
    color: #6A6A6A;
    display: inline-block;
    font-size: 12px;
    height: 85px;
    margin-left: 54px;
    margin-top: -5px;
    overflow-y: scroll;
    position: absolute;
    width: 103px;
    z-index: 500;
    display:inline-block;
}

.dropDownDivComment a {
    color: #5099AC;
    display: block;
    padding: 3px 0 3px 7px;
    text-decoration: none;
}
.top_container{
    margin: 0 auto;
    padding:8px 0 0px 10px;
    .margin:4px 0 0 0px;
    width:480px;
    .padding:8px 0 4px 10px;

}
#new_act_container .activityDetailView .textarea_comment{
    margin-top:6px;
    padding:3px;
    background:#f2f5f6;
    border: none;
    margin-right: 10px;
    .height: 45px;
    /*height: 50px;
	.height: 57px;
	margin-left: 19px;*/
    width: 456px;
    color: #999999;
    font-size:13px;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    #new_act_container .activityDetailView .setBottomValue{
        float1: right;
        left: -21px;
        top:-5px;
        padding-bottom:0px;
        position: relative;
    }
    #new_act_container .activityDetailView .moreDetailsText{
        color: #5099AC;
        font-size: 12px;
    }
    #new_act_container .activityDetailView .textarea{
        margin-top:6px;
        padding:3px;
        background:#f2f5f6;
        border: none;
        margin-right: 10px;
        /*height: 59px;
	margin-left: 19px;*/
        width: 456px;
        color: #999999;
        font-size:13px;
    }
    #new_act_container .activityDetailView .textarea_comment{
        margin-top:6px;
        padding:7px;
        background:#f2f5f6;
        border: none;
        margin-right: 10px;
        /*height: 50px;
	.height: 57px;
	margin-left: 19px;*/
        width: 456px;
        color: #999999;
        font-size:13px;

    }

    #new_act_container .activityDetailView .more_details{
        color: #5099AC;
        float: right;
        font-size: 12px;
        margin: 4px 16px 0 0;
        .margin: 2px 10px 0 0;
    }
    #new_act_container .activityDetailView .buttonComment{
        width: 109px;
        height: 31px;
        float: left;
        margin-top:32px;
    }

}
.providerMsgCont{
    padding:10px 22px 10px 26px;
}
.providerMsgtext{
    color: #5099AC;
    font-size: 14px;
}
.providerMsgBox{
    margin:5px 0 0 0;
    width:748px;
    height:70px;
    /*border:1px solid #CDE0E6;*/
    padding:5px;
    color: #999999;
    font-size:13px;
    font-family: Arial,Helvetica,sans-serif;
    -moz-box-shadow:0px 0px 2px #888888 inset;
    box-shadow:0px 0px 2px #888888 inset;
    border: 1px solid #CDE0E6;
    border-right:none;
    border-bottom:none;
    background: #fff;
}
.providerInbutBox{
    margin:7px 0 5px 0;
    width:355px;
    height:35px;
    /*border:1px solid #CDE0E6;*/
    padding:5px;
    color: #999999;
    font-size:13px;
    font-family: Arial,Helvetica,sans-serif;
    -moz-box-shadow:0px 0px 2px #888888 inset;
    box-shadow:0px 0px 2px #888888 inset;
    border: 1px solid #CDE0E6;
    border-right:none;
    border-bottom:none;
    background: #fff;
}
.setWidth736{
    width:736px;
}
.sendMsgError,.sendEmailError{
    color: #FC8989;
    font-size: 12px;
    margin-top: 3px;
}
.calenderHover{
    display:inline-block;
    position:relative;
    height:20px;
}
/*.calenderHover:hover div{
	display: block;
}*/
.calenderHoverdiv{
    display: none;
    border: 1px solid #D7DADB;
    box-shadow: 4px 0 6px #D7DADB;
    background: #ffffff;
    width: auto;
    top: 35px;
    left:35px;
    position:absolute;
    z-index: 20000;
}
.calToparrow{
    position: relative;
    top: -12px;
    left: 15px;
}
.calHeadTxt{
    text-align: center;
    color: #3D8EA3;
    font-size: 18px;
    border-bottom: 1px solid #D6DAD9;
    padding:0 0 5px 10px;
}
.calHeadTxt b{
    position:relative;
    top:-5px;
    display:inline-block;
}
.clseBt{
    float: right;
    margin-right: 10px;
    margin-left:10px;
}
.calIcon{
    padding: 15px 10px;
    text-align: center;
    display: inline-block;

}
.calIcon label{
    color: #3D8EA3;
    font-size: 12px;
    font-weight: bold;
    padding: 7px 0px 0px 0px;
    display: block;
}
.soldTxt{
    background1: none repeat scroll 0 0 #DBEEF4;
    border1: 1px solid #B4D2DD;
    border-radius1: 3px 3px 3px 3px;
    color1: #5597AF;
    float: left;
    font-size1: 19px;
    font-weight1: bold;
    margin-right: 5px;
    padding1: 5px 18px;
    position: relative;
    cursor: default;
}
/****************************** Provider activity Deatil page ************************/
.providerDetailView{
    border:1px solid #DFE7E9;
    width:1000px;
    margin:0 auto 25px;
    background: #ffffff;
    padding:0px 0px 25px;
}


.sched_pad_provider{
    padding:6px 5px;
}

.sched_pad{
    font-weight: bold;
    color:#999999;
    padding:6px 5px;

}


.providerDetailViewBottom{
    border-top: 1px dashed #B9BEBC;
    width:100%;
    margin:0 auto 25px;
    padding:15px 0px;
}
.providerDetailViewBottom .description{
    text-align: center;
}
.providerDetailViewBottom .description h3{
    color:#4495ae;
    font-size:18px;
    margin-bottom:15px;

}
.providerDetailViewBottom .description p{
    font-size: 13px !important;
    color: #565455;
    line-height: 20px;
    margin-bottom:25px;
}

.providerDetailView .provider_head{
    /*background:#CFEBF6;*/
    /*padding:0 8px 0 8px;*/
	margin-left:45px;
	padding: 2px 0px;
}
.providerDetailView .blueBg1{
    background:#CFEBF6;
    padding:0 8px 0 8px;
}
.lineDivider{
    border-top:1px #cee8f1 solid;
    margin-bottom:20px;
}
.providerDetailView .setProviderLogoWH{
    width:72px;
    /* width:80px;*/
    height1:70px;
    overflow:hidden;
}
.providerDetailView .headingBlueTextSet1{
    /*background:#CFEBF6;*/
    color: #5099AC;
    font-size: 26px;
     /*font-weight: bold;*/
    /*padding-left:10px;*/
    padding-top:6px;
}
.providerDetailView .headingBlueTextSet2{
    background:#CFEBF6;
    color: #5099AC;
    font-size: 21px;
    letter-spacing: 0;
    padding-left:10px;
    padding-top:5px;
}

.provider_card_detail_inner{
    border: 1px solid #C8E8F3;
    margin:0px 80px;
}
.providerDetailRow .actImg{
    margin: 10px 0 0 10px;
    padding: 10px;
    border:1px solid #EAEEF1;
}
.providerDetailRow .col1{
    margin: 20px 0 0 20px;
}
.providerDetailRow .col2{
    margin:20px 0;
    padding:0 20px ;
    border-left:1px dashed #d2d2d2;
}
.providerDetailRow .rowSet{
    padding:8px 0;
}
.providerDetailRow .col1_col1{
    width:100px;
}
.providerDetailRow .col1_col2{
    width:217px;
    word-wrap:break-word;
}
.providerDetailView .despText{
    color:#999999;
    font-size:13px;
    line-height:20px;
    padding:10px;
}
/************************************/
.fts12{
    font-size: 12px;
}
.ftcGray55{
    color: #555555;
}
.ftcGray99{
    color: #999999;
}
.ftcRedff{
    color: #ff0000;
}
.ftcBlue3c{
    color: #3C8EA3;
}
.ftcBlue63{
    color: #63A3BE;
}
.activityDetailView{
    /* padding: 20px 15px;*/

}

.provider_card_heading{

    color: #5099AC;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 20px;
    text-align: center;
}
.titNameActivity{
    border: 1px solid #E8E8E8;
    background: #FDFDFD;
    padding: 5px 5px 0px 10px;
}
.titNameActivitypop{
    border: 1px solid #E8E8E8;
    background: #FDFDFD;
    padding: 5px 5px 8px 10px;
}
.actHedtxt{
    font-size: 20px;
    color: #3D84A2;
    font-weight: bold;
    text-align: left;
    font-family: Arial;
    padding-bottom: 20px;
}
.actHedtxtpop{
    font-size: 20px;
    color: #3D84A2;
    font-weight: bold;
    text-align: left;
    font-family: Arial;
    padding-bottom: 8px;
}
.actdetailhead{
	font-size: 40px;
	color: #4495ae;
	text-align: center;
	font-family: Arial;
	padding-bottom: 6px;
}
.actTitwrap{
    width: 85%;
    margin-bottom: 10px;
}
.actDetaWrap{
    width: 100%;
    margin-bottom: 15px;
}
.actImgwrap{
    width: 245px;
    margin: 0px 20px 0px 0px;
    padding: 15px;
    overflow: hidden;
    text-align: center;
}
.detailWrap{
    width: 462px;
    padding: 15px 10px 15px 10px;
}
.socialBtwrap{
    width: 75px;
    padding: 0px 0px 0px 15px;
    border: none;
}
.scBut{
    margin: 0px 0px 15px 0px;
    display: block;
}
.detTxt{
    padding: 5px 0px;
}
.descBorder{
    border-bottom: 1px solid #E9F1F4;
    padding: 0px 0px 5px 0px;
}
.diffDescwrap{
    padding: 5px 0px 0px 0px;
}
.scheduleWrap{
    border: 1px solid #E8E8E8;
    border-bottom: none;
    margin-top: 15px;
}
.schdHedtxt{
    background: #CFEBF6;
    color: #3C8EA4;
    font-size: 15px;
    text-align: left;
    padding: 7px 0px 7px 10px;
    border-bottom: 1px solid #E8E8E8;
    font-weight: bold;
}
.schdCaldetails{
    border-bottom: 1px solid #E8E8E8;
    padding: 15px 10px 10px 10px;
}
.dateTimewrap{
    color: #3D8EA3;
    height1: 20px;
    padding-top: 5px;
}
.calicon{
    background: url("/assets/card_images/calener_icon.png") no-repeat scroll left top transparent;
    padding-left: 25px;
}
.detailAddress{
    background: url(/assets/activity_schedule/location_icon.png) no-repeat;
    padding: 4px 10px 0px 17px;
}
.detailName{
    background: url(/assets/activity_schedule/leader_icon.png) no-repeat;
    padding: 4px 10px 0px 22px;
}
.detailCalender{
    background: url(/assets/activity_schedule/add_to_calendar.png) no-repeat;
    padding: 4px 10px 0px 22px;
}
.detailDiscount{
    background: url(/assets/activity_schedule/discount_icon.png) no-repeat;
    padding: 4px 10px 0px 25px;
    display: block;
    height: 17px;
}
.detailsOtherfees{
    background: url("/assets/activity_schedule/other_fees_icon.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 17px;
    padding: 4px 10px 0 25px;
}
.otherFeesHover{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E8E8E8;
    left: -65px;
    padding: 10px 0;
    position: absolute;
    top: 22px;
    width: 260px;
    display: none;
}
.detailToparrow{
    background: url("/assets/activity_schedule/top_arrow.png") no-repeat scroll center 0 transparent;
    height: 12px;
    left: 44%;
    position: absolute;
    top: -12px;
    width: 15px;
}
.detailfeeshover{
    padding: 0px 10px;
}
.detailfeeshoverchkbox{
    padding-bottom: 12px;
}
.detailfeeshoverchkbox input{
    position: relative;
    top: 2px;
}
.detailfeeshoverchkboxhelp{	
    display: inline-block;
    height: 14px;
    width: 15px;
    position: relative;
    margin: 3px 0px 0px 3px;
}
.detailfeeshoverchkboxhelp img{
    width: auto;
    height: auto;
    max-width: 100%;
}
.detailfeeshoverchkboxhelp:hover p{
    display: block;
}
.detailfeeshoverchkboxhelp p{
    background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #B6DCE9;
    color: #595758;
    font-size: 12px;
    left: 14px;
    padding: 5px;
    position: absolute;
    top: 0px;
    width: 195px;
    z-index: 1000;
    display: none;
}
.okclearbtFees{
    padding: 10px 0px 0px 10px;
    border-top: 1px solid #E8E8E8;
}
.detailHover{
    background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #B6DCE9;
    color: #595758;
    font-size: 12px;
    position: absolute;
    z-index: 1000;
    display: none;
    padding: 10px 0px;
}

.detailnoteButton{
    position: relative;
    cursor: pointer;
    margin-right: 3px;
}
.detailnoteButton:hover div{
    display: block;
}
.detailnoteButton div{
    width: 300px;
    right: 0px;
    top: 30px;
    padding: 10px 0px;
}
.detailnoteDesc{
    color: #7C7E7D;
    font-size: 13px;
    border-top:1px dashed #E3E3E3;
    margin: 10px 0px 0px 0px;
    padding: 10px 10px 0px 10px;
    text-align: left;
}
.detailPriceTxt:hover div{
    display: block;
}
.detailPriceTxt div{
    width: 490px;
    right: -20px;
    top: 25px;
    padding: 5px 12px 13px;
    background: #fff !important;
}
detailPriceTxtMulti:hover div{
    display: block;
}
.detailPriceTxtMulti div{
    width: 650px;
    right: -20px;
    top: 25px;
    padding: 5px 12px 13px;
    background: #fff !important;
}
.schdDetailWrapper{
    border-bottom: 1px solid #E9F1F4;
    margin-bottom: 5px;
    padding: 6px 10px !important;
    width: 97% !important;
}
.schdTxt{
    padding: 6px 0px;
}
.scdPridetailNote{
    background: #F2F0F1;
    padding: 7px !important;
    text-align: left;
    margin-top: 10px;
}
.noteTxtpriceDet{
    display: block;
    width: 100%;
    padding: 5px 0px 0px 0px;
}
.provider-card-detail{
    border-top:1px dashed #b9bebc;
    padding:12px 0px 5px;
    display:none;
    float:left;
    width:100%;
}
.provider-card-sec-part{
    float:left;
    width:45%;
    border-left:1px dashed #b9bebc;
    padding:0px 0px 0px 10px;
}
.detailDiscount{
    position: relative;
    cursor: pointer;
}
.detailDiscount:hover div{
    display: block;
}
.detailDiscount div{
    width: 435px;
    left: -184px;
    top: 24px;
    background: #fff !important;
}
.withDiscountTxtWrap{
    width: 235px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    border:1px solid #E7E9E8;
}
.DiscountListWrap{
    border-top:1px solid #DBEAEF;
    margin: 10px 0px 0px 0px;
    padding: 7px 0px 0px 0px;
}
/****** fill online form in activity detials page ******/
.fill_form_close{
    float:right;margin-bottom:6px;
}
.fill_form_arrow{
    position:relative;top:-22px;left:30px;
}
.fill_form_container{
    display:none; position:absolute; width:400px; border:1px solid #BDD6DD; background:#F6F8F7; padding:10px 10px; z-index:2; margin-top: 10px;
}
.fill_form_container_inn{
    max-height: 150px;overflow-x: hidden;overflow-y: auto;width: 400px;
}
.fill_form_block{
    float:left; line-height:20px;width:190px;padding-bottom:7px;
}
.fill_form_top{
    padding-top:7px;
}
.bread-path{
	text-align:center;
	padding:0px 0px 15px 0px;
	/*border-bottom:1px solid #EBEBEB;
	margin-bottom:10px;*/
	font-size:18px;
	font-weight:bold;
	color:#666666;
}
.tabhead{
	height:auto;
	display:inline-block;
	width:100%;
}
.headingtab{
	width:900px;
	margin:0 auto;
	float:inherit;
	display:inline;
}
.close_detail{
	float:right;
	position:relative;
	top:-1;
	border-left: 1px solid #DAE9EE;
	border-bottom: 1px solid #DAE9EE;
	height:38px;
	width:35px;
}