#pricingDetail{
	background: none repeat scroll 0 0 #F9F9F9;
	font-family: Arial,Helvetica,sans-serif;   
	/*padding: 10px 15px;*/    
	/*width: 790px;*/
	/*margin:0 auto;*/
	z-index: 1000;
	border:1px solid #C3DDE5;
	position: relative;
}
.pricingDetail1{
	background: none repeat scroll 0 0 #F9F9F9;
	font-family: Arial,Helvetica,sans-serif;   
	/*padding: 10px 15px;*/    
	/*width: 790px;*/
	/*margin:0 auto;*/
	z-index: 1000;
	border:1px solid #C3DDE5;
	position: relative;
	display: none;
	
}
.topArrow{	
	left: 405px;   
	position: absolute;
	top: -13px;
}
.detailTopDiv .topArrow{
	top: -12px;
}
.setHeightScroll{
	/*height: 190px;*/
	overflow-x: hidden;
	overflow-y: auto;
	margin-top:-20px;
}
.detailTopDiv .setHeightScroll,
#provider_partial_event_list .setHeightScroll,
.search_container .setHeightScroll{
	margin-top:0px;
}
.pricingText{
	color:#3E8FA4;
	font-size:15px;
	margin-left:5px;
}
.paymentType{
	/*margin: 0 auto;*/
	padding: 15px 0;
	width: 790px;
}
.paymentHead{
	color: #3E8FA4;
	font-size: 15px;
	padding: 10px;
	background: #F1F6F9;
	width: 800px;	
}
.paymentHeadpart2{
	display: block;
	color: #3E8FA4;
	font-size: 15px;
	/*padding: 5px 0 10px;*/
	padding:10px 0px;
	background: #F1F6F9;
	border-bottom: 1px solid #EFF3F4;
	font-weight: bold;
}
.paymentHeadview{
	display: block;
	color: #7D797A;
	font-size: 13px;
	/*padding: 5px 0 10px;*/
	padding:10px 0px;	
	background: #FFFFFF;
	border-bottom: 1px solid #EFF3F4;
}
@media \0screen {
	.paymentHeadpart2{
			height:40px;
	}
	.paymentHeadview{
			height:40px;
	}
	.paymentHeadview td{
			border-bottom: 1px solid #EFF3F4;
	}
	.detailTopDiv .topArrow{
		top: -15px;
	}
	.detailTopDiv .topArrowie8{
		top: -12px;
	}
}
.spdetails{
	padding: 0px 0px 0px 10px;
}
.checkboxColumn{	
	width:20px;
	margin-right:10px;
}
.checkboxColumn .checkbox{
	position:relative;
	top:-3px;
}
.paymentPeriodTop{
	width:200px;
	float:left;
}
.paymentPeriod{
	width:170px;
	float:left;
}
.paymentPrice{
	width:90px;
	float:left;
}
.paymentDurationTop{
	width:110px;
	float:left;
}
.paymentDuration{
	width:110px;
	float:left;
	margin-top:-5px;
	.margin-top:-7px;
}
.discountType{
	width:210px;
	float:left;
}
.paymentDiscount{
	width:190px;
	float:left;
}
.paymentTotal{
	width:70px;
	float:left;
}
.paymentList{
	color: #7B797A;
	font-size: 12px;
	height: 0;
	/*padding: 18px 0 20px;*/
	padding:6px 0 10px;
	margin:6px 0 5px;
	width: 818px;
}
.activityName{
	color: #5099AC;
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 5px;
	text-align: left;
}
.setPadLeft{
	padding-left:5px;
}
.setPadLeft45{
	padding-left:45px;
}
.clear{
	clear:both;
}
.paymentDiscountImg{
	width:16px;
	height:16px;
	margin-left:3px;
}
.notes{
	margin-top:15px;
}
.paymentNotes{
	color:#000;
	font-size:14px;	
	margin-right:10px;
}

.paymentContent{
	color:#7B797A;	
	font-size:13px;
	background:#f6f6f6;
	padding:7px 14px 20px 10px;
	width:715px;
	margin-bottom:10px;
	white-space:normal;
	word-wrap: break-word;
}
.selectDollar{
	margin-left:10px;
	float:right;
}
.arrow{
	background: transparent url('images/arrow_down_6x3.gif') no-repeat right center scroll;
	width: 10px;
	_width:13px;
	height:12px;
	_height: 18px;
	z-index: 10000;

	display: inline-block;
	margin:0;
	padding: 0;
}
.select-wrapper {
  position: relative;
  width: 160px;
  height: 25px;
  padding: 0 25px 0 0;
  font-size:12px;
  margin: 0;
  overflow: hidden;
  background: url(select-arrow.png) no-repeat right center transparent;
  color:#7B797A;
}/*
select {
  position: absolute;
  left: 0;
  top: 0;
  opacity : 0;
  width: 186px;
  height: 25px;
  padding: 5px 0;
  border: none;
  color:#7B797A;
  font-size:13px;
}*/

.select-wrapper span {
  display: block;
  width: 190px;
  height: 25px;
  line-height: 28px;
  padding: 0 0 0 -10px;
}
#provider_event_list .active_Div{	
    width:155px;
    padding: 4px 5px 3px 5px;
    border:1px solid #F6F8F7;
    background:none;
	margin-left:0px;
}
.sched_price_div #provider_event_list .active_Div{	
    width:155px;
    padding: 4px 5px 3px 5px;
    border:1px solid #ffffff;
	margin-left:0px;	
    background:none;
}
#provider_event_list #menu_active ul.dispSessionDiv,
#provider_event_list #menu_active ul.dispParticipantDiv{
	position: absolute;
    z-index: 8998090;
}
#provider_event_list .selectedSessionDiv,
#provider_event_list .selectedParticipantDiv{	
    width:50px;
    padding: 4px 5px 3px 5px;
    border:1px solid #A9D3E1;
	border-bottom:none;
    background:#E6F5F8;	
}
.sched_price_div #provider_event_list .active_Div:hover,
.sched_price_div #provider_event_list .selectedSessionDiv,
.sched_price_div #provider_event_list .selectedParticipantDiv{	
    width:50px;
    padding: 4px 5px 3px 5px;
    border:1px solid #A9D3E1;
	border-bottom:none;
    background:#E6F5F8;	
}

.sched_price_div{
	padding:20px 0 30px 30px;
}
.sched_price_div .topDivision{
	width:820px;
	height:28px;
	background:#EDF1F2;
	color:#444444;
	font-size:15px;
	padding-top:12px;
	margin-bottom:10px;
}
.auto_payment{
	border-top: 1px dashed #E3E3E3;
    margin: 15px 0 0 -30px;
    padding: 15px 0 15px 30px;
    width: 795px;
}
.auto_payment .auto_payment_text{
	color:#3E8FA4;
	font-size:15px;
}
.auto_payment .auto_checkbox{
	margin-top:20px;	
	color:#7B797A;
	font-size:12px;
}
.auto_payment .paymentDiscount{
	width:83px;
}
.auto_payment .paymentDiscountImg{
	position:relative;
	top:-4px;	
}
.auto_payment .buttonDiv{
	margin-top:10px;	
}
.no_participant{
		margin:10px;
}
#provider_event_list #menu_active ul.dispParticipantToll{
	background: none repeat scroll 0 0 #F9F9F9;    
    margin-right: 17px;
    margin-top: -20px;
	.margin-top: 0px;
    padding: 10px;
    right: 0;
    width: 310px;
}
.totaldiv{
	border-top: 1px dashed #E3E3E3;
	margin-top: 10px;
	padding: 5px 0 0;
	width: 97%;
}
.checkPricedetails{
	display: inline-block;
	color: #3E8FA4;
	font-size: 15px;
}
.questionHover{
	margin-left: 5px;
	position: relative;
}
.questionHover span{
	display: none;
}
.questionHover:hover span{
	display: block;
	background: none repeat scroll 0 0 #F9F9F9;
	border: 1px solid #C2DDE4;
	color: #959292;
	font-size: 13px;
	padding: 10px;
	position: absolute;
	top: 0px;
	left: 17px;
}
.checkedPritot{
	/*width: 20px;
	height: 20px;
	border: 1px solid #3E8FA4;*/
	margin-right: 5px;
}
.totprivPara{
	font-size: 14px;
	color: #3E8FA4;
	font-weight: bold;
	text-align: right;
	padding: 5px 0px;
}
.totprivParaspan{
	color:#FB7C11;
	padding-left: 5px;
}
.prcCheck{
	background: none repeat scroll 0 0 #F1F6F9;
	border-bottom: 1px solid #E8ECED;
	border-top: 1px solid #E8ECED;
	color: #5099AC;
	font-size: 15px;
	height: 35px;
}
.preCheckDetails{
	height: 150px;
}
.ftcBluechk{
	color: #5099AC;
	display: inline-block;
	font-size: 13px;
	padding: 5px 0;
	text-align: left;
	width: 100px;
}
.ftcGrayPr{
	color: #807E7F;
}
.disWithdiff{
	padding: 5px 20px 5px 0px;
}
.availableDiscount{
	background: #FAFAFA;
	padding: 10px 20px 10px 20px;
	display: inline-block;
	width: 95%;
}
.discounTotalPrice{
	border-right: 1px dashed #E8E8E8;
	padding: 5px 35px 5px 0px;
	width: 50%;
	margin: 0px 20px 0px 0px;
	height: 212px;
}
.noteWrap{
	background: #EDF1F2;
	color: #807E7F;
	padding: 5px;
	font-size: 13px;
}
.checkboxProceed{
	margin: 20px 0px 10px 0px;
}
.listPriceDetails{
	border: 1px solid #E8E8E8;
	padding:0px 0 10px 0;
	width: 43%;
	background: #FFFFFF;
}
.listPriceDetailspad{
	padding: 0px 0px 0px 15px;
}
.listTotproceed{
	height: 25px;
}
.totalAmtFnt{
	color: #5099AC;
	font-weight: bold;
	font-size: 20px;
}
.borTopposition{
	border-top: 1px solid #E8E8E8;
}

.header_embed
{
	background-color: #DBEEF4 !important;
	height: 50px;
}