.message_list{
  border-bottom: 1px solid #CEE1E8;   
  /*border-top:1px solid #CEE1E8;
  border-right:1px solid #CEE1E8;
  border-bottom:1px solid #CEE1E8;*/
 /* border-left:1px solid #CEE1E8;*/
}
.message_list .leftBorder{  
  border-left:1px solid #CEE1E8;
}
.message_list .borderBottom{  
  border-bottom:1px solid #CEE1E8;
}
.message_list .setPadd{
  /*padding:0 20px;*/
  min-height:78px;
  position: relative;
/* top: 12px;*/
  height:auto;
}
.message_list .listLt{  
  overflow-y:auto;
  overflow-x:hidden;
  background:#ffffff;
}
.message_list .listRt{  
  background:#f6f6f6;
  border-left:1px solid #CEE1E8; 
  height:780px;
  overflow-y:auto;
  overflow-x:hidden;
}
.message_list .searchOuterDiv{
  width:340px;
  height:26px;
  border:1px solid #CDE0E7;
  background:#ffffff;
  margin: 0 22px 0 20px;
}
.message_list .searchOuterDiv .searchBox{
  border: 1px solid #ffffff;
  border-radius: 0;
  height: 19px;
  margin: 0 5px 0 0;
  padding: 3px 0 0 5px;
  width: 300px;
  color:#999999;
}
.message_list .searchOuterDiv .searchImgIcon{
  margin-top:4px;
}
.message_list .setDarkBg{
  background:#DBEEF4;
}
.message_list .setMediumBg{
  background:#F6F8F7;
}
.message_list .dateDiv{
  padding-right:20px;
  text-align:right;
  margin-bottom:-15px;
  margin-top: 5px;
}
.smessage_list .dateDiv{
  padding: 45px 42px 0 88px;
  text-align: right;
  position: absolute;
  color: #9e9e9e;
}
.message_list .messagePhotoBr{
  border:1px solid #D5D7D6;
  padding:3px;
  background:#ffffff;
  width:45px;
  height:45px;
}
.message_list .messagePhotoBr .messagePhotoInner{
  width:45px;
  height:45px;
  overflow:hidden;
}
.message_list .paddingTop7{
  /*padding-top:7px;*/
}
.message_list .paddingTop3{
  padding-top:3px;
}
.message_list .typeContainer{
padding: 0 5px 1px ;
color:#ffffff;
font-size:10px;
}

.message_list .bluebg{
  background:#6EA7DE;
}
.message_list .redbg{
  background:#F1C6BD;
}
.message_list .greenbg{
  background:#C2D59E;

}
.unreadMsg{
  font-weight:bold;
}
.sortbylist
{
  margin-left: 0px !important;
}
.chk_img
{
  display: inline-block;
  height: 18px;
  margin-right: 0;
  position: relative;
  top: 5px;
  width: 18px;
}
.delete_txt
{
  position: relative;
        top:-12px;
  *top: -15px;
}
.settingsDropdown{
  background:url('/assets/settings/dropdown.png') no-repeat;
  width: 160px;
  height:31px;
  display:inline-block;
}
.settingsDropdown .selectDiv {
    color: #999999;
    cursor: default;
    display: inline-block;
    font-size: 13px;
    height: 23px;
    overflow: hidden;
    padding-left: 7px;
    position: relative;
    top: 4px;
    width: 127px;
}
.dropDownDivSettingVisible {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CDE0E6;
    color: #959292;
    display: inline-block;
    font-size: 13px;
    height: 74px;
    margin-left: 0;
    margin-top: 0px;
    overflow-y: scroll;
    position: absolute;
    width: 157px;
    z-index: 500;
}
.dropDownDivSettingVisible a{
    color: #999999;
    display: block;
    padding: 3px 0 3px 3px;
    text-decoration: none;
}
.dropDownDivSettingVisible a:hover{
    color:#fe7c0a;
}
div.attachfile
{
    background: url("/assets/message/attach_icon.png") no-repeat scroll 0px 2px transparent;    
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    position:relative;
}
div.attachfile input {
    opacity: 0 !important;
    filter:alpha(opacity=5);
    overflow: hidden !important;
    cursor: pointer;
    width: 100px;
    position: relative;
    top: 4px;
    z-index: 100;
    left: -70px;
}
.attach_text
{ 
    left: 23px;
    position: relative;
    top: 3px;
    color: #5099AC;
    font-size: 14px;
    font-weight: bold;
}
.drop_down_left
{
border: 1px solid #BDD6DD;
    color: #999999;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    height: 31px;
    padding: 5px 0 4px 2px;
    width: 544px;
}
.dateDiv {
    display: inline-block;
    height: 28px;
    padding: 1px 3px 0;
    position: relative;
    width: 140px;
}
.dateTextbox {
    border: 1px solid #FFFFFF;
    color: #999999;
    display: inline-block;
    float: left;
    font-size: 13px;
    height: 16px;
    margin-top: 5px;
    outline: medium none;
    overflow: hidden;
    width: 110px;
}
.padding_btw
{
  padding-top: 10px;
}
#reply_contact {
  display: inline-block;
  position: relative;
  top:-5px;
}
#reply_contact a {
  display: inline-block;
}
#reply_contact ul {
  display: inline-block;
  list-style-type: none;
}
#reply_contact li {
  float: left;
  position: relative;
}
#reply_contact ul.sub-menu {
  display: none;
  position: absolute;
  z-index: 900;
}
#reply_contact ul.sub-menu li {
  text-align: left;
  display: block; 
}
#reply_contact li:hover ul.sub-menu {
  display: block; 
}
.disprplyDiv{
    display:none;
    font-size:12px !important;
    background:#F6F8F7;
    color:#959292;
    border:1px solid #C2DDE4;
    width:80px;
    position: absolute;
    z-index: 900;
    right: 0px;
}
.disprplyDiv li a{  
    color:#959292;
    text-decoration:none;
}
.disprplyDiv li a:hover{
    color:#F97C0E;
    text-decoration:none;
}
/*.right_msgcontent
{
    position: relative;
    top: -51px;
  float:right;
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
  .right_msgcontent
  {
    border: 1px solid red;
    position: relative;
    top: -455px;
    float:right;
  }
  }*/
 /* Drop down arrows*/

.arrow_menu_style{
display: inline-block;
border: 1px solid #C2DDE4;
padding: 0px 4px;
margin: 6px 0px 0px 2px;
}
.arrow_menu_style:hover{
color: #5099AC;
background-color:#E6F5F8;
border:1px solid #A9D3E1;
font-weight:bold;
}
.arrow_menu_style ul li:hover ul{
display: block;
opacity: 1;
visibility: visible;
}
.arrow_menu_style ul{
text-align: left;
display:block;
margin: 0;
list-style: none;
right:0;
}
.arrow_menu_style ul li ul{
padding: 0;
position: absolute;
top: 16px;
left: -5px;
width: auto;
box-shadow: none;
display: none;
opacity: 0;
visibility: hidden;
background:#F6F8F7;
border:1px solid #A9D3E1;
z-index: 300;
}
.arrow_menu_style ul li{
display: block;
position: relative;
cursor: pointer;
font-weight:bold;
}
.arrow_menu_style ul li ul li{
display: block;
font-weight:normal;
font-size:13px;
}
.arrow_menu_style ul li ul li a{
text-decoration:none;
}
.arrow_menu_style ul li ul li a:hover{
text-decoration:none;
}
.arrow_menu_style ul li ul li:hover{
background:#F6F8F7;
/*border:1px solid #F6F8F7;*/
font-size:13px;
/*color:#F97C0E; */
font-weight:normal;
}
.reply_menu_style{
margin-left: 2px;
display: inline-block;
border: 1px solid #C2DDE4;
padding: 0px 4px;
position: relative;
top: 7px;
}
.reply_menu_style:hover{
color: #5099AC;
/*background-color:#E6F5F8;*/
border:1px solid #A9D3E1;
font-weight:bold;
}
.reply_menu_style ul li:hover ul{
display: block;
opacity: 1;
visibility: visible;
}
.reply_menu_style ul{
text-align: left;
display: inline-block;
margin: 0;
list-style: none;
right:0;
}
.reply_menu_style ul li ul{
padding: 0;
position: absolute;
top: 16px;
right: -5px;
width: 110px;
box-shadow: none;
display: none;
opacity: 0;
visibility: hidden;
background:#F6F8F7;
border:1px solid #A9D3E1;
}
.reply_menu_style ul li{
display: inline-block;
position: relative;
cursor: pointer;
font-weight:bold;
}
.reply_menu_style ul li ul li{
font-weight:normal;
font-size:13px;
}
.reply_menu_style ul li ul li a{
padding:0px 0px 0px 8px !important;
text-decoration:none;
height:auto !important;
border:none !important;
background: none !important;
}
.reply_menu_style ul li ul li a:hover{
color:#F97C0E;
text-decoration:none;
}
.reply_menu_style ul li ul li:hover{
font-size:13px; color:#F97C0E; font-weight:normal;
}
.underline_reply
{
width: 108px;left:-7px;top:-4px;
}
.reply_images
{
position: relative;
top: 2px;
margin-right:3px;
}
.crt_new
{
/*border: 1px solid #9C9C9C;*/
margin: 0 auto;
padding: 30px;
text-align: center;
width: 630px;
background-color:#FFFFFF;
font-family: 'open_sansregular';
}
.up_image_div
{
display:inline-block;
padding: 30px 10px 20px;
}
.up_image
{
border: 1px solid #CEE1E8;
float: left;
height: 80px;
margin:0px 10px 35px 0px;
width: 80px;
}
.disableMenus
{
top:7px;
background: none repeat scroll 0 0 #FFFFFF;
bottom: 0;
left: 0px;
opacity: 0.4;
position: absolute;
right: 0;
top: 0;
z-index: 200;
width: 17%;
}
#ajax-upload-wrap{
max-height: 200px;
min-height: 5px;
overflow-y: auto;
width: 547px;
}
.download_all
{
padding:3px 0px;
border-bottom:1px dashed #E2E2E2;
 margin-bottom: 8px;
}

/*New Message CSS*/
            .msg_replay{
               /width: 100%;
                min-height: 100px;
                /*border: 1px solid red;*/
                background: url("/assets/message/me_line.png") bottom repeat-x ,url("/assets/message/me_line.png") top repeat-x,url("/assets/message/me_right_center.png") right repeat-y,url("/assets/message/me_left_center.png") left repeat-y #fbfcfc;
                margin: 10px 5px 0px auto;
                float: left;
            }
            .inner_msg{
                width:100%;
                 min-height: 100px;
                 background: url("/assets/message/me_left_top.png") no-repeat top left, url("/assets/message/me_left_bottom.png") no-repeat bottom left , url("/assets/message/me_right_top.png") no-repeat top right, url("/assets/message/me_right_bottom.png") no-repeat bottom right;
            /*border: 1px solid red;*/
                 margin: 0 auto;
            }
            .innercurves{
                /*width:97%;*/
                 min-height: 54px;
                 line-height: 25px;
                   padding-top: 10px;            
                 margin: 0 auto 0 30px;
            }
            .msg_recive{
                  width: 100%;
                min-height: 54px;
                /*border: 1px solid red;*/
                background: url("/assets/message/re_line.png") bottom repeat-x ,url("/assets/message/re_line.png") top repeat-x,url("/assets/message/re_right_center.png") right repeat-y,url("/assets/message/re_left_center.png") left repeat-y #f2fcff;
                margin: 10px auto 0px 12px;
                float: left;
            }
             .inner_msg_recive{
                width:100%;
                 min-height: 54px;
                background: url("/assets/message/re_left_top.png") no-repeat top left, url("/assets/message/re_left_bottom.png") no-repeat bottom left , url("/assets/message/re_right_top.png") no-repeat top right, url("/assets/message/re_right_bottom.png") no-repeat bottom right;
            /*border: 1px solid red;*/
                 margin: 0 auto;
            }
            .innercurves_recive{
                width:97%;
                 min-height: 54px;
               line-height: 25px;
                 margin: 0 auto 0 20px;
                 padding-top: 10px;
            }
            .space_30{
                width: 100%;
                height: 30px;
            }
            .clear{
                 width: 100%;
                
                clear: both;
            }
            .totoal_div{
                width: 100%;
                 min-height: 54px;
            }
   .comments_owner_img{
      height: 75px;
      width: 75px;
      float: left;
     
      
     position: relative;
      padding: 10px;
    }
   .comments_owner_text{
      min-height: 75px;
      width: 100%;
      float: left;  
      padding-left: 8px;    
     /* padding: 17px 10px ;*/
      margin-top: 5px;
    }
    .comments_owner_text textarea{
     width: 100%;
      height: 45px;
      border: 1px solid #e1e1e1;
      margin:  0 auto;
      padding: 7px;
      float: left;
      box-shadow: inset 0px 0px 5px #e1e1e1;
    }
     .comments_text_button{
      height: 75px;
      width: 102px;
       float: left;
     /* padding: 10px;*/
    }
    .circleimage{
       background: url("/assets/contact/contact_overlay.png") center center  no-repeat;
       width: 70px;
       height: 75px;
       top: 0px;
       position: absolute;
       padding: 7px 3px;

    }
    .normal_circleimage{
       background: url("/assets/contact/message_list.png") center center  no-repeat;
       width: 70px;
       height: 280px;
       margin-left: -13px;
       top: 0px;
       position: absolute;
       padding: 7px 0px;

    }
    .blue_circleimage{
       background: url("/assets/contact/select_message_list.png") center center  no-repeat;
       width: 70px;
       height: 280px;
       margin-left: -13px;
       top: 0px;
       position: absolute;
       padding: 7px 0px;

    }
    /*#replay_button{
         background: url("/assets/fam_networks/reply_to_all.png") center center  no-repeat;
         width: 102px;
         height: 36px;
         cursor: pointer;
         margin: 30px 0px;
    }*/
     #attach_reply_msg{
      box-shadow: none;
      height: 61px;
      width: 60px;
      float: left;
      text-indent: -999px;
      border: 1px solid #E1E1E1;
       border-left: none;
      cursor: pointer;
      background: #feffff; /* Old browsers */
background: url("/assets/fam_networks/reply_attached.png")no-repeat center,-moz-linear-gradient(top,  #feffff 0%, #d2ebf9 100%); /* FF3.6+ */
background:url("/assets/fam_networks/reply_attached.png")no-repeat center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(100%,#d2ebf9)); /* Chrome,Safari4+ */
background:url("/assets/fam_networks/reply_attached.png")no-repeat center, -webkit-linear-gradient(top,  #feffff 0%,#d2ebf9 100%); /* Chrome10+,Safari5.1+ */
background:url("/assets/fam_networks/reply_attached.png")no-repeat center, -o-linear-gradient(top,  #feffff 0%,#d2ebf9 100%); /* Opera 11.10+ */
background:url("/assets/fam_networks/reply_attached.png")no-repeat center, -ms-linear-gradient(top,  #feffff 0%,#d2ebf9 100%); /* IE10+ */
background: url("/assets/fam_networks/reply_attached.png")no-repeat center,linear-gradient(to bottom,  #feffff 0%,#d2ebf9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 ); /* IE6-9 */
  /* background: url("/assets/fam_networks/reply_attached.png")no-repeat center  ;*/

    }
  /************** anand ****************/
  .comments_owner_text .ajax-upload-wrap{
  /*width:95% !important;
  margin-left:0px !important;*/
  width: 90% !important;
  margin-left: 6px !important;
  }
  .comments_owner_text .ajax-file-upload-statusbar{
  width:98% !important; 
  
  }
    .all_attachments{
      text-transform: capitalize;
      width: 830px;
      padding: 10px;
      background: #f5fcfb;
      color: #4597ad;
      font-size: 16px;
      border-left:1px solid #e1e1e1;
      border-right:1px solid #e1e1e1;
      text-align: center;
      margin: 0 auto;
      font-weight: bold;
    }
    .contents_message{
      width: 560px;
      margin: 0 auto;
      line-height: 20px;
      font-size: 14px;
      font-family: arial;
      
    }
    .delete_attach{
      width: 93%;
      margin: 0 auto;
      height: 20px;
      border-top: dashed 1px #e1e1e1;
      }
  .align_rt{
    float: right;
    width: 275px;
    color: #3D83A3;
    font-size: 13px;
    text-transform: capitalize;
    padding-top: 9px;
         
  }
  .align_lt{
        float: left;
    width: 275px;
     color: #3D83A3;
      font-size: 14px;
         /*text-transform: capitalize;*/
  }
  .msg-sub{
    width:100%;
    clear:both;
  }
  .space_20{
    width:100%;
    height:20px;
  }
    .attachments_open{
       float: left;        
      background: url("/assets/fam_networks/attach_icon.png")no-repeat center left, url("/assets/fam_networks/open_attach.png")no-repeat center right;
      padding-left: 20px;
      width: 115px;
      color: #3D83A3;
      cursor: pointer;
    }
     .attachments_close{
       float: left;        
      background: url("/assets/fam_networks/attach_icon.png")no-repeat center left, url("/assets/fam_networks/close_attach.png")no-repeat center right;
      padding-left: 20px;
      width: 115px;
      color: #3D83A3;
      cursor: pointer;
    }
      .delete_msg{
      float: left;
     
     cursor: pointer;
      width: 13px;
      
    }
    .separator_pi{
      float: left;
      padding-left: 10px;
      width: 10px;
      margin-top: -3px;
    
    }
    .open_div{
      width: 99%;
      /*min-height:170px;*/
      border-top: 1px dashed #e1e1e1;
      margin: 10px 0px 0px 10px;
      max-height: 360px;
      overflow-y: auto;
    }
    .attached_files{
      float: left;
      width: 135px;
      /*height: 150px;*/
      margin-bottom:20px;

    }
    .unique_files_name{
      /*background: url("/assets/fam_networks/download_icon.png")no-repeat center left;*/
      padding: 10px 0px ;
      color: #919191;
      width: 115px;
      height: 13px;
      margin: 0 auto;
      cursor: pointer;
      text-transform: capitalize;
      font-size: 12px;
      margin-left: 1px;
      
    }
    .unique_files{
      /*background:#ff0000;*/
      width: 120px;
      height: 120px;
      margin: 0 auto;
      cursor: pointer;
    }
    .dwon-load-div{
      width: 96%;
      height:20px;
      border-top: 1px dashed #e1e1e1;
      margin-left:  10px ;
      display: none;
    }
    .dwon-load-all{
      width: 120px;
      height:15px;
      color: #3D83A3;
      cursor: pointer;
      float: right;
      /* background: url("/assets/fam_networks/download_icon.png")no-repeat bottom left;*/
       text-transform: capitalize;
       /* padding-left: 13px;*/
       margin-top: 2px; 
    }
    .dashed_div{
      /*min-height: 150px;*/
      max-height: 350px;
      width: 95%;
    margin:0 auto;
    }
    .space_5{
        width: 100%;
        height: 5px;
    }
    .msgDetailList{
   /* border: 1px solid #d8e5e8;
    margin:0 auto;
    width:98%;*/
    margin-top: -20px;
    width: 100%;
  }
  #attach_rep_message{
  min-height:60px;
  max-height:300px;
  }
  #msg-started-business-name{
    font-size:22px;
    font-weight: bold;
    font-family: 'open_sansregular';
  }
  .comments_text_area{
  min-height:100px;
  }
   .create_new_post{
    width: 884px;
    height: 825px;
    border: 1px solid #e1e1e1;
    background: #ffffff;
  }
  .create_new_post_header{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 10px 0px;
    color: #5099ac;
    font-family: arial;
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
    border-bottom: 1px solid #e1e1e1;
    height: 25px;
  }
  .clear{
    clear: both;
  }
  .create_new_posts{
    width: 798px;
    height: 250px;

    margin: 0 auto;
    /*border: 1px solid #ebebeb;*/
  }
  .create_new_posts_imgs{
    width: 798px;
    height: 130px;
    display:none;
    margin: 0 auto;
    border: 1px solid #e1e1e1;
  }
  .success_text{
    text-align: left;
    color: #3b8da3;
    font-family: arial;
    font-size: 20px;
    padding: 10px 0px 10px 0px;
    text-transform: capitalize;
  }


  .tabs_slides{
    width: 798px;
    height: 325px;
    border: 1px solid #e1eef2;
    margin: 0 auto;
    /*border-top:none;*/
  }
  .invie_inner_img{
    width: 796px;
    border-bottom: 1px solid #ebebeb;
  }
  .post_inner_imgs{
    width: 750px;
    height: 130px;

    margin: 0 auto;
  }
  .single_img{
    width: 150px;
    float: left;
    /*border: 1px solid red;*/
    height: 130px;
    /*cursor: pointer;*/

  }
  .selct_borders{
    border-bottom: 3px solid red;
  }
  .photo_normal{
    background: url("/assets/fam_networks/photosvideos_selct.png") center no-repeat;
    width: 100%;
    height: 100px;
  }
  .document_normal{
    background: url("/assets/fam_networks/documents.png") center no-repeat;
    width: 100%;
    height: 100px;
  }
  .find_normal{
    background: url("/assets/fam_networks/find_famt_search.png") center no-repeat;
    width: 100%;
    height: 100px;
  }
  .photo_normal_select{
    background: url("/assets/fam_networks/photosvideos.png") center no-repeat;
    width: 100%;
    height: 100px;
  }
  .document_normal_select{
    background: url("/assets/fam_networks/document_select.png") center no-repeat;
    width: 100%;
    height: 100px;
  }
  .find_normal_select{
    background: url("/assets/fam_networks/find_famt_search_select.png") center no-repeat;
    width: 100%;
    height: 100px;
  }
  .text_span{
    color: #5099ac;
    font-family: arial;
    font-size: 14px;
    text-transform: capitalize;
    text-align: center;

  }
  .text_span_select{
    color: #ff3737;
    font-family: arial;
    font-size: 14px;
    text-transform: capitalize;
    text-align: center;
  }
  .discountdollar{
    width: 568px;
    height: 20px;
    background: #eef9fd;
    border: 1px solid #d3e1e4;
    font-family: arial;
    font-size: 12px;
    color: #555454;
    margin: 20px auto;
    text-align: center;
    padding: 17px 0px;

  }
  .bold_txt{
    color: #ff0000;
    font-size: 16px;
    font-weight: bold;
  }
  .enter_detail{
    width: 522px;
    height: 150px;

    margin: 0 auto;
  }
  .text_header{
    width: 100%;
    height: 20px;
    color: #5a5757;
    font-size: 14px;
    text-transform: capitalize;
    padding: 8px 0px 0px 0px;
  }
  .input_fields input[type="text"]{
    width: 522px;
    height: 34px;
    border: 1px solid #e1e1e1;
    color: #999999;
    padding: 0px 0px 0px 5px;
    font-family: arial;
    font-size: 13px;
  }
  .input_fields textarea{
    font-family: 'open_sansregular' !important;
    width: 790px;
    height: 134px;
    border: 1px solid #e1e1e1;
    color: #999999;
    padding: 5px 0px 0px 5px;
    font-family: arial;
    font-size: 13px;
  }
  .button_classes{
    width: 796px;
    height: 50px;
    border: 1px solid;
    margin: 0 auto;
  }
  .first_half{
    width:50%;
    height:275px;
    /*border-right:1px dashed #d6d4d5;
    float:left;*/
  margin :0 auto;
  }
  .second_half{
    width:49.5%;
    height:200px;
    float:left;
    display: none;

  }
  .upload_photo,.upload_document,.import_photo{
    /*width:330px;*/
    height:200px;
    background:#f1f9fc;
    margin:40px 36px 20px 36px;
    cursor:pointer;
    border-radius:6px;
     border:1px solid #e1e1e1;
    background-color:#ffffff;
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff, endColorstr=#eef8fb);
    background-image:-moz-linear-gradient(top, #ffffff 27%, #eef8fb 64%);
    background-image:-webkit-linear-gradient(top, #ffffff 27%, #eef8fb 64%);
    background-image:-ms-linear-gradient(top, #ffffff 27%, #eef8fb 64%);
    background-image:linear-gradient(top, #ffffff 27%, #eef8fb 64%);
    background-image:-o-linear-gradient(top, #ffffff 27%, #eef8fb 64%);
    background-image:-webkit-gradient(linear, right top, right bottom, color-stop(27%,#ffffff), color-stop(64%,#eef8fb));

  }
  .space30{
    width:100%;
    height:20px;
    clear:both;
  }
   .space15{
    width:100%;
    height:15px;
    clear:both;
  }
  .space10{
    width:100%;
    height:6px;
    clear:both;
  }
  .upload_header{
    font-family:'open_sansregular';
    font-size:20px;
    color:#4495ae;
    text-align:center;
    text-transform:capitalize;
    padding:32px 62px 42px 62px;
  }
  .upload_img{
    background:url("/assets/fam_networks/uploadimage.jpg") no-repeat center center;
    width:100%;
    height:63px;
  }
  .upload_doc{
    background:url("/assets/fam_networks/documents.png") no-repeat center center;
    width:100%;
    height:72px;
  }
  .pc_buttons{
    width:798px;
    height:50px;
    margin:0 auto;

  }
  #post_button{
    background:url("/assets/fam_networks/post_button.jpg") no-repeat center left;
    width:205px;
    height:50px;
    float:left;
  }
  #cancel_button{
    background:url("/assets/fam_networks/cancel_button.png") no-repeat center center;
    width:185px;
    height:50px;
    float:left;
  }
  #success_pop_up{
    width: 800px;
    height: 500px;
    border: 2px solid #e1e1e1;
    margin: 0 auto;
    background: #fff;

  }
  #firrst_layer{
    width: 600px;

    background: #fafbfc;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid #ebebeb;
    color: #4994ab;
    font-size: 18px;
    margin: 20px auto 0px;
    text-align: center;
    padding: 40px;
  }
  #spacer_div{
    width: 100%;
    height: 20px;
  }
  #second_layer{
    width: 600px;
    color: #bababa;
    font-size: 14px;
    margin: 0px auto;
    text-align: center;
    padding: 25px 40px ;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid #ebebeb;
    border-top: none;
  }
  #fist_outer{
    border-bottom: 1px solid #edebec;
    margin: 0 auto;
    width: 700px;
    height: 210px;

  }
  .fist_outer{
    border-radius: 10px;
    border: 1px solid #dfedf0;
    background: #f5fcfb;
    background: url("assets/fam_networks/post_icon.png") no-repeat center 20% #f6fcfc;
    margin: 18px auto;
    width: 680px;
    height: 200px;
    cursor: pointer;
  }
  #last_row{
    margin: 140px auto;
    text-align: center;
    font-size: 18px;
    color: #3a8ca1;
  }
  #add_post_img{
    color: #3B8DA3;
    margin-top:  15px;
    cursor: pointer;
    font-size: 13px;
  }
  /* .ajax-file-upload input[type="file"]{
     height: 250px !important;
     font-size: 40px;
   }

   .image_up{
    display: none;
  }
  */
  #right_col{
    /* float: right;*/
  }

  .ajax-upload-dragdrop{
    width: 350px !important;
    margin: 0 auto !important;
  }
  .header_head{
    width: 95%;
    float: left;
  }
  .close_close{
    width: 5%;
    float: left;
  }
  #spacer_div a{
    padding: 10px;
  }
  #post_button{
    cursor: pointer;
  }
  #cancel_button{
    cursor: pointer;
  }
  #success_create{
    width: 450px;

    background: #fafbfc;

    border: 1px solid #ebebeb;
    color: #4994ab;
    font-size: 18px;
    margin: 20px auto 0px;
    text-align: center;
    padding: 40px;
  }
  #last_ok{
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
  }
  .import_from{
    width: 80%;
    height: 63px;
    margin: 0 auto;
  }
  .import_icons{
    width: 65px;
    height: 54px;
    float: left;
    cursor: pointer;

  }
  #facebooks{
    background: url("assets/fam_networks/fb_icon.jpg") no-repeat center center;
  }
  #gmailplus{
    background: url("assets/fam_networks/google_icon.jpg") no-repeat center center;
  }
  #dit_dots{
    background: url("assets/fam_networks/dit_icon.png") no-repeat center center;
  }
  #dropbox{
    background: url("assets/fam_networks/drp_box_icon.jpg") no-repeat center center;
  }
  #document_import{
    background: url("assets/fam_networks/document_import.png") no-repeat center center;
  }
  #document_import1{
    background: url("assets/fam_networks/document_import1.png") no-repeat center center;
  }

  .import_document{
    width: 40%;
    height: 63px;
    margin: 0 auto;
  }
  #errr_msg{
    color: #ff0000;
    margin: 5px 0px;
  }
  #errr_sub_msg{
    color: #ff0000;
    margin: 5px 0px;
  }
  #loding_symbol_post{
    padding-top: 18px;
    width: 25px;
    text-align: center;
    height: 28px;
    float: left;
  }
  .image_up{
    border: 1px solid #CDE0E6;
    color: #999999 ;
    height: 31px;
    padding: 0 5px;
    /*position: relative;*/
    width: 785px;
    word-wrap: break-word;
    z-index: 3;  
  }
  .file_input_reg{
    font-family: 'open_sansregular';
    border: none !important;
    margin-top: 5px;
    height: none !important;
    padding: none !important;
    position: none !important;
    width: none !important;
    word-wrap: none !important;
    z-index: none !important;

  }
  #messager_photo{
    font-family: 'open_sansregular' !important;
    font-family: arial;
    font-size: 13px;
    color: #999999 !important;
  }
  .file_upload{
    background: url("/assets/fam_networks/camera_icon.png") no-repeat center center transparent !important;
    cursor: pointer;
    float: right !important;



  }
  div.file_upload {
    width: 33px !important;
  }
  .msgsubject{
    font-weight: bold;
  }
.postedbyname{
  font-weight:bold;
  margin: 5px 13px 5px 0px;
  text-align:center;
}
.datealignlt{
  text-align:left;
  margin-left:120px;
  padding-top:12px;
}
.datealignrt{
  text-align:right;
  margin-right:120px;
  padding-top:12px;
}
/*@media only screen
and (max-width : 1024px) 
{
  .message_lft_list
 {
    width: 400px;
  }
    .message_rt_list
 {
    width: 1100px;
  }
}*/
.message_lft_list{
//width: 20%;
width: 360px;
}
.message_rt_list{
//width: 80%;
width: auto;
}
.msg_thread_head{
    width: 100%;
     height: 25px;
}
.msg_thread_name{
    float: left;
    height: 25px;
}
.notification_count{
    background: url("/assets/message/msg_nofication_icon.png") no-repeat center ;
    width: 15px;
    height: 15px;
    float: right;
    font-size: 9px;
    color: #fff;
    padding-top:4px;
    font-weight: bold;
    text-align:center;
    margin: -1px 0px 0px 3px;
}

 /* Safari only override */
::i-block-chrome,.notification_count {
 margin: -22px 0px 0px 3px;
}
}

.msgDetailList .ajax-upload-wrap{
min-height:46px !important;
}

/***************message forwards********************/
.forward_new_posts{
    height: 285px;
    margin: 0 auto;
    width: 798px; 
}
.forward_reply_posts{
    height: 260px;
    margin: 0 auto;
    width: 798px; 
}
.forward_img_new_posts{
    height: 350px;
    margin: 0 auto;
    width: 798px;
  
}
.ajax-file-upload-delets{
   background: url("/assets/policies/close_icon.png") no-repeat scroll 0 0 transparent;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    float: left;
    font-family: arial;
    font-weight: normal;
    height: 16px;
    margin-top: 1px;
    padding: 0;
    text-decoration: none;
    text-indent: -500px;
    text-shadow: 0 1px 0 #5B8A3C;
    vertical-align: top;
    width: 16px;
    cursor: pointer;
}
@media screen and (max-width: 1024px) {
.comments_owner_text{
width: 100%;
}
.comments_owner_text textarea{
width: 100%;
}
}

@media screen and (min-width: 1600px) {
.comments_owner_text{
width: 100%;
}
.comments_owner_text textarea{
width: 100%;
}
.msg_recive{
width: 100%;
}
.msg_replay{
width: 100%;  
}
}

@media screen and (min-width: 1024px) and (min-width: 1080px){
.comments_owner_text{
width: 100%;
}
.comments_owner_text textarea{
width: 100%;
}
}

@media screen and (min-width: 1920px){
.comments_owner_text{
width: 100%;
}
.comments_owner_text textarea{
width: 100%;
}
}
.msg-attach img{
width: auto;
height: auto;
max-height: 100%;
max-width: 100%;
}
.rightMenus{
   background: url("/assets/fam_networks/sms_icon.png") no-repeat left center;
   padding: 10px 15px 10px 20px;
}
.msg_rep_enable_button{
cursor: pointer;
width: 115px;
height: 35px;
padding-top: 5px;
background-color: #6CC1DD;
text-align: center;
text-decoration: none;
color: #176174;
font-family:Arial;
font-size:18px;
margin: 27px 8px;
}
.msg_rep_disable_button{
cursor: pointer;
width: 115px;
height: 35px;
padding-top: 5px;
background-color: #b4dfee;
text-align: center;
margin: 0 auto;
text-decoration: none;
color: #89afb9;
font-family:Arial;
font-size:18px;
margin: 27px 8px;
}
.reply-text{
margin-top: 2px;
display: inline-block;
color: #ffffff;
font-family: 'open_sansregular';
}
#reply_chat{ 
  color: #9C9C9C;
  /*border-radius: 12px;*/
  outline:none
  }
.msg_search{
  height: 27px;
  width: 19%;
  float: right;
}
#postmsg{
  width:131px;
  cursor:pointer; 
  height:31px;
  background-color:#F82b2b;
  display: inline-block;
  position: absolute;
}
.new_network{
background-size: 31px auto;
    background-position: -8px -27px
}
.post_word{
  color:#FFFFFF;
  top: 7px;
  position: absolute;
}

#create_section{
width:77%;
border:1px ;
float: left;
margin-left: 25px;
}

#page_wrapper{
  display: block;
  margin-bottom: 20px;
  width: 100%;
  color: #666666;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
}

.altCheckboxOff {
    display: inline-block;
    /*background: url('/assets/provider_event_list/pro_checkbox_normal.png') no-repeat;*/
    background: url('/assets/contact/normal_checkbox.png') no-repeat;
    width:19px;
    height:21px;
    cursor: default;
}
/* On state for a ARC checkbox */
.altCheckboxOn {
    display: inline-block;
    background: url('/assets/contact/selected_checkbox.png')  no-repeat;
    /*background: url('/assets/provider_event_list/pro_checkbox_selected.png')  no-repeat;*/
    width:19px;
    height:21px;
    cursor: default;
}
.checkboxImg{
    display:inline-block;
    position: relative;
    top: -2px;
    vertical-align: top;
    margin-right:16px;
}
.checkboxText{
  position: relative;
    top: 3px;
  cursor:pointer;
}
.contact_all{
     background-image: url('/assets/contact/contact_all.png');
     background-repeat:no-repeat;
     background-position: 0 0;
     margin-top: -8px;
     width: 17px;
     height: 30px;
     display: inline-block;
}
.ftcBlack{
  color: #000000;
}
.fts16{
    font-size: 15px;
    color:#595959;
    font-family: 'open_sansregular';
    }
.fam-net{
  color:#ff3333;
  top: -4px;
  position: relative;
  font-family: 'open_sansregular';
  font-size: 14px;
}
.ftcGray9c {
color: #9c9c9c;
}
.fts13 {
font-size: 13px !important;
font-family: 'open_sansregular';
}

 #advanceSearchDiv{
  left:6px;
    margin-top:8px;
    position: relative;
    right: 10px;
    width: 139px;
    z-index: 10000;
  cursor:pointer;
}
 #advanceSearchDiv a{
  border:none;
}
 #advanceSearchDiv .ad_textbox{
    background:#F7F9F8;
  width:125px;
  padding:3px;
  border:1px solid #e1e1e1
}
 #advanceSearchDiv .textbox{
    background:#F7F9F8;
  width: 100px;
  height: 18px;
  border:none;
  margin-top:2px;
  .margin-top:3px;
  .height: 18px;
  color:#999999;
  float:left;
}
 #advanceSearchDiv .set_search_icon{
    margin-left:8px;
    margin-top: 0px;
    position: absolute;
    width:20px;
}

 /* Safari only override */
::i-block-chrome,#advanceSearchDiv .set_search_icon {
 margin-left:200px;
}
}

 #advanceSearchDiv .lt_search{
  float:left;
  display:inline-block;
}

 #advanceSearchDiv .search_submenu{
  border-left:1px solid #BDD6DD;
  border-right:1px solid #BDD6DD;
  background:#fff;
  width:971px;
  position:absolute;
  margin:13px 0 0 0px;
  border-bottom:url('/assets/event_index/advanced_search_popup_bottom.png') no-repeat;
}
 #advanceSearchDiv .setPaddingLeft{
  padding-left:20px;
}
 #advanceSearchDiv .HeadText{
  color: #4AA3B6;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 33px;
  }
 #advanceSearchDiv .inner_text{
  color: #4AA3B6;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
  vertical-align:top;
  position:relative;
  top:4px;
  left:5px;
  font-weight:normal;
  .top:8px;
}
.chkspn{
  margin-left1: 23px;
}
.seltext{
  margin-left: 8px;
}
.delspan {
  display: inline-block;
  margin-left: 4px;
  width: 50px;
  position: relative;
}

.contact_del {
background-image: url('/assets/contact/contact_all.png');
background-repeat: no-repeat;
background-position: 0 0;
width: 14px;
height: 23px;
display: inline-block;
}

.delimg{
top: 8px;
position: relative;
background-size: 31px auto;
background-position: -7px -27px;
}
.postext{
 margin-left: 6px; 
 top: 8px; 
 position: relative;
}
.post_word{
margin-left: 5px;
top: 6px;
}

.activityName{
 min-height:75px;
 height:780px;
 /*overflow-y:scroll;
 overflow-x:hidden;
 position:relative;*/
}

@media \0screen {
.activityName{
 min-height:75px;
 height:700px;
 overflow-y:scroll;
 overflow-x:hidden;
 position:relative;}
}

.famText{
  margin-left: 25px;
}
.fam-msg{
  background-size: 31px auto;
    background-position: -8px -256px;
}
.msg_search{
    background-size: 29px auto;
    background-position: -6px -165px;
}
.new_font
{
    font-family: 'open_sansregular' !important;
}
.msg-search{
  width:190px;
  outline:none;
  background-color:white;
  font-family: 'open_sansregular';
}

.head-msg{
  text-align: center;
font-size: 20px;
font-weight: bold;
color: #5099ac;
font-family: 'open_sansregular';
}

.button_box{
       font-family:'open_sansregular',Sans-Serif; font-size:14px; display:inline;
       background:#f43737 ;height:20px; padding:5px; color:#fff; border:1px solid red;}

.msg-ok{
  display:inline-block;
  position:relative;
  top:-10px;
  width:70px;
  background:#f82b2b;
  margin-right: 3px;
  font-family: 'open_sansregular';
}
.msg-cancel{
  display:inline-block;
  position:relative;
  top:-10px;
  width:70px;
  background:#5eb0c6;
  border:1px solid #5eb0c6;
  font-family: 'open_sansregular';
}