<!--weekend newsletter start -->
      <div id="week_end_news" style="display:none;width:1015px;margin-left: -16px;" >
            <div style="width:100%; text-align:center;border-bottom:1px solid #ccc;height:50px">
	    <div style="width:90%; margin-left: 50px; color:#5099AC; font-size:20px; text-align:center;float:left"><b>Weekend Newsletter</b></div>
	    <div class="closeButton" id="close" style="width:4%;  padding:4px; text-align:center;float:right">
		<a title=""  class="b-close"  href="javascript:void(0)" onclick="closepopup();"> <%=image_tag("/assets/landing/close_button_how.png", :width=>"15", :height=>"15")%> </a>
	    </div>
	</div>
	<div id="week_new" style="height:1000px;width:950px;margin:10px auto;" >
	  	<iframe style="height:1000px;width:950px;border:none;" src="https://famtivity.campaignonthecloud.com/page/web/weekend_newsletter"></iframe>
		
          </div>
        </div>
	
<script>
//weekend newsletter displayed
	function week_click_new(){
	    //SEO URL Changes
		var stateObj = {
		foo: "bar"
		};
		if(navigator.appName=="Microsoft Internet Explorer"){
		window.location.hash="/";
		}
		else{
		parent.history.replaceState(stateObj, "Weekend Newsletter", "/weekend-newsletter");
		}
		//SEO URL Changes
          $('#week_end_news').bPopup({
            fadeSpeed:100,
            followSpeed:100,
            opacity:0.8,
            positionStyle: 'absolute',
            modalClose: false
	    });
	    }
	    
function closepopup() {
        //SEO URL Changes
		var stateObj = {
		foo: "bar"
		};
		if(navigator.appName=="Microsoft Internet Explorer"){
		window.location.hash="/";
		}
		else{
		parent.history.replaceState(stateObj, "Weekend Newsletter", "/");
		}
		//SEO URL Changes
    $("#week_end_news").hide();
  }
</script>